<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/safety/css/style.css">

    <!-- 轮播组件 -->

    <div class="carousel-wrapper" style="height: 350px">

        <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="display: none">
                <!--{{JSON.stringify(carousel)}}-&#45;&#45;&#45;&#45;-->
                {{#carousel}}
                <li data-target="#my-carousel" data-slide-to="{{@index}}" class="{{#if @index === 0 }}active{{/if}}">
                </li>
                {{/}}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {{#carousel}}
                <div class="item {{#if @index === 0}}active{{/if}}" style="background: {{this.bgc}}">
                    <a href="{{this.link}}" target="_blank">
                        <div style="background-image:url({{this.content}}); background-repeat:no-repeat; background-position:center;background-size: 100% 350px;padding-top:350px;">
                        </div>
                    </a>
                </div>
                {{/carousel}}
            </div>

            <div class="banner-account－box">
                <div class="banner-account">

                    {{#picture[1]}}
                    <div class="ad">
                        <a href="{{this.link}}" target="_blank">
                            <div style="background-image:url({{this.content}});
                            background-repeat:no-repeat; background-position:center;
                            background-size: 100% 200px;padding-top:200px;">
                            </div>
                        </a>
                    </div>
                    {{/}}

                    <div class="free-register">
                        {{#if user}}
                        <a href="/newAccount/home/index"><div class="btn-index">我的账户</div></a>
                        {{else}}
                        <a href="/register"><div class="btn-index">立即注册</div></a>
                        {{/if}}
                    </div>
                    {{#if user}}
                    <!--<h3 class="bannerLogin">{{#if userInfo.user.name}}您当前的登录账户是{{else}}{{shangwuxiawu}}好{{/if}}：<span >{{#if !userInfo.user.name}}{{user.mobile}}{{else}}{{userInfo.user.name}}{{/if}}</span></h3>-->
                    {{else}}
                    <h3 class="bannerLogin">已有账号? <a class="underline" href="/login">立即登录</a></h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="safety-box safety-box1" id="ZJBZ">
        <div class="step step-first">
            <span class="step-title">资金保障</span>
            <span class="step-content">
                业内领先的第三方支付机构为平台资金进行监管，<br/>
                同时与银行联合资金存管，投资者资金同路径进出，确保资金安全。<br/>
                对快捷支付渠道下的银行卡进行校验，<br/>
                确保与注册账户实名信息一致。平台进行精细化流程管控，<br/>
                对平台资金流动进行严格监督监控。<br/>
            </span>
            <img class="step-icon"src="/ccc/safety/img/tips1.png" />
        </div>
    </div>
    <div class="safety-box safety-box2" id="FKBZ">
        <div class="step step-second">
            <span class="step-title">风控保障</span>
            <span class="step-content">
                建立了专业尽调团队，对项目进行实地尽职调查，<br/>
                实现立体化多层级的数据采集；<br/>
                曾在银行、信托系统有过丰富经验的资深风控人员，<br/>
                和在法律界有着丰富的法务风控经验的资深法务人员，<br/>
                对项目进行全方位的风险把控。<br/>
            </span>
            <img class="step-icon"src="/ccc/safety/img/tips2.png" />
        </div>
    </div>
    <div class="safety-box safety-box3" id="HGBZ">
        <div class="step step-third">
            <span class="step-title">合规保障</span>
            <span class="step-content">
                严格遵守法律法规，履行监管政策，<br/>
                完善管理机制制度，坚守自律管理经营。<br/>
                特聘资深法律人士支持，对平台相关法律问题进行探讨，<br/>
                确保平台行为合法合规。<br/>
            </span>
            <img class="step-icon"src="/ccc/safety/img/tips3.png" />
        </div>
    </div>
    <div class="safety-box safety-box4" id="YSBH">
        <div class="step step-four">
            <span class="step-title">隐私保护</span>
            <span class="step-content">
                信息全程加密处理，<br/>
                严格操作规范要求，<br/>
                专人专岗专业管理，<br/>
                全方位的安全防护
            </span>
            <img class="step-icon"src="/ccc/safety/img/tips4.png" />
        </div>
    </div>
    <div class="safety-mechanism-box" id="BZJZ">
        <h1 class="mechanism-header">保障机制</h1>
        <div class="safety-mechanism clearfix">
            <div class="mechanism-wrap-left">
                <ul class="mechanism-detail">
                    <li>
                        <img src="/ccc/safety/img/machine3.png">
                        <div class="detail">
                            <h2>第三方资金监管</h2>
                            <p>投资者资金通过第三方资金监管账户进出，平台无法</p>
                            <p>擅自动用客户资金，保障投资资金专款专用，资金流</p>
                            <p>向透明。投资者资金同路径进出，保障资金不被盗取。</p>
                        </div>
                    </li>
                    <li>
                        <img src="/ccc/safety/img/machine1.png">
                        <div class="detail">
                            <h2>专业法务支持</h2>
                            <p>平台聘请专业法律专家、律师团为平台的合规经营，</p>
                            <p>相关协议的签署，以及为平台各方的合法利益提供法</p>
                            <p>律支持。</p>
                        </div>
                    </li>

                    <li>
                        <img src="/ccc/safety/img/machine5.png">
                        <div class="detail" style="border-bottom: none;">
                            <h2>网络加密技术</h2>
                            <p>平台通过双重加密，以及手机验证，最大限度保障所</p>
                            <p>有操作都是用户本人操作，并且保障用户的信息安全。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mechanism-wrap-right">
                <ul class="mechanism-detail">
                    <li>
                        <img src="/ccc/safety/img/machine2.png">
                        <div class="detail">
                            <h2>多重最严风控</h2>
                            <p>平台风控成员来自信托、基金、银行等专业金融机构，</p>
                            <p>以银行级的标准进行风险把控；聘请国内优秀专业人士</p>
                            <p>组成的风控委员会，以及合作机构对项目进行审批。</p>



                        </div>
                    </li>
                    <li>
                        <img src="/ccc/safety/img/machine4.png">
                        <div class="detail" style="border-bottom: none;">
                            <h2>流程控制</h2>
                            <p>平台制定了完善的管理和操作流程，严格控制平台运营</p>
                            <p>中的每一个环节，并且将风险控制分解到各个环节；采</p>
                            <p>用银行级监控技术，资金信息传输多层加密，分级设限、</p>
                            <p> 交叉复核，形成严格的内部控制体系。</p>
                        </div>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/ccc/safety/js/main/index.js"></script>
</dsBody>