
<div id="register">
    <style> body { background-color: #FFF; } </style>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">{{ is_register_successful ? '注册成功' : '注册' }}</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
      <param ng-model="msg" ng-init="msg = {
          MOBILE_EXISTS: '手机号已被占用',
          MOBILE_USED: '手机号已被占用',
          CAPTCHA_INVALID: '手机验证码不匹配',
          SMS_LOGIN_ERROR: '手机验证码不匹配',
          MOBILE_CAPTCHA_INVALID: '手机验证码不匹配',
          MOBILE_CAPTCHA_ALREADY_SENT: '验证码已发送',
          MOBILE_SMS_CAPTCHA_ALREADY_SEND: '验证码已发送',
          SEND_SMS_CAPTCHA_FAILED: '验证码发送失败',
          LOGINNAME_EXISTS: '用户名已被占用',
          INVALID_CAPTCHA: '图形验证码错误或已失效',
          IMG_CAPTCHA_NULL: '请输入图形验证码',
          IMG_CAPTCHA_REQUIRED: '请输入图形验证码',
          INVITECODE_INVALID: '邀请码无效',
          USERINVITECODE_INVALID: '推荐码不存在',

          SUCCEED: '注册成功',
          UNKNOWN: '系统繁忙，请稍后重试！',
      }">
    </div>

    <div class="page-content">

    <div class="logo shadow"><img height="60" ng-src="assets/image/logo-2.png"></div>

    <form class="form form-flatten form-horizontal" name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          novalidate
          ng-submit="self.signup(store)"
    >
        <div class="inputs container">
            <div class="form-group merge"
                 ng-class="{'has-error': form.loginName.$invalid && form.loginName.$dirty}"
                 x-gyro-comment
            >
                <input class="form-control input-target input-lg" type="text"
                       autocapitalize="none"
                       autocomplete="off"
                       autocorrect="off"
                       name="loginName"
                       ng-model="store.loginName"
                       pattern="^(?!(([1][3|5|7|8][0-9]{9})|([\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+)))([0-9a-zA-Z_\u4E00-\u9FBF]+)"
                       placeholder="用户名"
                       required
                >
                <div class="help-block"
                     ng-show="form.loginName.$invalid && form.loginName.$dirty"
                >
                    <span ng-show="form.loginName.$error.required">必须填写</span>
                    <span ng-show="form.loginName.$error.pattern">2至15位中英文字符、数字或下划线</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{
                    'has-error': form.mobile.$invalid && form.mobile.$dirty,
                 }"
            >
                <div class="form-group-inner">
                    <label for="mobile">手机号</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg cell" type="tel"
                               id="mobile"
                               name="mobile"
                               ng-model="store.mobile"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               ng-pattern="/^1\d{10}$/"
                               placeholder="请输入手机号码"
                               maxlength="11"
                               required
                        >
                    </div>
                </div>

                <div class="help-block"
                     ng-show="form.mobile.$invalid && form.mobile.$dirty"
                >
                    <span ng-show="form.mobile.$error.required">必须填写</span>
                    <span ng-show="form.mobile.$error.pattern">填写中国大陆正确的 11 位手机号</span>
                </div>
            </div>

            <div class="form-group merge captcha"
                 ng-class="{
                    'has-error': form.captcha.$invalid && form.captcha.$dirty
                 }"
                 x-gyro-comment
            >
                <div class="form-group-inner">
                    <label for="captcha">图形验证码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg captcha" type="text"
                               id="captcha"
                               name="captcha"
                               ng-model="store.captcha"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               ng-pattern="/^[A-Za-z0-9]+$/"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               maxlength="5"
                               placeholder="请输入图形验证码"
                               required
                        >

                        <div class="action"
                             ng-init="self.fetch_new_captcha()"
                             ng-click="self.fetch_new_captcha()"
                        >
                            <img ng-src="{{ self.img_captcha.captcha }}"
                                 class="captcha-img"
                                 width="72"
                                 height="24"
                            >
                        </div>
                    </div>
                </div>

                <div class="help-block"
                     ng-show="form.captcha.$invalid && form.captcha.$dirty"
                >
                    <span ng-show="form.captcha.$invalid">必须填写</span>
                    <span ng-show="form.captcha.$error.pattern">图形验证码错误或失效</span>
                </div>
            </div>

            <div class="form-group merge mobile-captcha"
                 ng-class="{
                    'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                    init: !self.captcha.has_sent,
                 }"
            >
                <div class="form-group-inner">
                    <label for="mobile_captcha">短信验证码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg captcha" type="tel"
                               id="mobile_captcha"
                               name="mobile_captcha"
                               x-focus-on="self.captcha.buffering"
                               ng-model="store.mobile_captcha"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               placeholder="请输入短信验证码"
                               maxlength="6"
                               required
                        >

                        <button class="btn btn-sm btn-action btn-plain" type="button"
                                ng-click="self.get_verification_code(store)"
                                ng-disabled="!store.mobile || (self.img_captcha.token && !store.captcha) || self.captcha.buffering"
                        >
                            <span class="text">获取验证码</span>
                            <span class="count" ng-show="self.captcha.buffering">
                                {{ self.captcha.count | number: 0 }}秒
                            </span>
                            <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                        </button>
                    </div>
                </div>

                <div class="help-block"
                     ng-show="form.mobile_captcha.$invalid && form.mobile_captcha.$dirty"
                >
                    <span ng-show="form.mobile_captcha.$error.required">必须填写</span>
                    <span ng-show="form.mobile_captcha.$error.pattern">请输入6位数字</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{'has-error': form.password.$invalid && form.password.$dirty}"
                 ng-init="is_password_visible = false"
            >
                <div class="form-group-inner">
                    <label for="password">密码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg"
                               type="{{ is_password_visible ? 'text' : 'password' }}"
                               id="password"
                               name="password"
                               ng-model="store.password"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,}$/"
                               minlength="8"
                               ng-maxlength="20"
                               placeholder="请设置登录密码"
                               required
                        >

                        <button type="button" class="btn btn-link password-toggle"
                                ng-click="is_password_visible = !is_password_visible"
                        >
                            <span ng-show="!is_password_visible">查看</span>
                            <span ng-show="is_password_visible">隐藏</span>
                        </button>
                    </div>
                </div>

                <div class="help-block"
                      ng-show="form.password.$invalid && form.password.$dirty"
                >
                    <span ng-show="form.password.$error.pattern">至少8位数字字母组合</span>
                    <span ng-show="form.password.$error.maxlength">不能超过20位</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{'has-error': form.password_confirm.$invalid && form.password_confirm.$dirty}"
                 x-gyro-comment
            >
                <label for="password_confirm"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-target input-lg" type="password"
                           id="password_confirm"
                           name="password_confirm"
                           ng-model="password_confirm"
                           ui-validate=" '$value == store.password' "
                           ui-validate-watch=" 'store.password' "
                           placeholder="请再次输入密码"
                           maxlength="16"
                           required
                    >
                    <div class="help-block"
                         ng-show="form.password_confirm.$error.validator && form.password_confirm.$dirty"
                    >
                        <span ng-show="form.password_confirm.$error.validator">两次输入密码不一致</span>
                    </div>
                </div>
            </div>

            <div class="form-group merge" x-gyro-comment>
                <label for="referral"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-lg"
                           type="text"
                           name="referral"
                           ng-model="store.referral"
                           placeholder="推荐人手机号码或推荐码（选填）"
                    >
                </div>
            </div>
        </div>

        <div class="container agreement">
            <label>
                <input type="checkbox" ng-init="agreement = true" ng-model="agreement" required>
                我阅读并同意
                <a href="#" ng-click="self.agreement('网站注册协议')">《网站注册协议》</a>
                <a href="#" ng-click="self.agreement('服务协议')">《服务协议》</a>
            </label>
        </div>

        <p class="btn-submit-wrap">
            <button type="submit" class="btn btn-theme btn-block"
                    ng-disabled="form.$invalid || self.submit_sending"
            >{{ self.submit_sending ? '注册中...' : '注册' }}</button>
        </p>
    </form>
    </div>
</div>



<script type="text/ng-template" id="ngt-register-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>
