
<div id="register">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ back_path || 'login' }}">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">{{ is_register_successful ? '注册成功' : '设置密码' }}</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
      <param ng-model="msg" ng-init="msg = {
          MOBILE_EXISTS: '手机号已被占用',
          MOBILE_USED: '手机号已被占用',
          CAPTCHA_INVALID: '手机验证码不匹配',
          SMS_LOGIN_ERROR: '手机验证码不匹配',
          MOBILE_CAPTCHA_INVALID: '手机验证码不匹配',
          MOBILE_CAPTCHA_ALREADY_SENT: '验证码已发送',
          MOBILE_SMS_CAPTCHA_ALREADY_SEND: '验证码已发送',
          SEND_SMS_CAPTCHA_FAILED: '验证码发送失败',
          LOGINNAME_EXISTS: '用户名已被占用',
          INVALID_CAPTCHA: '图形验证码不匹配',
          IMG_CAPTCHA_NULL: '请输入图形验证码',
          IMG_CAPTCHA_REQUIRED: '请输入图形验证码',
          INVITECODE_INVALID: '邀请码无效',
          USERINVITECODE_INVALID: '推荐码不存在',

          SUCCEED: '注册成功',
          UNKNOWN: '未知错误',
      }">
    </div>

    <div class="page-content">

    <div class="logo"><img width="104" ng-src="assets/image/logo.png"></div>

    <form class="form form-flatten form-horizontal" name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          novalidate
          ng-submit="self.signup(store)"
    >
        <p class="container hint">您还没有注册过，请设置登录密码完成注册</p>

        <div class="inputs container">
            <div class="form-group merge"
                 ng-class="{'has-error': form.loginName.$invalid && form.loginName.$dirty}"
                 x-gyro-comment
            >
                <input class="form-control input-target input-lg" type="text"
                       autocapitalize="none"
                       autocomplete="off"
                       autocorrect="off"
                       name="loginName"
                       ng-model="store.loginName"
                       pattern="^(?!(([1][3|5|7|8][0-9]{9})|([\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+)))([0-9a-zA-Z_\u4E00-\u9FBF]+)"
                       placeholder="用户名"
                       required
                >
                <div class="help-block"
                     ng-show="form.loginName.$invalid && form.loginName.$dirty"
                >
                    <span ng-show="form.loginName.$error.required">必须填写</span>
                    <span ng-show="form.loginName.$error.pattern">2至15位中英文字符、数字或下划线</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{
                    'has-error': form.mobile.$invalid && form.mobile.$dirty,
                 }"
                 x-gyro-comment
            >
                <label for="mobile"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-target input-lg cell" type="tel"
                           id="mobile"
                           name="mobile"
                           ng-model="store.mobile"
                           ng-pattern="/^1\d{10}$/"
                           placeholder="填写手机号"
                           maxlength="11"
                           required
                    >

                    <div class="help-block"
                         ng-show="form.mobile.$invalid && form.mobile.$dirty"
                    >
                        <span ng-show="form.mobile.$error.required">必须填写</span>
                        <span ng-show="form.mobile.$error.pattern">填写中国大陆正确的 11 位手机号</span>
                    </div>
                </div>
            </div>

            <div class="form-group merge captcha"
                 ng-show="self.captcha.token"
                 ng-class="{
                    'has-error': form.captcha.$invalid && form.captcha.$dirty
                 }"
                 x-gyro-comment
            >
                <label for="captcha"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-target input-lg captcha" type="text"
                           id="captcha"
                           name="captcha"
                           ng-model="store.captcha"
                           ng-pattern="/^[A-Za-z0-9]+$/"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           maxlength="5"
                           placeholder="填写图形码"
                           required
                    >

                    <div class="action"
                          ng-click="self.fetch_new_captcha()"
                    >
                        <img ng-src="{{ self.captcha.captcha }}"
                             class="captcha-img"
                             width="72"
                             height="24"
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.captcha.$invalid && form.captcha.$dirty"
                    >
                        <span ng-show="form.captcha.$invalid">必须填写</span>
                        <span ng-show="form.captcha.$error.pattern">图形验证码错误或失效</span>
                    </div>
                </div>
            </div>

            <div class="form-group merge mobile-captcha"
                 ng-class="{
                    'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                    init: !self.captcha.has_sent,
                 }"
            >
                <div class="form-group-inner">
                    <label for="mobile_captcha">验证码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg captcha" type="tel"
                               id="mobile_captcha"
                               name="mobile_captcha"
                               x-focus-on="self.captcha.buffering"
                               ng-model="store.mobile_captcha"
                               pattern="^\d{6}$"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               placeholder=""
                               maxlength="6"
                               required
                        >

                        <button class="btn btn-sm btn-action btn-plain" type="button"
                                ng-click="self.get_verification_code(store)"
                                ng-disabled="!store.mobile || (self.captcha.token && !store.captcha) || self.captcha.buffering"
                        >
                            <span class="text">获取验证码</span>
                            <span class="count" ng-show="self.captcha.buffering">
                                {{ self.captcha.count | number: 0 }}秒
                            </span>
                            <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                        </button>
                    </div>
                </div>

                <div class="help-block"
                     ng-show="form.mobile_captcha.$invalid && form.mobile_captcha.$dirty"
                >
                    <span ng-show="form.mobile_captcha.$invalid">必须填写</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{'has-error': form.password.$invalid && form.password.$dirty}"
                 ng-init="is_password_visible = false"
            >
                <div class="form-group-inner">
                    <label for="password">密&#x3000;码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg"
                               type="{{ is_password_visible ? 'text' : 'password' }}"
                               id="password"
                               name="password"
                               ng-model="store.password"
                               ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,}$/"
                               minlength="8"
                               placeholder="至少8位数字字母组合"
                               required
                        >

                        <button type="button" class="btn btn-link password-toggle"
                                ng-click="is_password_visible = !is_password_visible"
                        >
                            <span ng-show="!is_password_visible">查看</span>
                            <span ng-show="is_password_visible">隐藏</span>
                        </button>
                    </div>
                </div>

                <div class="help-block"
                      ng-show="form.password.$invalid && form.password.$dirty"
                >
                    <span ng-show="form.password.$invalid">至少8位数字字母组合</span>
                </div>
            </div>

            <div class="form-group merge"
                 ng-class="{'has-error': form.password_confirm.$invalid && form.password_confirm.$dirty}"
                 x-gyro-comment
            >
                <label for="password_confirm"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-target input-lg" type="password"
                           id="password_confirm"
                           name="password_confirm"
                           ng-model="password_confirm"
                           ui-validate=" '$value == store.password' "
                           ui-validate-watch=" 'store.password' "
                           placeholder="请再次输入密码"
                           maxlength="16"
                           required
                    >
                    <div class="help-block"
                         ng-show="form.password_confirm.$error.validator && form.password_confirm.$dirty"
                    >
                        <span ng-show="form.password_confirm.$error.validator">两次输入密码不一致</span>
                    </div>
                </div>
            </div>

            <div class="form-group merge" x-gyro-comment>
                <label for="referral"></label>
                <div class="form-control-wrap">
                    <input class="form-control input-lg"
                           type="text"
                           name="referral"
                           ng-model="store.referral"
                           placeholder="推荐人手机号码或推荐码（选填）"
                    >
                </div>
            </div>
        </div>

        <div class="container agreement" x-gyro-comment>
            <label>
                <input type="checkbox" ng-init="agreement = true" ng-model="agreement" required>
                我阅读并同意 <a href="#" ng-click="self.agreement('用户注册协议')">《注册服务协议》</a>
            </label>
        </div>

        <p class="container hint hint-captcha"
           ng-if="store.mobile"
           ng-show="self.captcha.buffering"
        >
            已将验证码发送至手机<span class="u-color-main">{{ store.mobile | string_replace: '^(\\d{3})(\\d{4})(\\d{4})$' : '$1-$2-$3' }}</span>
        </p>

        <p class="container">

            <button type="submit" class="btn btn-theme btn-block btn-lg"
                    ng-disabled="form.$invalid || self.submit_sending"
            >下一步</button>
        </p>
    </form>
    </div>
</div>



<script type="text/ng-template" id="ngt-register-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>
