<!doctype html>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8,chrome=1">
<link rel="stylesheet" href="/ccc/global/css/base.css">
<link rel="stylesheet" href="/ccc/global/css/base1.css">
<!--[if lt IE 8]><script src="http://wuyongzhiyong.b0.upaiyun.com/iedie/v1.1/script.min.js"></script><![endif]-->
<!--[if lt IE 10]>
<script src="/ccc/ie8fix/js/dist/console-html5-es5shim-excanvas.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/ccc/global-common.js" async></script>
<link rel="stylesheet" href="/ccc/global/css/base.css" />
<link rel="stylesheet" href="/ccc/global/css/base1.css" />
<!--[if IE 8]><link rel="stylesheet" href="/ccc/global/css/ie8.css" /><![endif]-->
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<title>{{title}}</title>
<script>
    {{{ state }}};
    window.global = window.global || window;
    window.process = window.process || CC.process;
    if(process.env.NODE_ENV === 'development'){document.write('<script src="/ccc/template-watch/js/dist/getRactiveTemplate.js"></'+'script>');}
    if(process.env.NODE_ENV === 'development' || process.env.NODE_APP_INSTANCE === 'uat'){document.write('<script src="/ccc/inspect/js/main/inspect.js"></'+'script>');}
</script>
<script>
    (function (match) {
        if (match) {
            document.cookie = match[1] + '; Max-Age=1800; Path=/';
        }
    }((document.cookie || '')
        .match(/(?:^|;\s*)(ccat=[0-9a-f]{64})/)));

</script>
<script>
var _hmt = _hmt || [];
</script>
<meta name="Keywords" content="{{keywords}}">
<meta name="Description" content="{{description}}">

<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>

<!--    页头-->
<div class="s-header" id="s-header-height">

    <div class="s-header-info" id="nav-color">
        <div class="s-header-info-content u-pos-r-center">
            <img class="float-img wx_img" src="/ccc/global/img/wx_icon.png">
            <img src="/ccc/global/img/wx_gzh.jpg" class="wx_gzh" >
            <a href="http://weibo.com/u/5639831528?refer_flag=1001030101_&is_all=1"><img class="float-img" src="/ccc/global/img/wb_icon.png"></a>
            <div class="app">
                <img src="/ccc/global/img/app_icon.png">
                手机自金网
                <span>|</span>   
                <img src="/ccc/index/img/app.png" class="app_img" style="width:120px;">
            </div>
             

            {{#if user}}
             <a href="/help/login" class="text account" style="color:#999;font-size:12px;margin-left:10px;text-decoration:none">帮助中心 </a>
            {{#if user.loginName}}
            <a href="/newAccount/message">
                <div  style="color:#f58220;position:relative;bottom:4px;" class="text"><img src="/ccc/newAccount/img/message.png" alt="" style="margin:0;width:20px;"><span id='head-message-container' style="color:#009ada;font-size:12px;margin:0;position:relative;top:1px;margin-left:5px;"></span>
				</div>
            </a>
            {{/if}}
            <a href="/logout" class="text" style="color:#999;margin-right:5px;">退出&nbsp;&nbsp;|</a>
			{{#if user.name}}
            	<a href="/newAccount/home"><div id='head-ractive-container' style="color:#009ada;position:relative;bottom:1px;" class="text"></div></a>
			{{else}}
            	<a href="/newAccount/home"><div id='head-ractive-container' style="color:#f58220;position:relative;bottom:1px;" class="text"></div></a>
			{{/if}}
            {{else}}
            <div class="nav-fastregister">
                <span>|</span><a href="/register" id="dingbuzhuce" class="text">注册</a>
            </div>
            <div class="nav-fastlogin">
                <!--               <span>|</span>-->
                <a href="/login" id="dingbudenglu" class="text">登录</a>
            </div>
            {{/if}}
            <p style="float:right;">您好，欢迎来到自金网！</p>
        </div>

    </div>


    <div class="s-header-menu" id="menu">
        <div class="s-header-menu-content u-pos-r-center">
            <a href="/" style="float: left;" alt="自金网" title="自金网">
                <img class="s-icon" src="/ccc/global/img/logo.png">
            </a>

            <ul class="u-nolist-ul">
                <li><a id="index" href="/">首页</a></li>
                <li><a id="invest" href="">理财</a></li>
                <li><a id="fund" href="">基金</a></li>
                <li><a id="help" href="/guide">新手导航</a></li>
                <li>
					{{#if user}}
						<a id="account" href="/newAccount/settings/authentication">我的账户</a>
					{{else}}
						<a id="account" href="/login">我的账户</a>
					{{/if}}
				</li>
            </ul>

        </div>
    </div>
</div>

<div id="main-container" style="padding-bottom:0">{{>content}}</div>

<div id="mask-layer-wraper"></div>
<div id="login-wraper"></div>
<div id="register-wraper"></div>
<div id="service-agreement-wraper"></div>
<div id="quickInvest-agreement-wraper"></div>
<div id="quickRepay-agreement-wraper"></div>
<div id="regist-agreement-wraper"></div>

<!--    页脚-->
<div class="s-footer" id="footer-color-box">
    <div class="footerBox">
        <div class="s-footer-nav" id="footer-color">
            <div class="footer-guide">
                <div class="left-guide">
                    <a href="/aboutus/introduction">平台介绍</a>
                    <span>|</span>
                    <a href="/aboutus/safety">安全保障</a>
                    <span>|</span>
                    <a href="/userKnow">新手指引</a>
                    <span>|</span>
                    <a href="/aboutus/introduction">媒体报道</a>
                    <span>|</span>
                    <a href="/aboutus/introduction">友情链接</a>
                    <span>|</span>
                    <a href="/aboutus/introduction">站点地图</a>
                    <span>|</span>
                    <a href="/aboutus/contactus">联系我们</a>
                </div>
                <div class="left-copy">&copy; 版权所有 上海华瑞金融科技有限公司沪ICP备15021893号</div>
            </div>
            <div class="footer-info">
                <div class="right-service">
                    <p class="service-title">服务热线<span> (工作日9:00至18:00)</span></p>
                    <p class="service-phone">400-7566-688</p>
                </div>
                <div class="right-report">
                    <div class="report-phone">
                        <div>举报电话</div>
                        <p>021-51763521</p>
                        <p>021-51763558</p>
                    </div>
                    <div class="report-email">
                        <div>举报邮箱</div>
                        <p>service@ftzex.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    旁边导航条-->
<!--
<div class="side-bar-box">
    <div class="side-bar">
        <a class="side-bar-mobile" href="javascript:;" ><img src="/ccc/global/img/mobile-sidebar.png" onmouseover="this.src='/ccc/global/img/mobile-sidebar-nav.png'" onmouseout="this.src='/ccc/global/img/mobile-sidebar.png'"/></a>
        <a href="javascript:;" class="jiathis_button_weixin"><img src="/ccc/global/img/weixin.png" onmouseover="this.src='/ccc/global/img/weixin-nav.png'" onmouseout="this.src='/ccc/global/img/weixin.png'"/></a>
         <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE5MDUyMV8zNjY4MDlfNDAwMTcxODcxOF8yXw"><img src="/ccc/global/img/qq.png" onmouseover="this.src='/ccc/global/img/qq-nav.png'" onmouseout="this.src='/ccc/global/img/qq.png'"/></a>
        <a class="back-top"><img src="/ccc/global/img/backTotop.png" onmouseover="this.src='/ccc/global/img/backTotop-nav.png'" onmouseout="this.src='/ccc/global/img/backTotop.png'"/></a>
    </div>
    <div class="wap" style="display:none;">
        <div class="wap-header">
           <span class="wap-close">x</span>
           <h3 class="topwap">下载718金融理财客户端</h3>
        </div>
        <div class="wxwap"><img src="/ccc/global/img/app_ewm.png" style="width:200px;height:200px" alt="718金融理财客户端"></div>
        <p class="bottomwap">扫描二维码，下载718金融理财客户端</p>
    </div>
</div>
-->

<script src="/ccc/global/js/main/header.js" async defer></script>
