
<div id="download-app">

    <style> body { background-color: #FFF; } </style>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">APP下载</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SOCIAL_TITLE: '汇财富－卓越金融，财富人生',
            SOCIAL_DESC: '下载APP－随时随地安全理财',
            SOCIAL_IMG: 'assets/image/share-logo.png',
        }">
    </div>

    <section class="content" ng-init="show_tip = false">
        <div class="tip">
            <img width="147" ng-src="assets/image/download/tip.png">
        </div>

        <div class="clearfix links">
            <div class="pull-left">
                <img style="margin-top: -8px;" width="105" ng-src="assets/image/download/qrcode.png">
            </div>

            <ul class="list-unstyled u-off-margin-bottom pull-right">
                <li>
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tahone.client">
                        <img width="108" ng-src="assets/image/download/ios.png">
                    </a>
                </li>
                <li>
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tahone.client">
                        <img width="108" ng-src="assets/image/download/android.png">
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="self.wechat.inside">
            <button type="button" class="btn btn-block btn-theme"
                    ng-click="$parent.show_tip = true"
            >立即分享</button>
        </div>
    </section>

    <div class="arrow-tip"
         ng-if="self.wechat.inside"
         ng-show="$parent.show_tip"
         ng-click="$parent.show_tip = false"
    >
        <div class="arrow"><img width="59" ng-src="assets/image/arrowhead.png"></div>
        <div class="tip">
            <div class="desc">
                <p>点击右上角的“…”</p>
                <p>分享给好友</p>
                <button type="button" class="btn btn-block btn-theme btn-know">我知道啦</button>
            </div>
        </div>
    </div>

</div>
