<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/invest/css/style.css">
    <!-- 固定收益 -->
    <div class="pro_box">
        <div class="pro_header">
            <div class="pro_title">
                <img src="/ccc/invest/img/fixed_icon.png" alt=""/>
                <h2>固定收益</h2>
                <span>稳健投资  乐享收益</span>
            </div>
            <a href="/invest/list/GDSY">查看全部产品 ></a>
        </div>
        <!--<div class="pro_content pro_content_new">-->
            <!--<div class="fixedProNew"></div>-->
        <!--</div>-->
        <div class="pro_content">
            <div class="fixedPro"></div>
            <a class="button" href="/invest/list/GDSY">查看全部产品 ></a>
        </div>
    </div>

    <div class="bottom_ad">
        {{#bottomAd}}
        <img src="{{content}}" alt="土巴士">
        {{/bottomAd}}
    </div>

    <script src="/ccc/invest/js/main/investList.js"></script>
</dsBody>
