<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/invest/css/list.css">
    <!-- 理财列表 -->
    <div class="list_box">
      <div class="list_header">
        <div class="list_title">
          <a href="/invest">我要理财</a> > <span>{{#if key === 'GDSY'}}固定收益{{elseif key=== 'XELC'}}浮动收益{{/if}}</span>
        </div>
        <div class="getstatusNum">
            <ul class="sStatus">
              <li class="selected" data-status="">全部产品（{{num.scheduled}}）</li>
              <li data-status="OPENED">在售中（{{num.open}}）</li>
              <li data-status="SETTLED">计息中（{{num.settled}}）</li>
              <li data-status="CLEARED">已结息（{{num.cleared}}）</li>
            </ul>
        </div>
      </div>
      <div class="list_content">
        <div class="invest-list-wrapper">

        </div>
      </div>
    </div>
    <div class="bottom_ad">
        {{#bottomAd}}
        <img src="{{content}}">
        {{/bottomAd}}

    </div>

    <script>
        {{{state}}}
    </script>

<!--    <script src="/ccc/global/js/jquery.page.js"></script>-->
    <script src="/ccc/invest/js/main/investList.js"></script>

</dsBody>
