<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/invest/css/list.css">
    <!-- 理财列表 -->
    <div class="list_box">
      <div class="list_header">
        <div class="list_title">
          <a href="/invest">我要理财</a> > <span>固定收益</span>
        </div>
        <div class="getstatusNum">

        </div>
      </div>
      <div class="list_content">
        <div class="invest-list-wrapper">

        </div>
        <div class="pages"></div>
      </div>
    </div>
    <div class="bottom_ad">
        {{#bottomAd}}
        <img src="{{content}}">
        {{/bottomAd}}

    </div>

    <script>
        {{{state}}}
    </script>
    <!--<script src="/ccc/global/js/jquery.page.js"></script>-->
    <script src="/ccc/invest/js/main/investList.js"></script>

</dsBody>
