<div class="financial-content">
    <div class="financial-summary">
        <ul>
            <li>
                <h2>管理总资产(元)</h2>

                <p>{{summary.mgtAsset}}</p>
            </li>
            <li>
                <h2>闲置总资金(元)</h2>

                <p>{{summary.freeAsset}}</p>
            </li>
            <li>
                <h2>最近到期(元)</h2>

                <p>{{summary.recentDue}}</p>
            </li>
            <li>
                <h2>总用户数</h2>

                <p>{{summary.totalNumUser}}</p>
            </li>
            <li>
                <h2>总绑卡数</h2>

                <p>{{summary.totalNumBind}}</p>
            </li>
        </ul>
    </div>
    <div class="financial-two">
        <span>{{nameNew}}</span><span>二级推荐</span>
    </div>
    <div class="financial">
        <table class="financialTable">
            <tr>
                <th>姓名</th>
                <th>手机号</th>
                <th class="arrowA01" data-registerDate="{{registerDateData}}" on-click="arrowA01">注册时间</th>
                <th class="arrowA02" data-totalAssets="{{totalAssetsData}}" on-click="arrowA02">总资产</th>
                <th class="arrowA03" data-availableAmount="{{availableAmountData}}" on-click="arrowA03">闲置资金</th>
                <th class="arrowA04" data-previousInvestTime="{{previousInvestTimeData}}" on-click="arrowA04">最近购买时间
                </th>
                <th class="arrowA05" data-latestDueAmount="{{latestDueAmountData}}" on-click="arrowA05">最近到期金额</th>
                <th class="arrowA06" data-latestDueTime="{{latestDueTimeData}}" on-click="arrowA06">最近到期时间</th>
                <th align="center">二级推荐</th>
            </tr>
            {{#financialList}}
            <tr>
                <td>{{#if user.name}}{{user.name}}{{else}}未认证{{/if}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.registerDateNew}}</td>
                <td>{{totalAssets}}</td>
                <td>{{availableAmount}}</td>
                <td>{{previousInvestTimeNew?previousInvestTimeNew:'－'}}</td>
                <td>{{latestDueAmount}}</td>
                <td>{{latestDueTimeNew?latestDueTimeNew:'－'}}</td>
                <td>
                    {{#if hasSecondRecommend}}
                    <a target="_blank" href="/newAccount/financial/{{user.id}}" class="search search-red">查询</a>
                    {{else}}
                    <span class="search">查询</span>
                    {{/if}}
                </td>
            </tr>
            {{/financialList}}
        </table>
    </div>
</div>
