<dsBody layout={{dsLayoutPath}}>
  <link rel="stylesheet" href="/ccc/joinus/css/style.css">
  <div class="joinus__banner"></div>
  <div class="joinus__main">
      <div class="joinus__slogan">
          <div class="joinus__slogan__title">和我们，一起挑战自己</div>
          <p>
          我们推崇以人为本的理念，一直以来，我们坚信，员工是企业的最大财富。<br/>
          我们致力营造开放透明、温馨舒适的工作环境，让每一位员工都能尽显才华、彰显自我。<br/>
          我们包容你的无限潜能，我们尊重你的多元创意，我们敬佩你的自我驱动。<br/>
          我们希望你富有激情、乐学敢拼；我们希望你坚守自我、创新进取。<br/>
          这里，是你梦想的扬帆；这里，是你人生的灯塔。<br/>
          我们虚位以待，只为等到你！
           </p>
      </div>
      <div class="joinus__positions">
      </div>
  </div>
  <script type="text/javascript" src="/ccc/joinus/js/main/index.js"></script>
</dsBody>
