
<div id="about">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="more">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="col-xs-6 title">关于</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="container detail">
        <div class="logo"><img width="104" ng-src="assets/image/logo.png"></div>

        <div class="content">
            <p>本平台是一家正规的互联网金融投资平台，是华瑞银行吧啦吧啦吧啦本平台是一家正规的互联网金融投资平台，是华瑞银行吧啦吧啦吧啦，本平台是一家正规的互联网金融投资平台。</p>
        </div>

        <div class="version">
            <span class="name">版本信息</span>
            <span class="value">V1.0</span>
        </div>
    </section>

</div>
