
<div id="about" ng-class="{ from_app: is_from_app }">

    <style ng-if="!is_from_app"> body { background-color: #FFF; } </style>
    <style ng-if="is_from_app"> body { background-color: #FAFAFA; } </style>

    <nav class="omit-margin container page-nav" ng-if="!is_from_app">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">关于我们</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div ng-switch="current_tab">

    <section class="omit-margin detail" ng-switch-when="index">
        <div class="banner" ng-class="{ shadow: !is_from_app }">
            <img class="img-responsive"
                 ng-src="assets/image/about-banner.jpg"
            >
        </div>

        <div class="content">
            <ul class="list-unstyled u-off-margin-bottom links">
                <li>
                    <a ng-href="about?tab=summary{{ is_from_app ? '&from=app' : ''}}">
                        <div class="zh">平台简介</div>
                        <div class="en">About TBUS</div>
                    </a>
                </li>
                <li>
                    <a ng-href="about?tab=management{{ is_from_app ? '&from=app' : ''}}">
                        <div class="zh">管理团队</div>
                        <div class="en">Management Team</div>
                    </a>
                </li>
                <li>
                    <a ng-href="about?tab=investment{{ is_from_app ? '&from=app' : ''}}">
                        <div class="zh">投资决策委员会</div>
                        <div class="en">Investment Strategy Committee</div>
                    </a>
                </li>
                <li>
                    <a ng-href="about?tab=risk{{ is_from_app ? '&from=app' : ''}}">
                        <div class="zh">风险管理委员会</div>
                        <div class="en">Risk Management Committee</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>



    <section class="omit-margin detail" ng-switch-when="summary">
        <h4 class="title shadow">平台简介</h4>

        <div class="content">
            <div class="img-wrap">
                <img class="img-responsive" ng-src="assets/image/about-banner.jpg">
            </div>

            <div class="text">

            </div>
        </div>
    </section>



     <section class="omit-margin detail" ng-switch-when="management">
        <h4 class="title shadow">管理团队</h4>

        <div class="content">

        </div>
    </section>



     <section class="omit-margin detail" ng-switch-when="investment">
        <h4 class="title shadow">投资决策委员会</h4>

        <div class="content">

        </div>
    </section>



     <section class="omit-margin detail" ng-switch-when="risk">
        <h4 class="title shadow">风险管理委员会</h4>

        <div class="content">

        </div>
    </section>

    </div>

</div>
