
<div id="about-coupon">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">红包使用说明</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div></div>

    <section class="container detail">
        <ul class="list list-unstyled u-off-margin-bottom">
            <li><em>1) 现金券：</em>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
            <li><em>2) 增值券：</em>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
            <li><em>3) 返现券：</em>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
            <li><em>4) 加息券：</em>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
        </ul>
    </section>

</div>
