<!--<div class="home-count">
    <div class="common home-intrest">
        <div class="home-tab-info">预期收益(元)</div>
        <div class="home-tab-amount">{{outstandingInterest}}<span class="one">.{{oMore}}</span></div>
    </div>

    <div class="common">
        <div class="home-tab-info">待收本息(元)</div>
        <div class="home-tab-amount">{{holdTotalAmount}}<span class="two">.{{hMore}}</span></div>

    </div>
</div>-->

<div class="fixedUl">
    <ul>
        <li class="activeUl" id="online" on-click="online">线上投资</li>
        <li on-click="offline">线下投资</li>
    </ul>
</div>

{{#if !offline}}
<div class="ccc-tab fixed-nav" data-header-selector=".header-text">
    <ul class="tabs">
        <li class="active" data-type="INHAND">
            <a href="#" class="inhand_pro">在投产品({{INHAND}})</a>
        </li>
        <li data-type="ASSIGN">
            <a href="#" class="assign_pro">我的转让({{ASSIGN}})</a>
        </li>
        <li data-type="CLEARED">
            <a href="#" class="clear_pro">安全兑付({{CLEARED}})</a>
        </li>
    </ul>
</div>

<div class="ccc-tab-panels fixed-invest">
    <div class="tab-panel panel-INHAND active">
        <p class="loading">加载中...</p>
    </div>
    <div class="tab-panel panel-ASSIGN"></div>

    <div class="tab-panel panel-CLEARED"></div>
</div>

{{else}}
<div class="ccc-tab fixed-nav">
    <ul class="tabs">
        <li class="active" data-type="INHAND">
            <a href="#" class="inhand_pro">在投产品({{offlineInhand}})</a>
        </li>
        <li data-type="CLEARED">
            <a href="#" class="clear_pro">安全兑付({{offlineCleared}})</a>
        </li>
    </ul>
</div>
<div class="ccc-tab-panels fixed-invest">
    <div class="tab-panel panel-INTERESTED active" style="display:block ">
        <p class="loading">加载中...</p>
    </div>
    <div class="tab-panel panel-CLEARED"></div>
</div>
{{/if}}

<!--广告位-->
<div class="ad"></div>