
<div class="home-count">
    <div class="home-num">
        <div class="home-total common">
            <div class="home-tab-info total" on-mouseover="showTip" on-mouseleave="hideTip">总资产(元)</div>
            <p class="info-tip" style="width: 280px;">在投本金＋冻结资金＋当前收益＋可用余额</p>
            <div class="home-tab-amount">{{totalAmount}}.{{tAmount}}</div>
        </div>

        <div class="home-expect common">
            <div class="home-tab-info" on-mouseover="showTip" on-mouseleave="hideTip">冻结资金(元)</div>
            <p class="info-tip" style="width: 250px;">未计息的投资金额＋提现审批中的金额</p>
            <div class="home-tab-amount">{{frozenAmount}}</div>
        </div>

        <div class="home-expect common">
            <div class="home-tab-info" on-mouseover="showTip" on-mouseleave="hideTip">在投本金(元)</div>
            <p class="info-tip" style="width: 94px;left: 20px;">已计息的本金</p>
            <div class="home-tab-amount">{{investAmount}}.{{iAmount}}</div>
        </div>

        <div class="home-expect common">
            <div class="home-tab-info" on-mouseover="showTip" on-mouseleave="hideTip">当前收益(元)</div>
            <p class="info-tip" style="width: 165px;left: 20px;">截止到当天的未结息利息</p>
            <div class="home-tab-amount">{{currentIncome}}.{{cMore}}</div>
        </div>

        <div class="home-interest common">
            <div class="home-tab-info"  on-mouseover="showTip" on-mouseleave="hideTip">累计收益(元)</div>
            <p class="info-tip" style="width: 140px;">已经结息的全部收益</p>
            <div class="home-tab-amount">{{investInterestAmount}}.{{iMore}}</div>
        </div>

        <div class="home-interest common" style="margin-right: 0">
            <div class="home-tab-info">我的风险承受能力</div>
            <div class="home-tab-amount"><span>{{#if riskBear}}{{riskBear}}{{else}}系统默认{{/if}}</span></div>
        </div>
    </div>
</div>

<div class="asset_mod">
    <div class="asset_title">资产配置</div>
    <!--<img src="/ccc/newAccount/img/title_line.png">-->
    <div class="asset_cont">
        <div class="asset_left_cont">
            <a class="asset_box" href="/newAccount/home/fixed">
                <div class="box box_1">
                    <div class="label">固定收益</div>
                    <div class="total">
                        <div class="t_box">
                            <p>{{investAmount}}.<span>{{iAmount}}</span></p>
                            <span>在投本金(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计收益(元)</span><span class="d_num">{{currentIncome}}.<em>{{cMore}}</em></span></p>
                    </div>
                </div>
            </a>
            <a class="asset_box" href="#">
                <div class="box box_2">
                    <div class="label">浮动收益</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<em>00</em></p>
                            <span>在投本金(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
            <a class="asset_box" href="#">
                <div class="box box_3">
                    <div class="label">精选基金</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<em>00</em></p>
                            <span>在投本金(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
            <!--<a class="asset_box" href="#">-->
                <!--<div class="box box_4">-->
                    <!--<div class="label">高端理财</div>-->
                    <!--<div class="total">-->
                        <!--<div class="t_box">-->
                            <!--<p>0.<em>00</em></p>-->
                            <!--<span>在投本金(元)</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="detail">-->
                        <!--<p><span class="d_lab">预计当前收益(元)</span><span class="d_num">0.<em>00</em></span></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        </div>
        <div class="svg_cont" id="svg_cont">

        </div>
    </div>
</div>

<!--广告位-->
<div class="advertisement">
    <img src="{{advertisement}}" alt="">
</div>


<!--
<div class="home-invest-wrapper">
	{{#if isEnterprise}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">尚未到期还款</div>
	</div>
	<div class="home-invest-container ccc-myloan-wrap"></div>
	{{else}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">本月项目回款</div>
	</div>
	<div class="home-invest-container ccc-myinvest-wrap"></div>
	{{/if}}
</div>
-->


<!--<div class="ccc-tab invest_status" data-header-selector=".header-text">-->
    <!--<div class="title">资产配置</div>-->
    <!--<ul class="tabs">-->

        <!--<li class="active" data-type="ALL">-->
            <!--<a href="#">全部</a>-->
        <!--</li>-->

        <!--<li class="active" data-type="INHAND">-->
            <!--<a href="#">投资中</a>-->
        <!--</li>-->
        <!--<li data-type="HOLDING">-->
            <!--<a href="#">回款中</a>-->
        <!--</li>-->
        <!--<li data-type="CLEARED">-->
            <!--<a href="#">已结束</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div class="ccc-tab-panels index-invest">-->

    <!--<div class="tab-panel panel-ALL active">-->
        <!--<p class="loading">加载中...</p>-->
    <!--</div>-->

    <!--<div class="tab-panel panel-INHAND active">-->
        <!--<p class="loading">加载中...</p>-->
    <!--</div>-->
    <!--<div class="tab-panel panel-HOLDING "></div>-->

    <!--<div class="tab-panel panel-CLEARED"></div>-->
<!--</div>-->