
<div class="userinfowra">
	<div class="infoContent">
		{{#if bankCards}}
		<div class="info_title">我的账户 > 个人中心 > <span>添加银行卡</span></div>
		{{elseif recharge}}
		<div class="info_title">我的账户 > <span>充值</span></div>
		{{elseif withdraw}}
		<div class="info_title">我的账户 > <span>提现</span></div>
		{{elseif authentication}}
		<div class="info_title">我的账户 > 个人中心 > <span>实名认证</span></div>
		{{elseif tradeCards}}
		<div class="info_title">我的账户 > 个人中心 > <span>更换银行卡</span></div>
		{{elseif setpassword}}
		<div class="info_title">我的账户 > 个人中心 > <span>修改登录密码</span></div>
		{{elseif resetPassword}}
		<div class="info_title">我的账户 > 个人中心 > <span>重置支付密码</span></div>
		{{elseif fixMobile}}
		<div class="info_title">我的账户 > 个人中心 > <span>修改手机号</span></div>
		{{elseif fund}}
		<div class="info_title">我的账户 > 个人中心 > <span>资金明细</span></div>
		{{else}}
		<div class="info">
			<div class="tx"></div>
			<div class="name">
				<p>{{greetingText}}</p>
				<p>{{#if user.name}}{{user.name}}{{else}}{{user.mobile}}{{/if}}</p>
			</div>
		</div>
		<div class="credit">
			<ul class="doCredit">
				<!--手机-->
				{{#if user.mobile}}
				<li class="rzpa cmo-active"></li>
				{{else}}
				<li class="rzpa cmo"></li>
				{{/if}}
				<!--邮箱-->
				{{#if user.email}}
				<li>
					<a href="/newAccount/bindingEmail" class="mouse-enter rzpa cem-active" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:56px;">点击修改邮箱</p>
				</li>
				{{else}}
				<li>
					<a href="/newAccount/bindingEmail" class="mouse-enter rzpa cem" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:56px;">点击设置邮箱</p>
				</li>
				{{/if}}

				<!--{{#if user.name}}-->
				<!--<li>-->
					<!--<a href="/newAccount/settings/authentication" class="mouse-enter rzpa cid-active" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>-->
					<!--<p class="info-tip" style="top:16px;left:30px;">点击查看实名认证</p>-->
				<!--</li>-->
				<!--{{else}}-->
				<!--<li>-->
					<!--<a href="/newAccount/settings/authentication" class="mouse-enter rzpa cid" id="mouse-enter" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>-->
					<!--<p class="info-tip" style="top:16px;left:30px;">点击查看实名认证</p>-->
				<!--</li>-->
				<!--{{/if}}-->

				<!--交易密码-->
				{{#if paymentPasswordHasSet}}
				<li>
					<a href="/newAccount/settings/resetPassword" class="mouse-enter rzpa cpass-active" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:125px;">点击修改支付密码</p>
				</li>
				{{else}}

				<li>
					<a href="/newAccount/settings/bankCards" class="mouse-enter rzpa cpass" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:125px;">点击设置支付密码</p>
				</li>
				{{/if}}
				<!--银行卡-->
				{{#if banksabled}}
				<li>
					<a href="/newAccount/settings/bankCards" class="mouse-enter rzpa ccr-active" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:210px;">点击查看银行卡</p>
				</li>
				{{else}}
				<li>
					<a href="/newAccount/settings/bankCards" class="mouse-enter rzpa ccr" on-mouseover="showTip" on-mouseleave="hideTip" rel="nofollow" ></a>
					<p class="info-tip" style="top:5px;left:210px;">点击设置银行卡</p>
				</li>
				{{/if}}

			</ul>
			{{#if user.mobile}}
			<p class="fix-mobile"><a href="/newAccount/settings/fixMobile">修改手机号</a></p>
			{{/if}}
		</div>
		{{#if home}}
		<div class="home-topnav">
			<div class="home-avaliable">
				<span class="info-title">可用余额（元）</span>
				<span class="home-tab-amount">{{avaAmount}}<span>.{{morAmount}}</span></span>
			</div>
			<!--{{JSON.stringify(user)}}===-->
			<div class="home-bottomBar">
				{{#if !banksabled}}
				<a href="/newAccount/settings/bankCards"><div class="home-withdraw-btn">提现</div></a>
				<a href="/newAccount/settings/bankCards"><div class="home-recharge-btn">充值</div></a>
				{{elseif !user.paymentPasswordHasSet}}
				<a href="/newAccount/settings/password"><div class="home-withdraw-btn">提现</div></a>
				<a href="/newAccount/settings/password"><div class="home-recharge-btn">充值</div></a>
				{{else}}
				<a href="/newAccount/withdraw"><div class="home-withdraw-btn">提现</div></a>
				<a href="/newAccount/recharge"><div class="home-recharge-btn">充值</div></a>
				{{/if}}
			</div>
			<a href="/newAccount/fund" class="fund_detail">资金明细</a>
		</div>
		{{/if}}
		{{/if}}
	</div>
	<img src="/ccc/newAccount/img/usernav_line.png">
</div>

<div class="clearfix"></div>

