<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/creditList/css/style.css">

<div class="s-content u-pos-r-center">
    <div class="s-contentL">
        <div class="pro_header">
            <div class="pro_title">
                <img src="/ccc/invest/img/fixed_icon.png" alt="" />
                <h2>转让专区</h2>
            </div>
        </div>
        <div class="s-nav-view">
            <ul class="u-nolist-ul sTitou">
                <li class="selectTitle">转让价格</li>
                <li class="s__is-selected" data-min-amount="0" data-max-amount="100000000">全部</li>
                <li data-min-amount="0" data-max-amount="30000">3万以下</li>
                <li data-min-amount="30000" data-max-amount="50000">3-5万</li>
                <li data-min-amount="50000" data-max-amount="100000">5-10万</li>
                <li data-min-amount="100000" data-max-amount="100000000">10万以上</li>
            </ul>
            <ul class="u-nolist-ul sDuration">
                <li class="selectTitle">剩余期限</li>
                <li class="s__is-selected" data-min-duration="0" data-max-duration="100">全部</li>
                <li data-min-duration="0" data-max-duration="3">90天以下</li>
                <li data-min-duration="3" data-max-duration="6">90天-180天</li>
                <li data-min-duration="6" data-max-duration="12">180天-365天</li>
                <li data-min-duration="12" data-max-duration="100">365天以上</li>
            </ul>
        </div>

        <div class="invest-list-top">
            <!--<span>排序：</span>-->
            <ul class="orderbyrules">
                <li class="tacitly activeLi01" data-rules="normal">默认排序</li>
                <li data-rules="rate">年化收益</li>
                <li data-rules="duration">项目周期</li>
                <li data-rules="minAmount">起投金额</li>
            </ul>
        </div>

        <div class="invest-list-wrapper">
            <p style="padding: 45px;">加载中...</p>
        </div>

        <div class="invest-pager-wrapper" id="invest-pager"></div>
    </div>

    <div class="s-contentR">
        <div class="s-contentR-box">
            <div class="header">
                <h2>累计转让数据</h2>
            </div>
            <div class="content total">转让总金额:<span>{{1000000+total.totalDealAmount}}元</span></div>
            <div class="content time">转让总笔数:<span>{{100+total.totalNumber}}笔</span></div>
        </div>
        <div class="s-contentR-box">
            <div class="header">
                <h2>成交数据</h2>
            </div>
            <div class="deal-data-box"></div>
        </div>
        <div class="s-contentR-box">
            <div class="header">
                <h2>常见问题</h2>
                <a href="/help">更多 > </a>
            </div>
            <div class="question-box"></div>
        </div>
    </div>
</div>


<div class="space space-30"></div>
<script>{{{state}}}</script>
<script src="/ccc/creditList/js/main/investList.js"></script>
</dsBody>
