
<div class="inner">
    <div class="modal-body">
        <span class="close-btn" ng-click="$dismiss()">
            <param class="glyphicon glyphicon-remove">
        </span>

        <img class="center-block"  ng-src="assets/image/share-icon-coupon.png">

        <h2>投资成功，获得分享红包</h2>
        <h3>分享红包给好友，与好友一起抢红包吧！</h3>
    </div>

    <div class="modal-footer">
        <a class="btn btn-block btn-lg btn-default" ng-href="share-coupon/{{ id }}" target="_self">
            发红包
        </a>
    </div>
</div>
