
<div class="without-chart" ng-if="layout === 'without-chart'">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 info rate">
                <div class="value">
                    <span class="num">{{ ::loan.rate }}</span><span class="unit">%</span>
                </div>
                <div class="name">预期年化</div>
            </div>
            <div class="col-xs-6 info duration">
                <div class="value">
                    <span ng-if="::loan.raw.duration.days">
                        <span class="num">{{ ::loan.total_days }}</span><span class="unit">天</span>
                    </span>
                    <span ng-if="::!loan.raw.duration.days">
                        <span class="num">{{ ::loan.total_months }}</span><span class="unit">个月</span>
                    </span>
                </div>
                <div class="name">项目周期</div>
            </div>
        </div>
    </div>

    <div class="desc">多重保障确保资金安全</div>

    <div ng-switch="::loan.status">
        <span ng-switch-when="SCHEDULED"
              class="btn btn-block btn-default"
        >即将开始</span>
        <span ng-switch-when="OPENED"
              class="btn btn-block btn-theme"
        >立即抢购</span>
        <span ng-switch-when="FINISHED"
              class="btn btn-block btn-default"
        >已满标</span>
        <span ng-switch-when="SETTLED"
              class="btn btn-block btn-default"
        >计息中</span>
        <span ng-switch-when="CLEARED"
              class="btn btn-block btn-default"
        >已结息</span>
    </div>

    <h5 class="u-off-margin-bottom" ng-if="::loan.status === 'SCHEDULED'">
        距离开标时间:
        <timer interval="1000"
               end-time="loan.time_open"
               class="u-color-main"
        >
            {{ days }}天{{ hhours }}小时{{ mminutes }}分{{ sseconds }}秒
        </timer>
    </h5>
</div>


<div class="has-chart" ng-if="layout === 'has-chart'">
    <h4 class="title">{{ ::loan.title }}</h4>
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-4 info rate">
                <div class="value">
                    <span class="num">{{ ::loan.rate }}</span><span class="unit">%</span>
                </div>
                <div class="name">预期年化</div>
            </div>
            <div class="col-xs-4 info duration">
                <div class="value">
                    <span ng-if="::loan.raw.duration.days">
                        <span class="num">{{ ::loan.total_days }}</span><span class="unit">天</span>
                    </span>
                    <span ng-if="::!loan.raw.duration.days">
                        <span class="num">{{ ::loan.total_months }}</span><span class="unit">个月</span>
                    </span>
                </div>
                <div class="name">项目周期</div>
            </div>
            <div class="col-xs-4 info percent">
                <span class="chart"
                      x-easypiechart
                      percent="::loan.invest_percent_int"
                      options="::loan.chart_options"
                ></span>

                <span class="status" ng-switch="::loan.status">
                    <span ng-switch-when="SCHEDULED">即将开始</span>
                    <span ng-switch-when="OPENED">进行中</span>
                    <span ng-switch-when="FINISHED">满标</span>
                    <span ng-switch-when="SETTLED">计息中</span>
                    <span ng-switch-when="CLEARED">已结息</span>
                </span>
            </div>
        </div>
    </div>
</div>










<div class="detail" x-gyro-comment>
    <h4 class="title">{{ ::loan.title }}</h4>

    <div class="info-list">
        <div class="item rate">
            <div class="value">
                <small>{{ ::loan.basic_rate }}%+</small>{{ ::loan.deduction_rate }}%
            </div>
            <div class="name">年化收益</div>
        </div>

        <div class="item duration">
            <div class="value">
                <span ng-if="::loan.raw.duration.days">
                    {{ ::loan.total_days }}天
                </span>
                <span ng-if="::!loan.raw.duration.days">
                    {{ ::loan.total_months }}个月
                </span>
            </div>
            <div class="name">投资期限</div>
        </div>

        <div class="item status" ng-switch="::loan.status">
            <span ng-switch-when="OPENED"
                  class="btn btn-sm btn-invest"
            >立即投资</span>
            <span ng-switch-when="SCHEDULED"
                  class="btn btn-sm btn-disabled"
            >即将开始</span>
            <span ng-switch-when="FINISHED"
                  class="btn btn-sm btn-disabled"
            >已满标</span>
            <span ng-switch-when="SETTLED"
                  class="btn btn-sm btn-disabled"
            >还款中</span>
            <span ng-switch-when="CLEARED"
                  class="btn btn-sm btn-disabled"
            >还款结束</span>
        </div>
    </div>
</div>
