
<div ng-if="type !== 'ASSIGN'"
     ng-click="self.$location.path('loan/' + item.loan_id)"
>
    <div class="head">
        <h4 class="title">
            <a ng-href="loan/{{ item.loan_id }}">{{ item.title }}</a>
        </h4>
        <span class="date">
            <span class="item">起息日：{{ item.settled_date | date: "yyyy-MM-dd" }}</span>
            <span class="item">到期日：{{ item.end_date | date: "yyyy-MM-dd" }}</span>
        </span>
    </div>

    <div class="body">
        <div class="rate">
            <div class="value">{{ item.rate }}%</div>
            <div class="name">预期年收益率</div>
        </div>
        <div class="info-list">
            <div class="info"
                 ng-if="[
                    'FINISHED',
                    'FAKESETTLED',
                    'PROPOSED',
                    'FROZEN',
                    'SETTLED',
                    'OVERDUE',
                    'BREACH'
                 ].indexOf(item.status) > -1"
            >
                <span class="name">预期收益(元)</span>
                <span class="value">
                    {{
                        (
                            item.status == 'FROZEN'
                            ? item.raw.expectedInterest
                            : item.raw.dueInInterest
                        ) | number: 2
                    }}
                </span>
            </div>

            <div class="info"
                 ng-if="['CLEARED'].indexOf(item.status) > -1"
            >
                <span class="name">实际收益(元)</span>
                <span class="value">{{ item.raw.inInterest | number: 2 }}</span>
            </div>

            <div class="info">
                <span class="name">投资金额(元)</span>
                <span class="value">
                    {{
                        (
                            item.raw.creditAssignId
                            ? item.raw.dueInPrincipal
                            : item.amount
                        ) | number: 2
                    }}
                </span>
            </div>
        </div>

        <div class="status-contract">
            <div class="status" ng-switch="item.status">
                <span ng-switch-when="PROPOSED">申请投标</span>
                <span ng-switch-when="FROZEN">资金冻结</span>
                <span ng-switch-when="FROZEN_FAILED">资金冻结失败</span>
                <span ng-switch-when="FAILED">流标</span>
                <span ng-switch-when="FINISHED">资金冻结</span>
                <span ng-switch-when="FAKESETTLED">资金冻结</span>
                <span ng-switch-when="CANCELED">已取消</span>
                <span ng-switch-when="SETTLED">
                    {{ item.have_begun_to_settled ? '计息中' : '资金冻结' }}
                </span>
                <span ng-switch-when="CLEARED">已兑付</span>
                <span ng-switch-when="OVERDUE">待收款</span>
                <span ng-switch-when="BREACH">违约</span>
            </div>

            <div class="contract"
                 ng-if="[
                    'SETTLED',
                    'CLEARED',
                    'OVERDUE',
                    'BREACH'
                 ].indexOf(item.status) > -1"
            >
                <a ng-click="
                        self.goto('/api/v2/user/MYSELF/invest/' + item.id + '/contract');
                        $event.stopPropagation();
                    "
                >查看合同</a>
            </div>
        </div>

        <div class="action" ng-if="item.status != 'CLEARED'">
            <button class="btn btn-theme btn-xs"
                    ng-click="
                        self.$location.path('dashboard/assignment/' + item.id);
                        $event.stopPropagation();
                    "
                    ng-if="item.raw.canBeAssign"
            >转让</button>
            <button class="btn btn-disabled btn-xs"
                    ng-click="$event.stopPropagation()"
                    ng-if="!item.raw.canBeAssign"
            >转让</button>
        </div>
    </div>
</div>


<div ng-if="type === 'ASSIGN'"
     ng-click="self.$location.path('assignment/' + item.id)"
>
    <div class="head">
        <h4 class="title">
            <a ng-href="assignment/{{ item.id }}">{{ item.title }}</a>
        </h4>
        <span class="date">
            挂牌日：{{ item.time_open | date: "yyyy-MM-dd" }}
        </span>
    </div>

    <div class="body">
        <div class="rate">
            <div class="value">{{ item.rate }}%</div>
            <div class="name">转让利率</div>
        </div>
        <div class="info-list">
            <div class="info">
                <span class="name">转让价格(元)</span>
                <span class="value">{{ item.raw.creditDealAmount | number: 2 }}</span>
            </div>

            <div class="info">
                <span class="name">投资金额(元)</span>
                <span class="value">{{ item.amount | number: 2 }}</span>
            </div>
        </div>

        <div class="status-contract">
            <div class="status" ng-switch="item.status">
                <span ng-switch-when="PROPOSED">已申请</span>
                <span ng-switch-when="SCHEDULED">已安排</span>
                <span ng-switch-when="FINISHED">已转让</span>
                <span ng-switch-when="OPENED">转让中</span>
                <span ng-switch-when="FAILED">转让未满</span>
                <span ng-switch-when="CANCELED">已取消</span>
            </div>

            <div class="contract"
                 ng-if="['FINISHED'].indexOf(item.status) > -1"
            >
                <a ng-click="
                        self.goto('/api/v2/creditassign/getCreditAssignContract/' + item.id);
                        $event.stopPropagation();
                    "
                >查看合同</a>
            </div>
        </div>
    </div>
</div>
