
<h4 class="title"
    data-after-content="{{ { HOT: 'HOT' }[loan.product_key] }}"
    ng-class="{ HOT: 'HOT' }[loan.product_key]"
>{{ loan.title }}</h4>

<div class="info-list">
    <div class="info rate">
        <div class="value">
            <span class="num">{{
                (loan.rate + '').indexOf('.') == -1
                ? (loan.rate | number: 1)
                : loan.rate
            }}</span><span class="unit">%</span>
        </div>
        <div class="name">预期年收益率</div>
    </div>

    <div class="info" style="padding-left: 20px;">
        <div class="duration">
            <span class="num">{{ loan.raw.loanRequest.displayDuration.frontShowDuration }}</span>
            <span
                class="u-color-main"
                style="margin-left: 10px;"
                ng-if="loan.product_key !== 'NEW'"
            >
                7天可转
            </span>
        </div>
        <div class="min-amount"
             ng-init="min_amount = loan.raw.loanRequest.investRule.minAmount"
        >
            {{
                min_amount >= 10000
                ? (min_amount / 10000 + '万')
                : (min_amount | number)
            }}元起投
        </div>
    </div>

    <div class="info percent">
        <span class="chart"
              x-easypiechart
              percent="loan.invest_percent_int"
              options="loan.chart_options"
        ></span>

        <span class="status" ng-switch="loan.status">
            <span ng-switch-when="SCHEDULED" class="u-color-main">预热</span>
            <span ng-switch-when="OPENED" class="u-color-main">抢购</span>
            <span ng-switch-when="FINISHED" class="u-color-main">已售罄</span>
            <span ng-switch-when="FAKESETTLED" class="u-color-main">已售罄</span>
            <span ng-switch-when="FAILED" class="u-color-main">已售罄</span>
            <span ng-switch-when="SETTLED">计息中</span>
            <span ng-switch-when="CLEARED">已结息</span>
            <span ng-switch-when="OVERDUE">待收款</span>
        </span>
    </div>
</div>
