<!--{{JSON.stringify(list)}}-->
{{#list}}
<div class="loanItemWrapper" {{#if status==='SCHEDULED' }}{{/if}}>
    <div class="loanPartOne">
        <div class="loantitle">
            <a href="/loan/{{ id }}" class="invest-title">{{title}}</a>
        </div>
    </div>
    <div class="floatdiv">
        <dl class="dl01">
            <dt>预期年化率</dt>
            <dd><span>{{rate}}</span>&nbsp;%</dd>
        </dl>
        <dl class="dl02">
            <dt>项目周期</dt>
            <dd><span>{{fduration}}</span>&nbsp;{{fdurunit}}</dd>
        </dl>
        <dl class="dl03">
            <dt>起投金额</dt>
            <dd><span>{{loanRequest.investRule.minAmount}}</span>&nbsp;元&nbsp;起</dd>
        </dl>
        <div class="process">
            <div class="rate-chart">
                <div class="easy-pie-chart pie" data-percent="{{ investPercent }}" data-status='{{status}}'>
                    <span class="percentageNum">{{ investPercent }} </span>
                </div>
            </div>
        </div>

        <div class="investBtn">
            {{#if status === 'OPENED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn">立即投资</div>
            </a>
            {{/if}} {{#if status === 'SCHEDULED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn-hover">即将开始</div>
            </a>
            <div class="investbtn-time" data-id="{{ id }}" data-status="{{ status }}" data-open="{{ timeOpen }}" data-serv="{{ serverDate }}" style="margin-top:5px;color: black;width: 180px;text-align: center;"></div>
            {{/if}} {{#if status === 'FINISHED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">已满标</div>
            </a>
            {{/if}} {{#if status === 'FAILED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">流标</div>
            </a>
            {{/if}} {{#if status === 'SETTLED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #ffffff">已抢完</div>
            </a>
            {{/if}} {{#if status === 'CLEARED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">还款结束</div>
            </a>
            {{/if}}
        </div>


    </div>
</div>

{{/list}}
