

{{#list}}
<div class="loanWrapper">

    <div class="contentwrapper">
        <div class="event">
            <a href="loan/{{ id }}">
                <!--
            {{#if titleLength>30}}
                {{title.substr(0,30)}}...
            {{/if}}
-->
                {{title}}
            </a>

        </div>
        <div class="pre-rate" style="text-align:center;">
            <span class="rate">{{ basicRate }}</span>
            <span class="percent">%</span>
            <div class="rate_word">预期年化率</div>
        </div>
        
        <div class="investData">
            <div class="investTime">期限：<span>{{fduration}}</span> {{fdurunit}}</div>
            <div class="investNum"><span>{{loanRequest.investRule.minAmount}}</span> 元 起</div>
        </div>
        <div class="percentage">
            <div class="progress" id="yellow-progress">

                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ investPercent }}%;">

                </div>
                <p class="progress-bar-word">{{ investPercent }}%</p>
            </div>
        </div>
        <div class="opre">
            {{#if status === 'OPENED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn">立即投资</div>
            </a>
            {{/if}} {{#if status === 'SCHEDULED'}}

            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn">即将开始</div>
            </a>
            <div class="investbtn-time" data-id="{{ id }}" data-status="{{ status }}" data-open="{{ timeOpen }}" data-serv="{{ serverDate }}" style="margin-top:-56px;color: black;width: 180px;text-align: center;margin-left:-30px"></div>

            {{/if}} {{#if status === 'FINISHED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">已满标</div>
            </a>
            {{/if}} {{#if status === 'SETTLED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">已抢完</div>
            </a>
            {{/if}} {{#if status === 'CLEARED'}}
            <a href="/loan/{{id}}" style="text-decoration:none">
                <div class="investbtn" style="background:lightgrey; color: #fff">还款结束</div>
            </a>
            {{/if}}
        </div>
        
    </div>

</div>

{{/list}}