
<div id="homepage">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 text-center logo">
            <img width="64" ng-src="assets/image/nav-logo.png">
        </span>
    </div>
    </nav>

    <div class="banner"
         x-carousel-banner
         data-delay-in-seconds="4"
         ng-style="{ height: carousel_height + 'px' }"
    ></div>

    <section class="loan-type">
        <ul class="list-unstyled u-off-margin-bottom loan-type-list">
            <li class="u-off-margin-top">
                <a href="list/DCB">
                    <div class="media media-dcb">
                        <div class="media-left">
                            <img width="38" class="media-object" ng-src="assets/image/loan-icons/dcb.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">定存宝</h4>
                            <p class="desc">稳定安全理财计划</p>
                            <img width="80" class="bg-icon" ng-src="assets/image/loan-icons/dcb-lg.png">
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="list/LHB">
                    <div class="media media-lhb">
                        <div class="media-left">
                            <img width="36" class="media-object" ng-src="assets/image/loan-icons/lhb.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">灵活宝</h4>
                            <p class="desc">灵活理财更自由</p>
                            <img width="74" class="bg-icon" ng-src="assets/image/loan-icons/lhb-lg.png">
                        </div>
                    </div>
                </a>
            </li>
            <li class="u-off-margin-bottom">
                <a href="list/SBTZ">
                    <div class="media media-sbtz">
                        <div class="media-left">
                            <img width="38" class="media-object" ng-src="assets/image/loan-icons/sbtz.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">散标投资</h4>
                            <p class="desc">灵活理财更自由</p>
                            <img width="75" class="bg-icon" ng-src="assets/image/loan-icons/sbtz-lg.png">
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>

    <section class="loan-panel loan-panel-new">
        <div class="heading container">
            <h3 class="title">新手专享</h3>
            <span class="desc">现金红包＋超高收益</span>
        </div>
        <ul class="list-unstyled u-off-margin-bottom loan-list text-center">
            <li ng-repeat="item in ::list_new track by $index">
                <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                   x-loan-summary
                   data-loan="item"
                   data-layout="'without-chart'"
                ></a>
            </li>
        </ul>
        <p class="text-center loading" ng-show="loading_new">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

    <section class="loan-panel loan-panel-hot">
        <div class="heading container">
            <h3 class="title">热门推荐</h3>
            <span class="desc">1元起投 随时提取</span>
        </div>
        <ul class="list-unstyled u-off-margin-bottom loan-list">
            <li ng-repeat="item in ::list_hot track by $index">
                <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                   x-loan-summary
                   data-loan="item"
                   data-layout="'has-chart'"
                ></a>
            </li>
        </ul>
        <p class="text-center loading" ng-show="loading_hot">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

</div>
