
<div id="homepage">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-4" href="login">
            <img height="19" ng-src="assets/image/user-icon.png">
            <small>登录</small>
        </a>
        <span class="col-xs-4 text-center logo">
            <img height="12" ng-src="assets/image/nav-logo.png">
        </span>
        <span class="col-xs-4">&nbsp;</span>
    </div>
    </nav>

    <div class="banner" x-carousel-banner data-delay-in-seconds="4"></div>

    <section class="announcement omit-margin marquee">
        <div class="content">我们为您选择最安全，最适合的理财产品</div>
    </section>

    <section class="loan">
        <ul class="list-unstyled u-off-margin-bottom loan-list text-center">
            <li ng-repeat="item in list">
                <a ng-href="loan/{{ item.id }}">
                    <div class="inner">
                        <h4 class="title">{{ item.title }}</h4>
                        <div class="rate">
                            <span class="value">
                                <span class="num">{{ item.rate }}</span>
                                <span class="unit">%</span>
                            </span>
                            <span class="name">预期年化</span>
                        </div>
                        <div class="clearfix">
                            <span class="duration pull-left">
                                <span class="name">投资期限</span>
                                <span class="value" ng-if="item.raw.duration.days">
                                    {{ item.total_days }}天
                                </span>
                                <span class="value" ng-if="!item.raw.duration.days">
                                    {{ item.total_months }}个月
                                </span>
                            </span>
                            <span class="min-amount pull-right">
                                <span class="name">起投金额(元)</span>
                                <span class="value">{{ item.raw.loanRequest.investRule.minAmount | number: 2 }}</span>
                            </span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-theme btn-sm btn-invest"
                   ng-href="loan/{{ item.id }}/invest"
                >立即投资</a>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

    <section class="feature shadow">
        <ul class="row list-unstyled u-off-margin-bottom feature-list text-center">
            <li class="col-xs-4">
                <div class="icon icon-1"></div>
                <p class="desc">银行级风控<br>专款专项专用</p>
            </li>
            <li class="col-xs-4">
                <div class="icon icon-2"></div>
                <p class="desc">360°项目审核<br>优中选优</p>
            </li>
            <li class="col-xs-4">
                <div class="icon icon-3"></div>
                <p class="desc">历史到期<br>100%兑付</p>
            </li>
        </ul>
    </section>

</div>
