
<div id="loan-invest">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" ng-href="loan/{{loan.id}}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-8 title">{{ loan.title }}</span>
        <span class="col-xs-2">&nbsp;</span>
    </div>
    </nav>

    <div></div>

    <section class="omit-margin loan-summary">
        <div class="rate text-center">
            <div class="value">{{ loan.rate }}%</div>
            <div class="name">预期年化</div>
        </div>
        <div class="footer">
            <div class="inner">
                <span class="percent">投资进度 {{ loan.invest_percent_int }}%</span>
                <span class="balance text-right">剩余金额 {{ loan.balance | number }}元</span>
            </div>
        </div>
    </section>

    <form class="form-horizontal form-invest"
          name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          ng-submit="self.submit($event)"
    >
        <section>
            <div class="container hd">
                <span class="pull-left">请输入投资金额</span>
                <span class="pull-right">账户余额: {{ self.user.fund.availableAmount | number: 2 }}元</span>
            </div>

            <div class="container bd invest-input">
                <div class="earning" ng-class="{ invisible: !form.amount.$valid }">
                    预期收益<span class="u-color-main">{{ earning | number: 2 }}</span>元
                </div>

                <div class="form-control-wrap">
                    <param class="icon icon-minus"
                           ng-click="store.amount = self.amount_polishing(store.amount - loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                    >

                    <input name="amount"
                           id="amount"
                           ng-model="store.amount"
                           ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                           type="number"
                           class="form-control"
                           placeholder="{{ loan.raw.loanRequest.investRule.minAmount | number }}元起投，{{ loan.raw.loanRequest.investRule.stepAmount | number }}元递增"
                           required
                    >

                    <param class="icon icon-plus"
                           ng-click="store.amount = self.amount_polishing(store.amount + loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                    >
                </div>
            </div>
        </section>

        <section>
            <div class="container hd">
                实际支付金额：<span class="u-color-main" ng-show="form.amount.$valid">{{ store.amount | number: 2 }}元</span>
            </div>

            <div class="container bd">
                <div class="coupon-wrap" ng-class="{ rsaquo: coupon_list.length }">
                    <select name="placementId" class="form-control"
                            id="coupon"
                            ng-model="store.coupon"
                            ng-options="
                                coupon.display
                                for coupon in coupon_list
                                track by coupon.id
                            "
                            ng-click="self.pick_up_coupon($event, store.amount)"
                            ng-if="coupon_list.length"
                    >
                        <option value="">{{ coupon_list.length }}个红包可用</option>
                    </select>

                    <div class="hint" ng-if="!coupon_list.length">暂无红包可用</div>
                </div>
            </div>
        </section>

        <section class="container">
            <button type="submit" class="btn btn-theme btn-lg btn-block"
                    ng-disabled="form.$invalid || self.submit_sending"
            >下一步</button>
        </section>
    </form>










    <section class="omit-margin container loan-summary" x-gyro-comment>
        <div class="rate-duration">
            <div class="rate">
                <div class="value">
                    <small>{{ loan.basic_rate }}%+</small>{{ loan.deduction_rate }}%
                </div>
                <div class="name">年化收益率</div>
            </div>

            <div class="duration">
                <div class="value">
                    <span ng-if="loan.raw.duration.days">
                        {{ loan.total_days }}<small>天</small>
                    </span>
                    <span ng-if="!loan.raw.duration.days">
                        {{ loan.total_months }}<small>个月</small>
                    </span>
                </div>
                <div class="name">投资期限</div>
            </div>
        </div>

        <div class="clearfix">
            <span class="pull-left">
                可投金额：
                {{ loan.balance_myriad || loan.balance }}<!--
                --><span ng-if="loan.balance_myriad">万</span><!--
                --><span ng-if="!loan.balance_myriad">元</span>
            </span>
            <span class="pull-right"
                  ng-init="invest_rule_max_amount = loan.raw.loanRequest.investRule.maxAmount"
            >
                投资限额：
                <span ng-if="invest_rule_max_amount >= 10000">
                    {{ invest_rule_max_amount / 10000 }}万
                </span>
                <span ng-if="invest_rule_max_amount < 10000">
                    {{ invest_rule_max_amount }}元
                </span>
            </span>
        </div>
    </section>

    <form class="form-horizontal container form-invest"
          name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          ng-submit="self.submit($event)"
          x-gyro-comment
    >
        <div class="form-group">
            <label class="col-xs-3">账户余额:</label>
            <div class="col-xs-5 omit-padding available-amount">
                <span class="num">{{ self.user.fund.availableAmount | number }}</span>元
            </div>
            <div class="col-xs-4 omit-padding">
                <button type="button"
                        class="btn btn-sm btn-polish"
                        ng-click="store.amount = self.amount_polishing(self.user.fund.availableAmount); self.fetch_analyse(store.amount)"
                >全投</button>
                <a class="btn btn-sm btn-recharge" ng-href="dashboard/recharge?next={{ self.page_path }}">充值</a>
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-xs-3">投资金额:</label>
            <div class="col-xs-5 omit-padding">
                <input class="form-control input-sm"
                       type="number"
                       id="amount"
                       name="amount"
                       ng-model="store.amount"
                       ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                       placeholder=""
                       required
                >
            </div>
            <div class="col-xs-4 omit-padding earning" ng-show="form.amount.$valid">
                预期收益 <span class="num">{{ earning | number: 2 }}</span>元
            </div>
        </div>

        <div class="form-group rule">
            <div class="col-xs-offset-3">
                {{ loan.raw.loanRequest.investRule.minAmount | number }}元起，
                {{ loan.raw.loanRequest.investRule.stepAmount | number }}的倍数递增
            </div>
        </div>

        <div class="form-group">
            <label for="coupon" class="col-xs-3">使用红包:</label>
            <div class="col-xs-5 omit-padding">
                <select name="placementId" class="form-control input-sm"
                        id="coupon"
                        ng-model="store.coupon"
                        ng-options="
                            coupon.display
                            for coupon in coupon_list
                            track by coupon.id
                        "
                        ng-click="self.pick_up_coupon($event, store.amount)"
                        ng-if="coupon_list.length"
                >
                    <option value="">{{ coupon_list.length }}个红包可用</option>
                </select>

                <div class="coupon-tip" ng-if="!coupon_list.length">暂无红包可用</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-xs-3">交易密码:</label>
            <div class="col-xs-5 omit-padding">
                <input class="form-control input-sm"
                       type="password"
                       id="password"
                       name="password"
                       ng-model="store.password"
                       placeholder=""
                       required
                >
            </div>
        </div>

        <div class="text-center agreement">
            <label>
                <input type="checkbox" ng-init="agreement = true" ng-model="agreement" required>
                我同意 <a href="#" ng-click="self.agreement('新毅金融投资协议')">《新毅金融投资协议》</a>
            </label>
        </div>

        <p class="action">
            <button type="submit" class="btn btn-invest btn-lg btn-block"
                    ng-disabled="form.$invalid || self.submit_sending"
            >立即支付</button>
        </p>
    </form>

</div>






<div id="loan-invest" x-gyro-comment>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3">&nbsp;</span>
        <span class="col-xs-6 title">投资成功</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div class="invest-result">
        <div class="container state">
            <img width="126" ng-src="assets/image/success-icon.png">
            <p class="desc">投资成功啦！</p>
            <div class="detail">
                <p>您已成功投资 {{ store.amount | number: 2 }}元</p>
                <p>预计到期可赚 {{ earning | number: 2 }}元</p>
            </div>
        </div>

        <div class="container action">
            <a class="btn btn-lg btn-block btn-theme" href="list">继续投资</a>
            <a class="btn btn-lg btn-block btn-plain" href="dashboard/invest">查看投资详情</a>
        </div>
    </div>

</div>










<script type="text/ng-template" id="ngt-invest-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-short-of-balance.tmpl">
    <div class="modal-header text-center">
        <h3 class="modal-title">账户余额不足</h3>
    </div>

    <div class="modal-body text-center">
        当前账户余额{{ balance | number }}元，最小投资额{{ minimum | number }}元
    </div>

    <div class="modal-footer container">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-block btn-default" ng-click="$close()">
                    调整金额
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-block btn-theme" ng-click="$dismiss('dashboard/recharge')">
                    快速充值
                </button>
            </div>
        </div>
    </div>
</script>
