
<div id="loan">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-8 title">{{ loan.title }}</span>
        <span class="col-xs-2">&nbsp;</span>
    </div>
    </nav>

    <section class="omit-margin container loan-summary-1">
        <div
            class="label-activity"
            ng-if="loan.activity_info"
        >
            {{ loan.activity_info }}
        </div>

        <div class="row text-center">
            <div class="col-xs-6 rate">
                <div class="value">{{
                    (loan.rate + '').indexOf('.') == -1
                    ? (loan.rate | number: 1)
                    : loan.rate
                }}<small>%</small></div>
                <div class="name">
                    {{ loan.product_key === 'ZXLC' ? '业绩比较基准' : '预期年收益率' }}
                </div>
            </div>

            <div class="col-xs-6 text-left" style="padding-left: 0;">
                <div class="tag-list">
                    <span
                        class="tag"
                        ng-if="loan.raw.loanRequest.brightSpot"
                    >
                        {{ loan.raw.loanRequest.brightSpot }}
                    </span>
                    <span
                        class="tag"
                        ng-if="loan.raw.loanRequest.brightSpot2"
                    >
                        {{ loan.raw.loanRequest.brightSpot2 }}
                    </span>
                </div>

                <div class="duration">
                    投资期限:
                    <span
                        ng-class="{'u-color-main': loan.is_cycle_product}"
                        style="margin-left: 3px;"
                    >
                        {{ loan.raw.loanRequest.displayDuration.frontShowDuration }}
                    </span>
                    <span
                        class="u-color-main"
                        style="margin-left: 5px;"
                    >
                        {{
                            loan.is_cycle_product
                            ? '循环'
                            : (
                                loan.product_key !== 'NEW' && loan.product_key !== 'ZXLC'
                                ? '7天可转'
                                : ''
                            )
                        }}
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="omit-margin shadow loan-summary-2">
        <span class="date" ng-switch="loan.status">
            <span ng-switch-when="SCHEDULED">
                距离开标时间:<br>
                <timer interval="1000"
                       end-time="loan.time_open"
                       finish-callback="self.$window.location.reload()"
                >
                    <span class="num">{{ days }}</span> 天
                    <span class="num">{{ hhours }}</span> 小时
                    <span class="num">{{ mminutes }}</span> 分
                    <span class="num">{{ sseconds }}</span> 秒
                </timer>
            </span>
            <span ng-switch-when="OPENED">
                距离结束购买还有：<br>
                <timer interval="1000"
                       end-time="loan.time_close"
                       finish-callback="self.$window.location.reload()"
                >
                    <span class="num">{{ days }}</span> 天
                    <span class="num">{{ hhours }}</span> 小时
                    <span class="num">{{ mminutes }}</span> 分
                    <span class="num">{{ sseconds }}</span> 秒
                </timer>
            </span>
            <span ng-switch-default>已结束</span>
        </span>
        <span class="balance">剩余可投资(元)<span class="num">{{ loan.balance }}</span></span>
    </section>

    <section class="loan-date">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="name">开售时间</div>
                <div class="value">{{ loan.time_open | date: 'yyyy-MM-dd' }}</div>
            </li>
            <li>
                <div class="name">预计起息日</div>
                <div class="value">{{ loan.value_date | date: 'yyyy-MM-dd' }}</div>
            </li>
            <li>
                <div class="name">预计{{ loan.is_cycle_product ? '首次' : '' }}到期日</div>
                <div class="value">
                    {{
                        loan.is_cycle_product
                        ? (loan.raw.firstDueDate | date: 'yyyy-MM-dd')
                        : (loan.due_date | date: 'yyyy-MM-dd')
                    }}
                </div>
            </li>
            <li>
                <div class="name">预计{{ loan.is_cycle_product ? '首次' : '' }}到账日</div>
                <div
                    class="value"
                    ng-class="{cycle: loan.is_cycle_product}"
                >下一工作日</div>
            </li>
        </ul>
    </section>

    <section class="loan-info">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li ng-if="loan.raw.loanRequest.specialInstruction">
                <span class="name u-color-main">特别提示</span>
                <span class="value"
                      ng-bind-html="loan.raw.loanRequest.specialInstruction | sanitize"
                ></span>
            </li>
            <li>
                <span class="name">产品总额</span>
                <span class="value">
                    {{ loan.amount_myriad || loan.amount }}<!--
                    --><span ng-if="loan.amount_myriad">万</span><!--
                    --><span ng-if="!loan.amount_myriad">元</span>
                </span>
            </li>
            <li>
                <span class="name">可否转让</span>
                <span class="value">
                    {{
                        loan.product_key === 'NEW' || loan.product_key === 'ZXLC' || loan.is_cycle_product
                        ? '不可转让'
                        : '7天之后可转让'
                    }}
                </span>
            </li>
            <li>
                <span class="name">起投金额</span>
                <span class="value"
                      ng-init="min_amount = loan.raw.loanRequest.investRule.minAmount"
                >
                    {{
                        min_amount >= 10000
                        ? (min_amount / 10000 + '万')
                        : min_amount
                    }}元
                </span>
            </li>
            <li>
                <span class="name">递增金额</span>
                <span class="value">{{ loan.raw.loanRequest.investRule.stepAmount }}元</span>
            </li>
            <li>
                <span class="name">收益分配</span>
                <span class="value" ng-switch="loan.method">
                    <span ng-switch-when="MonthlyInterest">按月付息到期还本</span>
                    <span ng-switch-when="EqualInstallment">按月等额本息</span>
                    <span ng-switch-when="EqualPrincipal">按月等额本金</span>
                    <span ng-switch-when="BulletRepayment">一次性还本付息</span>
                    <span ng-switch-when="EqualInterest">月平息</span>
                    <span ng-switch-when="YearlyInterest">按年付息到期还本</span>
                    <span ng-switch-when="CycleInterest">按循环周期付息到期还本</span>
                </span>
            </li>
            <li>
                <span class="name">风险等级</span>
                <span class="value"
                      ng-bind-html="loan.raw.loanRequest.riskRank | sanitize"
                ></span>
            </li>
            <li>
                <span class="name">资金用途</span>
                <span class="value"
                      ng-bind-html="loan.raw.loanRequest.fundUsage | sanitize"
                ></span>
            </li>
        </ul>
    </section>

    <section class="loan-detail">
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="open" ng-if="true">
                <uib-accordion-heading>
                    <param class="pull-right glyphicon"
                           ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    产品亮点
                </uib-accordion-heading>

                <div class="content"
                     ng-bind-html="loan.raw.loanRequest.productLightspot | sanitize"
                ></div>
            </uib-accordion-group>

            <uib-accordion-group is-open="open" ng-if="true">
                <uib-accordion-heading>
                    <param class="pull-right glyphicon"
                           ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    风控措施
                </uib-accordion-heading>

                <div class="content"
                     ng-bind-html="loan.raw.loanRequest.riskControlMethod | sanitize"
                ></div>
            </uib-accordion-group>

            <uib-accordion-group is-open="open" ng-if="true">
                <uib-accordion-heading>
                    <param class="pull-right glyphicon"
                           ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    常见问题
                </uib-accordion-heading>

                <div class="content"
                     ng-bind-html="loan.raw.loanRequest.commonQuestion | sanitize"
                ></div>
            </uib-accordion-group>

            <uib-accordion-group is-open="open" ng-if="true">
                <uib-accordion-heading>
                    <param class="pull-right glyphicon"
                           ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    投资记录
                </uib-accordion-heading>

                <div class="content">
                    <div ng-show="self.user.has_logged_in && !loading_investors">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>手机号</th>
                                    <th class="text-center">投资时间</th>
                                    <th class="text-right">投资金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in investors">
                                    <td class="mobile">{{ (item.mobile || '') | string_replace: '^(\\d{3})(\\d{5})(\\d{3})$' : '$1*****$3' }}</td>
                                    <td class="date text-center">{{ item.submitTime | date: 'yyyy-MM-dd' }}</td>
                                    <td class="amount text-right">{{ item.amount }}元</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="container not-found" ng-if="!investors.length">
                            <div class="icon-wrap">
                                <img class="icon" width="50" ng-src="assets/image/not-found-icon.png">
                            </div>
                            <p class="desc">暂无数据</p>
                        </div>
                    </div>

                    <p class="text-center loading" ng-show="loading_investors">
                        <img src="assets/image/spinner.gif">
                    </p>

                    <h5 class="text-center" ng-hide="self.user.has_logged_in">
                        请 <a ng-href="login?next={{ page_path }}">登录</a> 或 <a href="register">注册</a> 后查看
                    </h5>
                </div>
            </uib-accordion-group>
        <uib-accordion>
    </section>

    <section class="omit-margin loan-fixed">
        <div class="rule"
             ng-init="min_amount = loan.raw.loanRequest.investRule.minAmount"
        >
            起投金额(元)
            {{
                min_amount >= 10000
                ? (min_amount / 10000 + '万')
                : min_amount
            }}
        </div>
        <div class="status" ng-switch="loan.status">
            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="SCHEDULED"
            >即将开始</div>

            <a class="btn btn-block btn-theme"
               ng-switch-when="OPENED"
               ng-href="loan/{{ loan.id }}/invest"
            >立即投资</a>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="FINISHED"
            >已售罄</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="FAKESETTLED"
            >已售罄</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="FAILED"
            >已售罄</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="SETTLED"
            >计息中</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="CLEARED"
            >已结息</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="OVERDUE"
            >待收款</div>

            <div class="btn btn-block btn-theme disabled"
                 ng-switch-when="BREACH"
            >待收款</div>
        </div>
    </section>

</div>
