
<div id="loan-invest">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" ng-href="loan/{{loan.id}}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-8 title">{{ loan.title }}</span>
        <span class="col-xs-2">&nbsp;</a>
    </div>
    </nav>

    <section class="omit-margin container loan-summary">
        <div class="rate-duration">
            <div class="rate">
                <div class="value">
                    <small>{{ loan.basic_rate }}%+</small>{{ loan.deduction_rate }}%
                </div>
                <div class="name">年化收益率</div>
            </div>

            <div class="duration">
                <div class="value">
                    <span ng-if="loan.raw.duration.days">
                        {{ loan.total_days }}<small>天</small>
                    </span>
                    <span ng-if="!loan.raw.duration.days">
                        {{ loan.total_months }}<small>个月</small>
                    </span>
                </div>
                <div class="name">投资期限</div>
            </div>
        </div>

        <div class="clearfix">
            <span class="pull-left">
                可投金额：
                {{ loan.balance_myriad || loan.balance }}<!--
                --><span ng-if="loan.balance_myriad">万</span><!--
                --><span ng-if="!loan.balance_myriad">元</span>
            </span>
            <span class="pull-right"
                  ng-init="invest_rule_max_amount = loan.raw.loanRequest.investRule.maxAmount"
            >
                投资限额：
                <span ng-if="invest_rule_max_amount >= 10000">
                    {{ invest_rule_max_amount / 10000 }}万
                </span>
                <span ng-if="invest_rule_max_amount < 10000">
                    {{ invest_rule_max_amount }}元
                </span>
            </span>
        </div>
    </section>

    <form class="form-horizontal container form-invest"
          name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          ng-submit="self.submit($event)"
    >
        <div class="form-group">
            <label class="col-xs-3">账户余额:</label>
            <div class="col-xs-5 omit-padding available-amount">
                <span class="num">{{ self.user.fund.availableAmount | number }}</span>元
            </div>
            <div class="col-xs-4 omit-padding">
                <button type="button"
                        class="btn btn-sm btn-polish"
                        ng-click="store.amount = self.amount_polishing(self.user.fund.availableAmount); self.fetch_analyse(store.amount)"
                >全投</button>
                <a class="btn btn-sm btn-recharge" ng-href="dashboard/recharge?next={{ self.page_path }}">充值</a>
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-xs-3">投资金额:</label>
            <div class="col-xs-5 omit-padding">
                <input class="form-control input-sm"
                       type="number"
                       id="amount"
                       name="amount"
                       ng-model="store.amount"
                       ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                       placeholder=""
                       required
                >
            </div>
            <div class="col-xs-4 omit-padding earning" ng-show="form.amount.$valid">
                预期收益 <span class="num">{{ earning | number: 2 }}</span>元
            </div>
        </div>

        <div class="form-group rule">
            <div class="col-xs-offset-3">
                {{ loan.raw.loanRequest.investRule.minAmount | number }}元起，
                {{ loan.raw.loanRequest.investRule.stepAmount | number }}的倍数递增
            </div>
        </div>

        <div class="form-group">
            <label for="coupon" class="col-xs-3">使用红包:</label>
            <div class="col-xs-5 omit-padding">
                <select name="placementId" class="form-control input-sm"
                        id="coupon"
                        ng-model="store.coupon"
                        ng-options="
                            coupon.display
                            for coupon in coupon_list
                            track by coupon.id
                        "
                        ng-click="self.pick_up_coupon($event, store.amount)"
                        ng-if="coupon_list.length"
                >
                    <option value="">{{ coupon_list.length }}个红包可用</option>
                </select>

                <div class="coupon-tip" ng-if="!coupon_list.length">暂无红包可用</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-xs-3">交易密码:</label>
            <div class="col-xs-5 omit-padding">
                <input class="form-control input-sm"
                       type="password"
                       id="password"
                       name="password"
                       ng-model="store.password"
                       placeholder=""
                       required
                >
            </div>
        </div>

        <div class="text-center agreement">
            <label>
                <input type="checkbox" ng-init="agreement = true" ng-model="agreement" required>
                我同意 <a href="#" ng-click="self.agreement('新毅金融投资协议')">《新毅金融投资协议》</a>
            </label>
        </div>

        <p class="action">
            <button type="submit" class="btn btn-invest btn-lg btn-block"
                    ng-disabled="form.$invalid || self.submit_sending"
            >立即支付</button>
        </p>
    </form>

</div>









<script type="text/ng-template" id="ngt-invest-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-short-of-balance.tmpl">
    <div class="modal-header text-center">
        <h3 class="modal-title">账户余额不足</h3>
    </div>

    <div class="modal-body text-center">
        当前账户余额{{ balance | number }}元，最小投资额{{ minimum | number }}元
    </div>

    <div class="modal-footer container">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-block btn-default" ng-click="$close()">
                    调整金额
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-block btn-theme" ng-click="$dismiss('dashboard/recharge')">
                    快速充值
                </button>
            </div>
        </div>
    </div>
</script>
