
<div id="loan-info">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-8 title">{{ loan.title }}</span>
        <span class="col-xs-2">&nbsp;</span>
    </div>
    </nav>

    <div class="text-center btn-group-wrap">
        <div class="btn-group">
            <a class="btn btn-tab"
               ng-class="{ selected: current_tab === 'security' }"
               ng-click="self.goto_tab('security')"
            >安全保障</a>
            <a class="btn btn-tab"
               ng-class="{ selected: current_tab === 'profit' }"
               ng-click="self.goto_tab('profit')"
            >收益方式</a>
            <a class="btn btn-tab"
               ng-class="{ selected: current_tab === 'faq' }"
               ng-click="self.goto_tab('faq')"
            >常见问题</a>
        </div>
    </div>

    <div ng-switch="current_tab">
        <div ng-switch-when="security">
            <section class="loan-panel">
                <div class="content"
                     ng-bind-html="loan.raw.loanRequest.riskInfo | sanitize"
                ></div>
            </section>
        </div>

        <div ng-switch-when="profit">
            <section class="loan-panel">
                <div class="heading">
                    <h3 class="title">收益方式</h3>
                </div>
                <div class="content">
                    <div ng-switch="loan.method">
                        <span ng-switch-when="MonthlyInterest">按月付息到期还本</span>
                        <span ng-switch-when="EqualInstallment">按月等额本息</span>
                        <span ng-switch-when="EqualPrincipal">按月等额本金</span>
                        <span ng-switch-when="BulletRepayment">一次性还本付息</span>
                        <span ng-switch-when="EqualInterest">月平息</span>
                        <span ng-switch-when="YearlyInterest">按年付息到期还本</span>
                    </div>
                </div>
            </section>

            <section class="loan-panel">
                <div class="heading">
                    <h3 class="title">计划收益</h3>
                </div>

                <h5 class="container">
                    <span class="pull-left" ng-if="loan.estimated_value_date">
                        以 {{ loan.estimated_value_date | date: "yyyy-MM-dd" }} 计息为例
                    </span>
                    <span class="pull-right">单位:元</span>
                </h5>

                <table class="table u-off-margin-bottom">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th class="text-right">回款利息</th>
                            <th class="text-right">回款本金</th>
                            <th class="text-right">剩余本金</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in repayments">
                            <td>{{ item.due_date | date: "yy-MM-dd" }}</td>
                            <td class="text-right">{{ item.amount_interest | number: 2 }}</td>
                            <td class="text-right">{{ item.amount_principal | number: 2 }}</td>
                            <td class="text-right">{{ item.amount_outstanding | number: 2 }}</td>
                        </tr>
                    </tbody>
                </table>

                <div ng-hide="loading_repayments">
                    <div class="container" ng-if="!repayments.length">
                        <h4 class="alert alert-info text-center">暂无数据</h4>
                    </div>
                </div>

                <p class="text-center loading" ng-show="loading_repayments">
                    <img src="assets/image/spinner.gif">
                </p>
            </section>
        </div>

        <div ng-switch-when="faq">
            <section class="loan-panel">
                <div class="content"
                     ng-bind-html="loan.raw.loanRequest.description | sanitize"
                ></div>
            </section>
        </div>
    </div>

</div>
