
<div id="loan-info" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </span>
        <span class="col-xs-6 title">项目信息</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="info-list">
        <div class="item">
            <h4 class="title hidden">项目信息</h4>
            <div class="content"
                 ng-bind-html="loan.raw.loanRequest.description | sanitize"
            ></div>
        </div>

        <div class="item" x-gyro-comment>
            <h4 class="title">风控信息</h4>
            <div class="content"
                 ng-bind-html="loan.raw.corporationName | sanitize"
            ></div>
        </div>

        <div class="item" x-gyro-comment>
            <h4 class="title">安全保障</h4>
            <div class="content"
                 ng-bind-html="loan.raw.loanRequest.riskInfo | sanitize"
            ></div>
        </div>
    </section>

</div>
