
<div id="loan-invest">
    <style> body { background-color: #FFF; } </style>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-8 title">{{ loan.title }}</span>
        <span class="col-xs-2">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            PAYMENT_PWD_NOT_MATCHED: '交易密码错误',
            INVALID_MOBILE_CAPTCHA: '无效的手机验证码',
            DEPOSIT_FAILED: '充值失败',
            LOAN_NOT_FOUND: '标的未找到',
            SURVEY_FILLING_NOT_FOUND: '用户问卷记录为空',
            BID_NOT_OPEN: '标的没有开始募集,或已募集结束',
            BID_NO_BALANCE: '已满标',
            BID_EXCEED_TIMES_LIMIT: '投标次数超过上限',
            BID_EXCEED_PRODUCT_TIMES_LIMIT: '投标次数超过产品类型上限',
            BID_EXCEED_TOTAL_AMOUNT_LIMIT: '投标总金额超过上限',
            BID_EXCEED_PRODUCT_TOTAL_AMOUNT_LIMIT: '投标总金额超过产品类型上限',
            BID_EXCEED_SINGLE_AMOUNT_LIMIT: '投标单次金额超过上限',
            BID_REDUNDANT: '重复投标',
            USER_BALANCE_INSUFFICIENT: '账户可用余额不足',
            FROZEN_FAILED: '冻结用户账户余额失败',
            INVALID_AMOUNT: '投资金额不合规，请查看产品说明',
            SELF_BID_FORBIDDEN: '不能投给自己的标的',
            BID_FORBIDDEN: '不满足投标条件',
            FAILED: '投资失败，请重试',
            BID_USER_NOT_FOUND: '投标用户不存在',
            ENTERPRISE_USER_BID_DISABLED: '不允许企业用户投标',
            COUPON_REDEEM_FAILED: '使用奖券失败',
            NO_ENOUGH_BALANCE: '标的余额不足',
            CALL_WITHDRAWREQUEST_FAILED: '提现申请失败',
            PAID_FAILED: '充值失败',

            INCORRECT_PASSWORD: '交易密码不正确',
            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <form class="form-horizontal form-invest"
          name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          ng-submit="self.submit($event)"
          ng-hide="action_result"
    >
        <section class="summary shadow">
            <div class="info">
                <span class="name">请输入投资金额</span>
                <span class="value">
                    剩余可投资(元)
                    <span class="u-color-main">{{ loan.balance | number }}</span>
                </span>
            </div>
        </section>

        <section class="invest-input">
            <div class="earning" ng-class="{ invisible: !form.amount.$valid }">
                预期收益(元) <span class="u-color-main">{{ earning | number: 2 }}</span>
            </div>

            <div class="form-control-wrap">
                <param class="icon icon-minus"
                       ng-click="store.amount = self.amount_polishing(store.amount - loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                       ontouchstart
                >

                <input name="amount"
                       id="amount"
                       ng-model="store.amount"
                       ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                       type="number"
                       class="form-control"
                       ng-init="min_amount = loan.raw.loanRequest.investRule.minAmount"
                       placeholder="{{
                            min_amount >= 10000
                            ? (min_amount / 10000 + '万')
                            : (min_amount | number)
                       }}元起投，{{ loan.raw.loanRequest.investRule.stepAmount | number }}元递增"
                       required
                >

                <param class="icon icon-plus"
                       ng-click="store.amount = self.amount_polishing(store.amount + loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                       ontouchstart
                >
            </div>
        </section>

        <section>
            <ul class="list-unstyled u-off-margin-bottom list">
                <li>
                    <div class="info">
                        <span class="name">账户余额(元)</span>
                        <span class="value text-left">
                            <span class="u-color-main">
                                {{ self.user.fund.availableAmount | number: 2 }}
                            </span>
                        </span>
                        <span class="action">
                            <label>
                                使用 <input type="checkbox" ng-init="store.isUseBalance = true" ng-model="store.isUseBalance">
                            </label>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <span class="name">银行卡</span>
                        <span class="value text-muted" ng-if="default_bank_account">
                            {{ default_bank_account.account.bankName }}
                            {{ default_bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                        </span>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <span class="name">红包</span>
                        <span class="value">
                            <div class="coupon-wrap"
                                 ng-class="{ rsaquo: coupon_list.length }"
                                 ng-click="coupon_list.length && self.select_coupon($event, store)"
                            >
                                <select name="placementId" class="form-control"
                                        id="coupon"
                                        ng-model="store.coupon"
                                        ng-options="
                                            coupon.display
                                            for coupon in coupon_list
                                            track by coupon.id
                                        "
                                        ng-if="coupon_list.length"
                                >
                                    <option value="">{{ coupon_list.length }}个红包可用</option>
                                </select>

                                <div class="hint" ng-if="!coupon_list.length">暂无红包可用</div>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
        </section>

        <section class="container agreement">
            <label>
                <input type="checkbox" ng-init="agreement = true" ng-model="agreement" required>
                我阅读并同意
                <a href="#" ng-click="self.agreement('风险提示书')">《风险提示书》</a>、
                <a ng-href="/api/v2/loan/loanRequest/{{ loan.raw.loanRequest.id }}/bind/template" target="_blank">《产品购买协议》</a>
            </label>
        </section>

        <section class="container text-center actual-payment-amount">
            实际支付金额(元) ：<span ng-show="form.amount.$valid">{{ actual_payment_amount | number: 2 }}</span>
        </section>

        <section class="btn-submit-wrap" ng-switch="loan.status">
            <button type="submit" class="btn btn-theme btn-lg btn-block"
                    ng-switch-when="OPENED"
                    ng-disabled="form.$invalid || self.submit_sending"
            >{{ self.submit_sending ? '投资中...' : '确认投资' }}</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="SCHEDULED"
                    disabled
            >即将开始</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="FINISHED"
                    disabled
            >已售罄</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="FAKESETTLED"
                    disabled
            >已售罄</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="FAILED"
                    disabled
            >已售罄</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="SETTLED"
                    disabled
            >计息中</button>

            <button type="submit" class="btn btn-plain btn-lg btn-block"
                    ng-switch-when="CLEARED"
                    disabled
            >已结息</button>
        </section>
    </form>






    <div class="action-result" ng-show="action_result">
        <div ng-show="action_result.success">
            <div class="content text-center shadow">
                <div class="icon-wrap">
                    <img class="icon" width="66" ng-src="assets/image/smile-icon.png">
                </div>

                <p class="desc">支付成功</p>
            </div>

            <div class="detail text-center">
                <p>您已成功投资 {{ store.amount | number: 2 }}元</p>
                <p>预计到期收益 {{ earning | number: 2 }}元</p>
            </div>

            <div class="action">
                <a class="btn btn-theme btn-block"
                   ng-click="
                       self.$location
                           .replace()
                           .path('list')
                   "
                >继续投资</a>
                <a class="btn btn-plain btn-block"
                   ng-click="
                       self.$location
                           .replace()
                           .path('dashboard/invest')
                   "
                >查看投资详情</a>
            </div>
        </div>

        <div ng-hide="action_result.success">
            <div class="content text-center shadow">
                <div class="icon-wrap">
                    <img class="icon" width="66" ng-src="assets/image/unhappy-icon.png">
                </div>

                <p class="desc text-muted">支付失败</p>

                <p class="msg">{{ action_result.msg }}</p>
            </div>

            <div class="action">
                <a class="btn btn-theme btn-block" href=""
                   ng-click="action_result = null"
                >重新支付</a>
            </div>
        </div>
    </div>

</div>








<script type="text/ng-template" id="ngt-invest-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-short-of-balance.tmpl">
    <div class="modal-header text-center">
        <h3 class="modal-title">账户余额不足</h3>
    </div>

    <div class="modal-body text-center">
        当前账户余额{{ balance | number }}元，最小投资额{{ minimum | number }}元
    </div>

    <div class="modal-footer container">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-block btn-default" ng-click="$close()">
                    调整金额
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-block btn-theme" ng-click="$dismiss('dashboard/recharge')">
                    快速充值
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-select-coupon.tmpl">
    <div id="loan-invest-select-coupon">

        <style> body { background-color: #EEEEEF !important; } </style>

        <nav class="omit-margin container page-nav">
        <div class="row">
            <a class="col-xs-3 back" ng-click="$close()">
                <param class="glyphicon glyphicon-menu-left">
            </a>
            <span class="col-xs-6 title">红包</span>
            <span class="col-xs-3">&nbsp;</span>
        </div>
        </nav>

        <section class="coupons">
            <ul class="list-unstyled u-off-margin-bottom coupon-list">
                <li class="shadow item"
                    ng-repeat="item in coupon_list"
                    ng-class="[ 'item-status-' + (item.status | lowercase) ]"
                    ng-click="item.status != 'DISABLED' && select(item); $close()"
                >
                    <div class="media">
                        <div class="media-left media-middle text-center">
                            <div class="value" ng-switch="item.couponPackage.type">
                                <span ng-switch-when="INTEREST">
                                    <span class="num">{{ item.couponPackage.parValue / 100 }}</span>
                                    <span class="unit">%</span>
                                </span>
                                <span ng-switch-default>
                                    <span ng-if="item.couponPackage.parValue >= 10000">
                                        <span class="num">{{ item.couponPackage.parValue / 10000 | number }}</span>
                                        <span class="unit">万</span>
                                    </span>
                                    <span ng-if="item.couponPackage.parValue < 10000">
                                        <span class="num">{{ item.couponPackage.parValue | number }}</span>
                                        <span class="unit">元</span>
                                    </span>
                                </span>
                            </div>

                            <div class="type" ng-switch="item.couponPackage.type">
                                <span ng-switch-when="CASH">现金券</span>
                                <span ng-switch-when="INTEREST">加息券</span>
                                <span ng-switch-when="PRINCIPAL">增值券</span>
                                <span ng-switch-when="REBATE">返现券</span>
                            </div>
                        </div>

                        <div class="media-body">
                            <div class="desc">
                                最低投资额：{{ item.couponPackage.minimumInvest | number }} 元
                            </div>

                            <div class="desc">
                                说明：{{ item.couponPackage.description || '暂无描述' }}
                            </div>

                            <div class="expire">
                                <span ng-if="item.couponPackage.timeExpire">
                                    过期时间：{{ item.couponPackage.timeExpire | date: "yyyy-MM-dd" }}
                                </span>
                                <span ng-if="!item.couponPackage.timeExpire">永不过期</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </div>
</script>
