.page-guide{
    width: 1200px;
    margin: auto;
}
.aboutus-title{
    padding-top: 20px;
    font-size: 16px;
}
.aboutus {
    background-color: #fbfbfb;
    border: 1px solid #c2c2c2;
    padding-top: 50px;
}

.aboutus_center {
    width: 1100px;
    margin: auto;
}

.aboutus_tab {
    overflow: hidden;
    margin-bottom: 57px;
    height: 974px;
    padding-top: 20px;
}

.aboutus_tab .tab_left {
    float: left;
    width: 198px;
    background-color: #fff;
    height: 100%;
    margin-right: 20px;
}

.aboutus_tab .tab_left li {
    text-align: center;
    border-top: 1px solid #f5f5f5;
    padding: 10px 0;
}

.aboutus_tab .tab_left li a {
    font-size: 18px;
    color: #666666;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    font-weight: normal;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 34px center;
}

.aboutus_tab .tab_left li a:hover,
.aboutus_tab .tab_left .active a{
    text-decoration: none;
    color: #ef9c2c;
    border-left: 4px solid #ef9c2c;
    background-position: 30px center;
    background-repeat: no-repeat;
}
.aboutus_tab .tab_right {
    float: left;
    width: 932px;
    height: 100%;
    background-color: #fff;
}
.tab_right_title{
    border-bottom: 1px dashed #ccc;
    font-size: 20px;
    line-height: 60px;
    padding-left: 32px;
}
.aboutus_tab .tab_right .tab-pane {}

.aboutus_tab .tab_right .tab-pane h2 {
    font-size: 18px;
    color: #d2ac65;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    margin-top: 15px;
}

/*CMS样式*/
.tab_right .list_each .circle{
    float: left;
    width: 10px;
    height: 10px;
    background: #000;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 6px;
}
.tab_right .list_each li{
    overflow: hidden;
    margin: 0px 45px;
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
}
.list-title{
    float: left;
    font-size: 16px;
    color: #666;
}
.list-date{
    float: right;
    font-size: 16px;
    color: #666;
}
.tab_right ul a:hover div{
    color: #ef9c2c;
}
.tab_right ul a:hover .circle{
    background-color: #ef9c2c;
}

/*分页样式*/

.invest-pager {font-size: 0;
    float: right;
    margin-top: 40px;
    
}

.invest-pager li {
    display: inline-block;
    padding: 0px 12px;
    border: 1px #eeeeee solid;
}

.invest-pager li a {
    display: inline;
    font-size:14px;
    color: #7e838e;;
    line-height: 33px;
}

.invest-pager li a img {
    margin-top: -5px;
}

.invest-pager .current-page,
.invest-pager li:hover{
    background-color: #f1f1f1;
}

.footer-record{
    float: right;
    margin: 48px 60px 0 20px;
}
/*平台介绍*/
.ptjs_content{
    margin: 0 33px;
    counter-reset:section;
}
.ptjs_content h3{
    font-family: '';
    color: #666;
    margin-top: 30px;
    margin-bottom: 10px;    
}
.ptjs_content h3:before{
    counter-increment: section;
    content: counter(section);
    background-color: #f8b62b;
    padding: 4px 7px;
    border-radius: 20px;
    color: #fff;
    margin-right: 6px;

}
.ptjs_content p{
    line-height: 24px;
}
.ptjs_content_step3{
    margin: auto;
    overflow: hidden;
    font-family: '';
    margin-top: 30px;
}
.ptjs_content_step3 span{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.ptjs_content_step3 img{
    width: 80px;
    margin: auto;
    display: block;
}
.ptjs_content .common{
    width: 426px;
    height: 70px;
    border: 2px solid #a4c98b;
    margin: auto;
    border-radius: 4px;
    padding: 1px;
}
.line{
    overflow: hidden;
    margin: auto;
    width: 400px;
}
.ptjs_content .line1{
    width: 140px;
    height: 2px;
    background-color: #a4c98b;
    transform: rotate(145deg);
    margin: 70px auto;
    float: left;
}
.ptjs_content .line2{
    width: 140px;
    height: 2px;
    background-color: #a4c98b;
    transform: rotate(35deg);
    margin: 70px auto;
    float: left;
    margin-left: 100px;
}
.ptjs_content .last{
    position: relative;
    margin-top: 30px;
}
.ptjs_content .last1{
    position: absolute;
    left: 152px;
    top: -85px;
}
.ptjs_content .last2{
    position: absolute;
    right: 172px;
    top: -94px;
}
.ptjs_content .last .common{
    float: left;
}
.ptjs_content .last .income{
    margin-left: 12px;
    padding: 10px 12px;
}
/*安全保障*/
.centent-nr{
    margin: 0 30px 30px;
    line-height: 22px;
    min-height: 500px;
}
.the-aqbz {
    color: #666;
    font-size: 14px;
    height: auto;
    margin: 40px auto 50px;
    overflow: hidden;
    width: 90%;
}
.the-aqbz span {
    font-weight: bold;
}
/*办公地址*/
.bgcd {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.bgcd img {
    display: block;
    margin: 30px auto;
}
.bgcd p {
    font-size: 16px;
    color: #666;
    text-indent: -80px;
    padding-left: 180px;
}
.bgcd p span {
    color: #333;
    font-weight: bold;
}

/*高管团队*/
.ggtd-nr {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.ggtd-nr ul {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.ggtd-nr ul li {
    width: 46%;
    height: 240px;
    overflow: hidden;
    float: left;
    margin-left: 3%;
    border-bottom: 0px;
    margin-top: 30px;
}
.ggtd-nr ul li .div-1 {
    width: 100%;
    height: 82px;
    overflow: hidden;
    position: relative;
}
.ggtd-nr ul li .div-1 img {
    display: block;
    width: 82px;
    height: 82px;
    overflow: hidden;
    border-radius: 90px;
}
.ggtd-nr ul li .div-1 p {
    position: absolute;
    left: 90px;
    top: 15px;
    font-size: 14px;
    color: #333;
}
.ggtd-nr ul li .div-1 p span {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
}
.ggtd-nr ul li .div-2 {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    line-height: 200%;
    padding: 0px 10px;
}
/*联系我们*/
.lxwm_content{
    height: 500px;
    width: 450px;
    background: url(/ccc/aboutus/img/contact.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    padding-top: 60px;
    margin-top: 40px;
    font-family: '宋体';
    font-size: 18px;
    line-height: 36px;
    padding-left: 100px;
}
.lxwm_content span{
    color: #000;
}