.page-guide{
    width: 1200px;
    margin: auto;
}
.aboutus-title{
    padding: 30px 0px;
    font-size: 16px;
}
.aboutus {
    background-color: #fbfbfb;
    border: 1px solid #c2c2c2;
    padding-top: 50px;
}

.aboutus_center {
    width: 1100px;
    margin: auto;
}

.aboutus_tab {
    overflow: hidden;
    margin-bottom: 57px;
    height: 974px;
    padding-top: 20px;
}

.aboutus_tab .tab_left {
    float: left;
    width: 198px;
    background-color: #fff;
    height: 100%;
    margin-right: 20px;
}

.aboutus_tab .tab_left li {
    text-align: center;
    border-top: 1px solid #f5f5f5;
    padding: 10px 0;
}

.aboutus_tab .tab_left li a {
    font-size: 18px;
    color: #666666;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    font-weight: normal;
    width: 100%;
}

.aboutus_tab .tab_left li a:hover {
    text-decoration: none;
    color: #ef9c2c;
    border-left: 4px solid #ef9c2c;
    background-color: #fff;
}

.aboutus_tab .tab_left .active a {
    text-decoration: none;
    color: #ef9c2c;
    border-left: 4px solid #ef9c2c;
    background-color: #fff;
}
.aboutus_tab .tab_left .active.ptjs a,
.aboutus_tab .tab_left .ptjs a:hover{
    background: url(/ccc/aboutus/img/ptjs_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.ptgg a,
.aboutus_tab .tab_left .ptgg a:hover{
    background: url(/ccc/aboutus/img/ptgg_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.aqbz a,
.aboutus_tab .tab_left .aqbz a:hover{
    background: url(/ccc/aboutus/img/aqbz_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.fwxy a,
.aboutus_tab .tab_left .fwxy a:hover{
    background: url(/ccc/aboutus/img/fwxy_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.ggtd a,
.aboutus_tab .tab_left .ggtd a:hover{
    background: url(/ccc/aboutus/img/ggtd_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.lxwm a,
.aboutus_tab .tab_left .lxwm a:hover{
    background: url(/ccc/aboutus/img/lxwm_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.bgcd a,
.aboutus_tab .tab_left .bgcd a:hover{
    background: url(/ccc/aboutus/img/bgcd_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_left .active.mtbd a,
.aboutus_tab .tab_left .mtbd a:hover{
    background: url(/ccc/aboutus/img/mtbd_active.png) no-repeat 30px center;
}
.aboutus_tab .tab_right {
    float: left;
    width: 932px;
    height: 100%;
    background-color: #fff;
}
.tab_right_title{
    border-bottom: 1px dashed #ccc;
    font-size: 20px;
    line-height: 60px;
    padding-left: 32px;
}
.aboutus_tab .tab_right .tab-pane {}

.aboutus_tab .tab_right .tab-pane h2 {
    font-size: 18px;
    color: #d2ac65;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    margin-top: 15px;
}

/*CMS样式*/
.tab_right .list_each .circle{
    float: left;
    width: 10px;
    height: 10px;
    background: #000;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 6px;
}
.tab_right .list_each li{
    overflow: hidden;
    margin: 0px 45px;
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
}
.list-title{
    float: left;
    font-size: 16px;
    color: #666;
}
.list-date{
    float: right;
    font-size: 16px;
    color: #666;
}
.tab_right ul a:hover div{
    color: #ef9c2c;
}
.tab_right ul a:hover .circle{
    background-color: #ef9c2c;
}

/*分页样式*/

.invest-pager {font-size: 0;
    float: right;
    margin-top: 40px;
    
}

.invest-pager li {
    display: inline-block;
    padding: 0px 12px;
    border: 1px #eeeeee solid;
}

.invest-pager li a {
    display: inline;
    font-size:14px;
    color: #7e838e;;
    line-height: 33px;
}

.invest-pager li a img {
    margin-top: -5px;
}

.invest-pager .current-page,
.invest-pager li:hover{
    background-color: #f1f1f1;
}
.footer-record{
    float: right;
    margin: 48px 60px 0 20px;
}