.coupon-content {
    background: #fff;
    min-height: 748px;
    padding-top: 20px;
}
.coupon-content .coupon-nav {
    font-size: 24px;
    color: #ad8a58;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #dcdcdc;
    margin-right: 27px;
}
.coupon-content .coupon-nav p {
    color: #4a90e2;
    font-size: 14px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.coupon-content .coupon-nav img {
    padding-right: 8px;
    margin-top: -2px;
}
.coupon-content .coupon-nav-view {
    margin: 30px 0;
}
.coupon-content .coupon-nav-view ul {
    /*margin: 0 60px;*/
}
.coupon-content .coupon-nav-view .selectTitle {
    width: 100px;
    color: #4a4a4a;
    float: left;
    padding-top: 12px;
    font-size: 14px;
}
.coupon-content .coupon-nav-view ul li {
    /*width: 230px;*/
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    background: #bb9f6a;
    height: 40px;
}
.coupon-content .coupon-nav-view ul li:hover,
.coupon-content .coupon-nav-view ul li.active {
    box-shadow: 0px 7px 6px -4px #ccc;
    background: #fff;
}
.coupon-content .coupon-nav-view ul li:hover a {
    color: #d60303;
    /*padding: 0 24px;*/
}
.coupon-content-detail {
    clear: both;
    /*margin-left: 60px;*/
}
.ccc-tab > ul.ttabs > li a {
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    margin: 10px 0;
    padding: 0 100px;
}
.ccc-tab > ul.ttabs > li a:hover,
.ccc-tab > ul.ttabs > li a:focus {
    /*	color: #fff;*/
}
.ccc-tab > ul.ttabs .active {
    border-bottom: none;
    margin-bottom: 0px;
}
.ccc-tab > ul.ttabs .active a {
    color: #d60303;
    padding: 0 100px;
}
.ccc-tab > ul.stabs > li a {
    text-decoration: none;
    margin: 0;
    color: #999;
}
.ccc-tab > ul.stabs > li a:hover,
.ccc-tab > ul.stabs > li a:focus {
    /*	color: #fff;*/
    text-decoration: none;
    background-color: #009ada;
    border-radius: 2px;
    margin: 0;
}
.ccc-tab > ul.stabs .active {
    border-bottom: none;
    margin-bottom: 0px;
}
.ccc-tab > ul.stabs .active a {
    background-color: #009ada;
    /*	color: white;*/
    border-radius: 2px;
    border-bottom: none;
    margin-bottom: 0px;
    text-decoration: none;
}
/*jo*/

.couponWrapper {
    color: #fff;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 20px;
    margin-left: 0;
    box-shadow: 0px 4px 4px -3px #999;
}
.couponWrapper:last-child {
    margin-right: 0px;
}
/*返现*/
.couponWrapper .REBATE {
    /*background: url(/ccc/newAccount/img/coupon/rebate-bg.png ) no-repeat;*/
    background: url(/ccc/newAccount/img/coupon/coupon-bg.png) no-repeat;
    position: relative;
    width: 306px;
    height: 190px;
}
/*增值券*/
.couponWrapper .PRINCIPAL {
    /*background: url(/ccc/newAccount/img/coupon/principal-bg.png ) no-repeat;*/
    background: url(/ccc/newAccount/img/coupon/coupon-bg.png) no-repeat;
    position: relative;
    width: 306px;
    height: 190px;
}
/*现金券*/
.couponWrapper .CASH {
    /*background: url(/ccc/newAccount/img/coupon/cash-bg.png ) no-repeat;*/
    background: url(/ccc/newAccount/img/coupon/coupon-bg.png) no-repeat;
    position: relative;
    width: 306px;
    height: 190px;
}
/*加息券*/
.couponWrapper .INTEREST {
    /*background: url(/ccc/newAccount/img/coupon/interest-bg.png ) no-repeat;*/
    background: url(/ccc/newAccount/img/coupon/coupon-bg.png) no-repeat;
    position: relative;
    width: 306px;
    height: 190px;
}
/*用过的券*/
.couponWrapper .used {
    /*background: url(/ccc/newAccount/img/coupon/cash-bg.png ) no-repeat;*/
    background: url(/ccc/newAccount/img/coupon/coupon-ug.png) no-repeat;
    position: relative;
    width: 306px;
    height: 190px;
}
.couponWrapper .header {
    line-height: 46px;
    margin-left: 20px;
    color: #bb9f6a;
    font-size: 24px;
}
/*用过的劵的样式*/
.couponWrapper .used .header {
    line-height: 46px;
    margin-left: 20px;
    color: white;
    font-size: 24px;
}
.couponWrapper .header span {
    font-size: 12px;
}
.couponWrapper .valueText {
    font-size: 44px;
    text-align: center;
    color: #e4262b;
    padding: 12px 0;
    border-bottom: 1px solid #d8d8d8;
    margin-left: 1px;
}
/*用过的劵的样式*/
.couponWrapper .used .valueText {
    font-size: 44px;
    text-align: center;
    color: #bfbfbf;
    padding: 12px 0;
    border-bottom: 1px solid #d8d8d8;
    margin-left: 1px;
}
.CASH .valueText {
    background: url(/ccc/newAccount/img/coupon/icon_cash.png) no-repeat center;
}
.INTEREST .valueText {
    background: url(/ccc/newAccount/img/coupon/icon_interest.png) no-repeat center;
}
.PRINCIPAL .valueText {
    background: url(/ccc/newAccount/img/coupon/icon_interest.png) no-repeat center;
}
.couponWrapper .valueText .exchange {
    background: #5bc0de;
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    font-size: 12px;
    position: absolute;
    top: 100px;
    right: 10px;
}
.couponWrapper-bottom {
    margin: 10px;
}
.couponWrapper-bottom .description {
    color: #666;
    font-size: 12px;
    overflow: hidden;
}
.couponWrapper .couponTitle {
    position: absolute;
    left: 113px;
    top: 27px;
}
.couponWrapper .couponTitle .couponTitle-left {
    float: left;
}
.couponWrapper .couponTitle .couponTitle-right {
    /*	float: right;*/
}
.clear {
    clear: both;
}
.ccc-paging {
    margin: 20px auto;
    width: 300px;
}
.ccc-paging > div {
    float: left;
    min-width: 25px;
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    /*	line-height: 25px;*/
    cursor: pointer;
    margin: 0px 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}
.ccc-paging > div:hover {
    border: 1px #eeeeee solid;
    background-image: none;
    background-color: #009ada;
    color: #fff;
}
.ccc-paging .currentPagewra {
    width: 31px;
    height: 32px;
    padding-right: 2px;
    text-align: center;
    /*    margin: 0;*/
    position: relative;
}
.ccc-paging .currentPagewra .currentPage:hover {
    color: #fff;
}
.ccc-paging .active {
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #2A375F;
}
.ccc-paging .clear {
    border: none;
}
.ccc-paging span {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    /*	margin: 0 5px;*/
    cursor: pointer;
    border: none;
    /*    padding: 8px 11px;*/
    position: absolute;
    top: 0px;
    left: -5px;
}
.no-coupon {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background: url(/ccc/newAccount/img/icon_none.png) center 75px no-repeat;
}
.no-coupon p {
    display: none;
    text-align: center;
    padding-top: 155px;
}
.panel-PLACED .placedNo {
    display: block;
}
.panel-REDEEMED .redeemedNo {
    display: block;
}
.panel-EXPIRED .expiredNo {
    display: block;
}
.invest-pager li {
    display: inline-block;
    margin: 0 3px;
}
.invest-pager li a:hover {
    color: #fff;
    background: #bb9f6a;
}
.invest-pager li a {
    padding: 5px 11px;
    border: 1px #eeeeee solid;
    text-decoration: none;
    background-color: #fefefe;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
}
.invest-pager .current-page a {
    background-color: #bb9f6a;
    color: #fff;
    border: 1px #bb9f6a solid;
}
#coupon-pager {
    text-align: center;
    margin-top: 20px;
    margin-right: 45px;
}
.coupon-used {
    background: url(/ccc/newAccount/img/coupon/coupon-used.png) no-repeat;
    width: 80px;
    height: 80px;
}
.coupon-expired {
    background: url(/ccc/newAccount/img/coupon/coupon-expired.png) no-repeat;
    width: 80px;
    height: 80px;
}
/*红包规则*/
.coupon_rule {
    display: none;
    width: 850px;
    margin: 30px auto;
}
.coupon_rule_nav {
    background: #eee;
    padding: 0 20px;
    line-height: 45px;
}
.coupon_rule_nav span {
    font-size: 18px;
    color: #000;
}
.coupon_rule_nav .back {
    float: right;
    color: #4a90e2;
    font-size: 14px;
    cursor: pointer;
}
.coupon_rule_nav .back img {
    padding-right: 8px;
    margin-top: -2px;
}
.coupon_rule ul {
    margin: 30px;
    color: #999;
}
.coupon_rule ul li {
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.coupon_rule ul li span {
    color: #f8b62b;
    letter-spacing: 2px;
}