
.account-risk-wrapper{
    margin-right: 27px;
}
h3{
    font-size: 24px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
    padding: 35px 0;
}
.risk-content {
    background: #fff;
    min-height: 748px;
    padding-top: 20px;
}

.risk-content .risk-nav {
    font-size: 24px;
    color: #ad8a58;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #dcdcdc;
    /*margin-right: 27px;*/
}
.risk-content .risk-nav p{
    color: #666;
    font-size: 14px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}


.question-box .tip p{
    margin-left: 10px;
    margin-right: 10px;
    line-height: 22px;
}
.question-box .tip .red{
    color: #da0000;
    margin-top: 20px;
    margin-bottom: 10px;
}
.question-content{
    border: 1px solid #d2d2d2;
    margin-top: 25px;
    padding: 25px;
}
.question-content .title{
    font-size: 15px;
    padding: 10px 0;
    padding-left: 4px;
    margin-top: 5px;
}
.question-content ul{
    overflow: hidden;
    padding-left: 4px;
}
.question-content ul li {
    float: left;
    padding-right: 120px;
    margin: 5px 0;
}
.question-content ul li input{
    margin-right: 5px;
}
.submit_btn{
    width: 145px;
    margin: auto;
    margin-top: 26px;
}
.submit_btn button{
    width: 145px;
    height: 45px;
    background: #e4262b;
    border: none;
    color: #fff;
    font-size: 18px;
}




.result-box{
    margin-top: 50px;
}
.result-box .header{
    overflow: hidden;
    margin-left: 20px;
}
.result-box .header .type{
    float: left;
    font-size: 18px;
    background: url("/ccc/newAccount/img/icon_risk.png") no-repeat left 2px;
    padding-left: 33px;
    margin-top: 11px;
}
.result-box .header .type span{
    color:#e70202;
    font-size:24px;
}
.result-box .header .btn{
    float: right;
    margin-right: 14px;
}
.result-box .header button{
    width: 144px;
    height: 35px;
    background: #1D6ED7;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}
.img-box{
    text-align: center;
    margin: 50px 0px 20px 10px;

}
.img-box .type{
    width: 260px;
    margin-right: 10px;
}
.img-box .declare{
    width: 664px;
}

.img-box .title{
    color: #fff;
    overflow: hidden;
    font-size: 20px;
}
.img-box .title .common{
    float: left;
    background: #999;
    padding: 10px 0;
}
.img-box .detail{
    overflow: hidden;
}
.img-box .detail .common{
    float: left;
    /*background: #eeeeee;*/
    height: 74px;
    margin-top: 7px;
    margin-right: 12px;
}
.img-box .detail .type{
    font-size: 20px;
    padding: 18px;
    margin-right: 0;
    width: 240px;
    margin-left: 10px;
    background: #eeeeee;
    height: 74px;
}
.img-box .detail .declare{
    font-size: 14px;
    text-align: left;
    padding: 10px 24px;
    line-height: 26px;
    width: 662px;
    background: #eeeeee;
}
.img-box .detail .red{
    border-left: 10px solid #e6474a;
}
.img-box .detail .orange{
    border-left: 10px solid #e65e2e;
}
.img-box .detail .yellow{
    border-left: 10px solid #f7a633;
}
.img-box .detail .green{
    border-left: 10px solid #69b15d;
}
.img-box .detail .blue{
    border-left: 10px solid #006b9e;
}


.tip{
    margin-left: 10px;
    font-size: 12px;
}
.tip h5{
    color: #666;
    font-weight: bold;
}
.tip p{
    line-height: 30px;
}
.left{
    border: 1px solid #fff;
    border-bottom-color: #d9ba8e;
    width: 292px;
    display: inline-block;
    height: 20px;
    margin-left: 53px;
    position: relative;
    top: -6px;
}
.headline{
    width: 205px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #d9ba8e;
}
.right{
    border: 1px solid #fff;
    border-bottom-color: #d9ba8e;
    width: 292px;
    display: inline-block;
    height: 20px;
    position: relative;
    top: -6px;
}
.headlineTop{
    margin-top: 60px;
}