.passtitle {
    border-bottom: 2px dashed #dedede;
    padding-left: 46px;
}

.passtitle h2 {
    font-size: 22px;
    color: #575757;
    line-height: 76px;
}

.account-opened-wrapper {
    width: 400px;
    margin: 0 auto;
}

.account-info-row {
    height: 70px;
}

#main-container .label {
    height: 70px;
    line-height: 70px;
}

.value {
    width: 310px;
    height: 45px;
    line-height: 45px;
    text-indent: 20px;
    display: inline-block;
    border-radius: 5px;
}

p.tips {
    color: #999999;
}

.error-message {
    text-align: center;
    color: red;
    padding: 10px 0;
}

.nameAndId {
    display: inline;
}

.form-control_set {
    height: 45px;
    line-height: 45px;
    position: relative;
    top: 20px;
}

.isAu {
    margin-left: 180px;
}

.account-password-tab {
    border-bottom: 1px #ebebeb solid;
    margin-left: 46px;
    margin-top: 44px;
    padding-left: 26px;
}

.passTab {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-bottom: 14px;
    width: 120px;
}

.passTab a {
    display: inline-block;
    font-size: 12px;
    color: #737373;
    width: 84px;
    height: 28px;
    border-radius: 2px;
    line-height: 28px;
}

.PassTabActive {
    border-bottom: 3px #ef9c2c solid;
}

.PassTabActive a {
    background-color: #ef9c2c;
    color: #fff;
}



#main-container .updateWra .row {
    margin-left: 270px;
    margin-right: 0px;
}

#main-container .formwra .row {
    /*margin-left: 186px;*/
    margin-right: 0px;
    font-size: 0;
    overflow: hidden;
}

.updateWra,
.formwra {
    text-align: left;
}



#main-container .row {
    margin-bottom: 23px;
    margin-left: 0;
    margin-right: 0;
    /*margin-left: 186px;*/
}


.row .error {
    text-align: center;
    color: red;
}
/*重置支付密码*/
.resetWra {
    margin: 50px 0 0 50px;
}
.row .tipss {
    float: left;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    width: 46px;
    border: 1px solid #cdcdcd;
    color: #4a4a4a;
    background: url(/ccc/newAccount/img/recharge_pwd.png) no-repeat center center #fcfcfc;
}
.row .tipss_code{
    background: url(/ccc/newAccount/img/card-yanzheng.png) no-repeat center center #fcfcfc;

}
.btn-update {
    width: 200px;
    background-color: #e4262b;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    color: #fff;
    font-weight: normal;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
}

.btn-update:hover {
    color: #fff;
}
/*重置支付密码 结束*/
.wenanjiaoyi {
    font-size: 15px!important;
    color: #a3a3a3;
}

.wenanjiaoyi a span {
    color: #ef9d30;
    background: url(/ccc/newAccount/img/jiantoumima.png) no-repeat left center;
    padding-left: 20px;
}

.wenanjiaoyi a:hover {
    text-decoration: none;
}

.tabwra .tab li {
    cursor: pointer;
}

.tabwra .tab .active {
    color: #009ada;
    font-size: 16px;
}

.modify-password-wrapper {}

.cap {
    padding: 0;
    float: left;
    width: 112px;
    height: 48px;
    background-color: #f5f9f8;
    display: inline-block;
    margin-left: 20px;
}

.errorMessage {
    margin: 10px 0;
    color: red;
    text-indent: 70px;
    font-size: 12px;
    clear: both;
    line-height: 46px;
    padding-left: 10px;
}

.bank-card {
    width: 305px;
    height: 170px;
    border: 1px #eeeeee solid;
    border-radius: 5px;
    margin: 0 auto;
}

.card-img {
    width: 100%;
    height: 120px;
}

.card-num {
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
}

.btn-change-card,
.btn-change-card:hover {
    width: 150px;
    background-color: #009ada;
    border-color: #009ada;
    font-size: 16px;
}

.btn-change-card:hover {
    background-color: #0287be;
}

.descript p {
    color: #999999;
    font-size: 14px;
    text-align: left;
    padding: 2px 0;
}



.ABC {
    background-image: url(/ccc/global/img/banks/ABC.png);
}

.BCCB {
    background-image: url(/ccc/global/img/banks/BCCB.png);
}

.CCB {
    background-image: url(/ccc/global/img/banks/CCB.png);
}

.CIB {
    background-image: url(/ccc/global/img/banks/CIB.png);
}

.CITIC {
    background-image: url(/ccc/global/img/banks/CITIC.png);
}

.CMBC {
    background-image: url(/ccc/global/img/banks/CMBC.png);
}

.CMB {
    background-image: url(/ccc/global/img/banks/CMB.png);
}

.SPDB {
    background-image: url(/ccc/global/img/banks/SPDB.png);
}

.ICBC {
    background-image: url(/ccc/global/img/banks/ICBC.png);
}

.BOCOM {
    background-image: url(/ccc/global/img/banks/BOCOM.png);
}

.CEB {
    background-image: url(/ccc/global/img/banks/CEB.png);
}

.BOC {
    background-image: url(/ccc/global/img/banks/BOC.png);
}

.SRCB {
    background-image: url(/ccc/global/img/banks/SRCB.png);
}

.HXB {
    background-image: url(/ccc/global/img/banks/HXB.png);
}

.HKBEA {
    background-image: url(/ccc/global/img/banks/HKBEA.png);
}

.WZCB {
    background-image: url(/ccc/global/img/banks/WZCB.png);
}

.PAB {
    background-image: url(/ccc/global/img/banks/PAB.png);
}

.PSBC {
    background-image: url(/ccc/global/img/banks/PSBC.png);
}

.PINGAN {
    background-image: url(/ccc/global/img/banks/pingan.png);
}

.GDB {
    background-image: url(/ccc/global/img/banks/GDB.png);
}


/*个人信息*/

.account-userInfo-wrapper {
    position: relative;
    min-height: 600px;
}

.account-userInfo-wrapper .img-wrapper {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 200px;
}
.img-wrapperbn {
    margin: 0 auto;
    width: 840px;
    height: 240px;
    margin-top: 40px;
    background: url(/ccc/newAccount/img/visa.png) no-repeat center right;
}

.account-userInfo-wrapper .img-wrapper img {
    width: 100%;
}

.account-userInfo-tabs {
    height: 30px;
    border-bottom: 1px #cccccc solid;
}

.userInfo-tab {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 30px;
    color: #999999;
    cursor: pointer;
    line-height: 27px;
    font-size: 18px;
}

.tab-active {
    color: #434546;
    border-bottom: 2px #009ada solid;
}

.safety-wrapper {
    position: relative;
    border-left: 1px #cccccc solid;
    width: 600px;
    margin: auto;
    padding-left: 50px;
    height: 250px;
}

.level-wrapper {
    margin: 30px;
    position: relative;
}

.safetyLevel {
    position: absolute;
    background: #F58220;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    top: -15px;
    left: 70px;
    overflow: hidden;
    line-height: 70px;
    box-shadow: 1px 1px 5px grey;
}

.levelBar {
    position: absolute;
    width: 70px;
    height: 75%;
    background: rgb(251, 236, 225);
}

.level-info {
    z-index: 10;
    position: absolute;
    font-size: 20px;
    left: 26px;
}

.safety-wrapper .table tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #005387;
    text-align: center;
}

.safety-wrapper .table tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    border: none;
    position: relative;
}

.safety-wrapper .table tr td .glyphicon {
    color: #FAFBF8;
    background-color: #0D9A95;
    border-radius: 100px;
    padding: 2px;
    position: absolute;
    left: -60px;
    top: 26px;
}

.safety-wrapper .table tr td .glyphicon-remove {
    background-color: #AB1212;
}

.safety-wrapper .table tr .align-center {
    text-align: center;
}

.safety-wrapper .table .status {
    color: #009ada;
}

.safety-wrapper .table .status-no {
    color: firebrick;
}

.safety-wrapper .table .btn {
    background-color: #009ADA;
    color: white;
    width: 80px;
    height: 30px;
    line-height: 18px;
}

.safety-wrapper .table .btn:hover {
    background: #0287be;
}

.rzz {
    width: 350px;
    position: relative;
    margin: 0 auto;
    display: none;
    overflow: auto;
    zoom: 1;
    margin-top: 20px;
}

.rZemail {
    width: 250px;
    height: 37px;
    text-indent: 10px;
    float: left;
    font-size: 14px;
}

.rzE_button {
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    background: #009ADA;
    float: right;
    cursor: pointer;
    border-radius: 2px;
}

.rzE_button:hover {
    background-color: #009ADA;
}

.errors {
    color: #d2252c;
    font-size: 12px;
    clear: both;
    padding: 10px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}

#moreInfo {
    width: 600px;
    margin: auto;
}

#moreInfo ul {
    width: 100%;
    overflow: auto;
    zoom: 1;
}

#moreInfo ul li {
    float: left;
    width: 50%;
}

#moreInfo ul li label {
    margin-right: 30px;
    height: 70px;
    line-height: 70px;
}

#moreInfo ul li select {
    min-width: 100px;
    border: 1px solid #DFDFDF;
    outline: none;
    color: #868383;
    background-color: white;
}

#moreInfo .modify {
    background-color: #009ADA;
    color: white;
    width: 80px;
    margin-left: 210px;
    height: 30px;
}

#moreInfo .modify:hover {
    background-color: #015989;
}

.descript p a {
    color: #999;
}

.descript p a:hover {
    color: #009ada;
    text-decoration: none;
}

.border-block {
    display: inline-block;
    clear: both;
    border-top: 1px solid #cdcdcd;
    border-radius: 5px;
    width: 200px;
    background: #eee;
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}

.payInp[name='captcha'] {
    width: 144px;
}

.input-group-addon {
    border: none;
}

.btn-success:hover {
    font-size: 16px;
}

.account-password-set {
    margin-left: 200px;
}

.account-password-set .tipss-set {
    width: 80px;
}

.errorPass {
    display: inline;
}


/*添加银行卡*/
.bind-card-wrapper{
    margin: 40px;
}
.addcard-info {
    margin-bottom: 40px;
}
#main-container .bind-card-wrapper .row{
    margin-bottom: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-right: 51px;
}
#main-container .row .card-brame {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #ccc;
    width: 380px;
    overflow: hidden;
}

.img-box {
    width: 42px;
    display: inline-block;
    border-right: 1px solid #ccc;
    height: 46px;
    line-height: 46px;
    float: left;
}
.select {
    width: 330px;
    font-size: 16px;
    height: 46px;
    border: none;
    float: left;
    color: #999;
    text-indent: 8px;
}
#main-container .row .card-brame input {
    border: 0;
}
.row .payInp {
    float: left;
    display: inline-block;
    width: 336px;
    height: 46px;
    font-size: 16px;
    color: #bbbbbb;
    text-indent: 16px;
}
#main-container .row .card-brame input.payCodeInp{
    width: 218px;
    border-right: 1px solid #ccc;
    height: 46px;
}
.sendCode {
    font-size: 14px;
    width: 110px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    height: 46px;
    background: #fcfcfc;
    color: #ae8a45;
}
.bind-card-wrapper .agree-box{
    clear: both;
    margin: 20px 0;
    padding-top: 50px;
}
.bind-card-wrapper .agree-box input{
    margin-right: 10px;
}
.bind-card-wrapper .agree-box a{
    color:#bd9760;
}
.bind-card-wrapper .btn-box button{
    width: 200px;
    background: #e4262b;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    border: none;
}
.bind-card-wrapper .error{
    color: #d2252c;
    text-align: left;
}
/*添加银行卡 结束*/
.row img {
    width: 23px;
    margin-left: 8px;
}

.row .floatleft {
    float: left;
}

.changenext {
    float: left;
    line-height: 48px;
    margin-left: 15px;
    color: #4a90e2;
    text-decoration: underline;
    cursor: pointer;
}


.setpwd-info {
    line-height: 60px;
    color: #666;
    margin-left: 186px;
}
.account-content-wrapper {
    background: #fff;
}




/*showbank*/
.card_add {
    border: #dcdcdc 1px solid;
    width: 310px;
    height: 185px;
    margin: 50px 0 0 50px;
}
.card_add .bankcard-box{
    height: 120px;
    font-size: 18px;
    color: #4a4a4a;
    background-repeat: no-repeat;
    background-position: center;
}
.card_add .card_num {
    text-align: center;
    font-size: 18px;
    color: #999;
}
.card_add .card_status{
    text-align: center;
    font-size: 14px;
    color: #999;
}




.bank-success h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
}

.bank-success p {
    font-size: 18px;
}

.bank-success div {
    float: left;
    margin-top: 62px;
}

.bank-success img {
    width: 200px;
    display: block;
    float: left;
    margin: auto 50px auto 200px;
}

.bank-success {
    margin: 50px auto;
    height: 200px;
}

.success-next button {
    width: 140px;
    height: 48px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-right: 22px;
}

.success-next {
    text-align: center;
}

.has-card {
    line-height: 50px;
    background: #f4f4f4;
    font-size: 16px;
    text-align: center;
}

.has-card th {
    text-align: center;
}

.has-card-box tbody td {
    text-align: center;
    color: #000;
    font-size: 18px;
}

.has-card-box tbody td button {
    width: 80px;
    height: 30px;
    background: #ef9c2c;
    border-radius: 4px;
    border: none;
    color: #fff;
    margin: auto 8px;
}

.resetfundpass {
    margin-top: 110px;
    display: none;
    font-size: 24px;
    color: #4a4a4a;
    font-weight: bold;
    background: url(/ccc/newAccount/img/band-success.png) no-repeat left center;
    height: 170px;
    padding-left: 235px;
    margin-left: 230px;
    background-size: 188px;
    line-height: 170px;
}
.disabled{
    cursor: default;
}


/*固定收益*/
.home-count{
    margin-top: 13px;
    overflow: hidden;
    margin-right: 20px;
    padding-bottom: 15px;
}
.home-count .common{
    float: left;
    background-color: #fff;
    margin-right: 75px;
}
.home-count .home-tab-info {
    padding-left: 20px;
    font-size: 18px;
    color: #666;
    margin-top: 26px;
}
.home-count .home-tab-info span{
    font-size: 12px;
}
.home-count .home-tab-amount {
    font-size: 30px;
    color: #666;
    padding-left: 20px;
}
.home-count .home-tab-amount span{
    font-size: 20px;
}
.home-intrest .home-tab-amount{
    color: #e60012;
}
/*重置ccc-tab*/
.ccc-tab > ul.tabs > li {
    float: left;
    margin: 0 25px;
}
.ccc-tab > ul.tabs > li:first-child{
    margin-left: 0;
}
.ccc-tab > ul.tabs > li a{
    color: #999;
    margin: 10px 25px;
}
.ccc-tab > ul.tabs > li a:hover,
.ccc-tab > ul.tabs > li a:focus {
    color: #e60012;
    text-decoration: none;
    display: inline-block;
    margin: 10px 25px;
    width: inherit;
}
.ccc-tab > ul.tabs .active {
    border-bottom: 2px solid #e60012;
    margin-bottom: 0px;
}
.ccc-tab > ul.tabs .active a{
    color: #e60012;
}

.fixed-nav{
    margin-top: 30px;
    margin-left: 10px;
}
.fixed-nav ul{
     overflow: hidden;
     border-bottom: 1px solid #c9c9c9;
     margin-right: 32px;
 }

.fixed-nav ul li a{
    padding-left: 20px;
    font-size: 18px;
}
.inhand_pro{
    background: url("/ccc/newAccount/img/icon_inhand_active.png") no-repeat left center;
}
.assign_pro{
    background: url("/ccc/newAccount/img/icon_assign.png") no-repeat left center;
}
.clear_pro{
    background: url("/ccc/newAccount/img/icon_clear.png") no-repeat left center;
}


/*实名认证*/
.open-account-wrapper{
    margin-left: 50px;
    margin-top: 60px;
}
.open-account-wrapper .card-brame {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}
.open-account-wrapper .img-box {
    width: 46px;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
    height: 46px;
    line-height: 46px;
    float: left;
}
.open-account-wrapper .img-box img {
    margin-left: 11px;
}
.img-box img.id-img{
    margin-left: 8px;
}
.open-account-wrapper .check-name {
    border: 1px solid #ccc;
    float: left;
    display: inline-block;
    width: 336px;
    height: 46px;
    font-size: 16px;
    color: #bbbbbb;
    text-indent: 16px;
}
.open-account-wrappe .account-submit {
    margin-top: 20px;
}
.open-account-wrapper .account-submit .info-submit{
    width: 200px;
    height: 45px;
    background: #e4262b;
    border: none;
    color: white;
    font-size: 18px;
}
.open-account-wrapper .account-submit .checked-id{
    background: #ccc;
    cursor: default !important;
}
.open-account-wrapper .error-message {
    text-align: center;
    color: red;
    line-height: 45px;
    margin-left: 5px;
}

/*实名认证 结束*/