<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/login/css/style.css">
    <link rel=stylesheet href="/ccc/global/css/base1.css">

    <div class="container">
        <div class="register-body">
            <div class="register-body-img pull-left">
                <img src="/ccc/login/img/poster.png" alt="土巴士·汇财富">
            </div>
            <div class="s-login-view pull-left">
                <div class="s-login-window">
                    <form id="loginForm" action="/login" method="POST">
                        <h1 class="s-login-header">登 &nbsp; 录</h1>

                        <div class="s-input-wrapper">
                            <p class="loginlock"></p>
                            <div class="lineUser">
                                <span class="mdi mdi-user"></span>
                                <input type="text" name="loginName" id="txtUserName" placeholder="请输入手机号" class="loginName" onkeyup="this.value=this.value.replace(' ','')" />
                                <p class="mobile"></p>
                            </div>
                            <div class="lineUser">
                                <span class="mdi mdi-psw"></span>
                                <input type="password" name="password" placeholder="请输入密码" id="txtPassword" onpaste='return false;' />
                                <p class="password"></p>
                                <a href="/forgot">忘记密码？</a>
                        
                            </div>
<!--
                            <div class="lineUser">
                                <span class="mdi mdi-code"></span>
                                <input type="text" name="captcha" id="captcha" placeholder="请输入验证码" class="captcha" />
                                <span on-click='changeImgCaptcha'>
                                    <img src="{{captcha.img}}" alt="">
                                </span>
                                <span class="other" on-click='changeImgCaptcha'>换一个</span>
                            </div>
-->
                            <input type="hidden" name="backUrl" value="{{backUrl}}">
                            <input type="hidden" name="source" value="WEB">
                        </div>
<!--
                        <div class="rememberPassword">
                            <div class="banner_right_bluetick pull-left">
                                <input type="checkbox" name="checkbox" id="chkRememberPwd" class="checkbox">
                                <span class="remember">记住账号</span>
                            </div>
                        </div>
-->
                        <button type="submit" class="do-login cursor-pointer" id="login_button">登录</button>

                        <div class="register-banner">
                            <span>还不是会员？ <a href="/register"> -> 立即注册</a></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="space space-50"></div>
    <script src="/ccc/login/js/main/login.js"></script>

</dsBody>