.guide-banner-box {
    height: 310px;
    background: url('/ccc/guide/img/banner.jpg') center center no-repeat;
    background-size: cover;
}

.guide-box {
    background: #fff;
    overflow: hidden;
}

.step-box1{
    background: url("/ccc/guide/img/step1.png") no-repeat center;
}
.step-first{
    width: 1200px;
    margin: 0 auto;
    height: 367px;
    padding-left: 578px;
}
.step-title {
    text-align: center;
    font-size: 30px;
    color: #d90202;
    line-height: 120px;
    padding-top: 20px;
}

.model-content {
    width: 100%;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.model-content > span a{
    color:#d10010;
}


.model-content b {
    color: #c69e5f;
    font-size: 42px;
    font-family: '微软雅黑';
}
.step-box2{
    background: url("/ccc/guide/img/step2.png") no-repeat center;
}
.step-second {
    width: 1200px;
    height: 422px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.step-second >span {
    font-size: 30px;
    color: #e61100;
    position: absolute;
}
.step-tips1{
    top:280px;
    left: 520px;
}
.step-tips2{
    top:400px;
    left: 520px;
}
.step-tips3{
    top:520px;
    left: 520px;
}

.step-box3{
    background-color: #e5e5e5;
    width: 100%;
}
.step-third {
    background-color: #e5e5e5;
    width: 1200px;
    height: 628px;
    margin: 0 auto;
    overflow: hidden;
}
.step-third ul{
    width: 100%;
    margin-left: -1px;
    overflow: hidden;
}
.step-third ul li{
    float: left;
    width: 400px;
    padding: 0 42px;
    text-align: center;
    border-left: 1px solid #cacaca;
}
.step-third ul li p{
    margin-top: 42px;
    line-height: 30px;
    text-align: left;
}
.tips-title{
    color: #b08b56;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
}
.tips-title span{
    color: #d70500;
}
.step-box4{
    background: #eadecd;
}
.step-four{
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    background: url("/ccc/guide/img/step4.png") no-repeat center;
}
.guide-btn{
    margin: 30px auto 25px;
    display: block;
    width: 272px;
    height: 59px;
    background-color: #e60012;
    font-size: 24px;
    color: #fff;
    line-height: 59px;
    text-align: center;
    cursor: pointer;
}
.guide-btn a{
    color: #fff;
}

/*轮播注册*/
.banner-account－box{
    position: absolute;
    top:50%;
    margin-top: -160px;
    left:50%;
    margin-left:251px;
}
.banner-account {
    width: 300px;
    height: 320px;
    padding: 10px 16px;
    background: #eceef1;
}
.free-register {
    width: 250px;
    height: 42px;
    margin: 0 auto;
    padding-top: 20px;
}
.bannerLogin{
    font-size: 14px;
    text-align: right;
    margin-top: 28px;
    padding-right: 22px;

}

.bannerLogin .underline{
    text-decoration:underline;
    color: #2d7dec;
}

.banner-account .btn-index{
    width: 250px;
    height: 42px;
    font-size: 18px;
    color: #ffffff;
    background: #e60012;
    text-align: center;
    line-height: 42px;
}