
{{#if list}}
	{{#each list}}
	<div class="couponWrapper">
        {{#if type==='CASH'}}
        <div class="CASH">
             <div class="valueText">
                <p class="big">{{displayValue}}<span>元</span></p>
                <p>{{Ftype}}</p>
             </div>

            <div class="couponWrapper-right">
                <div class="description">
                    {{#if description}}
                    {{description}}
                    {{else}}
                    暂无描述
                    {{/if}}
                    <p class="couponDescription">投资满{{couponPackage.minimumInvest}}元，{{couponPackage.minimumDuration }}个月可使用</p>
                </div>
                <div class="couponTitle-right">
                    有效期至：{{timeExpire}}
                    {{#if canuse}}
                    <span class="exchange" data-id="{{ id }}" onclick="redeemCoupon(this);" style="margin-left:10px;">兑现奖卷</span>
                    {{/if}}	
                </div>			
            </div>
            
            <div class="couponTitle">
                {{#if USED}}
                    <div class="coupon-used"></div>
                {{/if}}

                {{#if EXPIRED}}
                   <div class="coupon-expired"></div>
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{#if type==='INTEREST'}}
        <div class="INTEREST">
            <div class="valueText">
                <p class="big">{{displayValue}}<span>%</span></p>
                <p>{{Ftype}}</p>
            </div>
           <div class="couponWrapper-right">
                <div class="description">
                    {{#if description}}
                    {{description}}
                    {{else}}
                    暂无描述
                    {{/if}}
                    <p class="couponDescription">投资满{{couponPackage.minimumInvest}}元，{{couponPackage.minimumDuration }}个月可使用</p>
                </div>
                <div class="couponTitle-right">有效期至：{{timeExpire}}</div>			
            </div>	
            <div class="couponTitle">
                {{#if USED}}
                    <div class="coupon-used"></div>
                {{/if}}

                {{#if EXPIRED}}
                   <div class="coupon-expired"></div>
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{#if type==='PRINCIPAL'}}
        <div class="PRINCIPAL">
            <div class="valueText">
                <p class="big">{{displayValue}}<span>元</span></p>
                <p>{{Ftype}}</p>
            </div>
            <div class="couponWrapper-right">
                <div class="description">
                    {{#if description}}
                    {{description}}
                    {{else}}
                    暂无描述
                    {{/if}}
                    <p class="couponDescription">投资满{{couponPackage.minimumInvest}}元，{{couponPackage.minimumDuration }}个月可使用</p>
                </div>
                <div class="couponTitle-right">有效期至：{{timeExpire}}</div>			
            </div>	
            <div class="couponTitle">
                {{#if USED}}
                    <div class="coupon-used"></div>
                {{/if}}

                {{#if EXPIRED}}
                   <div class="coupon-expired"></div>
                {{/if}}
            </div>
        </div>
        {{/if}}

        {{#if type==='REBATE'}}
        <div class="REBATE">
            <div class="valueText">
                <p class="big">{{displayValue}}<span>元</span></p>
                <p>{{Ftype}}</p>
            </div>

            <div class="couponWrapper-right">
                <div class="description">
                    {{#if description}}
                    {{description}}
                    {{else}}
                    暂无描述
                    {{/if}}
                    <p class="couponDescription">投资满{{couponPackage.minimumInvest}}元，{{couponPackage.minimumDuration }}个月可使用</p>
                </div>
                <div class="couponTitle-right">有效期至：{{timeExpire}}</div>			
            </div>	
            <div class="couponTitle">
                {{#if USED}}
                    <div class="coupon-used"></div>
                {{/if}}

                {{#if EXPIRED}}
                   <div class="coupon-expired"></div>
                {{/if}}
            </div>
        </div>
        {{/if}}

	</div>
	{{/each}}
{{else}}
	<div class="no-coupon"></div>
<!--	<div class="no-coupon－data">暂无数据</div>-->
{{/if}}
<div class="clear"></div>
<!--
<div class="ccc-paging">
	<div class="prev">上一页</div>
	<div class="currentPagewra"><span class="currentPage  current"></span></div>
	<div class="totalPagewra totalPage"></div>
	<div class="next">下一页</div>
	<div class="clear"></div>
</div>
-->

