    {{#if list}}
{{#each list}}
<div class="couponWrapper">
    {{#if type==='CASH'}}
    <div class="{{#if status==='PLACED'}}CASH{{else}}CASH used{{/if}}">
        <div class="header">
            {{Ftype}}
            <span>(过期时间：{{timeExpire}})</span>
        </div>
        <div class="valueText">
            ¥{{displayValue}}
            {{#if canuse}}
            <span class="exchange" data-id="{{ id }}" onclick="redeemCoupon(this);">兑换</span>
            {{/if}}
        </div>

        <div class="couponWrapper-bottom">
            <div class="description">
                说明: {{description}}
                <!--<p class="couponDescription">现金券可以直接兑换</p>-->
            </div>
        </div>

        <!--<div class="couponTitle">-->
        <!--{{#if USED}}-->
        <!--<div class="coupon-used"></div>-->
        <!--{{/if}}-->

        <!--{{#if EXPIRED}}-->
        <!--<div class="coupon-expired"></div>-->
        <!--{{/if}}-->
        <!--</div>-->
    </div>
    {{/if}}
    {{#if type==='INTEREST'}}
    <div class="{{#if status==='PLACED'}}INTEREST{{else}}INTEREST used{{/if}}">
        <div class="header">
            {{Ftype}}
            <span>(过期时间：{{timeExpire}})</span>
        </div>
        <div class="valueText">
            {{displayValue}}%
        </div>

        <div class="couponWrapper-bottom">
            <div class="description">
                说明: {{description}}
                <!--<p class="couponDescription">现金券可以直接兑换</p>-->
            </div>
        </div>
    </div>
    {{/if}}
    {{#if type==='PRINCIPAL'}}
    <div class="{{#if status==='PLACED'}}PRINCIPAL{{else}}PRINCIPAL used{{/if}}">
        <div class="header">
            {{Ftype}}
            <span>(过期时间：{{timeExpire}})</span>
        </div>
        <div class="valueText">
            ¥{{displayValue}}
        </div>

        <div class="couponWrapper-bottom">
            <div class="description">
                说明: {{description}}
                <!--<p class="couponDescription">现金券可以直接兑换</p>-->
            </div>
        </div>
    </div>
    {{/if}}

    {{#if type==='REBATE'}}
    <div class="{{#if status==='PLACED'}}REBATE{{else}}REBATE used{{/if}}">
        <div class="header">
            {{Ftype}}
            <span>(过期时间：{{timeExpire}})</span>
        </div>
        <div class="valueText">
            ¥{{displayValue}}
        </div>

        <div class="couponWrapper-bottom">
            <div class="description">
                说明: {{description}}
                <!--<p class="couponDescription">现金券可以直接兑换</p>-->
            </div>
        </div>
    </div>
    {{/if}}

</div>
{{/each}}

{{else}}
<div class="no-coupon">
    <p class="placedNo">您目前暂无未使用红包</p>
    <p class="redeemedNo">您目前暂无已使用红包</p>
    <p class="expiredNo">您目前暂无已过期红包</p>
</div>
{{/if}}

<div class="clear"></div>

