
<div id="dashboard-assignment">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">转让</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SUCCESSFUL: '债转创建成功!',
            CREDIT_ASSIGN_DISABLED: '没有开启债权转让功能',
            REASSIGN_DISABLED: '二次转让功能关闭',
            INVEST_NOT_FOUND: '原始投标找不到',
            EXCEED_DISCOUNT_LIMIT: '超过债权转让折让率允许范围',
            REPEATED_ASSIGN_REQUEST: '债权转让已存在,不能重复转让',
            INSUFFICIENT: '没有本金可转让',
            ILLEGAL_INVEST: '投标状态不可转让',
            ILLEGAL_INVEST_USER: '只能转让自己的投标',
            ILLEGAL_REPAYMENT: '投标有逾期违约还款',
            ILLEGAL_DATE: '不在可转让时间范围',
            NEXT_REPAY_DATE_LIMIT: '下次回款到期日前一定天数内不允许转让',
            INVEST_DATE_LIMIT: '投资持有一定天数后才允许转让',
            DAILY_LIMIT: '超过每日债权转让次数上限',
            DISCOUNT_LIMIT: '超过债权转让折让率允许范围',
            DISCOUNT_TOO_HIGH: '债权转让折让率太高，实际利率小于等于零',
            ASSIGN_AMOUNT_LIMIT: '低于最低转让金额限制',

            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <section class="summary shadow">
        <h4>转让 - {{ item.title }}</h4>
    </section>

    <form class="form-horizontal form-assignment"
          name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          novalidate
          ng-submit="self.submit()"
    >
        <section>
            <ul class="list-unstyled u-off-margin-bottom list">
                <li>
                    <div class="info">
                        <span class="name">标的估值(元)</span>
                        <span class="value"><span class="num">{{ bidValuation | number: 2 }}</span></span>
                    </div>
                    <p class="desc">( 转让本金 + 转让本金 * 预期年收益率 * 已持有天数 / 365 )</p>
                </li>

                <li>
                    <div class="info">
                        <span class="name">转让价格(元)</span>
                        <span class="value">
                            <div class="form-control-wrap">
                                <input class="form-control input-target"
                                       type="number"
                                       id="amount"
                                       name="amount"
                                       ng-min="minAmount"
                                       ng-max="maxAmount"
                                       ng-model="store.amount"
                                       ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                                       placeholder=""
                                       autocapitalize="none"
                                       autocomplete="off"
                                       autocorrect="off"
                                       required
                                >
                            </div>
                        </span>
                    </div>

                    <div class="help-block"
                         ng-show="form.amount.$invalid && form.amount.$dirty"
                    >
                        <span ng-show="form.amount.$error.required">请输入转让价格</span>
                        <span ng-show="form.amount.$error.min">转让价格必须大于等于{{ minAmount }}</span>
                        <span ng-show="form.amount.$error.max">转让价格必须小于等于{{ maxAmount }}</span>
                    </div>

                    <p class="desc">( 转让价格须在 {{ minAmount }} - {{ maxAmount }} 元之间 )</p>
                </li>

                <li>
                    <div class="info">
                        <span class="name">转让折价率</span>
                        <span class="value">
                            <span class="num" ng-show="store.amount">
                                {{ creditAssignRate }}
                            </span>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="info">
                        <span class="name">受让收益率</span>
                        <span class="value">
                            <span class="num" ng-show="store.amount">
                                {{ (assigneeYieldRate * 100) | number: 2 }}%
                            </span>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="info">
                        <span class="name">转让手续费(元)</span>
                        <span class="value">
                            <span class="num" ng-show="store.amount">
                                {{ (store.amount * creditAssignFee) | number: 2 }}
                            </span>
                        </span>
                    </div>
                    <p class="desc">( 转让价格 * 0.1% )</p>
                </li>

                <li>
                    <div class="info">
                        <span class="name">转让期限</span>
                        <span class="value">{{ maxTimeOut }}小时</span>
                    </div>
                    <p class="desc">( 如果到期无人购买，申请将自动撤销 )</p>
                    <h5>
                        确认转让即视为同意
                        <a href="/api/v2/creditassign/template" target="_blank">《金融资产转让协议》</a>
                    </h5>
                </li>
            </ul>
        </section>

        <section class="btn-submit-wrap">
            <button type="submit" class="btn btn-theme btn-lg btn-block"
                    ng-disabled="form.$invalid || self.submit_sending"
            >{{ self.submit_sending ? '转让中...' : '同意协议并确认转让' }}</button>
        </section>
    </form>

</div>

