
<div id="dashboard-bank-card-edit">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">更换银行卡</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SEND_CAPTCHA_FAILED: '验证码发送失败',
            SMSCAPTCHA_IS_NOT_CORRECT: '手机验证码不匹配',
            IDNUMBER_ALREADY_EXISTED: '此身份证号已被注册',
            REGISTER_FAILED: '开户失败',
            CHECK_CARD_FAILED: '验卡失败',
            BIND_CARD_FAILED: '绑卡失败',
            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',

            SUCCEED: '银行卡绑定成功',
        }">
    </div>

    <div class="page-content">

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.bind_card(store)"
              novalidate
        >
            <div class="inputs">
                <div class="form-group merge form-group-bank">
                    <div class="form-group-inner">
                        <label for="bank-name">开户行</label>
                        <select name="bankName" class="form-control input-lg"
                                id="bank-name"
                                ng-model="store.bank"
                                ng-options="
                                    bank.bankName
                                    for bank in self.banks
                                    track by bank.bankCode
                                "
                                required
                        >
                            <option value="">请选择开户银行</option>
                        </select>
                        <param class="glyphicon glyphicon-menu-right">
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.card_no.$invalid && form.card_no.$dirty}"
                >
                    <div class="form-group-inner">
                        <label for="card_no">银行卡</label>
                        <input id="card_no" class="form-control input-target input-lg" type="tel"
                               name="card_no"
                               ng-model="store.cardNo"
                               ui-mask="9999 9999 9999 9999 ?9?9?9"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="space"
                               ui-validate="{ already_exists: 'self.does_not_exist_bank($modelValue)' }"
                               placeholder="请输入本人借记卡号"
                               required
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.card_no.$invalid && form.card_no.$dirty && form.card_no.$error.already_exists"
                    >
                        <span>该银行卡已绑定</span>
                    </div>
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <div class="form-group-inner">
                        <label for="mobile_captcha">验证码</label>
                        <input class="form-control input-target input-lg captcha" type="tel"
                               id="mobile_captcha"
                               name="mobile_captcha"
                               ng-model="store.smsCaptcha"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               placeholder="请输入短信验证码"
                               maxlength="6"
                               required
                        >

                        <button class="btn btn-sm btn-action btn-plain" type="button"
                                ng-click="self.send_mobile_captcha(self.user.info.mobile)"
                                ng-disabled="self.captcha.buffering"
                        >
                            <span class="text">获取验证码</span>
                            <span class="count" ng-show="self.captcha.buffering">
                                {{ self.captcha.count | number: 0 }}秒
                            </span>
                            <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                        </button>
                    </div>

                    <div class="help-block"
                         ng-show="form.mobile_captcha.$invalid && form.mobile_captcha.$dirty"
                    >
                        <span ng-show="form.mobile_captcha.$error.required">必须填写</span>
                        <span ng-show="form.mobile_captcha.$error.pattern">请输入6位数字</span>
                    </div>
                </div>
            </div>

            <div class="btn-submit-outter">
                <div class="btn-submit-wrap">
                    <button type="submit" class="btn btn-theme btn-block btn-lg"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >更换</button>
                </div>
            </div>

        </form>

    </div>

</div>

