
<div id="dashboard-bank-card">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path || 'dashboard' }}">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">{{ picking ? '选择' : '' }}银行卡</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="banks">
        <ul class="list-unstyled u-off-margin-bottom bank-list">
            <li ng-repeat="item in bank_account_list"
                ng-click="picking && self.select(item.id) || self.edit(item.id)"
            >
                <div class="media media-bank">
                    <div class="media-left">
                        <img width="30" ng-src="assets/image/bank-icons/{{ item.account.bankCode | lowercase }}.png">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ item.account.bankName }} ｜
                            {{ item.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                        </h4>
                        <p class="desc">
                            充值限额: <br>
                            单笔
                                {{
                                    item.account.singleQuota == -1
                                    ? '无限额'
                                    : (
                                        item.account.singleQuota >= 10000
                                        ? item.account.singleQuota / 10000 + '万'
                                        : item.account.singleQuota
                                      )
                                }}
                            /
                            日限额
                                {{
                                    item.account.dailyQuota == -1
                                    ? '无限额'
                                    : (
                                        item.account.dailyQuota >= 10000
                                        ? item.account.dailyQuota / 10000 + '万'
                                        : item.account.dailyQuota
                                      )
                                }}
                        </p>
                        <span class="default-card"
                              ng-if="item.defaultAccount"
                        >默认卡</span>
                    </div>
                </div>
            </li>
        </ul>

        <div class="container action" ng-if="!picking">
            <a class="btn btn-lg btn-block btn-theme" href="dashboard/payment/bind-card">添加银行卡</a>
        </div>
    </section>










    <div class="page-content container" ng-if="self.user.has_bank_card" x-gyro-comment>
    <section>

        <div class="clip clearfix">
            <span class="icon pull-left">
                <img width="42" ng-src="assets/image/bank-icons/{{ bank_account.bank_code | lowercase }}.png">
            </span>
            <div class="info">
                <div class="name">
                    {{ bank_account.bank }}
                </div>
                <div class="card">
                    {{ bank_account.mask }}
                </div>
            </div>
        </div>

        <p class="text-center" ng-show="clicked !== true">
            <button class="btn btn-theme" ng-click="clicked = true">删除银行卡</button>
        </p>
    </section>

    <section class="" ng-if="clicked" x-gyro-comment>
        <div ng-if="!self.user.has_payment_password">
            请先设置 <a href="dashboard/payment/password" class="btn btn-link u-vb">交易密码</a>
        </div>

        <form ng-if="self.user.has_payment_password"
              class="password-form"
        >
            <input class="form-control input-sm"
                   type="password"
                   ng-model="password"
                   placeholder="请输入交易密码"
            >

            <button class="btn btn-danger btn-sm"
                    ng-click="self.unbind(bank_account.account, password)"
                    ng-disabled="!password"
            >确认删除</button>
        </form>
    </section>
    </div>




    <div class="page-content" ng-if="!self.user.has_bank_card" x-gyro-comment>
        <a href="dashboard/payment/bind-card?next=dashboard/bank-card" class="bind-card">
            <param class="glyphicon glyphicon-plus"> 添加银行卡
        </a>
    </div>

    <section class="container notice" x-gyro-comment>
        <h2 class="title">温馨提示：</h2>
        <ol class="list">
            <li><p>为保障您的资金安全，绑卡前请先进行实名认证。
            <li><p>您所绑定的银行卡须是借记卡，718bank理财严禁利用信用卡套现。
            <li><p>718bank理财目前只支持绑定一张银行卡，认证支付充值、提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。
            <li><p>已绑定的银行卡如需更换，请联系客服：<a href="tel:4008189696">400-818-9696</a>。
        </ol>
    </section>

</div>
