
<div id="dashboard-bank-card">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">银行卡</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="banks">
        <ul class="list-unstyled u-off-margin-bottom bank-list shadow">
            <li ng-if="bank_account">
                <div class="media media-bank">
                    <div class="media-left">
                        <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="bank-name">{{ bank_account.account.bankName }}</span>
                            {{ bank_account.account.account | string_replace: '^(\\d{3})\\d+(\\d{4})$' : '$1****$2' }}
                        </h4>
                        <p class="desc">
                            单笔
                                {{
                                    bank_account.account.singleQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.singleQuota >= 10000
                                        ? bank_account.account.singleQuota / 10000 + '万'
                                        : bank_account.account.singleQuota
                                      )
                                }}
                            /
                            日限额
                                {{
                                    bank_account.account.dailyQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.dailyQuota >= 10000
                                        ? bank_account.account.dailyQuota / 10000 + '万'
                                        : bank_account.account.dailyQuota
                                      )
                                }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="container action">
            <a class="btn btn-lg btn-block btn-theme" href="dashboard/bank-card/edit">更换银行卡</a>
        </div>
    </section>

</div>
