
<div id="dashboard-bank-card-edit">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard/bank-card">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">银行卡编辑</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            CANCEL_CARD_SUCCEED: '该卡被删除',
            CANCEL_CARD_FAILED: '删除该卡失败',
            SET_DEFAULT_ACCOUNT_SUCCEED: '设为默认卡成功',
            SET_DEFAULT_ACCOUNT_FAILED: '设为默认卡失败',
            UNKNOWN: '系统繁忙，请稍后重试！',
        }">
    </div>

    <section class="banks">
        <ul class="list-unstyled u-off-margin-bottom bank-list">
            <li>
                <div class="media media-bank">
                    <div class="media-left">
                        <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ bank_account.account.bankName }} ｜
                            {{ bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                        </h4>
                        <p class="desc">
                            充值限额: <br>
                            单笔
                                {{
                                    bank_account.account.singleQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.singleQuota >= 10000
                                        ? bank_account.account.singleQuota / 10000 + '万'
                                        : bank_account.account.singleQuota
                                      )
                                }}
                            /
                            日限额
                                {{
                                    bank_account.account.dailyQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.dailyQuota >= 10000
                                        ? bank_account.account.dailyQuota / 10000 + '万'
                                        : bank_account.account.dailyQuota
                                      )
                                }}
                        </p>
                        <span class="default-card"
                              ng-if="bank_account.defaultAccount"
                        >默认卡</span>
                    </div>
                </div>
            </li>
        </ul>

        <div class="container action">
            <button class="btn btn-lg btn-block btn-delete"
                    ng-click="self.unbind(bank_account.account.account)"
                    ng-disabled="self.submit_sending"
            >删除该卡</button>

            <button class="btn btn-lg btn-block btn-theme"
                    ng-if="!bank_account.defaultAccount"
                    ng-click="self.set_default(bank_account.account.account)"
                    ng-disabled="self.submit_sending"
            >设为默认卡</button>
        </div>
    </section>

</div>








<script type="text/ng-template" id="ngt-unbind-card-confirm.tmpl">
    <div class="modal-body text-center">
        确定删除该卡？
    </div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$close()">删除</div>
        <div class="modal-button" ng-click="$dismiss()">取消</div>
    </div>
</script>
