
<div id="dashboard-bank-card">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">银行卡</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            CANCEL_CARD_SUCCEED: '删卡成功！',
            CANCEL_CARD_FAILED: '删卡失败！',
            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',
            UNBIND_CARD_NOT_ALLOWED: '提示：\n1、您在平台的总资产不为零，为了保障您的资金安全，暂时不能通过线上换卡。\n 2、若有疑问，请联系客服：400-900-8868，或查看：帮助中心。'
        }">
    </div>

    <section class="banks">
        <ul class="list-unstyled u-off-margin-bottom bank-list shadow">
            <li ng-if="bank_account">
                <div class="media media-bank">
                    <div class="media-left">
                        <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="bank-name">{{ bank_account.account.bankName }}</span>
                            {{ bank_account.account.account | string_replace: '^(\\d{3})\\d+(\\d{4})$' : '$1****$2' }}
                        </h4>
                        <p class="desc">
                            单笔
                                {{
                                    bank_account.account.singleQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.singleQuota >= 10000
                                        ? bank_account.account.singleQuota / 10000 + '万'
                                        : bank_account.account.singleQuota
                                      )
                                }}
                            /
                            日限额
                                {{
                                    bank_account.account.dailyQuota == -1
                                    ? '无限额'
                                    : (
                                        bank_account.account.dailyQuota >= 10000
                                        ? bank_account.account.dailyQuota / 10000 + '万'
                                        : bank_account.account.dailyQuota
                                      )
                                }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="container action">
            <form ng-submit="self.unbind(bank_account.account.account)">
                <button type="submit" class="btn btn-lg btn-block btn-theme"
                        ng-disabled="self.submit_sending"
                >{{ self.submit_sending ? '解除中...' : '更换银行卡' }}</button>
            </form>
        </div>
    </section>

    <section class="container explain">
        <h5>温馨提示：</h5>
        <ol>
            <li>更换新银行卡后，原银行卡将会自动解除绑定。</li>
            <li>为了保障资金安全，投资的本金及收益提现时需返回原银行卡。</li>
            <li>在您更换银行卡前，请确保您投资的所有项目已退出，且平台账户余额为零。</li>
            <li>若银行卡遗失或注销，则联系客服：<a href="tel:4009008868">400-900-8868</a>，进行线下换卡。具体流程参见：帮助中心-银行卡更换。</li>
        </ol>
    </section>

</div>







<script type="text/ng-template" id="ngt-unbind-card-confirm.tmpl">
    <div class="modal-body">
        提示：<br>
        绑定新银行卡前，需要先解除绑定当前银行卡。<br>
        解除绑定后，您需绑定新卡才能进行充值、取现等资金操作。<br>
        确认解除绑定当前银行卡？
    </div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$close()">是</div>
        <div class="modal-button" ng-click="$dismiss()">否</div>
    </div>
</script>
