
<div id="dashboard-coupon">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">我的红包</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SUCCEED: '兑换成功',
            FAILED: '兑换失败',
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <section class="omit-margin shadow tab-links">
        <div class="text-center btn-group-wrap">
            <div class="btn-group">
                <a class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'placed' }"
                   ng-click="self.goto_tab('placed')"
                >未使用</a>
                <a class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'redeemed' }"
                   ng-click="self.goto_tab('redeemed')"
                >已使用</a>
                <a class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'expired' }"
                   ng-click="self.goto_tab('expired')"
                >已过期</a>
            </div>
        </div>
    </section>

    <section class="coupons">
        <ul class="list-unstyled u-off-margin-bottom coupon-list"
            ui-scrollpoint
            ui-scrollpoint-edge="bottom"
            ui-scrollpoint-action="self.infinite_scroll"
            ui-scrollpoint-enabled="{{
                   !loading
                && list.length >= query_set.pageSize
                && list.length < list.totalSize
            }}"
        >
            <li class="shadow item"
                ng-repeat="item in list"
                ng-class="[ 'item-status-' + (item.status | lowercase) ]"
            >
                <div class="media">
                    <div class="media-left media-middle text-center">
                        <div class="value" ng-switch="item.couponPackage.type">
                            <span ng-switch-when="INTEREST">
                                <span class="num">{{ item.couponPackage.parValue / 100 }}</span>
                                <span class="unit">%</span>
                            </span>
                            <span ng-switch-default>
                                <span ng-if="item.couponPackage.parValue >= 10000">
                                    <span class="num">{{ item.couponPackage.parValue / 10000 | number }}</span>
                                    <span class="unit">万</span>
                                </span>
                                <span ng-if="item.couponPackage.parValue < 10000">
                                    <span class="num">{{ item.couponPackage.parValue | number }}</span>
                                    <span class="unit">元</span>
                                </span>
                            </span>
                        </div>

                        <div class="type" ng-switch="item.couponPackage.type">
                            <span ng-switch-when="CASH">现金券</span>
                            <span ng-switch-when="INTEREST">加息券</span>
                            <span ng-switch-when="PRINCIPAL">增值券</span>
                            <span ng-switch-when="REBATE">返现券</span>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="desc">
                            说明：<br>
                            {{ item.couponPackage.description || '暂无描述' }}
                        </div>

                        <div class="expire">
                            <span ng-if="item.couponPackage.timeExpire">
                                过期时间：{{ item.couponPackage.timeExpire | date: "yyyy-MM-dd" }}
                            </span>
                            <span ng-if="!item.couponPackage.timeExpire">永不过期</span>
                        </div>
                    </div>
                </div>

                <button class="btn btn-xs btn-info redeem"
                        ng-click="self.redeem(item)"
                        ng-if="
                               item.couponPackage.type === 'CASH'
                            && ['INITIATED', 'PLACED'].indexOf(item.status) > -1
                        "
                        ng-disabled="item.redeem_sending"
                >兑换{{ item.redeem_sending ? '中...' : '' }}</button>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>

        <div class="container not-found" ng-if="!list.length" ng-hide="loading">
            <div class="icon-wrap">
                <img class="icon" height="51" ng-src="assets/image/not-found-icon.png">
            </div>
            <p class="desc">暂无数据</p>
        </div>
    </section>

</div>
