
<div id="dashboard-funds">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">资金记录</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <div class="container text-center funds-filter">
        <div class="row">
            <div class="col-xs-6 dropdown" x-uib-dropdown is-open="open_dropdown_type">
                <div x-uib-dropdown-toggle>
                    <span ng-show="query_set.type === ''">全部类型</span>
                    <span ng-show="query_set.type === 'INVEST'">投标</span>
                    <span ng-show="query_set.type === 'WITHDRAW'">提现</span>
                    <span ng-show="query_set.type === 'DEPOSIT'">充值</span>
                    <span ng-show="query_set.type === 'INVEST_REPAY'">回款</span>
                    <span ng-show="query_set.type === 'FEE_WITHDRAW'">提现手续费</span>
                    <span ng-show="query_set.type === 'TRANSFER'">平台奖励</span>
                    <param class="glyphicon glyphicon-menu-down">
                </div>

                <ul x-uib-dropdown-menu ng-click="self.query(query_set); open_dropdown_type = false">
                    <li ng-class="{ active: query_set.type === '' }"
                        ng-click="query_set.type = ''"
                    >全部类型</li>
                    <li ng-class="{ active: query_set.type === 'INVEST' }"
                        ng-click="query_set.type = 'INVEST'"
                    >投标</li>
                    <li ng-class="{ active: query_set.type === 'WITHDRAW' }"
                        ng-click="query_set.type = 'WITHDRAW'"
                    >提现</li>
                    <li ng-class="{ active: query_set.type === 'DEPOSIT' }"
                        ng-click="query_set.type = 'DEPOSIT'"
                    >充值</li>
                    <li ng-class="{ active: query_set.type === 'INVEST_REPAY' }"
                        ng-click="query_set.type = 'INVEST_REPAY'"
                    >回款</li>
                    <li ng-class="{ active: query_set.type === 'FEE_WITHDRAW' }"
                        ng-click="query_set.type = 'FEE_WITHDRAW'"
                    >提现手续费</li>
                    <li ng-class="{ active: query_set.type === 'TRANSFER' }"
                        ng-click="query_set.type = 'TRANSFER'"
                    >平台奖励</li>
                </ul>
            </div>

            <div class="col-xs-6" x-uib-dropdown is-open="open_dropdown_date">
                <div x-uib-dropdown-toggle>
                    <span ng-show="query_set.startDate === self.convert_start_date(10, 'y')">所有时间</span>
                    <span ng-show="query_set.startDate === self.convert_start_date(1, 'w')">最近7天</span>
                    <span ng-show="query_set.startDate === self.convert_start_date(1, 'M')">最近一个月</span>
                    <span ng-show="query_set.startDate === self.convert_start_date(3, 'M')">最近三个月</span>
                    <param class="glyphicon glyphicon-menu-down">
                </div>

                <ul x-uib-dropdown-menu ng-click="self.query(query_set); open_dropdown_date = false">
                    <li ng-class="{ active: query_set.startDate === self.convert_start_date(10, 'y') }"
                        ng-click="query_set.startDate = self.convert_start_date(10, 'y');"
                    >所有时间</li>
                    <li ng-class="{ active: query_set.startDate === self.convert_start_date(1, 'w') }"
                        ng-click="query_set.startDate = self.convert_start_date(1, 'w');"
                    >最近7天</li>
                    <li ng-class="{ active: query_set.startDate === self.convert_start_date(1, 'M') }"
                        ng-click="query_set.startDate = self.convert_start_date(1, 'M');"
                    >最近一个月</li>
                    <li ng-class="{ active: query_set.startDate === self.convert_start_date(3, 'M') }"
                        ng-click="query_set.startDate = self.convert_start_date(3, 'M');"
                    >最近三个月</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="funds-list">
        <ul class="list list-group no-label list-group-flat u-off-margin-bottom"
            ng-if="list.length"
            ui-scrollpoint
            ui-scrollpoint-edge="bottom"
            ui-scrollpoint-action="self.infinite_scroll"
            ui-scrollpoint-enabled="{{
                   !loading
                && list.length >= query_set.pageSize
                && list.length < list.totalSize
            }}"
        >
            <li class="item list-group-item"
                ng-repeat="item in list track by $index"
            >
                <div class="clearfix info">
                    <span ng-if class="operation" ng-switch="item.operation">
                        <span ng-switch-when="IN" class="green">收</span>
                        <span ng-switch-when="OUT" class="red">支</span>
                        <span ng-switch-when="FREEZE" class="blue">冻</span>
                        <span ng-switch-when="RELEASE" class="orange">解</span>
                    </span>

                    <div class="pull-left">
                        <div class="type">{{ item.type | fund_type_cn }}</div>
                        <div class="date">{{ item.date | date :"yyyy-MM-dd HH:mm:ss" }}</div>
                    </div>

                    <div class="pull-right text-right">
                        <div class="amount"
                             ng-class="item.sign_css_class"
                        >
                            <span ng-if="item.status === 'SUCCESSFUL'">{{ item.sign }}</span>{{ item.amount | number }}元
                        </div>

                        <div class="description">
                            <span ng-switch="item.operation">
                                <span ng-switch-when="IN">资金转入</span>
                                <span ng-switch-when="OUT">资金转出</span>
                                <span ng-switch-when="FREEZE">资金冻结</span>
                                <span ng-switch-when="RELEASE">资金解冻</span>
                            </span>

                            <span ng-switch="item.status">
                                <span ng-switch-when="INITIALIZED">初始</span>
                                <span ng-switch-when="PROCESSING">处理中</span>
                                <span ng-switch-when="AUDITING">审核中</span>
                                <span ng-switch-when="PAY_PENDING">支付结果待查</span>
                                <span ng-switch-when="CUT_PENDING">代扣结果待查</span>
                                <span ng-switch-when="SUCCESSFUL">成功</span>
                                <span ng-switch-when="FAILED">失败</span>
                                <span ng-switch-when="REJECTED">拒绝</span>
                                <span ng-switch-when="CANCELED">取消</span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>

        <div class="container" ng-if="!list.length" ng-hide="loading">
            <h4 class="alert alert-info text-center">暂无数据</h4>
        </div>
    </section>

</div>
