
<div id="dashboard">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 title">我的账户</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <section class="omit-margin shadow subject"
             ng-click="self.$location.path('dashboard/subhome')"
    >
        <div class="info">
            <img class="icon" width="18" ng-src="assets/image/user-icon-sm.png">
            {{ now | greeting_time_cn }},
            {{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{5})(\\d{3})$' : '$1*****$3' }}
        </div>

        <div class="btns">
            <btn class="btn btn-theme btn-xs"
                 ng-click="
                     self.$location.path('dashboard/recharge');
                     $event.stopPropagation();
                 "
            >充值</btn>
            <btn class="btn btn-plain btn-xs"
                 ng-click="
                     self.$location.path('dashboard/withdraw');
                     $event.stopPropagation();
                 "
            >提现</btn>
        </div>
    </section>

    <section class="summary">
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="open" ng-if="true">
                <uib-accordion-heading>
                    <param class="pull-right glyphicon"
                           ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    <div class="info">
                        <span class="name">总资产 (元)</span>
                        <span class="value">{{ fund.total | number: 2 }}</span>
                    </div>
                </uib-accordion-heading>

                <div class="content">
                    <ul class="list-unstyled u-off-margin-bottom list">
                        <li>
                            <div class="info">
                                <span class="name">账户余额 (元)</span>
                                <span class="value">{{ fund.available | number: 2 }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="info">
                                <span class="name">当前预期收益 (元)</span>
                                <span class="value">{{ fund.outstanding_interest | number: 2 }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="info">
                                <span class="name">累计收益 (元)</span>
                                <span class="value">{{ fund.total_interest | number: 2 }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </section>

    <section class="detail">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="info-row info-row-fixed">
                    <div class="info-col title">固定收益</div>
                    <div class="info-col">
                        <div class="value">{{ self.user.statistics.investStatistics.dueAmount.totalAmount | number: 2 }}</div>
                        <div class="name">持有本金</div>
                    </div>
                    <div class="info-col">
                        <div class="value">{{ self.user.statistics.outstandingInterest | number: 2 }}</div>
                        <div class="name">预计当前收益 (元)</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-row info-row-float">
                    <div class="info-col title">浮动收益</div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">持有本金</div>
                    </div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">预计当前收益 (元)</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-row info-row-fund">
                    <div class="info-col title">精选基金</div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">持有本金</div>
                    </div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">预计当前收益 (元)</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-row info-row-high">
                    <div class="info-col title">高端理财</div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">持有本金</div>
                    </div>
                    <div class="info-col">
                        <div class="value">{{ 0 | number: 2 }}</div>
                        <div class="name">预计当前收益 (元)</div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</div>
