
<div id="dashboard-invest">
    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6">
            <span class="links">
                <a
                    ng-class="{ selected: tab1 === 'online' }"
                    ng-click="self.goto_tab({tab1: 'online'})"
                >线上投资</a>
                <a
                    ng-class="{ selected: tab1 === 'offline' }"
                    ng-click="self.goto_tab({tab1: 'offline'})"
                >线下投资</a>
            </span>
        </span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <section class="omit-margin shadow tab-links">
        <div class="text-center btn-group-wrap">
            <div class="btn-group">
                <a class="btn btn-tab"
                   ng-class="{ selected: tab2 === 'INHAND' }"
                   ng-click="self.goto_tab({tab1: tab1, tab2: 'INHAND'})"
                >在投产品</a>
                <a class="btn btn-tab"
                   ng-class="{ selected: tab2 === 'ASSIGN' }"
                   ng-click="self.goto_tab({tab1: tab1, tab2: 'ASSIGN'})"
                   ng-if="tab1 === 'online'"
                >我的转让</a>
                <a class="btn btn-tab"
                   ng-class="{ selected: tab2 === 'CLEARED' }"
                   ng-click="self.goto_tab({tab1: tab1, tab2: 'CLEARED'})"
                >安全兑付</a>
            </div>
        </div>
    </section>

    <section class="invest-list">
        <ul class="list list-unstyled u-off-margin-bottom"
            ui-scrollpoint
            ui-scrollpoint-edge="bottom"
            ui-scrollpoint-action="self.infinite_scroll"
            ui-scrollpoint-enabled="{{
                   !loading
                && list.length >= query_set.pageSize
                && list.length < list.totalSize
            }}"
        >
            <li ng-repeat="item in list">
                <div
                    x-invest-summary
                    data-item="item"
                    data-tab1="tab1"
                    data-tab2="tab2"
                ></div>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>

        <div class="container not-found" ng-if="!list.length" ng-hide="loading">
            <div class="icon-wrap">
                <img class="icon" height="51" ng-src="assets/image/not-found-icon.png">
            </div>
            <p class="desc">暂无数据</p>
        </div>
    </section>

</div>
