
<div id="dashboard-invest-detail">
    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-2 back" href="dashboard/invest"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-8 title">{{ item.title }}</span>
        <span class="col-xs-2">&nbsp;</a>
    </div>
    </nav>

    <div></div>

    <section class="u-off-margin-top repayment-summary">
        <div class="subject text-center">
            <div class="rate">
                <div class="value">{{ item.rate }}%</div>
                <div class="name">年化利率</div>
            </div>
            <div class="type" ng-switch="type">
                <span ng-switch-when="raising">投资冻结</span>
                <span ng-switch-when="repaying">回款中</span>
                <span ng-switch-when="done">已结束</span>
            </div>
        </div>
        <div class="footer">
            <div class="inner" ng-if="item.is_show_repayment">
                <span class="next-repay-days">距下次回款: <span class="num"></span>天</span>
                <span class="text-right">待回本息: {{ item.amount_unrepay | number: 2 }}元</span>
            </div>
        </div>
    </section>

    <section class="repayment-panel dynamic">
        <div class="heading">
            <h3 class="title">投资动态</h3>
        </div>
        <div class="dynamic-detail">
            <ul class="list list-unstyled u-off-margin-bottom">
                <li>
                    <div class="subject">
                        <span class="date"></span>
                    </div>
                    <div class="info">
                        <span class="name">投资冻结</span>
                        <span class="value">元</span>
                    </div>
                </li>
                <li>
                    <div class="subject">
                        <span class="date"></span>
                    </div>
                    <div class="info">
                        <span class="name">投资放款</span>
                        <span class="value">元</span>
                    </div>
                </li>
                <li>
                    <div class="subject">
                        <span class="date"></span>
                    </div>
                    <div class="info">
                        <span class="name">回款本息</span>
                        <span class="value">元</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="repayment-panel plan" ng-if="item.is_show_repayment">
        <div class="heading">
            <h3 class="title">回款计划</h3>
        </div>
        <div class="plan-detail">
            <h5 class="container">
                <span class="pull-left">距下次回款还有<span class="u-color-main"></span>天</span>
                <span class="pull-right">单位:元</span>
            </h5>
            <table class="table u-off-margin-bottom">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th class="text-right">回款本息</th>
                        <th class="text-right">剩余本金</th>
                        <th>回款状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in repayments">
                        <td>{{ item.due_date | date: "yy-MM-dd" }}</td>
                        <td class="text-right">{{ item.amount | number: 2 }}</td>
                        <td class="text-right">{{ item.amount_outstanding | number: 2 }}</td>
                        <td>
                            <div class="status" ng-switch="item.status">
                                <span class="green" ng-switch-when="REPAYED">已回款</span>
                                <span class="red" ng-switch-when="OVERDUE">已逾期</span>
                                <span class="gray" ng-switch-when="UNDUE">待回款</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="list-group-flat no-label links">
        <a class="list-group-item rsaquo"
           target="_blank"
           ng-if="contract_url"
           ng-href="{{ contract_url }}"
        >
            <img width="14" ng-src="assets/image/contract-icon.png">
            投资协议书
            <span class="desc">查看</span>
        </a>
        <a class="list-group-item rsaquo"
           ng-href="loan/{{ item.loan_id }}?back={{ page_path }}"
        >
            <img width="14" ng-src="assets/image/detail-icon.png">
            项目详情
            <span class="desc">查看</span>
        </a>
    </section>











    <nav class="omit-margin container page-nav" x-gyro-comment>
    <div class="row">
        <a class="col-xs-3 back" href="dashboard/invest"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">投资记录详情</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <section class="c-list-panel info-list" x-gyro-comment>
        <div class="item title">项目信息</div>

        <div class="item info">
            <div class="info-row">
                <span class="name">项目名称</span>
                <span class="value">{{ item.title }}</span>
            </div>

            <div class="info-row">
                <span class="name">项目金额</span>
                <span class="value" ng-if="item.loan_amount">{{ item.loan_amount / 10000 }}万</span>
            </div>

            <div class="info-row">
                <span class="name">项目期限</span>
                <span class="value" ng-if="item.oddment_days">
                    {{ item.total_days }}天
                </span>
                <span class="value" ng-if="!item.oddment_days">
                    {{ item.total_months }}个月
                </span>
            </div>

            <div class="info-row">
                <span class="name">年 利 率</span>
                <span class="value">{{ item.rate }}%</span>
            </div>

            <div class="info-row">
                <span class="name">回款方式</span>
                <span class="value">
                    <span ng-switch="item.method">
                        <span ng-switch-when="MonthlyInterest">按月付息, 到期还本</span>
                        <span ng-switch-when="EqualInstallment">按月等额本息</span>
                        <span ng-switch-when="EqualPrincipal">按月等额本金</span>
                        <span ng-switch-when="BulletRepayment">一次性还本付息</span>
                        <span ng-switch-when="EqualInterest">月平息</span>
                        <span ng-switch-when="YearlyInterest">按年付息到期还本</span>
                    </span>
                </span>
            </div>
        </div>
    </section>

    <section class="c-list-panel info-list" x-gyro-comment>
        <div class="item title">项目信息</div>

        <div class="item info">
            <div class="info-row">
                <div class="name word-5">计息开始日</div>
                <div ng-if="item.value_date" class="value">{{ item.value_date | date: 'yyyy-MM-dd' }}</div>
                <div ng-if="!item.value_date" class="value">-</div>
            </div>

            <div class="info-row">
                <div class="name word-5">计息到期日</div>
                <div ng-if="item.end_date" class="value">{{ item.end_date | date: 'yyyy-MM-dd' }}</div>
                <div ng-if="!item.end_date" class="value">-</div>
            </div>

            <div class="info-row">
                <div class="name word-5">回款方式</div>
                <div class="value">
                    <span ng-switch="item.method">
                        <span ng-switch-when="MonthlyInterest">按月付息, 到期还本</span>
                        <span ng-switch-when="EqualInstallment">按月等额本息</span>
                        <span ng-switch-when="EqualPrincipal">按月等额本金</span>
                        <span ng-switch-when="BulletRepayment">一次性还本付息</span>
                        <span ng-switch-when="EqualInterest">月平息</span>
                        <span ng-switch-when="YearlyInterest">按年付息到期还本</span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section ng-if="item.is_show_repayment" class="c-list-panel info-list" x-gyro-comment>
        <div class="item title">回款情况</div>

        <div class="item info">
            <div class="info-row">
                <span class="name">回款进度</span>
                <span class="value">{{ item.progress }}期</span>
            </div>

            <div class="info-row">
                <span class="name">已付利息</span>
                <span class="value">{{ item.amount_repayed }}元</span>
            </div>

            <div class="info-row">
                <span class="name">剩余利息</span>
                <span class="value">{{ item.amount_unrepay }}元</span>
            </div>
        </div>
    </section>









    <section class="c-list-panel info" x-gyro-comment>
        <div class="item title">订单信息</div>

        <div class="item">
            <div class="name">产品名称</div>
            <div class="value">{{ item.loan.title }}</div>
        </div>
        <div class="item">
            <div class="name">年化收益率</div>
            <div class="value">{{ item.rate }}%</div>
        </div>
        <div class="item">
            <div class="name">投资金额(元)</div>
            <div class="value">{{ item.amount | number }}</div>
        </div>
        <div class="item">
            <div class="name">到期收益(元)</div>
            <div class="value" ng-if="!!item.amount_outstanding">{{ item.amount_outstanding | number }}</div>
            <div class="value" ng-if="!item.amount_outstanding">-</div>
        </div>
        <div class="item">
            <div class="name">下单时间</div>
            <div class="value">{{ item.submit_time | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
        <div class="item">
            <div class="name">起息日</div>
            <div class="value" ng-if="item.loan.value_date">{{ item.loan.value_date | date: 'yyyy-MM-dd' }}</div>
            <div class="value" ng-if="!item.loan.value_date">结标后第二天</div>
        </div>
        <div class="item">
            <div class="name">到期日</div>
            <div class="value" ng-if="item.end_date">{{ item.end_date | date: 'yyyy-MM-dd' }}</div>
            <div class="value" ng-if="!item.end_date">-</div>
        </div>
    </section>

    <section class="actions container" x-gyro-comment>
        <a class="item btn btn-block btn-lg btn-theme" target="_blank"
           ng-if="contract_url"
           ng-href="{{ contract_url }}"
        >合同下载</a>
        <a class="item btn btn-block btn-lg btn-default"
           ng-href="loan/{{ item.loan.id }}"
        >产品详情</a>
    </section>
</div>
