
<div id="dashboard-invite">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">邀请好友</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SOCIAL_TITLE: '土巴士',
            SOCIAL_DESC: '土巴士',
            SOCIAL_IMG: 'assets/image/share-logo.png',
        }">
    </div>

    <section class="omit-margin shadow">
        <ul class="list-unstyled u-off-margin-bottom info-list" ng-hide="loading_have_invited">
            <li class="omit-padding">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="open" ng-if="true">
                        <uib-accordion-heading>
                            <param class="pull-right glyphicon"
                                   ng-class="open ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                            >
                            <div class="info">
                                <span class="name">已邀请好友</span>
                                <span class="value">
                                    <span class="num">{{ have_invited.count }}</span>人
                                </span>
                            </div>
                        </uib-accordion-heading>

                        <div class="content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>好友姓名</th>
                                        <th>手机号</th>
                                        <th>注册时间</th>
                                    </tr>
                                </thead>
                                <tbody
                                    ui-scrollpoint
                                    ui-scrollpoint-edge="bottom"
                                    ui-scrollpoint-action="self.infinite_scroll"
                                    ui-scrollpoint-enabled="{{
                                           open
                                        && !loading_invite_list
                                        && invite_list.length >= query_set.pageSize
                                        && invite_list.length < invite_list.totalSize
                                    }}"
                                >
                                    <tr ng-repeat="item in invite_list">
                                        <td>
                                            {{
                                                item.user.name
                                                ? (item.user.name | string_mask | string_replace: '^(.+)(.)$' : '$1*')
                                                : '未认证'
                                            }}
                                        </td>
                                        <td>
                                            {{ item.user.mobile | string_replace: '^(\\d{3})(\\d{4})(\\d{4})$' : '$1****$3' }}
                                        </td>
                                        <td class="date text-center">
                                            {{ item.user.registerDate | date: 'yyyy-MM-dd' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="text-center loading" ng-show="loading_invite_list">
                                <img src="assets/image/spinner.gif">
                            </p>

                            <div class="container not-found" ng-if="!invite_list.length" ng-hide="loading_invite_list">
                                <div class="icon-wrap">
                                    <img class="icon" width="50" ng-src="assets/image/not-found-icon.png">
                                </div>
                                <p class="desc">暂无数据</p>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </li>
            <li>
                <div class="info">
                    <span class="name">已斩获红包</span>
                    <span class="value">
                        <span class="num">{{ have_invited.totalCoupons }}</span>个
                    </span>
                </div>
            </li>
            <li ng-if="have_invited.totalCoupons">
                <div class="action">
                    <a href="list" class="btn btn-block btn-theme">马上使用红包</a>
                </div>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading_have_invited">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

    <section class="panel" ng-init="show_tip = false">
        <div ng-if="!self.wechat.inside">
            <h5>长按复制以下链接分享给好友</h5>
            <p><a ng-href="{{ share_link }}" target="_blank">{{ share_link }}</a></p>
        </div>

        <div ng-if="self.wechat.inside">
            <button type="button" class="btn btn-block btn-theme btn-share" ng-click="$parent.show_tip = true">分享给好友</button>
        </div>

        <h4>扫一扫<br>邀请好友更方便</h4>
        <div>
            <qrcode data="{{ share_link }}"
                    size="120"
                    version="5"
                    error-correction-level="M"
            >
        </div>
    </section>

    <div class="arrow-tip"
         ng-if="self.wechat.inside"
         ng-show="$parent.show_tip"
         ng-click="$parent.show_tip = false"
    >
        <div class="arrow"><img width="59" ng-src="assets/image/arrowhead.png"></div>
        <div class="tip">
            <div class="desc">
                <p>点击右上角的“…”</p>
                <p>分享给好友</p>
                <button type="button" class="btn btn-block btn-theme btn-know">我知道啦</button>
            </div>
        </div>
    </div>

</div>
