
<div id="dashboard-invite">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">邀请好友</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SOCIAL_TITLE: '',
            SOCIAL_DESC: '',
            SOCIAL_IMG: '',
        }">
    </div>

    <section class="omit-margin banner">
        <img class="img-responsive" ng-src="assets/image/invite-banner.png">
    </section>

    <section class="omit-margin">
        <ul class="list-unstyled u-off-margin-bottom info-list" ng-hide="loading_have_invited">
            <li>
                <div class="info">
                    <span class="name">已邀请好友</span>
                    <span class="value">{{ have_invited.count }}人</span>
                </div>
            </li>
            <li>
                <div class="info">
                    <span class="name">已获得奖励</span>
                    <span class="value">{{ have_invited.rewardTotal }}元</span>
                </div>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading_have_invited">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

    <section class="panel" ng-init="show_tip = false">

        <div ng-if="!self.wechat.inside">
            <h5>长按复制以下链接发送给好友</h5>
            <p><a ng-href="{{ share_link }}" target="_blank">{{ share_link }}</a></p>
        </div>

        <div ng-if="self.wechat.inside">
            <button type="button" class="btn btn-lg btn-block btn-theme btn-share" ng-click="$parent.show_tip = true">立即分享</button>
        </div>

        <h4>扫一扫，邀请好友更方便</h4>
        <div>
            <qrcode data="{{ share_link }}"
                    size="130"
                    version="5"
                    error-correction-level="M"
            >
        </div>
    </section>

    <div class="arrow-tip"
         ng-if="self.wechat.inside"
         ng-show="$parent.show_tip"
         ng-click="$parent.show_tip = false"
    >
        <div class="arrow"><img width="59" ng-src="assets/image/arrowhead.png"></div>
        <div class="tip">
            <img width="106" ng-src="assets/image/cash-icon.png">
            <div class="desc">
                <p>点击右上角的“…”</p>
                <p>分享给好友，获得奖励吧</p>
                <button type="button" class="btn btn-lg btn-block btn-theme btn-know">我知道啦</button>
            </div>
        </div>
    </div>

</div>
