
<div id="dashboard-notification">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">我的消息</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="notifications">
        <ul class="list list-unstyled list-notification u-off-margin-bottom">
            <li class="item"
                ng-repeat="notification in data"
                ng-class="'item-status-' + (notification.status | lowercase)"
            >
                <h4 class="title" ng-click="self.read(notification)">
                    <param class="pull-right glyphicon"
                           ng-class="notification.show_content ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                    >
                    {{ notification.body.title }}
                </h4>
                <div class="content" ng-show="notification.show_content">
                    {{ notification.body.content }}
                </div>
                <div class="date">
                    {{ notification.body.sentTime | date: "yyyy-MM-dd" }}
                </div>
            </li>
        </ul>

        <div ng-if="!data.length" class="container">
            <h4 class="alert alert-info text-center">暂无消息</h4>
        </div>

        <p ng-if="data.length && self.has_more(data)" class="container">
            <button class="load-more btn btn-default btn-block"
                    ng-click="self.add_more(data)"
            >点击查看更多</button>
        </p>
    </section>

</div>
