
<div id="dashboard-recharge">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.next_path || 'dashboard' }}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">充值</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg.success" ng-init="msg.success = '充值成功'">
    </div>

    <div class="wrapper">

        <div class="balance wrapper-item first">
            <span class="labels">余额：</span>
            <span class="amount">&yen; {{ available_amount | number }}</span>
        </div>

        <form class="form-horizontal"
              name="form"
              ng-submit="self.submit(amount)"
              novalidate
        >
            <div class="wrapper-item account">
                <div class="inner">
                    <div class="icon">
                        <img width="21" ng-src="assets/image/bank-icons/{{ bank_account.bank | lowercase }}.png">
                    </div>

                    <div class="card-number">
                        {{ bank_account.mask }}
                    </div>
                </div>
            </div>

            <div class="wrapper-item input">
                <input class="form-control input-md"
                       type="number"
                       name="amount"
                       ng-model="amount"
                       min="0.01"
                       max="1000000"
                       minlength="1"
                       pattern="^[0-9\.]+"
                       placeholder="充值金额"
                       required
                >
            </div>

            <div class="wrapper-item btn-wrap">
                <button class="btn btn-theme btn-lg btn-block"
                        type="submit"
                        ng-disabled="form.$invalid || self.submit_sending"
                >确认充值</button>
            </div>
        </form>
    </div>

</div>
