
<div id="dashboard-repayment">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">预期回款</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div></div>

    <section class="omit-margin repayment-summary text-center" ng-hide="loading">
        <div class="subject">
            <div class="name">
                未来六个月，预期回款(元)
            </div>
            <div class="value">{{ amount | number: 2 }}</div>
        </div>
        <div class="footer">
            <div class="inner">
                <div class="item">
                    <div class="name">本金(元)</div>
                    <div class="value">{{ amount_principal | number: 2 }}</div>
                </div>
                <div class="item">
                    <div class="name">利息(元)</div>
                    <div class="value">{{ amount_interest | number: 2 }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="omit-margin repayment-detail" ng-if="list.length">
        <ul class="list list-unstyled u-off-margin-bottom">
            <li ng-repeat="item in list">
                <div class="subject">
                    <span class="date">{{ item.due_date | date: "yy年MM月dd日" }}</span>
                    <h5 class="title">{{ item.loanTitle }}</h5>
                </div>
                <div class="info">
                    <span class="name">
                        回款{{ { both: '本息', interest: '利息', principal: '本金' }[item.type] }}(元)
                    </span>
                    <span class="value">{{ item.amount | number: 2 }}</span>
                </div>
            </li>
        </ul>
    </section>

    <p class="text-center loading" ng-show="loading">
        <img src="assets/image/spinner.gif">
    </p>

    <div class="container" ng-if="!list.length" ng-hide="loading">
        <h4 class="alert alert-info text-center">暂无数据</h4>
    </div>

</div>
