
<div id="dashboard-subhome">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">个人中心</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            ACCESS_DENIED: '登录超时',
        }">
    </div>

    <section class="omit-margin shadow subject">
        <div class="info">
            <img class="icon" width="18" ng-src="assets/image/user-icon-sm.png">
            {{ now | greeting_time_cn }},
            {{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{5})(\\d{3})$' : '$1*****$3' }}
        </div>

        <div class="btns">
            <btn class="btn btn-theme btn-xs"
                 ng-click="self.$location.path('dashboard/recharge')"
            >充值</btn>
            <btn class="btn btn-plain btn-xs"
                 ng-click="self.$location.path('dashboard/withdraw')"
            >提现</btn>
        </div>
    </section>

    <section class="shadow summary">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="info">
                    <span class="status">
                        <param class="glyphicon"
                               ng-class="{
                                   'glyphicon-ok-sign': self.user.info.idNumber
                               }"
                        >
                    </span>
                    <span class="name">身份认证</span>
                    <span class="value">
                        <span ng-if="self.user.info.idNumber">
                            {{ self.user.info.idNumber | string_replace: '^(\\d{6})(\\d+)(\\w{4})$' : '$1****$3' }}
                        </span>
                    </span>
                </div>
            </li>

            <li>
                <div class="info">
                    <span class="status">
                        <param class="glyphicon glyphicon-ok-sign">
                    </span>
                    <span class="name">手机号码</span>
                    <span class="value">
                        {{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{4})(\\d{4})$' : '$1****$3' }}
                    </span>
                    <span class="action">
                        <a href="dashboard/mobile-change">修改</a>
                    </span>
                </div>
            </li>

            <li>
                <div class="info">
                    <span class="status">
                        <param class="glyphicon glyphicon-ok-sign">
                    </span>
                    <span class="name">登录密码</span>
                    <span class="value">********</span>
                    <span class="action">
                        <a href="password/change">修改</a>
                    </span>
                </div>
            </li>

            <li>
                <div class="info">
                    <span class="status">
                        <param class="glyphicon"
                               ng-class="{
                                   'glyphicon-ok-sign': self.user.has_payment_password
                               }"
                        >
                    </span>
                    <span class="name">支付密码</span>
                    <span class="value">
                        <span ng-if="self.user.has_payment_password">********</span>
                    </span>
                    <span class="action">
                        <a ng-href="dashboard/payment/{{ self.user.has_payment_password ? 'password' : 'bind-card' }}">
                            {{ self.user.has_payment_password ? '重置' : '设置' }}
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <section class="container links-list">
        <div class="row list-row">
            <div class="col-xs-6 item">
                <a href="dashboard/funds">
                    <div class="media">
                        <div class="media-left">
                            <param class="icon icon-doc">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">资金记录</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 item">
                <a href="dashboard/bank-card">
                    <div class="media">
                        <div class="media-left">
                            <param class="icon icon-card">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">我的银行卡</h4>
                            <p class="desc" ng-if="default_bank_account">
                                {{ default_bank_account.account.bankName }}
                                {{ default_bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row list-row">
            <div class="col-xs-6 item">
                <a href="dashboard/invite" target="_self">
                    <div class="media">
                        <div class="media-left">
                            <param class="icon icon-gift">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">我的邀请</h4>
                            <p class="desc" ng-if="invite_coupon_length">已斩获{{ invite_coupon_length }}个红包</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 item">
                <a href="dashboard/coupon">
                    <div class="media">
                        <div class="media-left">
                            <param class="icon icon-coupon">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">我的红包</h4>
                            <p class="desc" ng-if="available_coupon_length">{{ available_coupon_length }}个可用</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</div>
