
<div id="dashboard-withdraw">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">提现</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {}">
    </div>

    <div class="wrapper">

        <div class="balance wrapper-item first">
            <span class="labels">余额：</span>
            <span class="amount">&yen; {{ available_amount | number }}</span>
        </div>

        <form class="form-horizontal"
              name="form"
              action="/upayment/withdraw"
              method="post"
              target="_self"
              ng-submit="self.submit($event)"
              novalidate
        >
            <div class="wrapper-item account">
                <div class="inner">
                    <div class="icon">
                        <img width="21" ng-src="assets/image/bank-icons/{{ bank_account.bank | lowercase }}.png">
                    </div>

                    <div class="card-number">
                        {{ bank_account.mask }}
                    </div>
                </div>
            </div>

            <div class="wrapper-item input">
                <input class="form-control input-md"
                       type="number"
                       name="withdraw"
                       ng-model="amount"
                       min="4"
                       max="{{ available_amount }}"
                       minlength="1"
                       placeholder="手续费 3 元"
                       required
                >
            </div>

            <div class="wrapper-item btn-wrap">
                <button class="btn btn-theme btn-lg btn-block"
                        type="submit"
                        ng-disabled="form.$invalid || self.submit_sending"
                >确认提现</button>
            </div>

            <input type="hidden" name="isWAP" value="true">
        </form>
    </div>

</div>
