<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/aboutus/css/aboutus.css">

    <div class="page-guide">
        <p class="aboutus-title">首页 > 关于我们</p>

        <!-- Nav tabs -->
        <div class="aboutus_tab">
            <ul class="tab_left">
                <li class="active ptjs"><a href="#ptjs" data-toggle="tab">平台介绍</a></li>
                <li class="ptgg"><a href="#ptgg" data-toggle="tab">平台公告</a></li>
                <li class="aqbz"><a href="#aqbz" data-toggle="tab">安全保障</a></li>
                <li class="fwxy"><a href="#fwxy" data-toggle="tab">服务协议</a></li>
                <li class="ggtd"><a href="#ggtd" data-toggle="tab">高管团队</a></li>
                <li class="lxwm"><a href="#lxwm" data-toggle="tab">联系我们</a></li>
                <li class="bgcd"><a href="#bgcd" data-toggle="tab">办公场地</a></li>
                <li class="mtbd"><a href="#mtbd" data-toggle="tab">媒体报道</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tab_right">
                <div class="tab-pane active" id="ptjs">
                    <div class="tab_right_title">平台介绍</div>
                    <div class="ptjs_content">
                        <h3>平台概述</h3>
                        <p>自金网系均瑶集团旗下华瑞金融科技有限公司建设和运营的互联网金融资产交易服务平台。秉承着打造健康金融生态圈、为客户提高效益的原则，自金网致力于为客户提供优质、安全、便捷的金融理财信息服务，做一个能保护消费者、有责任感的平台。 自金网与众多金融投资机构、金融交易所、优质实业资产企业等都有广泛的合作，在优质企业、优质资产的保障前提下，自金网遵循“宁缺毋滥”的原则，做到银行级的风险控制。自金网管理团队主要来自各大银行、互联网金融等金融机构，具备丰富的互联网及金融行业企业管理和投融资运作经验。 自金网，是您安全理财的最佳选择。
                        </p>
                        <h3>愿景</h3>
                        <p>打造以客户为中心的健康金融生态圈、为社会带来效益、做责任感的平台。</p>
                        <h3>核心价值</h3>
                        <div class="ptjs_content_step3">
                            <img src="/ccc/aboutus/img/safe.png" alt="太合汇·汇财富">
                            <div class="common"> 
                                <span>安全</span>：自金网建立了一套成熟的风控体系，遵循“宁缺毋滥”的原则，对每一笔资产、每一个项目都有严格的风控把握。同时，自金网严格按照监管要求，采用资金托管模式，切实保障用户资金安全。</div>
                            <div class="line">
                                <div class="line1"></div>
                                <div class="line2"></div>
                            </div>

                            <div class="last">
                                <img src="/ccc/aboutus/img/service.png" class="last1" alt="太合汇·汇财富">
                                <div class="common">
                                    <span>服务</span>：自金网拥有完善的客服体系，竭力为用户提供贴心的服务。自金网以“客户为中心”，制定客户服务标准，为客户提供优质、贴心的服务，努力建造让客户买得放心、用得舒心的平台。
                                </div>
                                <img src="/ccc/aboutus/img/income.png" class="last2" alt="太合汇·汇财富">
                                <div class="common income">
                                    <span>收益</span>：自金网与众多优质投融资机构有广泛的合作，在保障客户资金安全的前提下，尽可能的为客户带来理想的理财收益。
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ptgg">
                    <div class="tab_right_title">平台公告</div>
                    <div class="ptgg-box"></div>
                    <div id="ptgg-pager"></div>
                </div>
                <div class="tab-pane" id="aqbz">
                    <div class="tab_right_title">安全保障</div>
                    <div class="centent-nr">
                        <div class="the-aqbz">
                            <img style="float:left; padding:30px 70px 30px 20px;" src="/ccc/aboutus/img/icon_01_aqbz.jpg" alt="太合汇·汇财富" />
                            <span>大数据信用评估</span>
                            <p>自金网自主研发大数据信用评估体系，数据真实可靠，精准评估融资方信用等级，筛选符合平台安全可靠要求的资产。在大数据信用评估体系的前提下，平台还会对身份证、房产证、工作证明、收入证明、营业执照、信用报告等信息进行真实性的审核。审核方式包括但不限于实地审查、网上审核、尽责调查等。</p>
                        </div>
                        <div class="the-aqbz">
                            <img style="float:right; padding:20px 20px 20px 70px;" src="/ccc/aboutus/img/icon_02_aqbz.jpg" alt="太合汇·汇财富" />
                            <span>技术安全保障</span>
                            <p>自金网采用先进的信息加密技术，对用户的敏感信息操作自动加密传输。同时，自金网拥有完善的安全监测体系，可以及时判断出非正常访问并立即做出应对。自金网从交易、资金、风险、隐私四个方面进行全方位实时监控，对用户资金保驾护航。</p>
                        </div>
                        <div class="the-aqbz">
                            <img style="float:left; padding:30px 70px 30px 20px;" src="/ccc/aboutus/img/icon_03_aqbz.jpg" alt="太合汇·汇财富" />
                            <span>法律、风控保障</span>
                            <p>自金网的每一个项目都经过风控把关，保障项目的低风险性；每一份合同都经过法务的严格审核，切实保护用户的利益。自金网建立了一套成熟的风控体系，遵循“宁缺毋滥”的原则，对每一笔资产、每一个项目都有严格的风控把握。同时，自金网严格按照监管要求，采用资金托管模式，切实保障用户资金安全。</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="fwxy">
                    <div class="tab_right_title">服务协议</div>
                    <div class="fwxy-box"></div>
                    <div id="fwxy-pager"></div>
                </div>
                <div class="tab-pane" id="ggtd">
                    <div class="tab_right_title">高管团队</div>
                    <div class="ggtd-nr">
                        <ul>
                            {{#CMSggtd}}
                            <li>
                                <div class="div-1">
                                    <img src="{{url}}" alt="">
                                    <p>
                                        <span>{{author}}</span> {{media}}
                                    </p>
                                </div>
                                <div class="div-2">
                                    {{{content}}}
                                </div>
                            </li>
                            {{/CMSggtd}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="lxwm">
                    <div class="tab_right_title">联系我们</div>
                    <div class="lxwm_content">
                        <p>客服热线：<span>400-7566-688</span></p>
                        <p>客服邮箱：<span>service@ftzex.com</span></p>
                    </div>
                </div>
                <div class="tab-pane" id="bgcd">
                    <div class="tab_right_title">办公场地</div>
                    <div class="bgcd">
                        <img style="border: 1px solid #ccc" src="/ccc/aboutus/img/map.jpg" alt="太合汇·汇财富" />
                        <p>
                            <span>办公地址：</span> 上海市徐汇区肇嘉浜路789号均瑶国际广场3楼
                        </p>
                    </div>
                </div>
                <div class="tab-pane" id="mtbd">
                    <div class="tab_right_title">媒体报道</div>
                    <div class="mtbd-box"></div>
                    <div id="mtbd-pager"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/ccc/aboutus/js/main/index.js"></script>
</dsBody>