<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/aboutus/css/aboutus.css">

    <div class="page-guide">
<!--        <p class="aboutus-title"><a href="/">首页</a> >关于我们>{{tab.text}}</p>-->

        <!-- Nav tabs -->
        <div class="aboutus_tab">
            <ul class="tab_left">
                <li class="active ptjs"><a href="#ptjs" data-toggle="tab">平台介绍</a></li>
                <li class="ptgg"><a href="#ptgg" data-toggle="tab">平台公告</a></li>
                <li class="aqbz"><a href="#aqbz" data-toggle="tab">安全保障</a></li>
                <li class="fwxy"><a href="#fwxy" data-toggle="tab">服务协议</a></li>
                <li class="ggtd"><a href="#ggtd" data-toggle="tab">高管团队</a></li>
                <li class="lxwm"><a href="#lxwm" data-toggle="tab">联系我们</a></li>
                <li class="bgcd"><a href="#bgcd" data-toggle="tab">办公场地</a></li>
                <li class="mtbd"><a href="#mtbd" data-toggle="tab">媒体报道</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tab_right">
                <div class="tab-pane active" id="ptjs">
                    <div class="tab_right_title">平台介绍</div>
                </div>
                <div class="tab-pane" id="ptgg">
                    <div class="tab_right_title">平台公告</div>
                    <div class="ptgg-box"></div>
                    <div id="ptgg-pager"></div>
                </div>
                <div class="tab-pane" id="aqbz">
                    <div class="tab_right_title">安全保障</div>
                </div>
                <div class="tab-pane" id="fwxy">
                    <div class="tab_right_title">服务协议</div>
                    <div class="fwxy-box"></div>
                    <div id="fwxy-pager"></div>
                </div>
                <div class="tab-pane" id="ggtd">
                    <div class="tab_right_title">高管团队</div>
                </div>
                <div class="tab-pane" id="lxwm">
                    <div class="tab_right_title">联系我们</div>
                </div>
                <div class="tab-pane" id="bgcd">
                    <div class="tab_right_title">办公场地</div>
                </div>
                <div class="tab-pane" id="mtbd">
                    <div class="tab_right_title">媒体报道</div>
                    <div class="mtbd-box"></div>
                    <div id="mtbd-pager"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/ccc/aboutus/js/main/index.js"></script>
</dsBody>
