<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/activity/css/activity.css">
<div class="big-container">
    <div class="middle">
       <img class="banner-title" src="/ccc/activity/img/banner-title.png"/>
        <img class="four" src="/ccc/activity/img/four.png"/>
        <img class="four-first" src="/ccc/activity/img/four-first.png"/>
        <img class="process-pic" src="/ccc/activity/img/process-pic.png"/>
        <img class="four-second" src="/ccc/activity/img/four-second.png"/>
        <img class="process-pic" src="/ccc/activity/img/give-interest.png"/>
        <p class="rule">活动规则：<br>
1、仅限新注册用户领取 且每个新用户领取1次、<br>
2、使用红包或加息券 请参看使用规则（使用规则见 我的红包 ）<br>
3、最终解释权在718金融理财平台<br>
4、服务热线： 400-900-8868</p>
        <img class="four-third" src="/ccc/activity/img/four-third.png"/>
        <div class="make-money">
           <span>现注册用户将免费获得紫荆教育价值600元，由林华教授主讲的《资产证券化解析》
和《信用卡资产证券化》两门在线学习课程。（获取课程须填写邮箱）</span>
<p class="linhua">林华教授</p>
<p class="linhua-content">中国资产证券化研究院院长，厦门国家会计学院客座教授，西南财经大学兼职教授，拥有特许金融师，《金融新格局——资
产证券化突破与创新》、《中国资产证券化操作手册（上、下册）》畅销书主编。林华先生在中国资产证券化领域具有很深
的研究经验，同时具有颇高的知名度，是知名的资产证券化专家、投资专家。</p>
        </div>
        <img class="four-forth" src="/ccc/activity/img/four-forth.png"/>
        <div class="book">
           <p class="book-title">现在注册有机会获得(二选一)</p>
           <div>
              <div class="book-red-box">
                <img src="/ccc/activity/img/book-red.png"/>
                <div>
                   <p>《金融新格局》</p>
                   <h3>资产证券化是21世纪金融创新的代名词，而今已在中国吹响号角，中国金融改革趋势已经进入资产证券化时代。</h3>
                </div>
              </div>
                 <div class="book-red-box">
                <img src="/ccc/activity/img/book-blue.png"/>
                <div>
                   <p>《中国资产证券化操作手册》</p>
                   <h3>中国资产证券化业务必备操作指南。 一本从资产证券化参与机构的角度对业务操作的完整流程进行详细叙述的
专著。</h3>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>
</dsBody>
