<div class="invest-confirm-inner">
    <p>请在新页面完成支付操作后选择：</p>
    <ul class="text-line">
        <li>
            <div onclick="reopen()" class="first-child"><i class="glyphicon glyphicon glyphicon-ok-circle"></i>投标成功</div> <span><a href="/invest">返回投资列表</a>&nbsp或&nbsp<a href="/account/index">返回我的账户</a></span>
        </li>
        <li>
            <div onclick="reopen()"><i class="glyphicon glyphicon-question-sign"></i>投标失败</div><span><a href="/help/help">建议您查看理财帮手</a></span>
        </li>
    </ul>
    <div class=" align-right">
        服务热线：400-900-8868
    </div>

</div>