<div class="">
    <div class="current-container clearfix">
        <div class="box-large">
            <div class="invest-data-wrapper">
                <div class="investContainer">
                    <div class="detailTitle">
                        <a href="/creditList">债转列表 </a>> <sapn style="color: #e4262b">产品详情</sapn>
                        <div class="time">发布时间：<span class="time-left">{{timeOpen}}</span>
                        </div>

                        <div class="investTitle">
                            <div class="time">
                            </div>
                        </div>
                    </div>
                    <div class="h5"></div>
                    <div class="content">
                        <div class="innerBottom">
                            <div>{{creditassign.creditassign.title}}<span class="icon1"></span></div>
                        </div>
                        <div class="inner">
                            <div class="item itemSecond itemRed">
                                <div class="value">{{creditassign.creditassign.creditDealRate*100}}<span>%</span></div>
                                <div class="name" >预期收益率</div>
                            </div>
                            <div class="item itemThird" style="border-right:none">
                                <div class="value">{{creditassign.creditassign.timeOut}} <span>天</span></div>
                                <div class="name">预期到期日 <span style="color: #666">{{creditassign.creditassign.timeFinished}}</span></div>
                            </div>
                            <div class="item itemFirst">
                                <div class="value">
                                    {{workTime}}
                                </div>
                                <div class="name">起息日</div>
                            </div>

                        </div>

                        <div class="progress-wp">
                            <div class="progress-num">
                            </div>
                        </div>
                        <div class="protocol">
                            <a target="_blank" href="/loan/loanRequest/{{loan.loanRequest.id}}/contract/template">协议范本</a>
                        </div>
                    </div>
                    <div class="h20"></div>
                </div>
            </div>

            <div class="do-invest-wrapper">
                <div>转让价格(元): <span>{{creditassign.creditassign.balance}}</span></div>
                <div>预期收益(元): <span>{{creditassign.creditassign.amountInterest}}</span></div>
                <button class="btn">确认购买</button>
            </div>
        </div>
    </div>
</div>

<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active" data-step='0'>
                <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">项目详情</a>
            </li>
            <li role="presentation"  data-step='1'>
                <a href="#info" aria-controls="info" role="tab" data-toggle="tab">风控信息</a>
            </li>
            <li role="presentation" data-step='2'>
                <a href="#check" aria-controls="check" role="tab" data-toggle="tab">认证审核</a>
            </li>
        </ul>
        <div class="clearfix"></div>

        <div class="tab-panels">
            <div class="tab-panel active fade in" role="tabpanel" id="detail">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        {{{loan.loanRequest.description}}}
                    </div>

                </div>
            </div>
            <div class="tab-panel fade" role="tabpanel" id="info">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        {{{loan.loanRequest.guaranteeInfo}}}
                    </div>
                </div>
            </div>
            <div class="tab-panel fade" role="tabpanel" id="check">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        {{{loan.loanRequest.riskInfo}}}
                    </div>
                </div>
            </div>
        </div>
        <div class=""></div>
    </div>


    <div class="insurance-wrapper">
    </div>
</div>