<div class="">
    <div class="current-container clearfix">
        <div class="box-large">
            <div class="invest-data-wrapper">
                <div class="investContainer">
                    <div class="detailTitle">
                        <a href="/creditList">债转列表 </a>> <sapn style="color: #e4262b">产品详情</sapn>
                        <div class="time">发布时间：<span class="time-left">{{timeOpen}}</span>
                        </div>

                        <div class="investTitle">
                            <div class="time">
                            </div>
                        </div>
                    </div>
                    <div class="h5"></div>
                    <div class="content">
                        <div class="innerBottom">
                            <div>{{creditassign.creditassign.title}}<span class="icon1"></span></div>
                        </div>
                        <div class="inner">
                            <div class="item itemSecond itemRed">
                                <div class="value">{{(creditassign.creditassign.actualRate*100).toFixed(2)}}<span>%</span></div>
                                <div class="name" style="margin-left: 45px;">预期收益率</div>
                            </div>
                            <div class="item itemThird" style="border-right:none">
                                <div class="value">{{creditassign.creditassign.timeOut}} <span>小时</span></div>
                                <div class="name">预期到期日 <span style="color: #666">{{dueDate}}</span></div>
                            </div>
                            <div class="item itemFirst">
                                <div class="value">
                                    {{workTime}}
                                </div>
                                <div class="name">起息日</div>
                            </div>

                        </div>

                        <div class="progress-wp">
                            <div class="progress-num">
                            </div>
                        </div>
                        <div class="protocol">
                            <a target="_blank" href="/loan/loanRequest/{{loan.loanRequest.id}}/contract/template">协议范本</a>
                        </div>
                    </div>
                    <div class="h20"></div>
                </div>
            </div>
            {{#if user}}
            <div class="do-invest-wrapper">
                {{#if errors.visible}}
                <div class="tooltip">{{ errors.msg }}</div>
                {{/if}}

                <div>转让价格(元): <span>{{creditassign.creditassign.creditDealAmount}}</span></div>
                <input type="hidden" value="{{creditassign.creditassign.creditDealAmount}}" />
                <div>预期收益(元): <span>{{profit}}</span></div>
                <p class="agree">确认购买即视为同意
                    <a href="/api/v2/creditassign/template" target="_blank">《金融资产转让协议》、</a>
                    <a href="/agreement/risk" target="_blank">《风险提示书》、</a>
                    <a href="/account/invest/allContracts/{{creditassign.creditassign.id}}" target="_blank">《转让方购买金融资产时签署的购买协议》</a>
                </p>
                <button class="btn" on-click="invest-submit">同意协议并确认购买</button>
            </div>
            {{else}}
            <div class="do-invest-wrapper">
                <p class="shiming">请先登录</p>
                <a class="btn-login" href="/login">立即登录</a>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <!--<ul class="nav nav-tabs" role="tablist" id="myTabs">-->
            <!--<li role="presentation" class="active" data-step='0'>-->
                <!--<a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">产品介绍</a>-->
            <!--</li>-->
            <!--<li role="presentation"  data-step='1'>-->
                <!--<a href="#info" aria-controls="info" role="tab" data-toggle="tab">产品亮点</a>-->
            <!--</li>-->
            <!--<li role="presentation" data-step='2'>-->
                <!--<a href="#check" aria-controls="check" role="tab" data-toggle="tab">常见问题</a>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" data-step='0'>
                <a href="javascript:;">产品介绍</a>
            </li>
            <li role="presentation" class="" data-step='1'><a href="javascript:;">产品亮点</a>
            </li>
            <li role="presentation" class="" data-step='2'><a href="javascript:;">常见问题</a>
            </li>

        </ul>
        <div class="clearfix"></div>

        <div class="tab-panels">
            <div class="tab-panel  active">
                <div class="invest-info-box">
                    <table>
                        <tr>
                            <th class="title">产品名称</th>
                            <th class="content">{{qqtitle}}</th>
                        </tr>
                        <tr>
                            <th class="title">投资金额</th>
                            <th class="content">{{amount}}{{aUnit}}</th>
                        </tr>
                        <tr>
                            <th class="title">投资期限</th>
                            <th class="content">{{fduration}}{{fdurunit}}</th>
                        </tr>
                        <tr>
                            <th class="title">收益率</th>
                            <th class="content">{{rate}}%</th>
                        </tr>
                        <tr>
                            <th class="title">产品风险等级</th>
                            <th class="content">{{mortgageInfo}}</th>
                        </tr>
                        <tr>
                            <th class="title">资金用途</th>
                            <th class="content">{{fundUsage}}</th>
                        </tr>
                        <tr>
                            <th class="title">风控措施</th>
                            <th class="content">{{riskInfo}}</th>
                        </tr>
                        <tr>
                            <th class="title">风险提示</th>
                            <th class="content"> {{riskPrompt}}</th>
                        </tr>
                        <!--<tr>-->
                        <!--<th class="title">募集截止日</th>-->
                        <!--{{#if loans.timeFinished !== 'Invalid date'}}-->
                        <!--<th class="content">{{loans.timeFinished}}</th>-->
                        <!--{{else}}-->
                        <!--<th class="content">{{loans.timeEnd}}</th>-->
                        <!--{{/if}}-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<th class="title">预期收益</th>-->
                        <!--<th class="content">-->
                        <!--<div class="repay-plan-title">-->
                        <!--<p class="left">以募集截止日当天满标为例</p>-->
                        <!--<p class="right">单位：元</p>-->
                        <!--</div>-->
                        <!-- -->
                        <!--<table class="repay-plan repay-record">-->
                        <!-- -->
                        <!--<thead>-->
                        <!--<th>日期</th>-->
                        <!--<th>回款利息</th>-->
                        <!--<th>回款本金</th>-->
                        <!--<th style="border-top-right-radius: 3px;">剩余本金</th>-->
                        <!--</thead>-->

                        <!--{{#each replay:i}}-->
                        <!--<tr class="{{#if i%2==0}}white{{else}}gray{{/if}}">-->
                        <!--<th>{{dueDate}}</th>-->
                        <!--<th class="col-current-period">{{amountInterest}}</th>-->
                        <!--<th>{{amountPrincipal}}</th>-->
                        <!--<th>{{amountOutstanding}}</th>-->
                        <!--</tr>-->
                        <!--{{/each}}-->
                        <!--</table>-->
                        <!--</th>-->
                        <!--</tr>-->
                    </table>
                    <div class="insurance-wrapper"></div>
                </div>
            </div>
            <div class="tab-panel">
                <div class="lightspot-box">
                    {{{guaranteeInfo}}}
                    <!--<div class="single">-->
                    <!--<p class="title">雄厚的集团背景</p>-->
                    <!--<p class="content">诺亚（中国）控股有限公司（NYSE：NOAH）创始于2003年，2010年11月10日成功登陆美国纽约证券交易所，是中国内地首家上市的独立财富管理机构。诺亚实现业务多元化布局，金融服务集团架构基本成型，总体上具备为中国高净值人士实现全球化、全面资产配置服务的能力。财富派为诺亚下设的子公司，作为集团的重要战略布局，财富派是借助最新的移动互联技术专为社会精英、企业白领等高潜力人群打造的互联网私人银行。目前财富派已经形成了完善的互联网私人银行客户服务体系，可以为用户一站式提供跨品类、跨周期、跨地域的高品质财富管理服务。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="title">雄厚的集团背景</p>-->
                    <!--<p class="content">诺亚（中国）控股有限公司（NYSE：NOAH）创始于2003年，2010年11月10日成功登陆美国纽约证券交易所，是中国内地首家上市的独立财富管理机构。诺亚实现业务多元化布局，金融服务集团架构基本成型，总体上具备为中国高净值人士实现全球化、全面资产配置服务的能力。财富派为诺亚下设的子公司，作为集团的重要战略布局，财富派是借助最新的移动互联技术专为社会精英、企业白领等高潜力人群打造的互联网私人银行。目前财富派已经形成了完善的互联网私人银行客户服务体系，可以为用户一站式提供跨品类、跨周期、跨地域的高品质财富管理服务。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="title">雄厚的集团背景</p>-->
                    <!--<p class="content">诺亚（中国）控股有限公司（NYSE：NOAH）创始于2003年，2010年11月10日成功登陆美国纽约证券交易所，是中国内地首家上市的独立财富管理机构。诺亚实现业务多元化布局，金融服务集团架构基本成型，总体上具备为中国高净值人士实现全球化、全面资产配置服务的能力。财富派为诺亚下设的子公司，作为集团的重要战略布局，财富派是借助最新的移动互联技术专为社会精英、企业白领等高潜力人群打造的互联网私人银行。目前财富派已经形成了完善的互联网私人银行客户服务体系，可以为用户一站式提供跨品类、跨周期、跨地域的高品质财富管理服务。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="title">雄厚的集团背景</p>-->
                    <!--<p class="content">诺亚（中国）控股有限公司（NYSE：NOAH）创始于2003年，2010年11月10日成功登陆美国纽约证券交易所，是中国内地首家上市的独立财富管理机构。诺亚实现业务多元化布局，金融服务集团架构基本成型，总体上具备为中国高净值人士实现全球化、全面资产配置服务的能力。财富派为诺亚下设的子公司，作为集团的重要战略布局，财富派是借助最新的移动互联技术专为社会精英、企业白领等高潜力人群打造的互联网私人银行。目前财富派已经形成了完善的互联网私人银行客户服务体系，可以为用户一站式提供跨品类、跨周期、跨地域的高品质财富管理服务。</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="tab-panel">
                <div class="question-box">
                    {{{description}}}
                    <!--<div class="single">-->
                    <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                    <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                    <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                    <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                    <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                    <!--<div class="single">-->
                    <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                    <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="tab-panel">

                {{#if user}}

                <div class="invest-record"></div>
                <div style="height:50px;"></div>
                <div class="" id="record-pager" style="text-align:center"></div>
                {{else}}
                <div class="notLogin">
                    <!--                    <p>用户详情</p>-->
                    <p>请 <a href="/login" style="color:#009ada;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                </div>
                {{/if}}
            </div>



        </div>
        <div class=""></div>
    </div>


    <!--<div class="insurance-wrapper">-->
    <!--</div>-->
</div>

