{{#if step1}}
<div class="title">
    <span>产品名称</span>{{creditassign.title}}
</div>
<div class="num">
    <div class="num1">
        支付金额(元)<span class="invest-num">{{investNum}}</span>
    </div>
    <div class="num2">
        可用余额(元)<span class="">{{user.availableAmount}}</span>
        <input type="checkbox" id="useBankCard" checked={{useBankCard}}>使用
    </div>
</div>
<div class="bank">
    <p>我的绑定银行卡</p>
    {{#each bankcards}}
    <div class="bank-box {{account.bank}}">
        <span>******** {{Faccount}}</span>
        <span class="limit">单笔限额10万</span>
    </div>
    {{/each}}

</div>
<div class="invest-input">
    <div class="card-brame">
        <div class="img-box">
            <img class="" src="/ccc/register/img/psw_icon.png">
        </div>
        <input type="password" placeholder="输入支付密码" name="paymentPassword" value="{{paymentPassword}}" autocomplete="off"/>
        <a href="/newAccount/settings/resetPassword" class="forgot-pwd">忘记密码？</a>
    </div>
    {{#if errors.visible}}
    <div class="tooltip">
        <div class="tooltip-inner">
            <span class="text">{{ errors.msg }}</span>
        </div>
    </div>
    {{/if}}
</div>
<!--<div class="agree-box">-->
    <!--支付即视为同意<a href="/agreement/risk" target="_blank">《风险提示书》、</a>-->
    <!--<a href="/agreement/protocolBuy" target="_blank">《产品购买协议-模板》</a>-->
<!--</div>-->
<button on-click="invest-submit" class="submit_btn">确认支付</button>
{{/if}}
{{#if step2}}
<div class="recharge-success">
    <div class="content">
        <div class="success-img">
            <img src="/ccc/newAccount/img/band-success.png"/>
        </div>
        <div class="success-content">
            <p>支付成功！</p>
        </div>
    </div>
</div>
{{/if}}
{{#if step3}}
<div class="recharge-success">
    <div class="content">
        <div class="success-img">
            <img src="/ccc/newAccount/img/band-fail.png"/>
        </div>
        <div class="success-content">
            <p>支付失败</p>
            <p class="fail_reason">{{failerror}}</p>
            <div class="button">
            <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
            <a href="/creditDetail/{{creditassign.id}}/{{creditassign.loanId}}"><button class="btn-after btn-bank">重新购买</button></a>
            </div>
        </div>
    </div>
</div>
{{/if}}