<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/email.css">
<div class="account-wrapper">
	<div class="user-header">
		<div class="infoContent">
			<h2>我的账户  >  <span>绑定邮箱</span></h2>
		</div>
		<img src="/ccc/newAccount/img/usernav_line.png" alt="土巴士·土巴士"/>
	</div>
	<div class="account-container">
		<div class="account-content-wrapper">
			<div class="account-content account-recharge-wrapper" id="ractive-container">
				loading...
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="space space-50">&nbsp;</div>

</dsBody>
<script src="/ccc/return/js/main/return.js"></script>