<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/coupon.css">
<div class="account-wrapper">
    <div class="account-container">
        <div class="account-nav"></div>
        <div class="account-content-wrapper">
            <div class="account-content coupon-content">
                <div class="coupon-nav">
                    <span>我的红包</span>
                    <p class="rule"><img src="/ccc/newAccount/img/coupon/icon.png">红包使用规则</p>
                </div>
                <div class="coupon_rule">
                    <div class="coupon_rule_nav">
                        <span>红包使用规则</span>
                        <p class="back"><img src="/ccc/newAccount/img/coupon/back.png">返回我的红包</p>
                    </div>
                    <ul>
                        <li><span>1) 现金券：</span>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
                        <li><span>2) 增值券：</span>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
                        <li><span>3) 返现券：</span>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
                        <li><span>4) 加息券：</span>1.本券不记名,不挂失,不兑现,遗失不补,请妥善保管。2.使用本券可同时享受店内所有优惠活动。等同现金消费,但不找零;</li>
                    </ul>
                </div>
                <div class="ccc-tab pull-left coupon-nav-view" data-header-selector=".header-text">
<!--                    <p class="selectTitle">红包类型:</p>-->
                    <ul class="ttabs">
                        <li data-type="PLACED" class="active"><a href="#" rel="nofollow" >未使用</a></li>
                        <li data-type="REDEEMED"><a href="#" rel="nofollow" >已使用</a></li>
                        <li data-type="EXPIRED"><a href="#" rel="nofollow" >已过期</a></li> 
                    </ul>
                </div>
                <div class="coupon-content-detail">
                    <div class="ccc-tab-panels">
                        <div class="tab-panel panel-PLACED active">
                        <p class="loading">加载中...</p>
                        </div>
                        <div class="tab-panel panel-REDEEMED "></div>
                        <div class="tab-panel panel-EXPIRED"></div>
                    </div>
                </div>
                <div class="space-40"></div>
                <div id="coupon-pager"></div>
      
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="space space-50">&nbsp;</div>

<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/coupon.js"></script>
</dsBody>
