<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/settings.css">
<div class="account-wrapper">
	<div class="user-nav"></div>
	<div class="account-container">
		<div class="account-nav"></div>
		<div class="account-content-wrapper">
			<!-- <div class="space-30"></div> -->
			<div class="account-content account-settings-wrapper" id="ractive-container">
				加载中...
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="space space-50">&nbsp;</div>

<script src="/ccc/newAccount/js/main/common.js"></script>

{{#if tabName === 'fixed'}}
<script src="/ccc/newAccount/js/main/settings/fixed.js"></script>
{{/if}}
{{#if tabName === 'float'}}
<script src="/ccc/newAccount/js/main/settings/float.js"></script>
{{/if}}
{{#if tabName === 'password'}}
<script src="/ccc/newAccount/js/main/settings/password.js"></script>
{{/if}}
{{#if tabName === 'bankCards'}}
<script src="/ccc/newAccount/js/main/settings/bankCards.js"></script>
{{/if}}
{{#if tabName === 'resetPassword'}}
<script src="/ccc/newAccount/js/main/settings/resetPassword.js"></script>
{{/if}}
{{#if tabName === 'showbank'}}
<script src="/ccc/newAccount/js/main/settings/showbank.js"></script>
{{/if}}
{{#if tabName === 'home'}}
<script src="/ccc/newAccount/js/main/index.js"></script>
{{/if}}
{{#if tabName === 'authentication'}}
<script src="/ccc/newAccount/js/main/settings/authentication.js"></script>
{{/if}}
</dsBody>
