{{#if totalPage.length }}
<ul class="">
    <li class="index-page" on-click="page:1">
        <a href="" >首页</a>
    </li>
    {{#if current>6}}
    <li class="index-page" on-click="page:{{current-5}}">
        <a href="" >&lt;&lt;</a>
    </li>
    {{/if}}
    <li class="page-last" on-click="previous"><a href="#" >&lt;</a></li>
    {{#totalPage}}
    {{#if current-5< totalPage[@key] && current+5 > totalPage[@key]}}
    <li class="current-page-now {{#if current == totalPage[@key]}} current-page {{/if}}" on-click="page:{{this}}"><a href="#" >{{totalPage[@key]}}</a>
    </li>
    {{/if}}
    {{/totalPage}}
    <li class="page-next"  on-click="next"><a href="#">&gt;</a></li>
    {{#if current < totalPage[totalPage.length-1]-5 }}
    <li class="index-page" on-click="page:{{current+5}}">
        <a href="" >&gt;&gt;</a>
    </li>
    {{/if}}
    <li class="index-page" on-click="page:{{totalPage[totalPage.length-1]}}">
        <a href="" >尾页</a>
    </li>
    <!--<li class="alljilv">共{{totalSize}}条记录</li>-->
</ul>
{{/if}}
