
{{#if !authenticateInfo.idNumber}}

<div class="open-account-wrapper">
    {{#if step1}}
    <div class="account-form-wrapper">
        <form class="form-horizontal">
            <!--<div class="">-->
                <!--<div class="" style="height:40px">-->
                    <!--{{#if showErrorMessage}}-->
                    <!--<div class="error-message">-->
                        <!--{{ errorMessage }}-->
                    <!--</div>-->
                    <!--{{/if}}-->
                <!--</div>-->
            <!--</div>-->

            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-man.png">
                </div>
                <input type="text" class="check-name" name="name" id="trueName" value="{{ name }}" placeholder="输入姓名" on-blur="checkName"/>
                {{#if showErrorMessageName}}
                <div class="error-message nameAndId">
                    {{ errorMessageName }}
                </div>
                {{/if}}
            </div>

            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-id.png" class="id-img">
                </div>
                <input type="text" class="check-name" id="userIdNumber" name="idNumber" value="{{idNumber}}" placeholder="输入身份证号码" on-blur="checkIdNumber"/>
                {{#if showErrorMessageId}}
                <div class="error-message nameAndId">
                    {{ errorMessageId }}
                </div>
                {{/if}}
            </div>

            <div class="account-submit">
                <input type="button" value="实名认证" on-click="register-account-submit" class="info-submit" />
            </div>
        </form>
    </div>
    {{/if}}
    {{#if step2}}
    <div class="recharge-success">
        <div class="content">
            <div class="success-img">
                <img src="/ccc/newAccount/img/band-success.png"/>
            </div>
            <div class="success-content">
                <p>实名认证成功！</p>
                <div class="button">
                    <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
                    <a href="/newAccount/settings/bankCards"><button class="btn-after btn-bank">添加银行卡</button></a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
{{else}}
<!-- 已绑定 -->
<div class="open-account-wrapper">
    <div class="account-form-wrapper">
        <form class="form-horizontal">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-man.png">
                </div>
                <input type="text" class="check-name" placeholder="{{authenticateInfo.name}}" disabled/>
            </div>

            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-id.png" class="id-img">
                </div>
                <input type="text" class="check-name"  placeholder="{{authenticateInfo.idNumber.substr(0,5)}}**********{{authenticateInfo.idNumber.substr(-3)}}" disabled/>
            </div>

            <div class="account-submit">
                <input type="button" value="已实名" class="info-submit checked-id" />
            </div>
        </form>
    </div>
</div>
{{/if}}
<div id="deposit-agreement-wraper">

</div>
<div class="img-wrapperau"></div>
