{{#if status === 0}}
<div class="bind-card-wrapper">
    {{#if step1}}
    <form action="" method="POST" on-submit="bind-card-submit">
        <p class="addcard-info">请先绑定银行卡才能进行充值、提现、投资等操作！</p>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-man.png"/>
                </div>
                <input on-keyup="validatePersonal" type="text" name="personal" {{hasCardO?'disabled':''}} value="{{personal}}" class="payInp"
                placeholder="持卡人姓名">
            </div>
            <p class="error">{{#if personalError}} {{personalError}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-id.png"/>
                </div>
                <input  on-keyup="validateIdNo" type="text" name="idNo" value="{{idNo}}" class="payInp" placeholder="输入身份证号码"
                        {{hasCardO?'disabled':''}}>
            </div>
            <p class="error">{{#if idNoError}} {{idNoError}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img src="/ccc/newAccount/img/bankcode.png"/>
                </div>
                <select name="bankName" class="select" value="{{bankName}}" {{hasCard1?'disabled':''}} on-blur="validateBankName">
                    <option value="">选择开户银行</option>
                    {{#each newbanks}}
                    <option value="{{bankCode}}">{{bankName}}
                        <span>单笔 {{#if singleQuota == -1}}无限额{{else}}{{singleQuota}}元{{/if}}/日限额 {{#if dailyQuota == -1}}无限额{{else}}{{dailyQuota}}元{{/if}}</span>
                    </option>
                    {{/each}}
                </select>
            </div>
            <p class="error">{{#if bankNameError}} {{bankNameError}} {{/if}}</p>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-card.png"/>
                </div>
                <input on-keyup="validateCardNo" type="text" name="cardNo" value="{{cardNo}}" class="payInp"
                       placeholder="输入银行卡号" {{hasCard1?'disabled':''}}>
            </div>
            <p class="error">{{#if errMessgaeBank}} {{errMessgaeBank}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card_mobile.png" style="width: 16px;margin-left: 12px;"/>
                </div>
                <input on-keyup="validatePhoneNo" type="text" name="cardPhone" {{hasCard1?'disabled':''}} value="{{mobile}}" class="payInp"
                       placeholder="输入银行预留手机号码">
            </div>
            <p class="error">{{#if phoneNoError}} {{phoneNoError}} {{/if}}</p>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/card-yanzheng.png"/>
                </div>
                <input on-keyup="validateCaptcha" type="text" name="smsCaptcha" class="payInp payCodeInp"
                       value="{{smsCaptcha}}" placeholder="输入验证码">
                <span class="sendCode" on-click="sendCode" style="border:0;">发送验证码</span>
            </div>
            <p class="error">{{#if SMS_NULL}} {{SMS_NULL}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>

        {{#if !paymentAuthenticated}}
        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/recharge_pwd.png"/>
                </div>
                <input on-keyup="validatePwd" type="password" name="password" value="{{password}}" class="payInp"
                       placeholder="{{pwdText}}">
            </div>
            <p class="error">{{#if errMessgaePwd}} {{errMessgaePwd}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="card-brame">
                <div class="img-box">
                    <img class="" src="/ccc/newAccount/img/recharge_pwd.png"/>
                </div>
                <input on-keyup="validateRePwd" type="password" name="repassword" value="{{repassword}}" class="payInp"
                       placeholder="确认支付密码">
            </div>
            <p class="error">{{#if errMessgaeRePwd}} {{errMessgaeRePwd}} {{/if}}</p>

            <div class="clearfix"></div>
        </div>
        {{/if}}

        <div class="agree-box">
          绑定即视为同意<a href="/agreement/pay" target="_blank">《支付服务协议》</a>
        </div>

        <div class="btn-box">
            <button type="submit">同意协议并绑定</button>
        </div>
    </form>
    {{/if}}
    {{#if step2}}
    <div class="recharge-success">
        <div class="content">
            <div class="success-img">
                <img src="/ccc/newAccount/img/band-success.png"/>
            </div>
            <div class="success-content">
                <p>银行卡绑定成功！</p>

                <div class="button">
                    <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
                    <a href="/invest">
                        <button class="btn-after btn-bank">马上投资</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if step3}}
    <div class="recharge-success">
        <div class="content">
            <div class="fail-img">
                <img src="/ccc/newAccount/img/band-fail.png"/>
            </div>
            <div class="success-content">
                <p class="fail-msg">绑卡失败</p>
                <div class="fail-reason">{{failError}}</div>
                <div class="button">
                    <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
                    <a href="/newAccount/recharge"><button class="btn-after btn-bank">重新绑定</button></a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
{{/if}}

<!--已绑-->
{{#if status === 1}}
<!--{{#if paymentPasswordHasSet}}-->
<!--<div class="binded-card-wrapper">-->
<!--<div class="bank-success">-->
<!--<img src="/ccc/newAccount/img/band-success.png"/>-->
<!--<div>-->
<!--<h2>绑卡成功！</h2>-->
<!--</div>-->
<!--</div>-->
<!--<div class="success-next">-->
<!--<a href="/invest"><button style="background: #ef9c2c;color:#fff;">马上投资</button></a>-->
<!--&lt;!&ndash;<a href="/newAccount/settings/showbank"><button style="background: #fff;color: #ef9c2c;border:1px solid #ef9c2c">以后再说</button></a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--{{else}}-->
<!--<div class="binded-card-wrapper">-->
<!--<div class="bank-success">-->
<!--<img src="/ccc/newAccount/img/band-success.png"/>-->
<!--<div>-->
<!--<p>绑卡成功</p>-->
<!--<h2>请设置交易密码</h2>-->
<!--</div>-->
<!--</div>-->
<!--<div class="success-next">-->
<!--&lt;!&ndash;<a href="/newAccount/settings/showbank"><button style="background: #fff;color: #ef9c2c;border:1px solid #ef9c2c">以后再说</button></a>&ndash;&gt;-->
<!--<a href="/newAccount/settings/password"><button style="background: #ef9c2c;color:#fff;">马上设置</button></a>-->
<!--</div>-->
<!--</div>-->
<!--{{/if}}-->

{{#each bankAccount}}
    <div class="card_add">
        <!--<p class="{{account.bank}}" style="background-size: 180px;background-repeat: no-repeat;"></p>-->
        <div class="bankcard-box {{account.bank}}" style="position:relative;">
            <!--<span>尾号{{Faccount}}</span>-->
        </div>
        <p class="card_num">{{account.account.substr(0,4)}}************{{account.account.substr(-4,4)}}</p>
        <p class="card_status">已绑定</p>
        <!--<td>-->
        <!--<button on-click="deleted-card" lala="{{account.account}}">解绑</button>-->
        <!--</td>-->
    </div>

{{/each}}

{{/if}}

