<div id="popup">
    <div class="formWrapper">
        <p>标的估值(元)<span class="form-data assignAmount" style="margin-left: 40px">{{Funrepay}}</span>
            <!--<span class="tip">（转让本金+转让本金*预计年化*已持有天数/365）</span>-->
        </p>

        <p>转让价格(元)
            <input type="text" on-keyup="changeVal" name="creditDealRate" id="creditDealRate"
                   value="{{creditDealRate}}"/>
            <span class="top">*转让价格须在{{minarea}}-{{maxarea}}元之间<br/>*实际转让价格以标的估值X转让折价率为准</span>
            <span class="top error">{{error}}</span>
        </p>
        <p>转让折价率<span class="form-data" id="form-num">{{creditAssignRate?creditAssignRate:'0.00'}}</span></p>
        <p>受让收益率<span class="form-data" id="form-num">{{assigneeYieldRate?assigneeYieldRate:'0.00'}}%</span></p>

        <p>
            转让手续费(元)
            <span class="form-data" id="form-num" style="margin-left: 20px">{{creditAssignFee?creditAssignFee:'0.00'}}</span>
            <!--<span class="tip">（转让价格*0.1%）</span>-->
        </p>

        <p>转让期限
            <span class="form-time">{{Time}}小时</span>
            <span class="tip">（如果到期无人购买，申请将自动撤销）</span>
            <span class="tip agree">确认转让即视为同意
                <a href="/api/v2/creditassign/template" target="_blank">《金融资产转让协议》</a>
            </span>
        </p>


        <button on-click="makeSure" id="btn-confirm">同意协议并确认转让</button>
    </div>
</div>