<div id="popup">
    <div class="formWrapper">
        <p>标的估值(元)<span class="form-data assignAmount">{{amount.toFixed(2)}}</span></p>
        <p>转让折价率
            <input type="text" on-keyup="changeVal" name="creditDealRate" id="creditDealRate" value="{{creditDealRate}}" />
            <span class="tip">（支持溢价，折价率必须大于等于0.95；小于等于1.05）</span>
            <span class="tip error">{{error}}</span>
        </p>
        <p>转让价格(元)<span class="form-data" id="form-num">{{isNaN(area)?0.00:area}}</span></p>
        <p>转让期限
            <span class="form-time">24小时</span>
            <span class="tip">（如果到期无人购买，申请将自动撤销）</span>
            <span class="tip agree">确认转让即视为同意
                <a href="/api/v2/loan/loanRequest/{{requestId}}/bind/template" target="_blank">《金融资产转让协议》</a>
            </span>
        </p>


        <button on-click="makeSure" id="btn-confirm">同意协议并确认转让</button>
    </div>
</div>