
<div class="home-count">
    <div class="common home-intrest">
        <div class="home-tab-info">预计当前收益(元)</div>
        <div class="home-tab-amount">0<span>.00</span></div>
    </div>

    <div class="common">
        <div class="home-tab-info">持有本息(元)</div>
        <div class="home-tab-amount">0<span>.00</span></div>

    </div>
</div>


<div class="ccc-tab fixed-nav" data-header-selector=".header-text">
    <ul class="tabs">
        <li class="active" data-type="INHAND">
            <a href="#" class="inhand_pro">持有中()</a>
        </li>
        <li data-type="HOLDING">
            <a href="#" class="assign_pro">已赎回()</a>
        </li>
    </ul>
</div>

<div class="ccc-tab-panels fixed-invest">
    <div class="tab-panel panel-INHAND active">
        <p class="loading">加载中...</p>
    </div>
    <div class="tab-panel panel-HOLDING "></div>
</div>


<!--广告位-->
<div class="ad"></div>