<div class="account-password-wrapper">
    <div class="passtitle">
        <h2>{{#if !showFundPass}}登录密码{{else}}交易密码{{/if}}</h2>
    </div>
    <div class="account-password-tab">
        <span class="{{#if !showFundPass}}PassTabActive{{/if}} passTab" on-click="checkTab" data-tab="loginPass"><a>登录密码</a></span>
        <span class="{{#if showFundPass}}PassTabActive{{/if}} passTab" on-click="checkTab" data-tab="fundPass"><a>交易密码</a></span>
    </div>
    {{#if !showFundPass}}
    <div class="space-30"></div>
    <div class="modify-password-wrapper">
        <div class="modify-password">

            <form action="/api/v2/user/MYSELF/change_password" enctype="application/x-www-form-urlencoded" method="post" on-submit="submit-modify-password">
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="currentPassword" maxlength="16" value="{{ currentPassword }}" placeholder="输入原登录密码" on-blur="checkcurrentpwd" />
                    <div class="errorMessage errorPass">
                        {{ errorMessagec }}
                    </div>
                </div>
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="newPassword" maxlength="16" value="{{ newPassword }}" placeholder="输入新登录密码" on-blur="checknewp" />
                    <div class="errorMessage errorPass">
                        {{ errorMessaged }}
                    </div>
                </div>
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="passwordConfirm" maxlength="16" value="{{ passwordConfirm }}" placeholder="确认新登录密码" on-blur="checkrepwdConfirm" />
                    <div class="errorMessage errorPass">
                        {{ errorMessagee }}
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="btn modify-button btn-update" value="确定修改" style="margin-top:26px;display:block;" />

                    <input type="hidden" name="token" value="{{ user.id }}" />
            </form>
            </div>
        </div>
        {{else}}
        <div class="space-30"></div>
        <div class="paypwd-wp">
            <div class="clearfix"></div>
            <div class="space space-10"></div>
            <div class="initialWra">
                <div class="formwra">
                    {{#if !paymentPasswordHasSet}}
                    <div class="row">
                        <span class="tipss"></span>
                        <input type="password" name="password" value="{{password}}" placeholder="输入交易密码" maxlength="16" class="payInp">
                        <div class="errorMessage errorPass">
                            {{ errorMessagea }}
                        </div>
                    </div>
                    <div class="row">
                        <span class="tipss"></span>
                        <input type="password" name="repassword" value="{{repassword}}" maxlength="16" class="payInp" placeholder="确认交易密码">
                        <div class="errorMessage errorPass">
                            {{ errorMessageb }}
                        </div>
                    </div>
                    <div class="space space-30"></div>
                    <div class="row" style="">
                        <div class="btn-update" on-click="initialPassword">确定设置</div>
                    </div>
                    {{else}}



                    <div class="resetWra" style="text-align:left;">
                        <div class="row">
                            <span class="tipss">新的密码</span>
                            <input type="password" placeholder="输入新交易密码" name="password" value="{{password}}" maxlength="6" class="payInp" on-blur='checkpwd'>
                            <div class="errorMessage errorPass">
                                {{ errorMessagea }}
                            </div>
                        </div>
                        <div class="row">
                            <span class="tipss">确认密码</span>
                            <input type="password" placeholder="确认新交易密码" name="repassword" value="{{repassword}}" maxlength="6" class="payInp" on-blur='checkrepwd'>
                            <div class="errorMessage errorPass">
                                {{ errorMessageb }}
                            </div>
                        </div>
                        <div class="row">
                            <span class="tipss" style="background-image:url(/ccc/newAccount/img/picture.png) ">短信验证码</span>
                            <input type="text" name="smsCaptcha" placeholder="输入验证码" class="payInp" value="{{smsCaptcha}}" style="width:220px" on-blur='checksms'>
                            <span on-click="sendCode" class="sendCode">发送验证码</span>
                            <div class="errorMessage errorPass">
                                {{ errorMessagec }}
                            </div>
                        </div>
                        <div class="space space-30"></div>
                        <div class="row" style="">
                            <div class="btn-update" on-click="resetPassword">完成设置</div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="resetfundpass">
            {{#if !showFundPass}}您已成功修改登录密码！{{else}}您已重新设置交易密码！{{/if}}
        </div>
    </div>
