<div class="account-password-wrapper">
	<!--<div class="account-password-tab">-->
		<!--<span class="PassTabActive passTab" on-click="checkTab" style="width:120px;">重置交易密码</span>-->
	<!--</div>-->
	{{#if step1}}
	<div class="paypwd-wp">
		<div class="initialWra">
			<div class="formwra">
				<!-- {{#showErrorMessage}}
		        <div class="errorMessage">
		            {{ errorMessage }}
		        </div>
		        {{/}} -->
				<div class="resetWra" style="text-align:left;">
					<div class="row">
						<span class="tipss tipss_code">短信验证码</span>
						<input type="text" name="smsCaptcha" class="payInp" value="{{smsCaptcha}}" style="width:225px" on-blur='checksms' placeholder="输入验证码">
						<span on-click="sendCode" class="sendCode">获取短信验证码</span>
						<div class="errorMessage errorPass">
							{{ errorMessagec }}
						</div>
					</div>
					<div class="row">
						<span class="tipss">新的密码</span>
						<input type="password" name="password" value="{{password}}" maxlength="16" class="payInp" on-blur='checkpwd' placeholder="输入新支付密码">
						<div class="errorMessage errorPass">
								{{ errorMessagea }}
						</div>
					</div>
					<div class="row">
						<span class="tipss">确认密码</span>
						<input type="password" name="repassword" value="{{repassword}}" maxlength="16" class="payInp" on-blur='checkrepwd' placeholder="再次输入新支付密码">
						<div class="errorMessage errorPass">
								{{ errorMessageb }}
						</div>
					</div>

		    		<div class="space space-30"></div>
					<div class="row">
						<div class="btn-update" on-click="resetPassword">重置</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{#if step2}}
	<div class="recharge-success">
		<div class="content">
			<div class="success-img">
				<img src="/ccc/newAccount/img/band-success.png" alt="土巴士·汇财富"/>
			</div>
			<div class="success-content">
				<p>密码重置成功</p>
			</div>
		</div>
	</div>
	{{/if}}
</div>
