<div class="account-password-wrapper account-password-set">
    <div class="space-30"></div>
    <div class="paypwd-wp">
        <div class="initialWra">
            <div class="formwra">
                {{#showErrorMessage}}
                <div class="errorMessage">
                    {{ errorMessage }}
                </div>
                {{/}}
                <div class="resetWra">
                    <div class="row">
                        <span class="tipss">设置密码</span>
                        <input type="password" name="password" value="{{password}}" maxlength="16" class="payInp">
                    </div>
                    <div class="row">
                        <span class="tipss">确认密码</span>
                        <input type="password" name="repassword" value="{{repassword}}" maxlength="16" class="payInp">
                    </div>
                    <div class="space space-30"></div>
                    <div class="row">
                        <div class="btn-update" on-click="setPassword" style="margin-left: 41%;">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>