<div class="account-password-wrapper">
    <div class="modify-password-wrapper">
        <div class="modify-password">

            <form action="/api/v2/user/MYSELF/change_password" enctype="application/x-www-form-urlencoded" method="post" on-submit="submit-modify-password">
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="currentPassword" maxlength="16" value="{{ currentPassword }}" placeholder="输入原登录密码" on-blur="checkcurrentpwd" />
                    <div class="errorMessage errorPass">
                        {{ errorMessagec }}
                    </div>
                </div>
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="newPassword" maxlength="16" value="{{ newPassword }}" placeholder="输入新登录密码" on-blur="checknewp" />
                    <div class="errorMessage errorPass">
                        {{ errorMessaged }}
                    </div>
                </div>
                <div class="row">
                    <span class="tipss"></span>
                    <input type="password" class="payInp" name="passwordConfirm" maxlength="16" value="{{ passwordConfirm }}" placeholder="再次输入新登录密码" on-blur="checkrepwdConfirm" />
                    <div class="errorMessage errorPass">
                        {{ errorMessagee }}
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="modify-button btn-update" value="确定" style="margin-top:26px;display:block;" />

                    <input type="hidden" name="token" value="{{ user.id }}" />
            </form>
        </div>
    </div>

    <div class="resetfundpass">
      登录密码重置成功！
    </div>
</div>
