
<div class="showbank-box" style="margin-bottom:24px;">
  <h1 class="showbank-title">理财银行卡</h1>
  <a href="/newAccount/settings/bankCards" class="showbank-img"><img src="/ccc/newAccount/img/showbank.png"/></a>
  <a href="/newAccount/settings/bankCards" class="showbank-word"><p>添加银行卡</p></a>
</div>

<div class="showbank-box">
  <h1 class="showbank-title">基金银行卡</h1>
  <a href="/newAccount/settings/bankCards" class="showbank-img"><img src="/ccc/newAccount/img/showbank.png"/></a>
  <a href="/newAccount/settings/bankCards" class="showbank-word"><p>添加银行卡</p></a>
</div>
