<div class="fund-nav-view">
    <div class="dropdown input-group type-checker pull-left">
        <ul class="dropdown-menu" role="listbox">
            {{# {typeList: typeLists[tabIndex]} }}
            {{#each typeList}}
            <li role="presentation">
                <a role="menuitem" href="#" on-click="select-type" data-type='{{type}}' rel="nofollow">
                    {{ text }}
                </a>
            </li>
            {{/each}}
            {{/}}
        </ul>

        <span class="form-control type-text" data-toggle="dropdown"
              data-type="{{ typeLists[tabIndex][selectedIndex].type }}">
        {{ typeLists[tabIndex][selectedIndex].text }}
        </span>
        <span class="input-group-addon btn-drop" data-toggle="dropdown">
            <!--<span class="caret"></span>-->
        </span>
    </div>

    <div class="select-brame">
        <div class="input-group date-from-picker pull-left">
            <span class="input-group-addon icon-calendar"></span>
            <input class="form-control" value="{{dateFrom}}" readonly/>
        </div>

        <span class="spliter pull-left">-</span>

        <div class="input-group date-to-picker pull-left">
            <span class="input-group-addon icon-calendar"></span>
            <input class="form-control" value="{{dateTo}}" readonly/>
        </div>

        <!--<div class="input-group pull-left">-->
            <!--<button class="btn btn-filter btn-blue btn-smaller" on-click="do-filter">筛选</button>-->
            <!--<button class="btn btn-export" style="display:none;">导出</button>-->
        <!--</div>-->
    </div>
    <div class="payload-filters__checkbox">
        <input type="checkbox" id="peration" value="操作" checked><span>显示全部操作</span>
        <input type="checkbox" id="status" value="状态" checked><span>显示全部状态</span>
        <button class="btn-filter" on-click="do-filter">查询</button>
    </div>

</div>

{{#if !loading}}
<div class="payload-detail-wrapper">
    <table class="table table-striped">
        <col width="128px"/>
        <col width="208px"/>
        <col width="90px"/>
        <col width="110px" align="right" class="col-amount"/>
        <col width="120px"/>
        <col width="150px"/>
        <!--<col width="90px"/>-->
        <thead>
        <tr>
            <th class="col-amount">金额 (元)</th>
            <th>交易订单号</th>
            <th>类型</th>
            <th>操作</th>
            <th>状态</th>
            <th>时间</th>
            <!--<th>备注</th>-->
        </tr>
        </thead>

        {{#if list}}
        <tbody>
        {{#each list:i}}
        <tr {{#if i%2== 0}}class="gray" {{/if}}>
            <td class="col-amount {{ amountClass }}">
                {{ amount }}
            </td>
            <td>{{ orderId }}</td>
            <td>{{transactionType}}</td>
            <td>{{operationName}}</td>
            <td><span class="operation">{{ status }}</span></td>
            <td>{{ dateTime }}</td>
            <!-- summary -->
            <!--<td style="width:100px;">{{ description }} {{#if type=='INVEST'}} {{hint}} {{/if}}</td>-->
        </tr>
        {{/each}}
        </tbody>
        {{/if}}
    </table>
</div>
{{else}}

<div class="ccc-container row">
    <div class="col-md-12 funds-ractive-container current-container">
        <p class="loading">loading...</p>
    </div>
</div>
{{/if}} {{#if list}}
<div class="ccc-paging"></div>
<div class="clearfix"></div>
{{else}}
<div class="no-fund-data"></div>
{{/if}}
