
<div id="dashboard-payment-ump-register" ng-if="!self.user.has_payment_account">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path }}"><param class="glyphicon glyphicon-menu-left">取消</a>
        <span class="col-xs-6 title">开通托管账户</span>
        <span class="col-xs-3 actions" ng-click="self.logout()">注销</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg.success" ng-init="msg.success = '托管账户开通成功，请前往签订快速投资协议'">
    </div>

    <div class="alert alert-warning">
        <p>恒普金融平台上的所有资金交易由联动优势电子商务有限公司提供第三方支付托管与结算服务；</p>
        <p>用户资金只存在于第三方支付托管平台中的托管账户中,平台无法擅自动用。</p>
        <p>第三方支付托管账户关系到您的切身利益,填写本人真实信息,保护好账号安全</p>
    </div>

    <div class="page-content">

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.submit(real_name, id_number)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge"
                     ng-class="{'has-error': form.real_name.$invalid && form.real_name.$dirty}"
                    >
                    <label for="user-name">真实姓名</label>
                    <div class="form-control-wrap">
                        <input id="user-name" class="form-control input-target input-lg" type="text"
                               name="real_name"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               ng-model="real_name"
                               minlength="2"
                               maxlength="15"
                               pattern="[\u4E00-\u9FBF]{2,15}"
                               placeholder="请输入真实姓名"
                               required
                        >
                        <div class="help-block"
                             ng-show="form.real_name.$invalid && form.real_name.$dirty"
                        >
                            <span ng-show="form.real_name.$error.required">必须填写</span>
                            <span ng-show="form.real_name.$error.pattern">2 至 15 位中文</span>
                        </div>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.id_number.$invalid && form.id_number.$dirty}"
                >
                    <label for="id-number">身份证号</label>
                    <div class="form-control-wrap">
                        <input id="id-number" class="form-control input-target input-lg" type="text"
                               name="id_number"
                               ng-model="id_number"
                               minlength="18"
                               maxlength="18"
                               placeholder="请输入身份证号"
                               required
                               x-id-number
                        >
                        <div class="help-block"
                             ng-show="form.id_number.$invalid && form.id_number.$dirty"
                        >
                            <span ng-show="form.id_number.$error.required">必须填写</span>
                            <span ng-show="form.id_number.$viewValue && form.id_number.$error.id_number">请填写正确的 18 位身份证号码</span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="container">
                <button type="submit" class="btn btn-theme btn-block btn-lg"
                        ng-disabled="form.$invalid || self.submit_sending"
                >立即开通</button>
            </p>

            <div class="container">
                <p class="flash-message alert alert-warning text-center"
                   ng-class="{ on: self.error.on }"
                >
                    {{ self.error.message }}&nbsp;
                </p>
            </div>
        </form>

        <section class="container explain">
            <h5>温馨提示：</h5>
            <ul>
                <li><p>以上信息将用于开设您在第三方的实名资金托管账户</p></li>
                <li><p>真实姓名需与您用于提现的银行卡账户名一致。请务必认真，如实填写。</p></li>
                <li><p>资金托管账户支付密码将通过短信的方式发送到您的手机上，请注意查收！</p></li>
            </ul>
        </section>
    </div>

</div>


<div id="dashboard-payment-ump-register" ng-if="self.user.has_payment_account">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path }}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">托管账户</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div class="alert alert-warning">
        <p>重要提示：设置提现银行账号流程中的支付密码为第三方资金托管机构【联动优势】的托管账户支付密码！</p>
    </div>

    <div class="page-content">
        <p class="container">您已绑定第三方托管账户,信息如下（支付密码见手机短信）</p>

        <dl class="container info-list">
            <dt>资金托管账户</dt>
            <dd>{{ self.user.payment.accountId }}</dd>
            <dt>用户名</dt>
            <dd>{{ self.user.payment.accountName }}</dd>
            <dt>手机号码</dt>
            <dd>{{ self.user.info.mobile }}</dd>
        </dl>
    </div>

</div>

