<div class = "account-risk-wrapper">
    <div class="risk-nav">
        <span>风险测评</span>
        <p>上次测评时间:{{}}</p>
    </div>
    {{#if question}}
    问题列表
    {{/if}}

    {{#if result}}
    <div class="result-box">
        <div class="header">
            <div class="type">
                您的风险承受能力: <span>进取型{{}}</span>
            </div>
            <div class="btn">
                <button>重新测评</button>
            </div>
        </div>
        <div class="img-box">
            <img src="/ccc/newAccount/img/risk_result.png">
        </div>
        <div class="tip">
            <h5>特别提示:</h5>
            <p>1. 本投资风险评估问卷的准确性视乎您所填写的答案而定，请您客观仔细填写此调查问卷。</p>
            <p>2. 请依据评估问卷的评分标准详实计算本问卷的得分数，并确实根据评估问卷得分区间选择正确对应的投资者类型。</p>
        </div>
    </div>
    {{/if}}
</div>

