select {
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url(/ccc/loan/img/down_icon_bg.png) no-repeat scroll right center transparent;
  /*background-size: 14px;*/
    cursor: pointer;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.nav-tabs > li.active > a {
    pointer-events: none;
}


/*详情页样式*/
.current-container {
    width: 1200px;
    margin: 0 auto;
}
.detailTitle {
    margin: 25px 0 20px 35px;
    font-size: 18px;
}
.detailTitle a {
    color: #999;
}
.detailTitle span {
    color: #e4262b;
}
.invest-data-wrapper {
    width: 767px;
    float: left;
    background: #fff;
    margin-top: 35px;
    height: 422px;
}
.invest-data-wrapper .investContainer {
    height: 332px;
    /*	border: 1px solid #eee;*/
    /*  margin: 0 25px;*/
}
.invest-data-wrapper .investContainer .investTitle {
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
    margin: 0 10px;
    padding: 6px 0 12px;
}
.invest-data-wrapper .investContainer .investTitle .title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #666;
    float: left;
    word-break: break-all;
    padding-left: 26px;
}
.invest-data-wrapper .investContainer .investTitle .rate {
    float: right;
    margin-right: 40px;
    color: #999;
    font-size: 16px;
}
.invest-data-wrapper .investContainer .investTitle .rate .color{
    color: #e60012;
    font-size: 40px;
    margin-left: 10px;
}
.invest-data-wrapper .investContainer .investTitle .rate .color span{
    font-size: 30px;
}

.invest-data-wrapper .investContainer .content {
    width: 568px;
    border-right: 1px solid #dcdcdc;
    float: left;
    clear: both;
    margin-top: 20px;
    position: relative;
}
.invest-data-wrapper .investContainer .content .inner {
    overflow: hidden;
    margin: 20px 30px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 25px;
    margin-bottom: 0;
}
.invest-data-wrapper .investContainer .content .inner .item {
    float: left;
    /*padding-right: 80px;*/
    width: 168px;
}
.invest-data-wrapper .investContainer .content .inner .item:last-child{
    padding-right: 0px;
}
.invest-data-wrapper .investContainer .content .inner .item .name {
    color: #999;
    font-size: 16px;
    margin-top: 25px;
}

.invest-data-wrapper .investContainer .content .inner .item .value {
    color: #999;
    font-size: 18px;
}
.invest-data-wrapper .investContainer .content .inner .item .value span {
    font-size: 30px;
    color: #666;
}
.invest-data-wrapper .investContainer .content .inner .item .value span.assign_time{
    font-size: 12px;
    color: #e4262b;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
}
.invest-data-wrapper .investContainer .content .innerBottom {
    overflow: hidden;
    color: #666;
    font-size: 16px;
    padding: 30px 0;
}

.invest-data-wrapper .investContainer .content .innerBottom .start_time {
    float: left;
    margin-left: 35px;
}
.invest-data-wrapper .investContainer .content .innerBottom .end_time {
    float: right;
    margin-right: 35px;
}
.invest-data-wrapper .investContainer .content .innerBottom .end_time span{
    color: #e4262b;
    font-size: 18px;
}
/*进度条*/
.easy-pie-chart {
    position: relative;
}
.process{
    color: #a0a0a0;
    margin-top: 46px;
    float: right;
    width: 130px;
    margin-right: 34px;
}
.process .percentageNum {
    color: #666;
    position: absolute;
    top: 2px;
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
}
.process p{
    text-align: center;
    font-size: 24px;
    color: #999;
    margin-top: 10px;
}

/*资金状态*/
.invest-status{
    width: 1200px;
    margin: 25px auto;
    background: #fff;
    padding: 20px 0;
    position: relative;
    color: #828282;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;
}
.invest-status span{
    font-size: 24px;
    color: #666;
    margin-left: 35px;
    margin-right: 100px;
    margin-top: 26px;
    display: block;
    float: left;
}
.invest-status .open_time{
    position: absolute;
    top: 85px;
    left: 274px;
}
.invest-status .start_date{
    position: absolute;
    top: 85px;
    left: 435px;
}
.invest-status .end_date{
    position: absolute;
    top: 85px;
    right: 340px;
}
.invest-status .expected_date{
    position: absolute;
    top: 85px;
    right: 175px;
}
/*信息详情*/
.invest-detail-wrapper {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    background: #fff;
}
.invest-detail-wrapper .tab-panels .tab-panel {
    display: none;
    overflow: hidden;
}
.invest-detail-wrapper .tab-panels .active {
    display: block;
}
.invest-detail-wrapper .nav-tabs {
    border-bottom:none;
}
.invest-detail-wrapper .nav-tabs li a {
    display: block;
    border-radius: 0;
    margin-right: 0;
    width: 297px;
    height: 60px;
    line-height: 35px;
    font-size: 18px;
    border: none;
    background: #cfa972;
    color: #fff;
    margin-right: 4px;
    text-align: center;
}
.invest-detail-wrapper .nav-tabs li:last-child a{
    margin-right: 0px;
}

.invest-detail-wrapper .nav-tabs .active a, .invest-detail-wrapper .nav-tabs .active a:focus {
    color: #666;
    background: #fff url(/ccc/loan/img/active_line.png) no-repeat center bottom;
    height: 69px;
    border: none;
}
.invest-detail-wrapper .tab-panels {
    margin-top: 30px;
    margin-bottom: 50px;
}
/*产品介绍*/
.invest-info-box {
    /*font-size: 18px;*/
    margin-left: 70px;
}
.invest-info-box table tbody tr{
    line-height: 46px;
}
.invest-info-box .title {
    color: #999;
    width: 200px;
    vertical-align: middle;
    /*padding-bottom: 10px;*/
    text-align: right;
    padding-right: 50px;
}

.invest-info-box .content{
    /*padding-bottom: 10px;*/
    width: 845px;
    padding-left: 35px;
    color: #666;
}
.invest-info-box .content p{
    margin-left: 0px!important;
}

.invest-info-box .content h5{
    font-size: 18px;
    color: #666;
}

/*.invest-info-box table.repay-plan > thead > tr > th {*/
    /*color: #999;*/
    /*text-align: center;*/
    /*font-size: 13px;*/
    /*border: 1px solid #eee;*/
/*}*/
/*.invest-info-box table.repay-plan > tbody > tr > th {*/
    /*text-align: center;*/
    /*font-size: 14px;*/
    /*line-height: 50px;*/
    /*color: #999;*/
    /*border-right: 1px solid #eee;*/
/*}*/
/*.invest-info-box table.repay-plan > tbody > tr {*/
    /*border-top: none;*/
/*}*/
/*.invest-detail-wrapper .invest-info-box table.repay-plan{*/
    /*width: 670px;*/
    /*border: 1px solid #eee;*/
/*}*/
/*.invest-detail-wrapper .invest-info-box table.repay-plan thead th{*/
    /*background: #f4f4f6;*/

/*}*/
/*.invest-detail-wrapper .invest-info-box table.repay-plan tbody .gray{*/
    /*background: #f8f8f9;*/

/*}*/
/*.invest-detail-wrapper .invest-info-box table.repay-plan tbody .white{*/
    /*background: #fff;*/
/*}*/

.invest-info-box .insurance-wrapper {
    height: 170px;
    margin-top: 15px;
}
.insurance-wrapper .big-box {
    overflow: hidden;
}
.insurance-wrapper #left-arrow, #right-arrow {
    float: left;
    margin-top: 36px;
    cursor: pointer;
}
.insurance-wrapper .pic-box{
    float: left;
    width: 1000px;
    overflow: hidden;
    height: 148px;
}
.insurance-wrapper .show-pic-box {
    width: 176px;
    float: left;
    margin: 0px 12px;
    text-align: center;
    height: 148px;
    color: #666;
    line-height: 36px;
}
.insurance-wrapper .show-pic {
    border: 1px solid #ccc;
}
.insurance-wrapper .show-pic img {
    width: 174px;
    height: 118px;
}
/*产品亮点*/
.lightspot-box{
    margin: 10px 58px;
    font-size: 18px;
}
.lightspot-box .single{
    margin-bottom: 48px;
}
.lightspot-box .single .title{
    font-size: 18px;
    margin-bottom: 15px;
}
.lightspot-box .single .content{
    color: #999;
}
/*常见问题*/
.invest-detail-wrapper .question-box{
    font-size: 18px;
    margin: 10px 58px;
    line-height: 46px;
}
.invest-detail-wrapper .question-box .single{
    margin-bottom: 50px;
}
.invest-detail-wrapper .question-box .single .question{
    color: #cfa972;
}


/*投资记录*/
.invest-record{
    width: 1160px;
    margin: auto;
}
.invest-record table thead tr th {
    text-align: center;
    font-size: 18px;
}

/*投资框*/

.do-invest-wrapper {
    float: left;
    width: 420px;
    height: 422px;
    margin-top: 35px;
    background: #fff;
    margin-left: 13px;
}

.do-invest-wrapper .shiming {
    text-align: center;
    color: #d4242f;
    font-size: 16px;
    margin: 120px auto 50px;
}
.do-invest-wrapper .tooltip {
    top: 62px;
    left: 53px;
    opacity: 1;
    display: block;
}
.do-invest-wrapper .tooltip .tooltip-inner {
    background-color: #fdf8e4;
    max-width: 330px;
    color: #c09956;
}

.firstLine {
    overflow: hidden;
    padding: 0px 30px;
    margin-top: 40px;
}
.firstLine .tip {
    float: left;
    line-height: 48px;
    font-size: 16px;
    color: #4f4e4e;
}
.firstLine .highAmount {
    float: right;
    line-height: 50px;
    font-size: 14px;
    color: #4a4a4a;
}
.do-invest-wrapper .status .userBlock {
    font-size: 16px;
    color: #bbbbbb;
    position: relative;
    overflow: hidden;
}

.do-invest-wrapper .status .leftMoney {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    text-align: left;
    /*	padding-left: 10px;*/
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.do-invest-wrapper .status .leftMoney-open {
    font-size: 14px;
    color: #999;
    margin-top: 35px;
    margin-left: 60px;
}
.do-invest-wrapper .status .leftMoney-open span{
    font-size: 21px;
}

/*.do-invest-wrapper .status .userBlock .leftMoney-open .recharge {*/
    /*float: right;*/
    /*display: block;*/
    /*margin-top: -4px;*/
/*}*/
/*.do-invest-wrapper .status .leftMoney .recharge {*/
    /*float: right;*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*width: 80px;*/
    /*background-color: #f58220;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*font-size: 16px;*/
    /*margin-top: 9px;*/
    /*margin-right: 2px;*/
    /*height: 30px;*/
/*}*/
/*.do-invest-wrapper .status .leftMoney .recharge:hover {*/
    /*background-color: #df6502;*/
/*}*/
.do-invest-wrapper .invest-form{
    margin-top: 20px;
    margin-left: 60px;
}
#userBlock .calculatorBox {
    margin-top: 20px;
}
#userBlock .calculator {
    float: left;
}
#userBlock .calculator input {
    width: 255px;
    height: 45px;
    padding-left: 10px;
}
#userBlock .calculator span.plus {
    width: 47px;
    border: 1px solid #ccc;
    background: #cfa972 url(/ccc/loan/img/plus_icon.png) no-repeat center;
    display: block;
    float: right;
    height: 47px;
    border-left: none;
    margin-top: -1px;
    cursor: pointer;
}
#userBlock .totalInterest {
    font-size: 24px;
    color: #999;
    padding: 15px 0;
}
#userBlock .totalInterest span {
    color: #e60012;
    font-size: 36px;
}
.do-invest-wrapper .status .userBlock  .selectOption {
    clear: both;
    width: 302px
}
.do-invest-wrapper .status .userBlock  .selectOption select {
    width: 302px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding-left: 10px;
    color: #999;
}
#userBlock span.down {
    width: 47px;
    border: 1px solid #ccc;
    background: #cfa972 url(/ccc/loan/img/down_icon.png) no-repeat center;
    display: block;
    float: right;
    height: 47px;
    border-left: none;
    margin-top: -1px;
    cursor: pointer;
}

.do-invest-wrapper .status .userBlock .left-money {
    color: #999;
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 13px;
    padding-left: 30px;
    font-weight: normal;
    margin: 20px 0px 20px 30px;
}
.do-invest-wrapper  .login-see {
    font-size: 18px;
    color: #a4a4a4;
    text-align: left;
    padding-left: 50px;
    border-bottom: 1px dashed #e0e0e0;
    line-height: 50px;
}
.do-invest-wrapper .status .userBlock .p-max {
    color: #999;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
}
.do-invest-wrapper .status .userBlock .one-time-max {
    color: #999;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    margin-left: 15px;
}
.do-invest-wrapper .status .userBlock .agree-error {
    font-size: 12px;
    color: #d2252c;
    background-image: url(/ccc/register/img/gou-bg.png);
    background-repeat: no-repeat;
    background-position: 2px center;
    padding-left: 21px;
    visibility: hidden;
    text-align: left;
}
.do-invest-wrapper .status .userBlock .agree-box{
    text-align: left;
    line-height: 35px;
    margin-left: 2px;
}
.do-invest-wrapper .status .userBlock .agree-box span, .do-invest-wrapper .status .userBlock .agree-box span a {
    font-size: 12px;
}
.do-invest-wrapper .status .userBlock .agree-box span a {
    color: #5b9dff;
}

.do-invest-wrapper .status .userBlock .rule-max {
    margin-left: 15px;
    text-align: left;
    font-size: 12px;
    color: #999;
    line-height: 30px;
}
.do-invest-wrapper .loginBtn {
    height: 44px;
    color: #fff;
    background-color: #e4262b;
    font-size: 18px;
    line-height: 44px;
    padding: 0;
    border: none;
    display: block;
    width: 296px;
    margin: 0 auto;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
}
.do-invest-wrapper .loginBtn:hover {
    background-color: #C71E23;
}
.do-invest-wrapper .status .userBlock .invest-button {
    margin-top: 50px;
    margin-left: 0px;
    cursor: pointer;
}
.do-invest-wrapper .finishBlock {
    vertical-align: middle;
    margin-top: 60px;
}
.do-invest-wrapper .cleared {
    margin-top: 67px;
}
.do-invest-wrapper .settled {
    margin-top: 58px;
}
.do-invest-wrapper .repayDuration {
    width: 200px;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    top: 172px;
    text-align: center;
    left: 50%;
    margin-left: -100px;
}
.do-invest-wrapper .left-time {
    margin: 130px 0 60px;
    color: #666;
    font-size: 17px;
    text-align: center;
}
.do-invest-wrapper .left-time i {
    font-style: normal;
    font-size: 26px;
    color: #b5a16b;
    margin: 5px;
}
.do-invest-wrapper .left-time .text {
    text-align: center;
    margin-top: 10px;
}
.do-invest-wrapper .not-login-wrapper {
    text-align: center;
}
.do-invest-wrapper .not-login-wrapper .available-amount .big {
    font-size: 30px;
    color: #f5862c;
    margin-right: 5px;
}
.do-invest-wrapper .no-assign {
    text-align: center;
}
.do-invest-wrapper .invest-header {
    margin: 18px 0 15px;
}
.do-invest-wrapper .invest-header .text-invest {
    font-size: 20px;
    color: #000;
    float: left;
}
.do-invest-wrapper .invest-header .available-amount {
    float: right;
    margin-top: 5px;
}
.do-invest-wrapper .invest-header .available-amount > span {
    color: #f48229;
}
.do-invest-wrapper .invest-header .invest-status {
    float: right;
    margin-top: 5px;
    font-size: 16px;
}
.do-invest-wrapper .invest-not-available {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.do-invest-wrapper .invest-button-wrapper {
    /*	margin: 20px auto 0;*/
    text-align: center;
}
.do-invest-wrapper .invest-button-wrapper .invest-button {
    width: 220px;
    height: 40px;
    float: left;
    background: #b5a16b;
}
.do-invest-wrapper .unlogin_img{
    margin: 100px auto;
    width: 75px;
}


/*大图浏览*/
#mask-layer-wraper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}
.big-pic-wrapper {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.big-pic-wrapper .img-wrapper {
    margin: 60px auto 0;
    position: relative;
    max-width: 90%;
    width: 600px;
    /* height: 800px; */
}
.big-pic-wrapper .close, .big-pic-wrapper .close:hover {
    height: 36px;
    width: 36px;
    position: absolute;
    top: -35px;
    right: -27px;
    background: url(/ccc/loan/img/close.png);
    border-radius: 50%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.big-pic-wrapper .img-wrapper img {
    width: 100%;
    /* height: 800px; */
}
.big-pic-wrapper .prev-big {
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
}
.big-pic-wrapper .control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.big-pic-wrapper .control span {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-size: 150%;
}
.big-pic-wrapper .next-big {
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
}




#userBlock .leftMoney-open .recharge button {
    background: #ef9c2c;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    letter-spacing: 2px;
}
#userBlock .leftMoney-open .recharge button:hover {
    background-color: #df6502;
}

/*分页*/
.invest-pager li {
    display: inline-block;
    margin: 0 3px;
}
.invest-pager li a {
    padding: 5px 11px;
    border: 1px #eeeeee solid;
    text-decoration: none;
    background-color: #fefefe;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
}
.invest-pager .current-page a {
    background-color: #0096de;
    color: #fff;
    border: 1px #0096de solid;
}



/*华瑞金控新手标投资提示*/
.info-new{
    display: block;
}
.info-new img{
    margin: 40px auto;
}
.info-new .warn-word{
    width: 365px;
    background: #fffaf3;
    border: 1px solid #f5c37e;
    margin: auto;
    height: 80px;
}
.info-new .warn-word p{
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
    color: #919296;
    margin-top: 10px;
    margin-bottom: 10px;
}
.do-invest-wrapper .info-new .warn-word a{
    color: #6baaf5;
    margin-left: 128px;
}

/*支付页面*/
.payment-box{
    width: 1200px;
    margin: auto;
    background: #fff;
    margin-top: 23px;
}
.payment-box .detailTitle{
    margin: 0;
    padding: 27px 0;
    border-bottom: 2px solid #f1f1f1;
    padding-left: 35px;
}
.payment-box .payment-content{
    padding-bottom: 100px;
}
.payment-content .title{
    font-size: 24px;
    padding: 35px 0;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 15px;
    margin: 0 20px;
}
.payment-content .title span{
    padding-right: 100px;
}
.payment-content .num{
    height: auto;
    line-height: 30px;
    font-size: 18px;
    color: #666;
    overflow: hidden;
    padding: 50px 0 40px 35px;
}
.payment-content .num span{
    color: #e30107;
    font-size: 30px;
    padding-left: 90px;
}
.payment-content .num .num1{
    float: left;
    margin-right: 180px;
}
.payment-content .num .num2{
    float: left;
}
.payment-content .num .num2 input{
    margin-left: 60px;
    margin-right: 15px;
}
.payment-content .bank{
    padding-left: 35px;
    font-size: 18px;
}
.payment-content .bank p{
    float: left;
    margin-top: 30px;
}
.payment-content .bank .bank-box {
    float: left;
    width: 804px;
    padding: 30px;
    border: 1px solid #c9c9c9;
    background-position: 50px center;
    margin-left: 20px;
}
.payment-content .bank .bank-box span{
    padding-left: 280px;
}
.payment-content .bank .bank-box span.limit{
    padding-left: 120px;
    font-size: 14px;
}
.payment-content .invest-input{
    padding: 40px 0 20px 35px;
    font-size: 16px;
    color: #bbb;
    clear: both;
    margin-left: 146px;
}
.card-brame {
    margin-left: 0px;
    margin-right: 0px;
    width: 500px;
    overflow: hidden;
}
.card-brame .img-box {
    width: 46px;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
    height: 46px;
    line-height: 46px;
    float: left;
}
.img-box img {
    margin-left: 14px;
}
.card-brame input{
    border: 1px solid #ccc;
    float: left;
    display: inline-block;
    width: 336px;
    height: 46px;
    font-size: 16px;
    color: #bbbbbb;
    text-indent: 16px;
}
.forgot-pwd, .forgot-pwd:hover {
    color: #b68b4c;
    padding-left: 15px;
    text-decoration: none;
    line-height: 46px;
}
.payment-content .agree-box{
    padding-left: 35px;
    font-size: 12px;
    margin-left: 146px;
}
.payment-content .agree-box input{
    margin-right: 10px;
}
.payment-content .agree-box a{
    color: #b68b4c;
}
.payment-content button{
    width: 270px;
    height: 45px;
    line-height: 45px;
    border: 1px #e4262b solid;
    color: #fff;
    margin-top: 10px;
    background: #e4262b;
    font-size: 18px;
    margin: 50px 0 50px 183px;
}
.payment-content .tooltip {
    opacity: 1;
    display: block;
}
.payment-content .tooltip .tooltip-inner {
    background: #fff;
    color: red;
    padding: 0;
    font-family: "微软雅黑", 'Microsoft Yahei', '幼圆', 'YouYuan SimYou?', SimSun, '宋体', Helvetica, Arial, sans-serif;
}
.payment-content .agree-error{
    color: red;
}
.payment-content .recharge-success .success-content  .fail_reason{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.payment-content .recharge-success .success-content .btn-after{
    margin: 0;
}


.finished-btn {
    width: 318px;
    height: 44px;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    cursor: default;
    margin-left: 51px;
}


/*分页样式*/
.invest-pager li {
    display: inline-block;
    margin: 0 3px;
}
.invest-pager li a:hover {
    color: #fff;
    background: #bb9f6a;
}
.invest-pager li a {
    padding: 5px 11px;
    border: 1px #eeeeee solid;
    text-decoration: none;
    background-color: #fefefe;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
}
.invest-pager .current-page a {
    background-color: #bb9f6a;
    color: #fff;
    border: 1px #bb9f6a solid;
}
.space-40{
    height: 40px;
}

.assign_tip{
    clear: both;
    position: absolute;
    width: 202px;
    height: 93px;
    top: 70px;
    left: 99px;
    z-index: 1111111111111;
    background: #f3eadd;
    padding: 12px;
    font-size: 12px;
    display: none;
}
.assign_tip a{
    color: #e4262b;
    text-decoration: underline;
}
