input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.s-login-view .s-login-window {
    margin-left: 72px;
    margin-top: 50px;
}

.login-error {
    text-align: left!important;
    margin-left: -20px;
    width: 362px;
    height: 75px;
    background-color: #fff6f6;
    border: 1px solid #ff8585;
    margin-bottom: 20px;
    background-image: url(/ccc/login/img/mark.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    padding: 17px 30px 0 80px;
}

#loginForm .rememberPassword {
    overflow: hidden;
}

#loginForm .rememberPassword .banner_right_bluetick .checkbox {
    margin-top: 16px;
    display: inline;
}

#loginForm .rememberPassword .banner_right_bluetick .remember {
    margin-left: 3px;
    font-size: 14px;
    color: #999999;
}

#loginForm .banner_right_bluetick {
    float: left;
}

.s-input-wrapper .lineUser {
    margin-bottom: 24px;
}


/*华瑞金科*/

.container {
    width: 900px;
    margin: 56px auto;
    background: #fff;
    padding:0 !important;
}

.register-body {

}
.register-body .register-body-img{
    padding: 14px;
}
.register-body .register-body-img img {
    display: block;
    margin: auto;
}
.s-login-header{
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 112px;
    color: #666666;
}
.s-input-wrapper .lineUser .mdi {
    position: absolute;
    border-right: 1px solid #c0c8bd;
    height: 37px;
    width: 38px;
}

.s-input-wrapper .lineUser .mdi-user {
    background: url(/ccc/register/img/mobile_icon.png) no-repeat 10px center;
    background-size: 15px;
}

.s-input-wrapper .lineUser .mdi-psw {
    background: url(/ccc/register/img/psw_icon.png) no-repeat 10px center;
    background-size: 15px;
}

.s-input-wrapper .lineUser .mdi-code {
    background: url(/ccc/register/img/code_icon.png) no-repeat 10px center;
    background-size: 15px;
}

.s-input-wrapper .lineUser input {
    height: 37px;
    padding-left: 50px;
    width: 300px;
    font-size: 13px;
    border: 1px solid #c0c8bd;
}

.s-input-wrapper .lineUser a {
    color: #ae8a45;
    text-decoration: underline;
    padding-left: 6px;
    font-size: 12px;
}

.s-input-wrapper .lineUser .captcha {
    height: 40px;
    padding-left: 50px;
    width: 150px;
    font-size: 1.0em;
    border: 1px solid #ccc;
}

.s-input-wrapper .lineUser span {
    color: #e60012;
    text-decoration: underline;
    padding-left: 10px;
    cursor: pointer;
}

.s-input-wrapper .lineUser span img {
    width: 24%;
}

.s-login-view .s-login-window button {
    background-color: #e60012;
    color: #fff;
    font-size: 18px;
    border: none;
    width: 300px;
    height: 45px;
    margin-top: 24px;
    letter-spacing: 4px;
}

.register-banner {
    clear: both;
    margin-top: 30px;
}

.register-banner p {
    text-align: center;
    color: #999999;
}

.register-banner a {
    color: #e60012;
    /*font-size: 16px;*/
}