<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/freePurchase/css/style.css">
<div class="freePurchase">
    <div class="freePurchase__banner"></div>
    <div class="freePurchase__iphone">
        <a href="" class="freePurchase__button">
            <img src="/ccc/freePurchase/img/button.png">
        </a>
    </div>
    <div class="freePurchase__rule">
        <h2 class="name">规则说明</h2>
        <dl>
            <dt>1、什么是“0元购”？</dt>
            <dd>“0元购”是一款实现理财与消费同步的创新性金融产品。投资者通过购买“0元购”理财产品，既可免费获得心仪商品，在理财产品到期后还能实现财富增值。</dd>
            <dt>2、参与“0元购”流程？</dt>
            <dd>
                <p>1) 投资者在国美电器门店挑选心仪商品。</p>
                <p>2) 注册并登陆“国美金融”微信端或APP端，进入“0元购”页面。在店员协助下录入商品编码和价格等信息，系统将自动匹配相应理财产品的投资额度，投资者投资成功后，获得相对应的商品提货码。</p>
                <p>3) 投资者在收银台出示提货码，工作人员验证成功后，投资者即可免费获得该商品。</p>
                <p>4) 理财产品到期后，投资者可操作赎回，并获得相应的本金和收益。</p>
            </dd>
            <dt>3、收益演示：</dt>
            <dd>
                <p>比如，小明有X万元，同时，计划购买某商品。</p>
                <p>如果把钱存银行，到期获得银行定期利息；</p>
	            <p>如果参与国美金融“0元购”，可立得商品，到期后可得本金和同期银行定期利息。</p>
            </dd>
            <dt>4、“0元购”可以购买哪些商品？</dt>
            <dd>目前，国美电器门店几乎所有商品都可以参与“0元购”。</dd>
            <dt>5、“0元购”商品的售后问题</dt>
            <dd>“0元购”的商品如出现质量问题，可同门店商品一样换货和保修，但由于商品实为赠品，无法退货，只能换货。</dd>
            <dt>6、商品能否开发票？</dt>
            <dd>由于商品实为赠品，所以不能开发票。</dd>
            <dt>7、如何了解理财产品的收益情况。</dt>
            <dd>“0元购”理财产品的收益情况可在APP或网站端的个人账户中查看。</dd>
            <dt>8、参与“0元购”活动的理财产品可以中途赎回吗？</dt>
            <dd>不可以</dd>
            <dt>9、本金和收益何时收回？</dt>
            <dd>产品到期后3个工作日之内，投资者的投资本金和收益将会自动返还至投资者的账户中。如到期日为节假日，则还款日为节假日后的3个工作日。</dd>
        </dl>
    </div>
    <div class="freePurchase__bottom">
    </div>
</div>
<div class="space-50 space"></div>
</dsBody>
