
<div id="feature">

    <div class="head" ng-switch="feature">
        <h2 ng-switch-when="safety">安全——银行级风控 专款专项专用</h2>
        <h2 ng-switch-when="information">信息披露充分 风控措施透明</h2>
        <h2 ng-switch-when="3A">AAA级底层资产震撼来袭</h2>
        <h2 ng-switch-when="profession">专业——360°项目审核 优中选优</h2>
        <h2 ng-switch-when="trusty">可靠——系统五维防护 历史100%兑付</h2>
        <h2 ng-switch-when="advantage">太合汇·汇财富六大核心优势</h2>
        <h2 ng-switch-when="contrast">太合汇·汇财富与P2P对比优势明显</h2>
        <h2 ng-switch-when="product">产品列表</h2>
    </div>

    <div class="main" ng-switch="feature">

        <div ng-switch-when="safety">
            <section class="white">
                <h3 class="title">资深银行级的风险管理团队</h3>

                <div class="content">
                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-body">

                        </div>
                    </div>
                </div>
            </section>

            <section class="red">
                <h3 class="title">资金专款专用 账户全程监管</h3>

                <div class="content">

                </div>
            </section>
        </div>


        <div ng-switch-when="information">

        </div>


        <div ng-switch-when="3A">

        </div>


        <div ng-switch-when="profession">

        </div>


        <div ng-switch-when="trusty">

        </div>


        <div ng-switch-when="advantage">

        </div>


        <div ng-switch-when="contrast">

        </div>


        <div ng-switch-when="product">

        </div>

    </div>

    <div class="foot">
        <img height="20" ng-src="assets/image/brand.png">
    </div>

</div>
