
<div id="feature" ng-class="'feature-' + feature">

    <div class="head" ng-switch="feature">
        <h2 ng-switch-when="safety"></h2>
        <h2 ng-switch-when="information"></h2>
        <h2 ng-switch-when="AAA"></h2>
        <h2 ng-switch-when="profession"></h2>
        <h2 ng-switch-when="trusty"></h2>
        <h2 ng-switch-when="advantage"></h2>
        <h2 ng-switch-when="contrast"></h2>
        <h2 ng-switch-when="product"></h2>
    </div>

    <div class="main" ng-switch="feature">

        <div ng-switch-when="safety">
        </div>


        <div ng-switch-when="information">
        </div>


        <div ng-switch-when="AAA">
        </div>


        <div ng-switch-when="profession">
        </div>


        <div ng-switch-when="trusty">
        </div>


        <div ng-switch-when="advantage">
        </div>


        <div ng-switch-when="contrast">
        </div>


        <div ng-switch-when="product">
        </div>

    </div>

    <div class="foot">
        <img height="20" ng-src="assets/image/brand.png">
    </div>

</div>
