
<div id="list">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 text-center btn-group-wrap">
            <div class="btn-group">
                <a href="list" class="btn btn-tab selected">理财</a>
                <a href="list" class="btn btn-tab">基金</a>
            </div>
        </span>
    </div>
    </nav>

    <div ng-if="filter_type">
        <div class="container text-center loan-filter">
            <div class="row">
                <div class="col-xs-6" x-uib-dropdown>
                    <div x-uib-dropdown-toggle>
                        利率<param class="glyphicon glyphicon-menu-down">
                    </div>
                    <ul x-uib-dropdown-menu>
                        <li><a href="">demo</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 dropdown" x-uib-dropdown
                     ng-model="search.status"
                >
                    <div x-uib-dropdown-toggle>
                        状态<param class="glyphicon glyphicon-menu-down">
                    </div>
                    <ul x-uib-dropdown-menu>
                        <li>
                            <a ng-href="list/{{ filter_type }}"
                               ng-class="{ active: !search.status}"
                            >全部状态</a>
                        </li>
                        <li>
                            <a ng-href="list/{{ filter_type }}/OPENED"
                               ng-class="{ active: search.status === 'OPENED'}"
                            >进行中</a>
                        </li>
                        <li>
                            <a ng-href="list/{{ filter_type }}/SCHEDULED"
                               ng-class="{ active: search.status === 'SCHEDULED'}"
                            >即将开始</a>
                        </li>
                        <li>
                            <a ng-href="list/{{ filter_type }}/FINISHED"
                               ng-class="{ active: search.status === 'FINISHED'}"
                            >已满额</a>
                        </li>
                        <li>
                            <a ng-href="list/{{ filter_type }}/SETTLED"
                               ng-class="{ active: search.status === 'SETTLED'}"
                            >计息中</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="loan-panel"
                 ng-class="'loan-panel-' + filter_type | lowercase"
        >
            <div ng-switch="filter_type">
                <div class="heading container" ng-switch-when="LHB">
                    <h3 class="title">灵活宝</h3>
                    <span class="desc">1元起投 随时提取</span>
                </div>

                <div class="heading container" ng-switch-when="DCB">
                    <h3 class="title">定存宝</h3>
                    <span class="desc">稳定收入最低风险</span>
                </div>

                <div class="heading container" ng-switch-when="SBLC">
                    <h3 class="title">散标理财</h3>
                    <span class="desc">稳定收入最低风险</span>
                </div>
            </div>

            <div ng-hide="loading">
                <ul class="list-unstyled u-off-margin-bottom loan-list">
                    <li ng-repeat="item in ::list | filter: search as filter_list  track by $index">
                        <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                           x-loan-summary
                           data-loan="item"
                           data-layout="'has-chart'"
                        ></a>
                    </li>
                </ul>

                <div ng-if="!filter_list.length" class="container">
                    <h4 class="alert alert-info text-center">暂无数据</h4>
                </div>
            </div>

            <p class="text-center loading" ng-show="loading">
                <img src="assets/image/spinner.gif">
            </p>
        </section>
    </div>

    <div ng-if="!filter_type">
        <section class="loan-panel loan-panel-lhb">
            <a href="list/LHB">
                <div class="heading container">
                    <h3 class="title">灵活宝</h3>
                    <span class="desc">
                        1元起投 随时提取
                        <param class="glyphicon glyphicon-menu-right">
                    </span>
                </div>
            </a>
            <ul class="list-unstyled u-off-margin-bottom loan-list">
                <li ng-repeat="item in ::list.LHB | limitTo: 3 track by $index">
                    <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                       x-loan-summary
                       data-loan="item"
                       data-layout="'has-chart'"
                    ></a>
                </li>
            </ul>
            <p class="text-center loading" ng-show="loading">
                <img src="assets/image/spinner.gif">
            </p>
        </section>

        <section class="loan-panel loan-panel-dcb">
            <a href="list/DCB">
                <div class="heading container">
                    <h3 class="title">定存宝</h3>
                    <span class="desc">
                        稳定收入最低风险
                        <param class="glyphicon glyphicon-menu-right">
                    </span>
                </div>
            </a>
            <ul class="list-unstyled u-off-margin-bottom loan-list">
                <li ng-repeat="item in ::list.DCB | limitTo: 3 track by $index">
                    <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                       x-loan-summary
                       data-loan="item"
                       data-layout="'has-chart'"
                    ></a>
                </li>
            </ul>
            <p class="text-center loading" ng-show="loading">
                <img src="assets/image/spinner.gif">
            </p>
        </section>

        <section class="loan-panel loan-panel-sblc">
            <a href="list/SBLC">
                <div class="heading container">
                    <h3 class="title">散标理财</h3>
                    <span class="desc">
                        稳定收入最低风险
                        <param class="glyphicon glyphicon-menu-right">
                    </span>
                </div>
            </a>
            <ul class="list-unstyled u-off-margin-bottom loan-list">
                <li ng-repeat="item in ::list.SBLC | limitTo: 3 track by $index">
                    <a ng-href="loan/{{ ::item.id }}?back={{ ::page_path }}"
                       x-loan-summary
                       data-loan="item"
                       data-layout="'has-chart'"
                    ></a>
                </li>
            </ul>
            <p class="text-center loading" ng-show="loading">
                <img src="assets/image/spinner.gif">
            </p>
        </section>
    </div>











    <nav class="omit-margin container page-nav" x-gyro-comment>
    <div class="row">
        <a class="col-xs-3 back" href="./">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title" ng-switch="filter_type">
            <span ng-switch-when="XSZX">新手专享</span>
            <span ng-switch-when="HDZX">活动专享</span>
            <span ng-switch-when="XNB">新能宝</span>
            <span ng-switch-when="FB">房宝</span>
            <span ng-switch-when="XJB">薪金宝</span>
            <span ng-switch-default>投资理财</span>
        </span>
        <span class="col-xs-3 text-right">
            <span class="dropdown dropdown-filter" x-uib-dropdown>
                <small x-uib-dropdown-toggle>筛选</small>

                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="list/XSZX"><img width="24" src="assets/image/loan-icons/xszx.png">新手专享</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/HDZX"><img width="24" src="assets/image/loan-icons/hdzx.png">活动专享</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/XNB"><img width="24" src="assets/image/loan-icons/xnb.png">新能宝</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/FB"><img width="24" src="assets/image/loan-icons/fb.png">房宝</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/XJB"><img width="24" src="assets/image/loan-icons/xjb.png">薪金宝</a>
                    </li>
                </ul>
            </span>
        </span>
    </div>
    </nav>

    <section class="subject" ng-if="filter_type" x-gyro-comment>
        <div class="media">
            <div class="media-left">
                <img class="media-object" width="24"
                     ng-src="assets/image/loan-icons/{{ filter_type | lowercase }}.png"
                >
            </div>

            <div class="media-body" ng-switch="filter_type">
                <div ng-switch-when="XSZX">
                    <h4 class="media-heading">新手专享</h4>
                </div>
                <div ng-switch-when="HDZX">
                    <h4 class="media-heading">活动专享</h4>
                </div>
                <div ng-switch-when="XNB">
                    <h4 class="media-heading">新能宝</h4>
                    机构担保项目 年化收益11%
                </div>
                <div ng-switch-when="FB">
                    <h4 class="media-heading">房宝</h4>
                </div>
                <div ng-switch-when="XJB">
                    <h4 class="media-heading">薪金宝</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="loan omit-margin" x-gyro-comment>
        <div ng-hide="loading">
            <ul class="list-unstyled u-off-margin-bottom list-loan">
                <li class="item"
                    ng-repeat="item in list"
                >
                    <a ng-href="loan/{{ item.id }}?back={{ page_path }}"
                       x-loan-summary
                       data-loan="item"
                    ></a>
                </li>
            </ul>

            <div ng-if="!list.length" class="container">
                <h4 class="alert alert-info text-center">暂无数据</h4>
            </div>
        </div>

        <p class="text-center" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

</div>
