
<div id="list">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="./">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title" ng-switch="filter_type">
            <span ng-switch-when="XSZX">新手专享</span>
            <span ng-switch-when="HDZX">活动专享</span>
            <span ng-switch-when="XNB">新能宝</span>
            <span ng-switch-when="FB">房宝</span>
            <span ng-switch-when="XJB">薪金宝</span>
            <span ng-switch-default>投资理财</span>
        </span>
        <span class="col-xs-3 text-right">
            <span class="dropdown dropdown-filter" x-uib-dropdown>
                <small x-uib-dropdown-toggle>筛选</small>

                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="list/XSZX"><img width="24" src="assets/image/loan-icons/xszx.png">新手专享</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/HDZX"><img width="24" src="assets/image/loan-icons/hdzx.png">活动专享</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/XNB"><img width="24" src="assets/image/loan-icons/xnb.png">新能宝</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/FB"><img width="24" src="assets/image/loan-icons/fb.png">房宝</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="list/XJB"><img width="24" src="assets/image/loan-icons/xjb.png">薪金宝</a>
                    </li>
                </ul>
            </span>
        </span>
    </div>
    </nav>

    <section class="subject" ng-if="filter_type">
        <div class="media">
            <div class="media-left">
                <img class="media-object" width="24"
                     ng-src="assets/image/loan-icons/{{ filter_type | lowercase }}.png"
                >
            </div>

            <div class="media-body" ng-switch="filter_type">
                <div ng-switch-when="XSZX">
                    <h4 class="media-heading">新手专享</h4>
                </div>
                <div ng-switch-when="HDZX">
                    <h4 class="media-heading">活动专享</h4>
                </div>
                <div ng-switch-when="XNB">
                    <h4 class="media-heading">新能宝</h4>
                    机构担保项目 年化收益11%
                </div>
                <div ng-switch-when="FB">
                    <h4 class="media-heading">房宝</h4>
                </div>
                <div ng-switch-when="XJB">
                    <h4 class="media-heading">薪金宝</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="loan omit-margin">
        <div ng-hide="loading">
            <ul class="list-unstyled u-off-margin-bottom list-loan">
                <li class="item"
                    ng-repeat="item in list"
                >
                    <a ng-href="loan/{{ item.id }}?back={{ page_path }}"
                       x-loan-summary
                       data-loan="item"
                    ></a>
                </li>
            </ul>

            <div ng-if="!list.length" class="container">
                <h4 class="alert alert-info text-center">暂无数据</h4>
            </div>
        </div>

        <p class="text-center" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

</div>
