
<div id="list">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 text-center btn-group-wrap">
            <div class="btn-group">
                <a href="list?tab=loan" class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'loan' }"
                >理财</a>
                <a href="list?tab=high" class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'high' }"
                >高端理财</a>
                <a href="list?tab=assignment" class="btn btn-tab"
                   ng-class="{ selected: current_tab === 'assignment' }"
                >转让</a>
            </div>
        </span>
    </div>
    </nav>

    <section class="subject omit-margin shadow" ng-switch="current_tab">
        <div class="content" ng-switch-when="loan">
            <h3 class="title">固定收益</h3>
            <span class="desc">稳健投资 乐享收益</span>
        </div>
        <div class="content" ng-switch-when="high">
            <h3 class="title">固定收益</h3>
            <span class="desc">稳健投资 乐享收益</span>
        </div>
        <div class="content" ng-switch-when="assignment">
            <h3 class="title">转让专区</h3>
            <span class="desc">稳健投资 乐享收益</span>
        </div>
    </section>

    <section class="list-wrap container">
        <ul class="list-unstyled u-off-margin-bottom list"
            ui-scrollpoint
            ui-scrollpoint-edge="bottom"
            ui-scrollpoint-action="self.infinite_scroll"
            ui-scrollpoint-enabled="{{
                   !loading
                && list.length >= query_set.pageSize
                && list.length < list.totalSize
            }}"
        >
            <li ng-repeat="item in list" ng-switch="current_tab">
                <a ng-href="loan/{{ item.id }}"
                   x-loan-summary
                   data-loan="item"
                   ng-switch-when="loan"
                ></a>

                <a ng-href="loan/{{ item.id }}"
                   x-loan-summary
                   data-loan="item"
                   ng-switch-when="high"
                ></a>

                <a ng-href="assignment/{{ item.id }}"
                   x-assignment-summary
                   data-loan="item"
                   ng-switch-when="assignment"
                ></a>
            </li>
        </ul>

        <p class="text-center loading" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>

        <div class="container not-found" ng-if="!list.length" ng-hide="loading">
            <div class="icon-wrap">
                <img class="icon" height="51" ng-src="assets/image/not-found-icon.png">
            </div>
            <p class="desc">暂无数据</p>
        </div>
    </section>

</div>
