
<div id="login">
    <style> body { background-color: #FFF; } </style>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">
            <span ng-if="self.bind_weixin">绑定微信</span>
            <span ng-if="!self.bind_weixin">
                {{ is_login_successful ? '登录成功' : '登录' }}
            </span>
        </span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            TOO_MANY_ATTEMPT: '账号密码错误次数过多，您的账户已被锁定，请联系客服 400-900-8868 解锁。',
            USER_DISABLED: '对不起，您的账户已被冻结，如有疑问，烦请联系客服 400-900-8868，谢谢',
            UNKNOWN: '系统繁忙，请稍后重试！',
        }">
    </div>

    <div class="page-content">

        <div class="logo shadow"><img height="60" ng-src="assets/image/logo-2.png"></div>

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.login(store)"
              novalidate
        >
            <section>
                <div class="inputs container">
                    <div class="form-group merge"
                         ng-class="{
                            'has-error': form.mobile.$invalid && form.mobile.$dirty
                         }"
                    >
                        <div class="form-group-inner">
                            <label for="mobile">手机号</label>
                            <div class="form-control-wrap">
                                <input class="form-control input-target input-lg" type="tel"
                                       id="mobile"
                                       name="mobile"
                                       autocapitalize="none"
                                       autocomplete="off"
                                       autocorrect="off"
                                       placeholder="请输入11位有效手机号"
                                       ng-model="store.mobile"
                                       ng-model-options="{
                                           updateOn: 'blur default',
                                           debounce: {blur: 0, default: 1000}
                                       }"
                                       ng-pattern="/^1\d{10}$/"
                                       maxlength="11"
                                       required
                                >
                            </div>
                        </div>

                        <div class="help-block"
                             ng-show="form.mobile.$invalid && form.mobile.$dirty"
                        >
                            <span ng-show="form.mobile.$error.required">必须填写</span>
                            <span ng-show="form.mobile.$error.pattern">请输入11位有效手机号</span>
                        </div>
                    </div>

                    <div class="form-group merge"
                         ng-class="{
                             'has-error': form.password.$invalid && form.password.$dirty
                         }"
                    >
                        <div class="form-group-inner">
                            <label for="password">密码</label>
                            <div class="form-control-wrap">
                                <input class="form-control input-target input-lg" type="password"
                                       id="password"
                                       name="password"
                                       ng-model="store.password"
                                       ng-model-options="{
                                           updateOn: 'blur default',
                                           debounce: {blur: 0, default: 1000}
                                       }"
                                       placeholder="请输入登录密码"
                                       required
                                >
                                <a class="password-forgot-link" href="password/forgot">忘记密码？</a>
                            </div>
                        </div>

                        <div class="help-block"
                             ng-show="form.password.$invalid && form.password.$dirty"
                        >
                            <span ng-show="form.password.$error.required">必须填写</span>
                        </div>
                    </div>
                </div>

                <div class="flash-message text-center"
                     ng-class="{ on: self.flashing_error_message }"
                >手机号或密码错误</div>

                <div class="btn-submit-wrap">
                    <button type="submit" class="btn btn-theme btn-block"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >{{ self.submit_sending ? '登录中...' : '登录' }}</button>
                </div>

                <p class="links">
                    还不是会员？<a href="register?refm=s0lF56BV">立即注册</a>
                </p>
            </section>
        </form>

    </div>

</div>
