<table class="table has-padding">
    <thead>
    <tr>
        <th>产品名称</th>
        <th>赎回金额(元)</th>
        <th>赎回份额</th>
        <th>赎回时间</th>
        <th>赎回净值</th>
        <th>手续费(元)</th>
        <th>累计盈亏(元)</th>
        <th>操作</th>
    </tr>
    </thead>
    {{#if list}}
    <tbody>
    {{#each list}}
    <tr>
        <td>
            <!--<p class="table-title">产品名称</p>-->
            <p><a class="table-title" href="/loan/{{loanId}}" target="_blank" rel="nofollow">{{title}}</a></p>
        </td>
        <td>
            <!--<p class="table-title">赎回金额(元)</p>-->
            <p class="table-invest-rate">{{Frate}}%</p>
        </td>
        <td>
            <!--<p class="table-title">赎回份额</p>-->
            <p class="table-invest-common">{{Famount}}</p>
        </td>
        <td>
            <!--<p class="table-title">赎回时间</p>-->
            <p class="table-invest-common">{{}}</p>
        </td>
        <td>
            <!--<p class="table-title">赎回净值</p>-->
            <p class="table-invest-common">{{}}</p>
        </td>
        <td>
            <!--<p class="table-title">手续费(元)</p>-->
            <p class="table-invest-common">{{}}</p>
        </td>
        <td>
            <!--<p class="table-title">累计盈亏(元)</p>-->
            <p class="table-invest-common">持有中</p>
        </td>
        <td>
            <!--<p class="table-title">操作</p>-->
            <p class="table-invest-common">
                <a href="#">赎回</a>
            </p>
        </td>
    </tr>
    {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="total_invest_num">共{{total}}条记录</div>
<div class="ccc-paging">
</div>
{{else}}
<div class="null">
    还没投资，赶紧投资吧！
</div>
{{/if}}