<!--{{JSON.stringify(list)}}-->
{{#if list}}
{{#list}}
<div class="loanItemWrapper">
    <div class="loan_left">
        <div class="loan_title">

            <div class="title_info">
                <h2>
                    <a href="/creditDetail/{{id}}/{{loanId}}" class="invest-title">
                        {{#if titleLength>30}}
                        {{title.substr(0,30)}}...
                        {{else}}
                        {{title}}
                        {{/if}}
                    </a>
                </h2>
                <p>销售满8亿，全员加息0.2%！</p>
            </div>


        </div>
        <div class="loan_info">
            <div class="info_box rate_box">
                <div class="rate"><span>{{creditDealRate*100}}</span>%</div>
                <p class="title">预期收益率</p>
            </div>
            <div class="info_box">
                <div><span>{{timeOut}}</span>小时</div>
                <p class="title">预期到期日:<span style="color: #666">{{date}}</span></p>
            </div>
        </div>
    </div>
    <div class="loan_right">
        <div class="leftAmount">
            <p class="amount">转让价格(元)</p>
            <p>{{creditAmount}}</p>
        </div>
        <div class="investBtn">
            <a class="open" href="/creditDetail/{{id}}/{{loanId}}">立即抢购</a>
        </div>
    </div>

<!--
    <div class="process">
        <div class="rate-chart">
            <div class="easy-pie-chart pie" data-percent="{{ investPercent }}" data-status='{{status}}' style="top:9px">
                <span class="percentageNum">{{ investPercent }} </span>
            </div>
        </div>
    </div>
-->

</div>
<script type="text/javascript">
	$('.loantitle a').mouseenter(function(){
		$(this).siblings().fadeIn(200);
	}).mouseleave(function(){
		$(this).siblings().fadeOut(100);
	})

</script>
{{/list}}
{{else}}
<p class="no-data">暂无数据</p>
{{/if}}
