<dsBody layout={{dsLayoutPath}}>

    <link rel="stylesheet" href="/ccc/index/css/style.css">
    <link rel="stylesheet" href="/ccc/index/css/style1.css">
    <link rel="stylesheet" href="/ccc/index/css/loanlist.css">


    <!-- 轮播组件 -->
    <div class="carousel-wrapper">

        <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <!--{{JSON.stringify(carousel)}}-&#45;&#45;&#45;&#45;-->
                {{#carousel}}

                <li data-target="#my-carousel" data-slide-to="{{@index}}" class="{{#if @index === 0 }}active{{/if}}">
                </li>

                {{/}}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {{#carousel}}
                <div class="item {{#if @index === 0}}active{{/if}}" style="background: {{this.bgc}}">
                    <a href="{{this.url}}" target="_blank">
                        <div style="background-image:url({{this.content}}); background-repeat:no-repeat; background-position:center;background-size: 100% 350px;padding-top:350px;">
                        </div>
                    </a>
                </div>
                {{/carousel}}
            </div>

            <div class="banner-account－box">
                <div class="banner-account">
                    {{#if user}}
                        {{#picture[1]}}
                        <div class="ad">
                            <a href="{{this.link}}" target="_blank">
                                <div style="background-image:url({{this.content}});
                                background-repeat:no-repeat; background-position:center;
                                background-size: 100% 200px;padding-top:200px;">
                                </div>
                            </a>
                        </div>
                        {{/}}
                    {{else}}
                        {{#picture[2]}}
                        <div class="ad">
                            <a href="{{this.link}}" target="_blank">
                                <div style="background-image:url({{this.content}});
                                    background-repeat:no-repeat; background-position:center;
                                    background-size: 100% 200px;padding-top:200px;">
                                </div>
                            </a>
                        </div>
                        {{/}}
                    {{/if}}

                    <div class="free-register">
                        {{#if user}}
                        <a href="/newAccount/home/index"><div class="btn-index">我的账户</div></a>
                        {{else}}
                        <a href="/register"><div class="btn-index">立即注册</div></a>
                        {{/if}}
                    </div>
                    {{#if user}}
                    <!--<h3 class="bannerLogin">{{#if userInfo.user.name}}您当前的登录账户是{{else}}{{shangwuxiawu}}好{{/if}}：<span >{{#if !userInfo.user.name}}{{user.mobile}}{{else}}{{userInfo.user.name}}{{/if}}</span></h3>-->
                    {{else}}
                    <h3 class="bannerLogin">已有账号? <a class="underline" href="/login">立即登录</a></h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="banner_header">
        <div class="header_box">
            <div class="header_info">
                <img src="/ccc/index/img/safe_icon.png">
                <h2>安全</h2>
                <div class="word">
                    <p>银行级风控</p>
                    <p>专款专项专用</p>
                </div>
            </div>
            <div class="header_info">
                <img src="/ccc/index/img/zhy_icon.png">
                <h2>专业</h2>
                <div class="word">
                    <p>360°项目审核</p>
                    <p>优中选优</p>
                </div>
            </div>
            <div class="header_info">
                <img src="/ccc/index/img/kk_icon.png">
                <h2>可靠</h2>
                <div class="word">
                    <p>历史到期</p>
                    <p>100%兑付</p>
                </div>
            </div>
        </div>
    </div>
    <!--产品展示-->
    <div class="pro_content">
        <!-- 公告 -->
        <div class="cwrapper">
            <div class="u-pos-r-center wide" id="announce-container">
                <div class="announce">
                    <div class="announce_left">
                        <div class="newest">
                            <div class="small">最新公告:</div>
                            <div id="scrollWrap">
                                <ul id="scrollMsg">
                                    {{#latestNew}}
                                    <li><a target="_blank" href="/us/transfer" style="text-decoration:none">{{{title}}} <span style="margin-left: 20px;">{{timeRecorded}}</span></a>
                                    </li>
                                    {{/latestNew}}
                                </ul>
                                <a href="/us/transfer"  style="position: absolute;right: 0px;top: 3px;font-weight: 400;">更多公告>></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="pro_box">
            <div class="pro_detail">
                <div class="GDSYproductList"></div>
            </div>
            <a href="/invest"  style="position: absolute;right: 20px;bottom: -30px;font-weight: 400;">更多产品>></a>
        </div>
    </div>

    <!--财富讲堂-->
    <div class="partnerList wealthList">
        <div class="partner">
            <h4>财富讲堂</h4>
            <div class="wealth-grounp">
                {{#latestNews:num}}
                {{#if num <=2 }}
                <dl>
                    <dt>
                        <a href="/cms/cfjt/{{this.id}}" target="_blank">
                            <img src="{{url}}">
                        </a>
                    </dt>
                    <dd class="dd01">
                        <a href="/cms/cfjt/{{this.id}}" target="_blank">{{this.title}}</a>
                    </dd>
                    <dd class="dd02">
                        <a href="/cms/cfjt/{{this.id}}" target="_blank"> {{{this.content}}}</a>
                    </dd>
                </dl>
                {{/if}}
                {{/latestNews}}
            </div>
        </div>
    </div>


    <!--合作伙伴-->
    <div class="partnerList">
        <div class="partner">
            <h4 class="font">合作伙伴</h4>
            <div class="icon-grounp"></div>
        </div>
    </div>

    <script src="/ccc/index/js/main/index.js"></script>
    <script type="text/javascript">
        try {
            var isStoped = false;
            var oScroll = document.getElementById("scrollWrap");
            with(oScroll) {
                noWrap = true;
            }
            oScroll.onmouseover = new Function('isStoped = true');
            oScroll.onmouseout = new Function('isStoped = false');
            var preTop = 0;
            var curTop = 0;
            var stopTime = 0;
            var oScrollMsg = document.getElementById("scrollMsg");
            oScroll.appendChild(oScrollMsg.cloneNode(true));
            init_srolltext();
        } catch (e) {}

        function init_srolltext() {
            oScroll.scrollTop = 0;
            setInterval('scrollUp()', 15);
        }

        function scrollUp() {
            if (isStoped)
                return;
            curTop += 1;
            if (curTop == 19) {
                stopTime += 1;
                curTop -= 1;
                if (stopTime == 180) {
                    curTop = 0;
                    stopTime = 0;
                }
            } else {
                preTop = oScroll.scrollTop;
                oScroll.scrollTop += 1;
                if (preTop == oScroll.scrollTop) {
                    oScroll.scrollTop = 0;
                    oScroll.scrollTop += 1;
                }
            }
        }
    </script>
</dsBody>
