
<div id="dashboard-payment-bind-card">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">绑定银行卡</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SEND_CAPTCHA_FAILED: '验证码发送失败',
            SMSCAPTCHA_IS_NOT_CORRECT: '手机验证码不匹配',
            IDNUMBER_ALREADY_EXISTED: '此身份证号已被注册',
            REGISTER_FAILED: '开户失败',
            CHECK_CARD_FAILED: '验卡失败',
            BIND_CARD_FAILED: '绑卡失败',
            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',
            INCORRECT_PASSWORD: '交易密码不正确',
            PRE_BIND_CARD_FAILED: '信息验证错误，请检查上述四要素是否填写正确！',
            IDNUMBER_EXISTS: '身份证已被认证',
            ACCOUNT_DO_NOT_MATCH_BANK: '卡号与开户行不匹配',
            BANK_ACCOUNT_IS_EXISTED: '银行账户已存在',
            TRADE_FAILED: '交易失败',
            WRONG_RESPONSE: '请求返回结果错误，请联系客服。',

            SUCCEED: '银行卡绑定成功',
        }">
    </div>

    <div class="page-content">

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.bind_card(store)"
              novalidate
        >
            <div class="inputs shadow">
                <div class="form-group merge"
                     ng-class="{'has-error': form.user_name.$invalid && form.user_name.$dirty}"
                    >
                    <div class="form-group-inner">
                        <label for="user-name">姓名</label>
                        <div class="form-control-wrap"
                             ng-init="
                                 store.user_name = self.user.info.name;
                                 is_user_name_init_editable = !self.user.info.name
                             "
                        >
                            <input id="user-name" class="form-control input-target input-lg" type="text"
                                   name="user_name"
                                   autocapitalize="none"
                                   autocomplete="off"
                                   autocorrect="off"
                                   ng-model="store.user_name"
                                   ng-model-options="{
                                       updateOn: 'blur default',
                                       debounce: {blur: 0, default: 1000}
                                   }"
                                   ng-readonly="self.user.info.name"
                                   minlength="2"
                                   maxlength="15"
                                   pattern="[\u4E00-\u9FBF]{2,15}"
                                   placeholder="身份证上的姓名"
                                   required
                                   ng-if="is_user_name_init_editable"
                            >

                            <input id="user-name" class="form-control input-target input-lg" type="text"
                                   name="user_name"
                                   value="{{ store.user_name | string_mask | string_replace: '^(.)(.+)$' : '*$2' }}"
                                   readonly
                                   ng-if="!is_user_name_init_editable"
                            >
                        </div>
                    </div>

                    <div class="help-block"
                         ng-show="form.user_name.$invalid && form.user_name.$dirty"
                    >
                        <span ng-show="form.user_name.$error.required">必须填写</span>
                        <span ng-show="form.user_name.$error.pattern">2 至 15 位中文</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.id_number.$invalid && form.id_number.$dirty}"
                >
                    <div class="form-group-inner">
                        <label for="id-number">身份证</label>
                        <div class="form-control-wrap"
                             ng-init="
                                 store.id_number = self.user.info.idNumber;
                                 is_id_number_init_editable = !self.user.info.idNumber
                             "
                        >
                            <input id="id-number" class="form-control input-target input-lg" type="text"
                                   name="id_number"
                                   ng-model="store.id_number"
                                   ng-model-options="{
                                       updateOn: 'blur default',
                                       debounce: {blur: 0, default: 1000}
                                   }"
                                   ng-readonly="self.user.info.idNumber"
                                   minlength="18"
                                   maxlength="18"
                                   placeholder="18位身份证号"
                                   required
                                   x-id-number
                                   ui-validate-async="{ already_exists: 'self.does_not_exist_id_number($modelValue)' }"
                                   ng-if="is_id_number_init_editable"
                            >

                            <input id="id-number" class="form-control input-target input-lg" type="text"
                                   name="id_number"
                                   value="{{ store.id_number | string_replace: '^(\\d{6})(\\d+)(\\w{4})$' : '$1****$3' }}"
                                   readonly
                                   ng-if="!is_id_number_init_editable"
                            >
                        </div>
                    </div>

                    <div class="help-block"
                         ng-show="form.id_number.$invalid && form.id_number.$dirty"
                    >
                        <span ng-show="form.id_number.$error.required">必须填写</span>
                        <span ng-show="form.id_number.$viewValue && form.id_number.$error.id_number">请填写正确的 18 位身份证号码</span>
                        <span ng-show='form.id_number.$error.already_exists'>此身份证号已被注册</span>
                    </div>
                </div>
            </div>

            <div class="inputs">
                <div class="form-group merge form-group-bank">
                    <div class="form-group-inner" ng-click="self.select_bank($event, store)">
                        <label for="bank-name">开户行</label>
                        <select name="bankName" class="form-control input-lg"
                                id="bank-name"
                                ng-model="store.bank"
                                ng-options="
                                    bank.bankName
                                    for bank in self.banks
                                    track by bank.bankCode
                                "
                                required
                        >
                            <option value="">请选择开户银行</option>
                        </select>
                        <param class="glyphicon glyphicon-menu-right">
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.card_no.$invalid && form.card_no.$dirty}"
                >
                    <div class="form-group-inner">
                        <label for="card_no">银行卡</label>
                        <input id="card_no" class="form-control input-target input-lg" type="tel"
                               name="card_no"
                               ng-model="store.cardNo"
                               ui-mask="9999 9999 9999 9999 ?9?9?9"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="space"
                               ui-validate="{ already_exists: 'self.does_not_exist_bank($modelValue)' }"
                               placeholder="请输入本人借记卡号"
                               required
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.card_no.$invalid && form.card_no.$dirty && form.card_no.$error.already_exists"
                    >
                        <span>该银行卡已绑定</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.cardPhone.$invalid && form.cardPhone.$dirty}"
                >
                    <div class="form-group-inner">
                        <label for="card-phone">手机号</label>
                        <input id="card-phone" class="form-control input-target input-lg" type="tel"
                               name="cardPhone"
                               ng-model="store.cardPhone"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               ng-pattern="/^1\d{10}$/"
                               maxlength="11"
                               placeholder="请输入银行预留手机号"
                               required
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.cardPhone.$invalid && form.cardPhone.$dirty"
                    >
                        <span ng-show="form.cardPhone.$error.required">必须填写</span>
                        <span ng-show="form.cardPhone.$error.pattern">填写中国大陆正确的 11 位手机号</span>
                    </div>
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <div class="form-group-inner">
                        <label for="mobile_captcha">验证码</label>
                        <input class="form-control input-target input-lg captcha" type="tel"
                               id="mobile_captcha"
                               name="mobile_captcha"
                               ng-model="store.smsCaptcha"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               placeholder="请输入短信验证码"
                               maxlength="6"
                               required
                        >

                        <button class="btn btn-sm btn-action btn-plain" type="button"
                                ng-click="self.send_mobile_captcha(store)"
                                ng-disabled="
                                       !store.id_number
                                    || !store.user_name
                                    || !store.cardNo
                                    || !store.cardPhone
                                    || !store.bank
                                    || self.captcha.buffering
                                    || self.captcha.sending
                                "
                        >
                            <span class="text">获取验证码</span>
                            <span class="count" ng-show="self.captcha.buffering">
                                {{ self.captcha.count | number: 0 }}秒
                            </span>
                            <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                        </button>
                    </div>

                    <div class="help-block"
                         ng-show="form.mobile_captcha.$invalid && form.mobile_captcha.$dirty"
                    >
                        <span ng-show="form.mobile_captcha.$error.required">必须填写</span>
                        <span ng-show="form.mobile_captcha.$error.pattern">请输入6位数字</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{
                        'has-error': form.password.$invalid && form.password.$dirty
                     }"
                     ng-if="!self.user.has_payment_password"
                >
                    <div class="form-group-inner">
                        <label for="password">设置支付密码</label>
                        <input id="password" class="form-control input-target input-lg"
                               type="password"
                               name="password"
                               ng-model="store.password"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               minlength="6"
                               maxlength="6"
                               placeholder="请输入支付密码"
                               required
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.password.$invalid && form.password.$dirty"
                    >
                        <span ng-show="form.password.$error.required">必须填写</span>
                        <span ng-show="form.password.$error.pattern">请输入6位数字</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{
                        'has-error': form.password_confirm.$invalid && form.password_confirm.$dirty
                     }"
                     ng-if="!self.user.has_payment_password"
                >
                    <div class="form-group-inner">
                        <label for="password_confirm">确认支付密码</label>
                        <div class="form-control-wrap">
                            <input class="form-control input-target input-lg" type="password"
                                   id="password_confirm"
                                   name="password_confirm"
                                   ng-model="password_confirm"
                                   ng-model-options="{
                                       updateOn: 'blur default',
                                       debounce: {blur: 0, default: 1000}
                                   }"
                                   ui-validate=" '$value == store.password' "
                                   ui-validate-watch=" 'store.password' "
                                   placeholder="请再次输入支付密码"
                                   minlength="6"
                                   maxlength="6"
                                   required
                            >
                        </div>
                    </div>

                    <div class="help-block"
                         ng-show="form.password_confirm.$error.validator && form.password_confirm.$dirty"
                    >
                        <span ng-show="form.password_confirm.$error.validator">必须相同</span>
                    </div>
                </div>
            </div>

            <div class="btn-submit-outter">
                <div style="position: relative; margin-left: 18px; top: -20px;">
                    绑定即视为同意<a href="#" ng-click="self.agreement('支付服务协议')">《支付服务协议》</a>
                </div>

                <div class="btn-submit-wrap">
                    <button type="submit" class="btn btn-theme btn-block btn-lg"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >{{ self.submit_sending ? '绑定中...' : '绑定' }}</button>
                </div>
            </div>

            <h5 style="margin-left: 18px;">* 最终限额以银行设置为准。</h5>

        </form>

    </div>

</div>




<script type="text/ng-template" id="ngt-payment-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>



<script type="text/ng-template" id="ngt-dashboard-payment-bind-card-select-bank.tmpl">
    <div id="dashboard-payment-bind-card-select-bank">

        <nav class="container page-nav">
        <div class="row">
            <a class="col-xs-3 back" ng-click="$close()">
                <param class="glyphicon glyphicon-menu-left">
            </a>
            <span class="col-xs-6 title">选择开户银行</span>
            <span class="col-xs-3">&nbsp;</span>
        </div>
        </nav>

        <div></div>

        <section class="banks">
            <ul class="list-unstyled u-off-margin-bottom bank-list">
                <li ng-repeat="item in banks"
                    ng-click="select(item); $close()"
                >
                    <div class="media media-bank">
                        <div class="media-left media-middle">
                            <img width="37" ng-src="assets/image/bank-icons/{{ item.bankCode | lowercase }}.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ item.bankName }}</h4>
                            <p class="desc">
                                单笔
                                    {{
                                        item.singleQuota == -1
                                        ? '无限额'
                                        : (
                                            item.singleQuota >= 10000
                                            ? item.singleQuota / 10000 + '万'
                                            : item.singleQuota
                                          )
                                    }}
                                /
                                日限额
                                    {{
                                        item.dailyQuota == -1
                                        ? '无限额'
                                        : (
                                            item.dailyQuota >= 10000
                                            ? item.dailyQuota / 10000 + '万'
                                            : item.dailyQuota
                                          )
                                    }}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </div>
</script>

