
<div id="dashboard-payment-register" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="{{ self.back_path }}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">实名认证</span>
        <span class="col-xs-3"
              ng-if="self.back_path !== 'register'"
        >&nbsp;</span>
        <a class="col-xs-3 actions" href="./"
           ng-if="self.back_path === 'register'"
        ><small>跳过</small></a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
        }">
    </div>

    <div class="alert alert-info u-off-border-radius">
        <param class="glyphicon glyphicon-exclamation-sign">
        您尚未进行实名认证，未实名认证将无法进行，绑卡、充值、提现、投资等操作。
    </div>

    <section>

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.open_payment_account(user_name, id_number, inner_user_code)"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge"
                     ng-class="{'has-error': form.user_name.$invalid && form.user_name.$dirty}"
                    >
                    <label>真实姓名</label>
                        <div class="form-control-wrap">
                            <input id="user-name" class="form-control input-target input-lg" type="text"
                                   name="user_name"
                                   autocapitalize="none"
                                   autocomplete="off"
                                   autocorrect="off"
                                   ng-model="user_name"
                                   minlength="2"
                                   maxlength="15"
                                   pattern="[\u4E00-\u9FBF]{2,15}"
                                   placeholder="填写真实姓名"
                                   required
                            >
                            <div class="help-block"
                                 ng-show="form.user_name.$invalid && form.user_name.$dirty"
                            >
                                <span ng-show="form.user_name.$error.required">必须填写</span>
                                <span ng-show="form.user_name.$error.pattern">2 至 15 位中文</span>
                            </div>
                        </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.id_number.$invalid && form.id_number.$dirty}"
                >
                    <label>身份证号</label>
                        <div class="form-control-wrap">
                            <input id="id-number" class="form-control input-target input-lg" type="text"
                                   name="id_number"
                                   ng-model="id_number"
                                   minlength="18"
                                   maxlength="18"
                                   placeholder="填写身份证号"
                                   required
                                   x-id-number
                            >
                            <div class="help-block"
                                 ng-show="form.id_number.$invalid && form.id_number.$dirty"
                            >
                                <span ng-show="form.id_number.$error.required">必须填写</span>
                                <span ng-show="form.id_number.$viewValue && form.id_number.$error.id_number">请填写正确的 18 位身份证号码</span>
                            </div>
                        </div>
                </div>
            </div>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-theme btn-block btn-lg"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >立即认证</button>
                </div>

                <div class="form-group container">
                    <p class="flash-message alert alert-warning text-center"
                       ng-class="{ on: self.error.on }"
                    >
                        {{ self.error.message }}&nbsp;
                    </p>
                </div>
            </div>
        </form>
    </section>

    <section class="container notice">
        <h2 class="title">温馨提示：</h2>
        <ol class="list">
            <li><p>账户实名认证仅面向年满18岁的具有完全民事行为能力的自然人
            <li><p>填写的姓名、身份证信息需与您用于提现的银行卡账户名一致。为了保证后续交易提现，请认真如实填写相关信息。
        </ol>
    </section>

</div>
