
<div id="dashboard-payment-withdraw">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">提现</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',
            WITHDRAW_FAILED: '提现失败',
            UNKNOWN: '系统繁忙，请稍后重试！',

            SUCCEED: '提现成功',
        }">
    </div>

    <section class="form-wrapper">
        <form class="form-horizontal form-flatten"
              name="form"
              ng-submit="self.submit(store)"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container">

                <div class="form-group merge" ng-if="bank_account">
                    <div class="form-group-inner container">
                        <div class="media media-bank"
                             ng-click="self.pick_up_bank($event, store.amount)"
                        >
                            <div class="media-left">
                                <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">
                                    {{ bank_account.account.bankName }} ｜
                                    {{ bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                                </h4>
                            </div>
                            <div class="media-right media-middle">
                                <param class="glyphicon glyphicon-menu-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group merge">
                    <div class="form-group-inner">
                        <label for="withdraw">提现金额</label>
                        <input name="withdraw"
                               id="withdraw"
                               ng-model="store.amount"
                               type="number"
                               class="form-control input-target input-lg"
                               min="3"
                               max="{{ available_amount }}"
                               placeholder="可提现金额：{{ available_amount | number: 2 }}元"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               required
                        >
                    </div>
                </div>

                <div class="form-group merge">
                    <div class="form-group-inner">
                        <label for="password">交易密码</label>
                        <input name="password"
                               id="password"
                               ng-model="store.password"
                               type="password"
                               class="form-control input-target input-lg"
                               placeholder="请输入交易密码"
                               required
                        >
                    </div>
                </div>
            </div>

            <div class="container hint">
                <p class="fee">提现费用X元/笔,由支付通道收取</p>
                <p class="amount invisible" ng-class="{ _invisible: !form.withdraw.$valid }">实际到账: <span class="u-color-main">{{ store.amount - 3 }}元</span></p>
            </div>

            <p class="container"
               ng-init="invalid = available_amount <= 0.01 || store.amount > available_amount"
            >
                <button class="btn btn-theme btn-block btn-lg"
                        type="submit"
                        ng-disabled="form.$invalid || invalid || self.submit_sending"
                >
                    <span ng-if="!invalid">确认提现</span>
                    <span ng-if="invalid">余额不足</span>
                </button>
            </p>
        </form>
    </section>

</div>
