
<div id="dashboard-recharge">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path || self.next_path || 'dashboard' }}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">充值</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',

            SUCCEED: '充值成功',
            UNKNOWN: '充值失败',
        }">
    </div>

    <section class="text-center balance" x-gyro-comment>
        <div class="title">账户余额</div>
        <div class="num">{{ available_amount | number: 2 }}</div>
    </section>

    <section class="form-wrapper">
        <form class="form-horizontal form-flatten"
              name="form"
              ng-submit="self.submit(store)"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container">
                <div class="multi-line-container-item" x-gyro-comment>
                    <div class="form-group">
                        <label class="col-xs-4 control-label title">充值卡号</label>
                        <div class="col-xs-8 row">
                            <input class="form-control input-sm"
                                   type="text"
                                   value="{{ bank_account.account | string_mask }}"
                                   ng-disabled="true"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-group merge" x-gyro-comment>
                    <label>{{ bank_account.bank }}</label>
                    <input class="form-control input-target input-lg blank"
                           type="text"
                           value="{{ bank_account.mask }}"
                           disabled
                    >
                </div>

                <div class="form-group merge" ng-if="bank_account">
                    <div class="container">
                        <div class="media media-bank"
                             ng-click="self.pick_up_bank($event, store.amount)"
                        >
                            <div class="media-left">
                                <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">
                                    {{ bank_account.account.bankName }} ｜
                                    {{ bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                                </h4>
                                <p class="desc">
                                    单笔{{ bank_account.account.singleQuota == -1 ? '无限额' : bank_account.account.singleQuota }} /
                                    日限额{{ bank_account.account.dailyQuota == -1 ? '无限额' : bank_account.account.dailyQuota }}
                                </p>
                            </div>
                            <div class="media-right media-middle">
                                <param class="glyphicon glyphicon-menu-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group merge">
                    <label for="amount">充值金额</label>
                    <input class="form-control input-target input-lg"
                           type="number"
                           id="amount"
                           name="amount"
                           ng-model="store.amount"
                           max="1000000"
                           minlength="1"
                           placeholder="输入充值金额"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="password">交易密码</label>
                    <input name="password"
                           id="password"
                           ng-model="store.password"
                           type="password"
                           class="form-control input-target input-lg"
                           placeholder="请输入交易密码"
                           required
                    >
                </div>
            </div>

            <input type="hidden" name="isWAP" value="true" x-gyro-comment>
            <input type="hidden" name="retUrl" value="{{ return_url }}" x-gyro-comment>

            <p class="container">
                <button class="btn btn-theme btn-block btn-lg"
                        type="submit"
                        ng-disabled="form.$invalid || self.submit_sending"
                >确认充值</button>
            </p>
        </form>
    </section>

    <section class="container notice" x-gyro-comment>
        <h2 class="title">温馨提示：</h2>

        <ol class="list">
            <li><p>718bank理财暂不收取您的充值费用（第三方收取的费用由718bank理财垫付）
            <li><p>为保障您的资金安全，认证支付充值、提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。718bank理财不支持信用卡进行充值，请用储蓄卡进行相关操作。
            <li><p>充值前请确认您的银行卡限额，718bank理财对您的充值额度没有限制，限额是由具体开户行决定，如有疑问详询银行客服。
            <li><p>禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。
            <li><p>充值金额依据第三方支付公司处理时间为准，请及时查看您的账户余额。如充值成功后未能及时到账，请联系客服：<a href="tel:4008189696">400-818-9696</a>。
        </ol>
    </section>

</div>
