
<div id="dashboard-withdraw" class="">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">提现</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',

            SUCCEED: '提现申请已经提交，请等待审核',
            UNKNOWN: '提现失败',
        }">
    </div>

    <section class="text-center balance" x-gyro-comment>
        <div class="title">可提现余额</div>
        <div class="num">{{ available_amount | number: 2 }}</div>
    </section>

    <section class="form-wrapper">
        <form class="form-horizontal form-flatten"
              name="form"
              ng-submit="self.submit(amount, password)"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container">

                <div class="form-group merge" x-gyro-comment>
                    <label>{{ bank_account.bank }}</label>
                    <input class="form-control input-target input-lg blank"
                           type="text"
                           value="{{ bank_account.mask }}"
                           disabled
                    >
                </div>

                <div class="form-group merge">
                    <div class="container">
                        <div class="media media-bank">
                            <div class="media-left">
                                <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.bank_code | lowercase }}.png">
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">
                                    {{ bank_account.bank }} ｜
                                    {{ bank_account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                                </h4>
                            </div>
                            <div class="media-right media-middle">
                                <param class="glyphicon glyphicon-menu-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group merge">
                    <label for="withdraw">提现金额</label>
                    <input name="withdraw"
                           id="withdraw"
                           ng-model="amount"
                           type="number"
                           class="form-control input-target input-lg"
                           min="3"
                           max="{{ available_amount }}"
                           placeholder="可提现金额：{{ available_amount | number: 2 }}元"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           required
                    >
                </div>

                <div class="form-group merge" x-gyro-comment>
                    <label for="password">交易密码</label>
                    <input name="password"
                           id="password"
                           ng-model="password"
                           type="password"
                           class="form-control input-target input-lg"
                           placeholder="请输入交易密码"
                           required
                    >
                </div>
            </div>

            <div class="container hint">
                <p class="fee">提现费用3元/笔,由支付通道收取</p>
                <p class="amount" ng-class="{ invisible: !form.withdraw.$valid }">实际到账: <span class="u-color-main">{{ amount - 3 }}元</span></p>
            </div>

            <p class="container"
               ng-init="invalid = available_amount <= 0.01 || amount > available_amount"
            >
                <button class="btn btn-theme btn-block btn-lg"
                        type="submit"
                        ng-if="self.user.has_payment_account && self.user.has_bank_card"
                        ng-disabled="form.$invalid || invalid || self.submit_sending"
                >
                    <span ng-if="!invalid">确认提现</span>
                    <span ng-if="invalid">余额不足</span>
                </button>
            </p>
        </form>
    </section>

    <section class="container notice" x-gyro-comment>
        <h2 class="title">温馨提示：</h2>

        <ol class="list">
            <li><p>试运营期间，充值提现手续费平台承担，由第三方支付平台连连支付收取；每日提现限制3次以内(含3次)。718bank理财试运营结束后相关手续费另行公告。
            <li><p>提现到账时间：提现申请提交成功后，资金预计在1-2个工作日（双休日或法定节假日顺延）到账，请您注意查收。
            <li><p>根据《反洗钱法》规定，718bank理财禁止洗钱、信用卡套现、虚假交易等行为。
            <li><p>提现过程遇到问题，请联系客服：<a href="tel:4008189696">400-818-9696</a>。
        </ol>
    </section>

</div>
