
<div id="dashboard-payment-bind-card" class="">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path || 'dashboard/bank-card' }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">银行卡绑定</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="direct_paid_banks" ng-init="direct_paid_banks = [
            '工商银行',
            '农业银行',
            '中国银行',
            '招商银行',
            '光大银行',
            '浦发银行',
            '中国邮政储蓄银行',
            '建设银行',
        ]">

        <param ng-model="msg" ng-init="msg = {
            bankName:   '请选择开户银行',
            branchName: '请选择支行名称',
            cardNo:     '请输入卡号',
            city:       '请选择市区',
            province:   '请选择省份',
            smsCaptcha: '请输入短信验证码',
        }">
    </div>

    <div class="alert alert-info u-off-border-radius" x-gyro-comment>
        <param class="glyphicon glyphicon-exclamation-sign">
        重要提示：此银行卡的开户名必须为
        <strong>{{ self.user.info.name }}</strong>
        的借记卡，否则提现会失败。每个用户只允许绑定1张银行卡，今后仅能使用该银行卡进行快捷充值与提现；
        绑定后如需更换，须联系客服经审核才能更换。请慎重选择！！
    </div>

    <div class="page-content">

        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.bind_card(store)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge"
                     ng-class="{'has-error': form.id_number.$invalid && form.id_number.$dirty}"
                >
                    <label for="id-number">身份证</label>
                    <div class="form-control-wrap">
                        <input id="id-number" class="form-control input-target input-lg" type="text"
                               name="id_number"
                               ng-model="id_number"
                               ng-init="id_number = self.user.info.idNumber"
                               ng-readonly="self.user.info.idNumber"
                               minlength="18"
                               maxlength="18"
                               placeholder="18位身份证号"
                               required
                               x-id-number
                        >
                        <div class="help-block"
                             ng-show="form.id_number.$invalid && form.id_number.$dirty"
                        >
                            <span ng-show="form.id_number.$error.required">必须填写</span>
                            <span ng-show="form.id_number.$viewValue && form.id_number.$error.id_number">请填写正确的 18 位身份证号码</span>
                        </div>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.user_name.$invalid && form.user_name.$dirty}"
                    >
                    <label for="user-name">姓名</label>
                    <div class="form-control-wrap">
                        <input id="user-name" class="form-control input-target input-lg" type="text"
                               name="user_name"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               ng-model="user_name"
                               ng-init="user_name = self.user.info.name"
                               ng-readonly="self.user.info.name"
                               minlength="2"
                               maxlength="15"
                               pattern="[\u4E00-\u9FBF]{2,15}"
                               placeholder="身份证上的姓名"
                               required
                        >
                        <div class="help-block"
                             ng-show="form.user_name.$invalid && form.user_name.$dirty"
                        >
                            <span ng-show="form.user_name.$error.required">必须填写</span>
                            <span ng-show="form.user_name.$error.pattern">2 至 15 位中文</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inputs container">

                <div class="form-group merge">
                    <label for="card-no">银行卡</label>
                    <input id="card-no" class="form-control input-target input-lg" type="tel"
                           name="card-no"
                           ng-model="store.cardNo"
                           ng-model-options="{
                               updateOn: 'blur default',
                               debounce: {blur: 0, default: 300},
                           }"
                           ng-change="self.fetch_branch(city[store.city], store.cardNo)"
                           placeholder="输入本人借记卡号"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="bank-name">银行</label>
                    <select name="bankName" class="form-control input-sm"
                            id="bank-name"
                            ng-model="store.bankName"
                            ng-change="self.on_change_bank_name()"
                            ng-options="name for (code, name) in banks"
                    >
                        <option value="">请选择开户银行</option>
                    </select>
                </div>

                <div class="form-group merge" ng-show="self.need_location()" x-gyro-comment>
                    <label>选择省市</label>

                    <select name="province" class="form-control input-sm"
                            id="province"
                            ng-model="store.province"
                            ng-change="self.fetch_city(store.province); self.fetch_branch(city[store.city], store.cardNo)"
                            ng-options="name as name for (name, code) in province"
                    >
                        <option value="">...选择省</option>
                    </select>

                    <select name="city" class="form-control input-sm"
                            id="city"
                            ng-model="store.city"
                            ng-change="self.fetch_branch(city[store.city], store.cardNo)"
                            ng-options="name as name for (name, code) in city"
                    >
                        <option value="">...选择市</option>
                    </select>
                </div>

                <div class="form-group merge" ng-show="self.need_location()" x-gyro-comment>
                    <label for="branch-name">开户支行</label>
                    <input id="branch-name" class="form-control input-target input-lg" type="tel"
                           name="branch-name"
                           ng-model="store.branchName"
                           placeholder="开户行（如：招商银行肥西路支行）"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="card-phone">手机号</label>
                    <input id="card-phone" class="form-control input-target input-lg" type="tel"
                           name="card-phone"
                           ng-model="store.cardPhone"
                           ng-init="store.cardPhone = self.user.info.mobile"
                           placeholder="请输入银行预留手机号"
                           required
                    >
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <label for="mobile_captcha">验证码</label>
                    <input class="form-control input-target input-lg captcha" type="tel"
                           id="mobile_captcha"
                           name="mobile_captcha"
                           ng-model="store.smsCaptcha"
                           pattern="^\d{6}$"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           placeholder="请输入短信验证码"
                           maxlength="6"
                           required
                    >

                    <button class="btn btn-sm btn-action btn-plain" type="button"
                            ng-click="self.send_mobile_captcha()"
                            ng-disabled="self.captcha.buffering"
                    >
                        <span class="text">获取验证码</span>
                        <span class="count" ng-show="self.captcha.buffering">
                            {{ self.captcha.count | number: 0 }}秒
                        </span>
                        <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                    </button>
                </div>
            </div>

            <p class="container hint hint-captcha" ng-show="self.captcha.buffering">
                已将验证码发送至手机<span class="u-color-main">{{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{4})(\\d{4})$' : '$1-$2-$3' }}</span>
            </p>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-theme btn-block btn-lg"
                            ng-disabled="self.submit_sending"
                    >下一步</button>
                    <a class="btn btn-link btn-block" ng-href="{{ self.back_path || 'dashboard' }}">以后再说</a>
                </div>

                <div class="form-group container">
                    <p class="flash-message alert alert-warning text-center"
                       ng-class="{ on: self.error.on }"
                    >
                        {{ self.error.message }}&nbsp;
                    </p>
                </div>
            </div>
        </form>

        <section class="container notice" x-gyro-comment>
            <h2 class="title">温馨提示：</h2>
            <ol class="list">
                <li><p>为保障您的资金安全，绑卡前请先进行实名认证。
                <li><p>您所绑定的银行卡须是借记卡，718bank理财严禁利用信用卡套现。
                <li><p>718bank理财目前只支持绑定一张银行卡，认证支付充值、提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。
                <li><p>已绑定的银行卡如需更换，请联系客服：<a href="tel:4008189696">400-818-9696</a>。
            </ol>
        </section>
    </div>

</div>


