
<div id="dashboard-payment-password">
    <style> body { background-color: #FFF; } </style>

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">重置支付密码</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SUCCEED: '设置成功！',
            FAILURE: '设置失败',
            UNKNOWN: '系统繁忙，请稍后重试！',
            ACCESS_DENIED: '登录超时',
            INVALID_MOBILE_CAPTCHA: '手机验证码不匹配',
            PASSWORD_RESET_FAILURE: '设置失败',
        }">
    </div>

    <section ng-hide="action_result">
        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.set_password(store)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <div class="form-group-inner">
                        <label for="mobile_captcha">验证码</label>
                        <input class="form-control input-target input-lg captcha" type="tel"
                               id="mobile_captcha"
                               name="mobile_captcha"
                               ng-model="store.mobile_captcha"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               autocapitalize="none"
                               autocomplete="off"
                               autocorrect="off"
                               placeholder="请输入验证码"
                               maxlength="6"
                               required
                        >

                        <button class="btn btn-default btn-sm btn-action btn-plain" type="button"
                                ng-click="self.send_mobile_captcha()"
                                ng-disabled="self.captcha.buffering"
                        >
                            <span class="text">获取验证码</span>
                            <span class="count" ng-show="self.captcha.buffering">
                                {{ self.captcha.count | number: 0 }}秒
                            </span>
                            <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                        </button>
                    </div>

                    <div class="help-block"
                         ng-show="form.mobile_captcha.$invalid && form.mobile_captcha.$dirty"
                    >
                        <span ng-show="form.mobile_captcha.$error.required">必须填写</span>
                        <span ng-show="form.mobile_captcha.$error.pattern">请输入6位数字</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{
                        'has-error': form.password.$invalid && form.password.$dirty
                     }"
                >
                    <div class="form-group-inner">
                        <label for="password">新支付密码</label>
                        <input id="password" class="form-control input-target input-lg"
                               type="password"
                               name="password"
                               ng-model="store.password"
                               ng-model-options="{
                                   updateOn: 'blur default',
                                   debounce: {blur: 0, default: 1000}
                               }"
                               pattern="^\d{6}$"
                               minlength="6"
                               maxlength="6"
                               placeholder="请输入新支付密码"
                               required
                        >
                    </div>

                    <div class="help-block"
                         ng-show="form.password.$invalid && form.password.$dirty"
                    >
                        <span ng-show="form.password.$error.required">必须填写</span>
                        <span ng-show="form.password.$error.pattern">请输入6位数字</span>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{
                        'has-error': form.password_confirm.$invalid && form.password_confirm.$dirty
                     }"
                >
                    <div class="form-group-inner">
                        <label for="password_confirm">确认密码</label>
                        <div class="form-control-wrap">
                            <input class="form-control input-target input-lg" type="password"
                                   id="password_confirm"
                                   name="password_confirm"
                                   ng-model="password_confirm"
                                   ng-model-options="{
                                       updateOn: 'blur default',
                                       debounce: {blur: 0, default: 1000}
                                   }"
                                   ui-validate=" '$value == store.password' "
                                   ui-validate-watch=" 'store.password' "
                                   placeholder="请再次输入新支付密码"
                                   minlength="6"
                                   maxlength="6"
                                   required
                            >
                        </div>
                    </div>

                    <div class="help-block"
                         ng-show="form.password_confirm.$error.validator && form.password_confirm.$dirty"
                    >
                        <span ng-show="form.password_confirm.$error.validator">必须相同</span>
                    </div>
                </div>
            </div>

            <div class="btn-submit-wrap">
                <button type="submit" class="btn btn-theme btn-block btn-lg"
                        ng-disabled="form.$invalid || self.submit_sending"
                >{{ self.submit_sending ? '重置中...' : '确认重置' }}</button>
            </div>
        </form>
    </section>

    <div class="action-result" ng-show="action_result">
        <div ng-show="action_result.success">
            <div class="content text-center shadow">
                <div class="icon-wrap">
                    <img class="icon" width="66" ng-src="assets/image/smile-icon.png">
                </div>

                <p class="desc">支付密码重置成功</p>
            </div>

            <div class="action">
                <a class="btn btn-theme btn-block" href="list">马上投资</a>
            </div>
        </div>
    </div>

</div>
