
<div id="dashboard-payment-recharge">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back"
           ng-href="{{ self.back_path || self.next_path || 'dashboard' }}"
        ><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">充值</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',
            DEPOSIT_FAILED: '充值失败',
            UNKNOWN: '系统繁忙，请稍后重试！',

            SUCCEED: '充值成功',
        }">
    </div>

    <section class="form-wrapper">
        <form class="form-horizontal form-flatten"
              name="form"
              ng-submit="self.submit(store)"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge" ng-if="store.bank_account">
                    <div class="form-group-inner container">
                        <div class="media media-bank"
                             ng-click="self.select_bank($event, store)"
                        >
                            <div class="media-left">
                                <img width="30" ng-src="assets/image/bank-icons/{{ bank_account.account.bankCode | lowercase }}.png">
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">
                                    {{ bank_account.account.bankName }} ｜
                                    {{ bank_account.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                                </h4>
                                <p class="desc">
                                    单笔
                                        {{
                                            bank_account.account.singleQuota == -1
                                            ? '无限额'
                                            : (
                                                bank_account.account.singleQuota >= 10000
                                                ? bank_account.account.singleQuota / 10000 + '万'
                                                : bank_account.account.singleQuota
                                              )
                                        }}
                                    /
                                    日限额
                                        {{
                                            bank_account.account.dailyQuota == -1
                                            ? '无限额'
                                            : (
                                                bank_account.account.dailyQuota >= 10000
                                                ? bank_account.account.dailyQuota / 10000 + '万'
                                                : bank_account.account.dailyQuota
                                              )
                                        }}
                                </p>
                            </div>
                            <div class="media-right media-middle">
                                <param class="glyphicon glyphicon-menu-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group merge">
                    <div class="form-group-inner">
                        <label for="amount">充值金额</label>
                        <input class="form-control input-target input-lg"
                               type="number"
                               id="amount"
                               name="amount"
                               ng-model="store.amount"
                               max="{{ bank_account.account.singleQuota == -1 ? '' : bank_account.account.singleQuota }}"
                               minlength="1"
                               placeholder="输入充值金额"
                               required
                        >
                    </div>
                </div>

                <div class="form-group merge">
                    <div class="form-group-inner">
                        <label for="password">交易密码</label>
                        <input name="password"
                               id="password"
                               ng-model="store.password"
                               type="password"
                               class="form-control input-target input-lg"
                               placeholder="请输入交易密码"
                               required
                        >
                    </div>
                </div>
            </div>

            <p class="container">
                <button class="btn btn-theme btn-block btn-lg"
                        type="submit"
                        ng-disabled="form.$invalid || self.submit_sending"
                >确认充值</button>
            </p>
        </form>
    </section>

</div>





<script type="text/ng-template" id="ngt-dashboard-payment-recharge-select-bank.tmpl">
    <div id="dashboard-payment-recharge-select-bank">

        <nav class="container page-nav">
        <div class="row">
            <a class="col-xs-3 back" ng-click="$close()">
                <param class="glyphicon glyphicon-menu-left">
            </a>
            <span class="col-xs-6 title">选择银行卡</span>
            <span class="col-xs-3">&nbsp;</span>
        </div>
        </nav>

        <section class="banks">
            <ul class="list-unstyled u-off-margin-bottom bank-list">
                <li ng-repeat="item in bank_account_list"
                    ng-click="select(item); $close()"
                >
                    <div class="media media-bank">
                        <div class="media-left">
                            <img width="30" ng-src="assets/image/bank-icons/{{ item.account.bankCode | lowercase }}.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ item.account.bankName }} ｜
                                {{ item.account.account | string_replace: '^\\d+(\\d{4})$' : '****$1' }}
                            </h4>
                            <p class="desc">
                                充值限额: <br>
                                单笔
                                    {{
                                        item.account.singleQuota == -1
                                        ? '无限额'
                                        : (
                                            item.account.singleQuota >= 10000
                                            ? item.account.singleQuota / 10000 + '万'
                                            : item.account.singleQuota
                                          )
                                    }}
                                /
                                日限额
                                    {{
                                        item.account.dailyQuota == -1
                                        ? '无限额'
                                        : (
                                            item.account.dailyQuota >= 10000
                                            ? item.account.dailyQuota / 10000 + '万'
                                            : item.account.dailyQuota
                                          )
                                    }}
                            </p>
                            <span class="default-card"
                                  ng-if="item.defaultAccount"
                            >默认卡</span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </div>
</script>
