
<div id="dashboard-payment-password" class="">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path }}"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">{{ {set: '设置', reset: '重置'}[type] }}交易密码</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SUCCESS: '设置成功！',
            FAILURE: '设置失败',
        }">
    </div>

    <section>
        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.set_password(store)"
              novalidate
        >
            <p class="container hint" ng-if="type === 'set'">交易密码将投资取现等，保护您的资产安全</p>
            <div class="inputs container">
                <div class="form-group merge"
                     ng-if="type === 'set'"
                     ng-init="is_password_visible = false"
                >
                    <label for="password">交易密码</label>
                    <input id="password" class="form-control input-target input-lg"
                           type="{{ is_password_visible ? 'text' : 'password' }}"
                           name="password"
                           ng-model="store.password"
                           minlength="6"
                           maxlength="6"
                           placeholder="6位纯数字密码"
                           required
                    >

                    <button type="button" class="btn btn-link password-toggle"
                            ng-click="is_password_visible = !is_password_visible"
                    >
                        <span ng-show="!is_password_visible">查看</span>
                        <span ng-show="is_password_visible">隐藏</span>
                    </button>
                </div>

                <div class="form-group merge" x-gyro-comment>
                    <input id="password2" class="form-control input-target input-lg" type="password"
                           name="password2"
                           ng-model="password2"
                           placeholder="确认密码"
                           ui-validate=" '!!password && $value == password'"
                           ui-validate-watch=" 'password' "
                           required
                    >
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <label for="mobile_captcha">验证码</label>
                    <input class="form-control input-target input-lg captcha" type="tel"
                           id="mobile_captcha"
                           name="mobile_captcha"
                           ng-model="store.mobile_captcha"
                           pattern="^\d{6}$"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           placeholder="请输入短信验证码"
                           maxlength="6"
                           required
                    >

                    <button class="btn btn-default btn-sm btn-action btn-plain" type="button"
                            ng-click="self.send_mobile_captcha()"
                            ng-disabled="self.captcha.buffering"
                    >
                        <span class="text">获取验证码</span>
                        <span class="count" ng-show="self.captcha.buffering">
                            {{ self.captcha.count | number: 0 }}秒
                        </span>
                        <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                    </button>
                </div>

            </div>

            <div class="inputs container" ng-if="type === 'reset'">
                <div class="form-group merge"
                     ng-init="is_password_visible = false"
                >
                    <label for="password">新密码</label>
                    <input id="password" class="form-control input-target input-lg"
                           type="{{ is_password_visible ? 'text' : 'password' }}"
                           name="password"
                           ng-model="store.password"
                           minlength="6"
                           maxlength="6"
                           placeholder="请设置6位纯数字密码"
                           required
                    >

                    <button type="button" class="btn btn-link password-toggle"
                            ng-click="is_password_visible = !is_password_visible"
                    >
                        <span ng-show="!is_password_visible">查看</span>
                        <span ng-show="is_password_visible">隐藏</span>
                    </button>
                </div>
            </div>

            <p class="container hint hint-captcha" ng-show="self.captcha.buffering">
                已将验证码发送至手机<span class="u-color-main">{{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{4})(\\d{4})$' : '$1-$2-$3' }}</span>
            </p>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-theme btn-block btn-lg"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >{{ {set: '设置', reset: '重置'}[type] }}密码</button>

                    <a class="btn btn-link btn-block"
                       ng-if="type === 'set'"
                       ng-href="{{ self.back_path || 'dashboard' }}"
                    >以后再说</a>
                </div>
            </div>
        </form>
    </section>

</div>
