<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/guide/css/style.css">
    <div class="guide-banner-box"></div>
    <div class="guide-box">

        <div class="step-first">
             <div class="step-title">什么是自金网？</div>
             <p class="model-content"><b>自金网</b>系均瑶集团旗下华瑞金融科技有限公司建设和运营的互联网金融资产交易服务平台。秉承着打造健康金融生态圈、为客户提高效益的原则，自金网致力于为客户提供优质、安全、便捷的金融理财信息服务，做一个能保护消费者、有责任感的平台。
             </p>
        </div>
   
        <div class="step-second">
            <div class="step-title">自金网的优势</div>
            <div class="step-second-bg">
                <h2 class="step2-1">银行级的风控</h2>
                自金网遵循“宁缺毋滥”的原则，对每一笔资产、每一个项目都有严格的风控把握。
            </div>
            <div class="step-second-bg">
                <h2 class="step2-2">资金托管模式</h2>
                自金网的资金托管在银行，切实保护用户资产。
            </div>
            <div class="step-second-bg">
                <h2 class="step2-3">高收益</h2>
                在严格的风险把握的前提下，自金网尽可能的为客户带来更多的利益。
            </div>
        </div>
        <div class="step-third">
            <div class="step-title">如何投资？</div>
            <ul>
                <li class="step3-register">注册</li>
                <li class="step3-arrow"></li>
                <li class="step3-auth">认证</li>
                <li class="step3-arrow"></li>
                <li class="step3-recharge">充值</li>
                <li class="step3-arrow"></li>  
                <li class="step3-invest">投资</li>
            </ul>
            
        </div>
    </div>


</dsBody>