<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/guide/css/style.css">
    <!-- 轮播组件 -->

    <div class="carousel-wrapper" style="height: 350px;position: relative">

        <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="display: none">
                <!--{{JSON.stringify(carousel)}}-&#45;&#45;&#45;&#45;-->
                {{#carousel}}
                <li data-target="#my-carousel" data-slide-to="{{@index}}" class="{{#if @index === 0 }}active{{/if}}">
                </li>
                {{/}}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {{#carousel}}
                <div class="item {{#if @index === 0}}active{{/if}}" style="background: {{this.bgc}}">
                    <a href="{{this.link}}" target="_blank">
                        <div style="background-image:url({{this.content}}); background-repeat:no-repeat; background-position:center;background-size: 100% 350px;padding-top:350px;">
                        </div>
                    </a>
                </div>
                {{/carousel}}
            </div>

            <div class="banner-account－box">
                <div class="banner-account">

                    {{#picture[1]}}
                    <div class="ad">
                        <a href="{{this.link}}" target="_blank">
                            <div style="background-image:url({{this.content}});
                            background-repeat:no-repeat; background-position:center;
                            background-size: 100% 200px;padding-top:200px;">
                            </div>
                        </a>
                    </div>
                    {{/}}

                    <div class="free-register">
                        {{#if user}}
                        <a href="/newAccount/home/index"><div class="btn-index">我的账户</div></a>
                        {{else}}
                        <a href="/register"><div class="btn-index">立即注册</div></a>
                        {{/if}}
                    </div>
                    {{#if user}}
                    <!--<h3 class="bannerLogin">{{#if userInfo.user.name}}您当前的登录账户是{{else}}{{shangwuxiawu}}好{{/if}}：<span >{{#if !userInfo.user.name}}{{user.mobile}}{{else}}{{userInfo.user.name}}{{/if}}</span></h3>-->
                    {{else}}
                    <h3 class="bannerLogin">已有账号? <a class="underline" href="/login">立即登录</a></h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="guide-box">
        <div class="step-box1">
            <div class="step-first">
                <div class="step-title">什么是太合汇·汇财富？</div>
                <p class="model-content">太合汇·汇财富是由<span><a href="http://www.tahone.com">太合汇·汇财富</a></span>倾力打造的互联网金融资产交易服务平台，</p>
                <p class="model-content">专门为白领、中产精英等高潜力人群提供专业、</p>
                <p class="model-content">可信赖的财富管理服务，实现财富增值。</p>
            </div>
        </div>
        <div class="step-box2">
            <div class="step-second">
                <!--<span class="step-tips1">操作便捷</span>-->
                <!--<span class="step-tips2">经验丰富</span>-->
                <!--<span class="step-tips3">实力强大</span>-->
            </div>
        </div>
        <div class="step-box3">
            <div class="step-third">
                <div class="step-title">为什么选择太合汇·汇财富？</div>
                <ul>
                    <li>
                        <img src="/ccc/guide/img/tip1.png" alt="产品优质" />
                        <p>太合汇·汇财富遵循“宁缺毋滥”的原则，对每一个项目、每一笔资产进行严格甄选，优选绝对的稀缺产品。</p>
                    </li>

                    <li>
                        <img src="/ccc/guide/img/tip3.png" alt="安全保障" />
                        <p>专业风控团队，以银行级的标准进行风险把控，资金第三方托管，切实保护投资者资金安全。</p>
                    </li>
                    <li>
                        <img src="/ccc/guide/img/tip2.png" alt="专业服务" />
                        <p>拥有国内外经验的专业理财顾问团队，为您提供私人银行级的理财定制服务。</p>
                    </li>
                </ul>

            </div>
        </div>

        <p class="tips-title">太合汇·汇财富为您提供<span>最优的资产配置组合</span>，为您的<span>财富增值</span>扬帆起航！</p>
        <div class="step-box4">
            <div class="step-title">如何投资太合汇·汇财富？</div>
            <div class="step-four">
            </div>
        </div>
        <a class="guide-btn" onclick="ChooseLink()">立即开启财富之旅</a>

    </div>
    <script src="/ccc/safety/js/main/index.js"></script>
    <script>
        function ChooseLink(){
            if(CC.user){
                window.location.href="/invest";
            }else{
                window.location.href="/login";
            }
        }
    </script>
</dsBody>