
<div id="more" ng-if="!is_show_action_result">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 title">更多</span>
    </div>
    </nav>

    <section class="omit-margin shadow info" ng-if="self.user.has_logged_in">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="inner">
                    <span class="left">
                        <param class="icon icon-user">
                        账号
                    </span>
                    <span class="right text-muted">
                        {{ self.user.info.mobile | string_replace: '^(\\d{3})(\\d{5})(\\d{3})$' : '$1*****$3' }}
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <section class="shadow links">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <a href="about">
                    <div class="inner">
                        <span class="left">
                            <param class="icon icon-logo">
                            关于我们
                        </span>
                        <span class="right">
                            <param class="glyphicon glyphicon-menu-right">
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="contact">
                    <div class="inner">
                        <span class="left">
                            <param class="icon icon-contact">
                            客服中心
                        </span>
                        <span class="right">
                            <param class="glyphicon glyphicon-menu-right">
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="help">
                    <div class="inner">
                        <span class="left">
                            <param class="icon icon-help">
                            帮助中心
                        </span>
                        <span class="right">
                            <param class="glyphicon glyphicon-menu-right">
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="download-app" target="_self">
                    <div class="inner">
                        <span class="left">
                            <param class="icon icon-download">
                            下载APP
                        </span>
                        <span class="right">
                            <param class="glyphicon glyphicon-menu-right">
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </section>

    <section class="action" ng-if="self.user.has_logged_in">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="inner" ng-click="self.logout()">
                    <span class="left">
                        <param class="icon icon-logout">
                        退出登录
                    </span>
                </div>
            </li>
        </ul>
    </section>

</div>




<div id="more" ng-if="is_show_action_result">
    <style> body { background-color: #FFF; } </style>

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-12 title">更多</span>
    </div>
    </nav>

    <section class="action-result">
        <div class="content text-center shadow">
            <div class="icon-wrap">
                <img class="icon" width="66" ng-src="assets/image/smile-icon.png">
            </div>

            <p class="desc">您已安全退出</p>
        </div>

        <div class="action">
            <a class="btn btn-theme btn-block" href="login">登录</a>
        </div>
    </section>

</div>

