<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/global/css/base.css" media="all">
<link rel="stylesheet" href="/ccc/register/css/register.css" media="all">
<link rel="stylesheet" href="/ccc/register/css/newstyle.css" media="all">
<link rel="stylesheet" href="/ccc/global/css/base1.css">

<div class="container">
    <div class="register-body">  
        <div class="register-body-img pull-left  col-md-6">
            <img src="/ccc/register/img/poster.png">
        </div>
        <div id="register-container" class="pull-left col-md-6"></div>
    </div>
</div>
<div class="space space-50"></div>
<script src="/ccc/global.js" async></script>
<script src="/ccc/register/js/main/register.js"></script>
</dsBody>
