<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/register/css/register.css" media="all">
<link rel="stylesheet" href="/ccc/register/css/newstyle.css" media="all">

<div class="container">
    <div id="register-container"></div>
</div>
    
<!--
<div class="pop-box"></div>
<div class="register-success">
    <div class="header">
        <span class="title">注册成功</span>
        <img src="/ccc/register/img/close.png" class="close-img"/> 
    </div>
    <div class="content">
        <div class="success-img">
            <img src="/ccc/register/img/success.png"/> 
        </div>
        <div class="success-content">
            <p>注册完成</p>
            <p class="bolder">绑定银行卡后就能进行投资了</p>
            <div class="button">
                <button class="close-img btn-after">以后再说</button>
                <a href="#"><button class="btn-after btn-bank">马上去绑卡</button></a>
            </div>
        </div>
    </div>
</div>
-->
   
<div class="space space-50"></div>
<script src="/ccc/global.js" async></script>
<script src="/ccc/register/js/main/register.js"></script>
</dsBody>
