{{#listTJ}}
<div class="proWrapper">
    <div class="header">
        <div class="targsBox">
            {{#if loanRequest.activityInfo}}
            <span>{{loanRequest.activityInfo}}</span>
            {{/if}}
            <span>固定理财</span>
        </div>
        <div class="infoBox_title">
            <a href="loan/{{ id }}">
                {{#if title.length>11}}
                {{title.substr(0,11)+'...'}}
                {{else}}
                {{title}}
                {{/if}}
            </a>
        </div>
        <div class="header_tags">
            {{#if loanRequest.brightSpot}}
            <span>{{loanRequest.brightSpot}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot2}}
            <span>{{loanRequest.brightSpot2}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot3}}
            <span>{{loanRequest.brightSpot3}}</span>
            {{/if}}
        </div>
        <p class="word">迄今为止100%安全兑付,7天-36个月灵活期限</p>
    </div>
    <div class="rateBox">
        <div class="rate"><span>{{rate}}</span>%</div>
        <p>年收益率</p>
    </div>
    <div class="infoBox">
        <div class="detail-box">
            <div class="investNum">
                <div><span>{{durationNewNo}}</span>{{durationNewName}}</div>
                <p>融资期限</p>
            </div>
            <div class="investNum" style="padding-right: 0px">
                <div><span>{{minAmount}}</span>{{minAmountUnit}}</div>
                <p>起投金额</p>
            </div>
        </div>
        <div class="opre">
            {{#if status === 'OPENED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn investbtn-open">立即投资</div>
            </a>
            {{/if}}

            {{#if status === 'SCHEDULED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">即将开始</div>
            </a>
            {{/if}}

            {{#if status === 'FINISHED' || status === 'FAKESETTLED' || status === 'FAILED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已售罄</div>
            </a>
            {{/if}}

            {{#if status === 'SETTLED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">计息中</div>
            </a>
            {{/if}}

            {{#if status === 'CLEARED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已结息</div>
            </a>
            {{/if}}
        </div>
    </div>
</div>
{{/listTJ}}

{{#listNew}}
<div class="proWrapper">
    <div class="header">
        <div class="targsBox">
            {{#if loanRequest.activityInfo}}
            <span>{{loanRequest.activityInfo}}</span>
            {{/if}}
            <span>固定理财</span>
        </div>
        <div class="infoBox_title">
            <a href="loan/{{ id }}">
                {{#if title.length>11}}
                {{title.substr(0,11)+'...'}}
                {{else}}
                {{title}}
                {{/if}}
            </a>
        </div>
        <div class="header_tags">
            {{#if loanRequest.brightSpot}}
            <span>{{loanRequest.brightSpot}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot2}}
            <span>{{loanRequest.brightSpot2}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot3}}
            <span>{{loanRequest.brightSpot3}}</span>
            {{/if}}
        </div>
        <p class="word">迄今为止100%安全兑付,7天-36个月灵活期限</p>
    </div>
    <div class="rateBox">
        <div class="rate"><span>{{rate}}</span>%</div>
        <p>年收益率</p>
    </div>
    <div class="infoBox">
        <div class="detail-box">
            <div class="investNum">
                <div><span>{{durationNewNo}}</span>{{durationNewName}}</div>
                <p>融资期限</p>
            </div>
            <div class="investNum" style="padding-right: 0px">
                <div><span>{{minAmount}}</span>{{minAmountUnit}}</div>
                <p>起投金额</p>
            </div>
        </div>
        <div class="opre">
            {{#if status === 'OPENED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn investbtn-open">立即投资</div>
            </a>
            {{/if}}

            {{#if status === 'SCHEDULED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">即将开始</div>
            </a>
            {{/if}}

            {{#if status === 'FINISHED'||status === 'FAKESETTLED' || status === 'FAILED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已售罄</div>
            </a>
            {{/if}}

            {{#if status === 'SETTLED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">计息中</div>
            </a>
            {{/if}}

            {{#if status === 'CLEARED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已结息</div>
            </a>
            {{/if}}
        </div>
    </div>
</div>
{{/listNew}}


{{#listGD}}
<div class="proWrapper">
    <div class="header">
        <div class="targsBox">
            {{#if loanRequest.activityInfo}}
            <span>{{loanRequest.activityInfo}}</span>
            {{/if}}
            <span>固定理财</span>
        </div>
        <div class="infoBox_title">
            <a href="loan/{{ id }}">
                {{#if title.length>11}}
                {{title.substr(0,11)+'...'}}
                {{else}}
                {{title}}
                {{/if}}
            </a>
        </div>
        <div class="header_tags">
            {{#if loanRequest.brightSpot}}
            <span>{{loanRequest.brightSpot}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot2}}
            <span>{{loanRequest.brightSpot2}}</span>
            {{/if}}
            {{#if loanRequest.brightSpot3}}
            <span>{{loanRequest.brightSpot3}}</span>
            {{/if}}
        </div>
        <p class="word">迄今为止100%安全兑付,7天-36个月灵活期限</p>
    </div>
    <div class="rateBox">
        <div class="rate"><span>{{rate}}</span>%</div>
        <p>年收益率</p>
    </div>
    <div class="infoBox">
        <div class="detail-box">
            <div class="investNum">
                <div><span>{{durationNewNo}}</span>{{durationNewName}}</div>
                <p>融资期限</p>
            </div>
            <div class="investNum" style="padding-right: 0px">
                <div><span>{{minAmount}}</span>{{minAmountUnit}}</div>
                <p>起投金额</p>
            </div>
        </div>
        <div class="opre">
            {{#if status === 'OPENED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn investbtn-open">立即投资</div>
            </a>
            {{/if}}

            {{#if status === 'SCHEDULED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">即将开始</div>
            </a>
            {{/if}}

            {{#if status === 'FINISHED'||status === 'FAKESETTLED' || status === 'FAILED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已售罄</div>
            </a>
            {{/if}}

            {{#if status === 'SETTLED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">计息中</div>
            </a>
            {{/if}}

            {{#if status === 'CLEARED'}}
            <a href="/loan/{{id}}">
                <div class="investbtn">已结息</div>
            </a>
            {{/if}}
        </div>
    </div>
</div>
{{/listGD}}