
/*太合汇*/
.agreement-container {
    width: 1000px;
    margin: 50px auto;
}

.agreement-container h3 {
    width: 1000px;
    margin: auto;
    line-height: 60px;
    margin-top: 20px;
}

.agreement-content {
    width: 1004px;
    margin: auto;
}