
<div id="contact">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">客服中心</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="omit-margin shadow info">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="inner">
                    <span class="name">客服邮箱</span>
                    <span class="value">
                        <a href="mailto:service@tahone.com">service@tahone.com</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="name">服务热线</span>
                    <span class="value">
                        <a class="text-underline" href="tel:4009008868">400-900-8868</a>
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <section class="info">
        <ul class="list-unstyled u-off-margin-bottom list">
            <li>
                <div class="inner">
                    <span class="name">官方QQ群</span>
                    <span class="value">33645576</span>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="name">微信公众号</span>
                    <span class="value">
                        <img style="margin-right: -8px;" width="129" ng-src="assets/image/weixin.jpg">
                    </span>
                </div>
            </li>
        </ul>
    </section>

</div>
