<div class="planner-title">
    <span>欧阳山峰</span>
    <span>二级推荐</span>
</div>
<table class="table planner-table">
    <thead>
    <tr>
        <th style="text-indent: 20px">姓名</th>
        <th>手机号</th>
        <th>注册时间</th>
        <th>总资产</th>
        <th>闲置资金</th>
        <th>最近购买时间</th>
        <th>最近到期金额</th>
        <th>最近到期时间</th>
        <th>二级推荐</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-indent: 20px">张三</td>
        <td>13869992987</td>
        <td>2015-07-03</td>
        <td>2000000</td>
        <td>8000</td>
        <td>2015-07-03</td>
        <td>10000</td>
        <td>2015-07-03</td>
        <td><a>查询</a></td>
    </tr>
    </tbody>
</table>