.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main dl,
.main dd,
.main dt,
.main p,
.main ul,
.main li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
}

#main-container .navTitle {
    color: #4a4a4a;
    font-size: 14px;
    width: 1100px;
    margin: 0px auto;
    line-height: 48px;
}

#main-container .navTitle a {
    color: #4a4a4a;
    font-size: 14px;
}

.main a {
    text-decoration: none;
}

.main * {
    font-family: "微软雅黑";
}

.main img {
    display: block;
}

body {
    background-color: #f7f7f7;
}

#main-container {
    background-color: #f7f7f7;
}

.main {
    background-color: white;
    width: 1200px;
    margin: 56px auto 68px;
    background: #fff;
    padding: 0 !important;
}

h2.forgot_title {
    font-size: 42px;
    color: #4a4a4a;
    line-height: 42px;
    text-align: center;
    margin-top: 72px;
}
.forgot_step_img{
    margin: 24px;
    height: 112px;
}
.step1_img{
     background: url("/ccc/forgot/img/step01.png") no-repeat center;
 }
.step2_img{
    margin-bottom: 55px;
    background: url("/ccc/forgot/img/step02.png") no-repeat center;
}
.step3_img{
    background: url("/ccc/forgot/img/step03.png") no-repeat center;
}
.step01,
.step02,
.step03,
.step04 {}

.main .step02 .verify-content {
    margin-left: 95px;
}

.main .step02 .verify-content .box-phone {
    overflow: hidden;
}

.main .step01 .verify-content {
    margin-left: 95px;
}

.main .step01 .verify-content .u-form-panel {
    overflow: hidden;
    float: left;
    border: 1px solid #c0c8bd;
}

.main .step01 .verify-content .u-form-panel-lg .s-form-row-lg {
    overflow: hidden;
}

.main .step01 .verify-content label {
    margin: 0;
}

.main .step02 .verify-content label {
    margin: 0;
}

.main .step01 .verify-content input,
.main .step02 .verify-content input {
    border: none;
    height: 47px;
    line-height: 47px;
    color: #c0c8bd;
    font-size: 15px;
    width: 334px;
    padding-left: 16px;
}

.main .step01 .verify-content .s-form-row {
    width: 334px;
    float: left;
}

.main .step02 .verify-content .s-form-row {
    width: 276px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding-left: 10px;
    border-radius: 4px;
    float: left;
}

.main .step01 .verify-content .s-form-row-lg .border .u-form-text-lg {
    padding-left: 16px;
    width: 220px;
    line-height: 46px;
    float: right;
}

.main .step01 .verify-content .s-form-row-lg .border {
    overflow: hidden;
    float: left;
    border: 1px solid #c0c8bd;
}

.main .step01 .verify-content .s-form-row-sm,
.main .step02 .verify-content .border {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    width: 271px;
}

.main .step02 .verify-content .border input {
    width: 100px;
}

.main .step02 .verify-content .s-form-row-lg {
    overflow: hidden;
    margin-bottom: 15px;
}

.main .step02 .verify-content .s-form-row-lg a {
    display: block;
    float: left;
    color: #fff;
    height: 45px;
    min-width: 93px;
    font-size: 12px;
    background-color: #23b574;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 13px;
}

.main .step02 .verify-content .border {
    width: 150px;
    float: left;
}

.main .step01 .verify-content img,
.main .step02 .verify-content img {
    display: inline;
}

.main .step01 .verify-content .box-verify {
    overflow: hidden;
    margin-bottom: 15px;
}

.main .step01 .verify-content .box-verify .u-form-panel {
    float: left;
}

.main .step01 .verify-content .u-form-btn-red,
.main .step02 .verify-content .u-form-btn-red {
    width: 380px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    color: white;
    background-color: #e60012;
    border-radius: 3px;
    display: block;
    margin-top: 56px;
    font-size: 16px;
    cursor: pointer;
}
.main .step02 .verify-content .u-form-btn-red {
    margin-top: 37px;
}
.tip_information {
    font-size: 15px!important;
    color: #9d9d9d;
}

.tip_information a {
    font-size: 15px!important;
    color: #ef9c2c;
    background: url(/ccc/newAccount/img/jiantoumima.png) no-repeat left center;
    padding-left: 20px;
    line-height: 62px;
}

.main .step02 .verify-content .u-form-btn-red {
    width: 380x;
    cursor: pointer;
}

.main .step01 .verify-content .s-form-row-sm-s {
    width: 130px;
}

.main .step01 .verify-content .s-form-row-sm-s input {
    width: 67px;
}

.main .step01 .verify-content .box-verify .u-form-panel-sm {
    float: left;
}

.main .nav_find {
    overflow: hidden;
    margin-top: 33px;
    margin-bottom: 55px;
}

.nav_find li {
    float: left;
}

.main .nav_find .number {
    font-family: "Arial";
    font-size: 18px;
    font-weight: 100;
    color: white;
    background-color: #aaa;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-left: 25px;
}

.main .nav_find .Method {
    font-size: 14px;
    color: #666;
}

.main .nav_find .current01 {
    color: #d8000f;
}

.main .nav_find .current02 {
    color: #d8000f;
}

.main .nav_find .current03 {
    color: #d8000f;
}

.main .nav_find .current04 {
    color: #d8000f;
}

.main .nav_find .current_span01 {
    background-color: #d8000f;
}

.main .nav_find .current_span02 {
    background-color: #d8000f;
}

.main .nav_find .current_span03 {
    background-color: #d8000f;
}

.main .nav_find .current_span04 {
    background-color: #d8000f;
}

.main .nav_find li {
    border-bottom: 2px solid #d9d7d7;
    padding-bottom: 13px;
    width: 299px;
}

.main .nav_find .current_li01 {
    border-bottom: 2px solid #d8000f;
}

.main .nav_find .current_li02 {
    border-bottom: 2px solid #d8000f;
}

.main .nav_find .current_li03 {
    border-bottom: 2px solid #d8000f;
}

.main .nav_find .current_li04 {
    border-bottom: 2px solid #d8000f;
}

.main .box_way {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
}

.main .box_way .span01 input {
    width: 13px;
    height: 13px;
}

.main .box_way .span01 {
    margin-right: 13px;
}

.main .box_way .span02 {
    font-size: 14px;
    color: #666;
}

.main .box_way h1 a {
    display: block;
    text-decoration: none;
    width: 105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    background-color: #d8000f;
    margin-top: 24px;
    border-radius: 17px;
}

.main .way02 {
    width: 295px;
    margin-left: auto;
    margin-right: auto;
}

.main .next {
    overflow: hidden;
}

.main .next h1,
.main .next h2 {
    float: left;
}

.main .next h1 a {
    display: block;
    text-decoration: none;
    width: 105px;
    font-size: 16px;
    color: white;
    line-height: 37px;
    text-align: center;
    background-color: #d8000f;
    border-radius: 17px;
}

.main .next h1 {
    margin-right: 15px;
}

.main .next h2 a {
    display: block;
    text-decoration: none;
    width: 165px;
    font-size: 16px;
    color: white;
    line-height: 37px;
    text-align: center;
    background-color: #8c8c8c;
    border-radius: 17px;
}

.main .way03 {
    width: 482px;
    margin-left: 310px;
    margin-top: 90px;
}

.main .way03 h1 {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.main .Verification02 {
    overflow: hidden;
    margin-bottom: 18px;
}

.main .Verification02 li {
    float: left;
}

.main .Verification02 .li01_Verification02 {
    overflow: hidden;
    border: 1px solid #c5c5c5;
    width: 163px;
    border-radius: 3px;
    margin-right: 10px;
}

.main .Verification02 .li01_Verification02 img,
.main .Verification02 .li01_Verification02 input {
    float: left;
}

.main .Verification02 .li01_Verification02 input {
    border: none;
    color: #999;
    font-size: 14px;
    line-height: 43px;
    padding-left: 10px;
    width: 115px;
}

.main .li02_Verification02 {
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    background-color: #23b574;
    margin-right: 16px;
    width: 90px;
}

.main .li03_Verification02 {
    font-size: 12px;
    color: #999;
    line-height: 44px;
}

.main .password_new {
    width: 265px;
    overflow: hidden;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    margin-bottom: 18px;
}

.main .password_new input {
    border: none;
    line-height: 43px;
    padding-left: 10px;
    width: 220px;
    font-size: 14px;
    color: #999;
}

.main .password_new input,
.main .password_new img {
    float: left;
}

.main .next01 {
    margin: 0px;
    margin-top: 23px;
    margin-bottom: 170px;
}

.main .step-login {
    padding-left: 0;
    display: block;
    background: #007ec5;
    width: 225px;
    height: 46px;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 46px;
    margin-top: 120px;
}

.main .next02 h4 {
    color: #666;
    font-size: 18px;
}

.main .next02 {
    margin-top: 5px;
}

.captcha-img {
    border: 1px solid #c5c5c5;
    width: 91px;
    height: 44px;
    border-radius: 3px;
    margin: 0 3px;
    padding: 5px;
}

.refresh {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    margin: 0 3px;
    padding: 12px 2px;
    color: #c5c5c5;
}

.step-guide {
    margin: 50px auto 100px auto;
}

.main .step01 .verify-content .u-form-panel .test-title {
    float: left;
    line-height: 47px;
    border-right: 1px solid #c0c8bd;
    width: 46px;
    background-color: #fcfcfc;
}

.main .step01 .verify-content .u-form-panel .test-title img {
    width: 16px;
    margin-left: 16px;
}

.main .step01 .verify-content .s-form-row-lg .border .test-title {
    float: left;
    line-height: 47px;
    border-right: 1px solid #cdcdcd;
    width: 46px;
    background-color: #fcfcfc;
}

.main .step01 .verify-content .s-form-row-lg .border .test-title img {
    width: 16px;
    margin-left: 16px;
}

.main .step01 .verify-content .u-form-panel-lg .s-form-row-lg #get-text a {
    color: #ae8a45;
    font-size: 14px;
    text-align: center;
    display: block;
}
.main .step01 .verify-content .u-form-panel-lg .s-form-row-lg #get-text a:hover{
    background: #eee;
}
.main .step01 .verify-content .u-form-panel-lg .s-form-row-lg #get-text {
    border: 1px solid #c0c8bd;
    line-height: 47px;
    float: left;
    width: 114px;
    border-left: 0;
    background-color: #fcfcfc;
}

.main .step02 .u-form-panel .step-password,
.main .step02 .u-form-panel .step-password-confirm {
    overflow: hidden;
    border: 1px solid #dcdcdc;
}

.main .step02 .u-form-panel .step-password {
    float: left;
    border: 1px solid #dcdcdc;
}

.main .step02 .u-form-panel .step-password .test-title {
    float: left;
    line-height: 46px;
    border-right: 1px solid #cdcdcd;
    width: 46px;
    background-color: #fcfcfc;
}

.main .step02 .u-form-panel .step-password .test-title img {
    width: 16px;
    margin-left: 16px;
}

.main .step02 .u-form-panel .step-password .s-form-row {
    float: right;
    width: 330px;
}

.main .step02 .u-form-panel .step-password-confirm .test-title {
    float: left;
    line-height: 46px;
    border-right: 1px solid #cdcdcd;
    width: 46px;
    background-color: #fcfcfc;
}

.main .step02 .u-form-panel .step-password-confirm .test-title img {
    width: 16px;
    margin-left: 16px;
}

.main .step02 .u-form-panel .step-password-confirm .s-form-row {
    float: left;
}

.main .step01 .verify-content .box-phone {
    overflow: hidden;
    margin-bottom: 24px;
}

.errors {
    float: left;
    margin-left: 10px;
    height: 40px;
    font-size: 15px;
}

.errors h1 {
    font-size: 14px;
    margin: 0px;
    background-image: url(/ccc/register/img/gou-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    color: #9fa0a0;
    line-height: 40px;
    color: #d2252c;
}

.main .step02 .u-form-panel .box-password {
    overflow: hidden;
    margin-bottom: 40px;
}

.step03 {
}
p.step03_img {
    height: 193px;
    margin: 98px auto 60px;
    background: url(/ccc/newAccount/img/band-success.png) no-repeat center;
}
p.step03_title {
    font-size: 30px;
    color: #cf000e;
    background-size: 190px;
    line-height: 30px;
    text-align: center;
}

.step03_conta {
    margin-top: 26px;
    text-align: center;
    font-size: 24px;
}
.step03_conta span{
    color: #666666;
}
.step03_conta a {
    display: inline-block;
    height: 46px;
    text-align: center;
    line-height: 46px;
}

.step03_conta .then {
    color: #ef9c2c;
}

.step03_conta .now {
    color: #bc955d;
}
.forgot-body-img{
    padding: 0;
}