<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" type="text/css" href="/ccc/account/css/common.css">
<link rel="stylesheet" type="text/css" href="/ccc/account/css/fund.css">

<div class="account-wrapper">
    <div style="height:20px;"></div>
    <div class="account-container">
        <div class="account-info"></div>
        <div id="navContainer"></div>
        <div class="account-inner-wrapper">
            <div class="space space-10"></div>
            <div class="fund-content">
            </div>
        </div>
    </div>
    <div style="height:30px;"></div>
</div>

<script src="/ccc/account/js/main/common.js"></script>
<script src="/ccc/account/js/main/fund.js"></script>
</dsBody>