<table class="table has-padding">
    <thead>
    <tr>
        <th>产品名称</th>
        <th>转让利率</th>
        <th>投资金额(元)</th>
        <th>转让价格(元)</th>
        <th>挂牌日</th>
        <th>状态</th>
        <th>转让</th>
        <th>操作</th>

    </tr>
    </thead>
    <!--{{JSON.stringify(list)}}-&#45;&#45;&#45;&#45;-->
    {{#if list}}
    <tbody>

    {{#each list}}
    <!--{{JSON.stringify(list)}}====-->
    <tr>
        <td>
            <!--产品名称-->
            <p><a class="table-title" href="/creditDetail/{{ id }}/{{loanId}}" target="_blank" rel="nofollow">{{title}}</a></p>
        </td>
        <td>
            <!--转让利率-->
            <p class="table-invest-rate">{{(actualRate*100).toFixed(2)}}%</p>
        </td>
        <td>
            <!--投资金额（元）-->
            <p class="table-invest-common">{{creditAmount}}</p>
        </td>
        <td>
            <!--转让价格（元）-->
            <p class="table-invest-common">{{creditDealAmount.toFixed(2)}}</p>
        </td>
        <td>
            <!--挂牌日-->
            <p class="table-invest-common">{{timeOpen}}</p>
        </td>
        <td>
            <!--状态-->
            <p class="table-invest-common">{{Fstatus}}</p>
        </td>
        <td>
            <!--转让-->
            <p class="table-invest-common"></p>
        </td>
        <!--操作-->
        {{#if status == "FINISHED"}}
        <td>
            <p class="table-invest-common">
                <a href="/api/v2/creditassign/getCreditAssignContract/{{id}}" target="_blank">查看合同</a>
            </p>
        </td>
        {{else}}
        <td>
            <p class="table-invest-common"></p>
        </td>
        {{/if}}
    </tr>
    {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="total_invest_num">共{{total}}条记录</div>
<div class="ccc-paging">
</div>
{{else}}
<div class="null">
    您目前暂无转让产品
</div>
{{/if}}
