<table class="table has-padding">
    <thead>
    <tr>
        <th>产品名称</th>
        <th>年收益率</th>
        <th>投资金额(元)</th>
        <th>起息日</th>
        <th>到期日</th>
        <th>实际收益(元)</th>
        <th>状态</th>
    </tr>
    </thead>
    {{#if list}}
    <tbody>
    {{#each list}}
    <tr>
        <td>
            <!--<p class="table-title">产品名称</p>-->
            <p><a class="table-title" href="/loan/{{loanId}}" target="_blank" rel="nofollow">{{loanTitle}}</a></p>
        </td>
        <td>
            <!--<p class="table-title">年收益率</p>-->
            <p class="table-invest-rate">{{Frate}}%</p>
        </td>
        <td>
            <!--<p class="table-title">投资金额（元）</p>-->
            <p class="table-invest-common">{{Famount}}</p>
        </td>
        <td>
            <!--<p class="table-title">起息日</p>-->
            <p class="table-invest-common">{{}}</p>
        </td>
        <td>
            <!--<p class="table-title">到息日</p>-->
            <p class="table-invest-common">{{}}</p>
        </td>
        <td>
            <!--<p class="table-title">实际收益（元）</p>-->
            <p class="table-invest-common">{{Famount}}</p>
        </td>
        <td>
            <!--<p class="table-title">状态</p>-->
            <p class="table-invest-common">已兑付</p>
        </td>
    </tr>
    {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="total_invest_num">共{{total}}条记录</div>
<div class="ccc-paging">
</div>
{{else}}
<div class="null">
    您目前暂无安全兑付产品
</div>
{{/if}}
