<table class="table has-padding">
<!--
    <thead>
        <tr>
            <th class="p-tit" style="text-indent:20px;">项目信息</th>
            <th class="p-amount">利率</th>
            <th class="p-rate">期限(月)</th>
            <th class="p-duration">投资总额(元)</th>
            <th>还款方式</th>
            <th>状态</th>
            <th class="w-100 align-center">操作</th>
        </tr>
    </thead>
-->
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td>
                <p class="table-title">项目名称</p>
                <p><a class="loan-tit" href="/loan/{{loanId}}" target="_blank" rel="nofollow">{{loanTitle}}</a></p>  
            </td>
             <td>
                <p class="table-title">结束日期</p>
                <p class="table-invest-time">{{endDate}}</p>
            </td> 
            <td>
                <p class="table-title">预期年化</p>
                <p class="table-invest-num">{{Frate}}%</p>
            </td>  
    		<td>
                <p class="table-title">投资金额（元）</p>
                <p class="table-invest-num">{{Famount}}</p>
            </td>
            <td>
                <p class="table-invest-expect">{{endAmount}}</p>
                <p class="table-title">到期收益（元）</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="ccc-paging"></div>
{{else}}
<div class="null">
    还没投资，赶紧投资吧！
</div>
{{/if}}