<table class="table has-padding">
    <thead>
        <tr>
            <th>产品名称</th>
            <th>年收益率</th>
            <th>订单总金额（元）</th>
            <th>起息日</th>
            <th>到息日</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td>
                <!--<p class="table-title">产品名称</p>-->
                <p><a class="table-title" href="/loan/{{loanId}}" target="_blank" rel="nofollow">{{loanTitle}}</a></p>
            </td>
            <td>
                <!--<p class="table-title">年收益率</p>-->
                <p class="table-invest-rate">{{Frate}}%</p>
            </td>
            <td>
                <!--<p class="table-title">订单总金额（元）</p>-->
                <p class="table-invest-common">{{Famount}}</p>
            </td>
            <td>
                <!--<p class="table-title">起息日</p>-->
                <p class="table-invest-common">{{}}</p>
            </td>
            <td>
                <!--<p class="table-title">到息日</p>-->
                <p class="table-invest-common">{{}}</p>
            </td>
            <td>
                <!--<p class="table-title">状态</p>-->
                <p class="table-invest-common">已投资</p>
            </td>
            <td>
                <!--<p class="table-title">操作</p>-->
                <p class="table-invest-common">
                    <button>转让</button>
                    <button class="look_contact">查看合同</button>
                </p>
            </td>
            <!--<td>-->
                <!--<p class="table-title">投资日期</p>-->
                <!--<p class="table-invest-time">{{submitTime}}</p>-->
            <!--</td>-->
            <!--<td>-->
                <!--<p class="table-title">预计收益（元）</p>-->
                <!--<p class="table-invest-expect">{{expectYield}}</p>-->
            <!--</td>-->
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="total_invest_num">共{{total}}条记录</div>
<div class="ccc-paging">
</div>
{{else}}
<div class="null">
    还没投资，赶紧投资吧！
</div>
{{/if}}