<table class="table has-padding">
    <thead>
        <tr>
            <th>产品名称</th>
            <th>年收益率</th>
            <th>订单总金额（元）</th>
            <th>起息日</th>
            <th>到期日</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td>
                <!--<p class="table-title">产品名称</p>-->
                <p><a class="table-title" href="/loan/{{loanId}}" target="_blank" rel="nofollow">{{loanTitle}}</a></p>
            </td>
            <td>
                <!--<p class="table-title">年收益率</p>-->
                <p class="table-invest-rate">{{Frate}}%</p>
            </td>
            <td>
                <!--<p class="table-title">订单总金额（元）</p>-->
                <p class="table-invest-common">{{Famount}}</p>
            </td>
            <td>
                <!--<p class="table-title">起息日</p>-->
                <p class="table-invest-common">
                    <!--{{valueDate}}-->
                    {{#if valueDate !== 'Invalid date'}}
                    {{valueDate}}
                    {{else}}
                    {{#if timeFinished !== 'Invalid date'}}
                    {{start1}}
                    {{else}}
                    {{start2}}
                    {{/if}}
                    {{/if}}
                </p>
            </td>
            <td>
                <!--<p class="table-title">到息日</p>-->
                <p class="table-invest-common">
                    <!--{{dueDate}}-->
                    {{#if dueDate !== 'Invalid date'}}
                    {{dueDate}}
                    {{else}}
                    {{#if timeFinished !== 'Invalid date'}}
                    {{end1}}
                    {{else}}
                    {{end2}}
                    {{/if}}
                    {{/if}}
                </p>
            </td>
            <td>
                <!--<p class="table-title">状态</p>-->
                <p class="table-invest-common">{{Fstatus}}</p>
            </td>
            <td>
                <!--<p class="table-title">操作</p>-->
                <p class="table-invest-common">
                    {{#if assignAble}}
                    <button class="operation" data-invest="{{id}}" data-amount="{{amount}}" data-title="{{loanTitle}}">转让</button>
                    <a href="/account/invest/allContracts/{{id}}" class="look_contact">查看合同</a>
                    {{/if}}
                </p>
            </td>
            <!--<td>-->
                <!--<p class="table-title">投资日期</p>-->
                <!--<p class="table-invest-time">{{submitTime}}</p>-->
            <!--</td>-->
            <!--<td>-->
                <!--<p class="table-title">预计收益（元）</p>-->
                <!--<p class="table-invest-expect">{{expectYield}}</p>-->
            <!--</td>-->
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-40"></div>
<div class="total_invest_num">共{{total}}条记录</div>
<div class="ccc-paging">
</div>
{{else}}
<div class="null">
    还没投资，赶紧投资吧！
</div>
{{/if}}

<div id="#mask-layer-wraper"></div>
<div id="popup" style="display:none">
    <div id="popup-close"></div>
    <h1 id="form-data-title"></h1>
    <img src="/ccc/newAccount/img/pop_line.png">
    <div class="formWrapper">
        <p>标的估值(元)<span class="form-data assignAmount"></span></p>
        <p>转让折价率
            <input type="text" name="creditDealRate" id="creditDealRate" />
            <span class="tip">（支持溢价，折价率必须大于等于0.95；小于等于1.05）</span>
            <span class="tip error"></span>
        </p>
        <p>转让价格(元)<span class="form-data" id="form-num"></span></p>
        <p>转让期限
            <span class="form-time">24小时</span>
            <span class="tip">（如果到期无人购买，申请将自动撤销）</span>
        </p>


        <button id="btn-confirm">确认转让</button>
    </div>
</div>