<div class="invite-nav">邀请好友</div>

<div class="invite-code">
    <div class="code-img">
        <div id = "inviteCodeImg"></div>
        <p>请使用微信扫描</p>
    </div>
    <p class="tip">邀请朋友投资</p>
    <form class="form-inline">
        <p class="SHARE_URL hide">https://{{host}}/register?refm={{Fmobile}}</p>
        <p class="SHARE_TEXT hide"> 百万新手红包大放送~！注册就送100元另有加息券补贴，年化收益可到18% 马上领取  https://{{host}}/register?refm={{Fmobile}}</p>
        <div class="form-group">
            <input type="text" class="form-control" id="invite-link" value="http://{{host}}/register?refm={{Fmobile}}">
        </div>
        <button type="button" class="btn btn-default" id="btn-invite-copy" 
            data-clipboard-text="http://{{host}}/register?refm={{Fmobile}}">
          复制链接
        </button>
    </form>


</div>

<!--<div class="img-wrapper">-->
    <!--<ul>-->
        <!--<li>第1步<img src="/ccc/newAccount/img/gray-invite.png ">分享链接或二维码</li>-->
        <!--<li class="step2">第2步<img src="/ccc/newAccount/img/gray-invite.png ">好友注册并完成认证</li>-->
        <!--<li>第3步<img src="/ccc/newAccount/img/orange-invite.png ">获得奖励</li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div class="rule-info">-->
    <!--<span>规则说明：</span>-->
    <!--<ul>-->
        <!--<li>1、您邀请的好友注册成功并完成实名认证后，您将获得10元红包。邀请越多，红包越多。</li>-->
        <!--<li>2、最终解释权归自金网平台所有。</li>-->
    <!--</ul>-->
<!--</div>-->

<div class="record">
    <img src="/ccc/newAccount/img/usernav_line.png">
    <div class="statistics">已邀请<span>{{count}}</span>位好友,斩获红包<span>{{totalCoupons}}</span>个<a href="/invest">马上使用红包</a></div>

    {{#record}}
     <table class="table table-hover has-padding">
        <tr class="header">
            <th>好友姓名</th>
            <th>手机号</th>
            <th>注册时间</th>
            <!-- <th>我的奖励</th> -->
        </tr>
    {{#list}}
        <tr>
            <td>{{#if user.name}}{{user.name}}{{else}}未认证{{/if}}</td>
            <td>{{FOmobile}}</td>
            <td>{{user.registerDate}}</td>
            <!-- <td>{{rewardAmount}}</td> -->
        </tr>
     {{/list}}
    </table>
    {{/record}}
</div>


<!--
{{#reward}}
 <table class="table table-hover has-padding">
    <tr style="background:#e1e1e1;">
        <th>用户名</th>
        <th>奖励金额</th>
        <th>状态</th>
    </tr>
{{#rewardlist}}
    <tr>
        <td>{{user.loginName}}</td>
        <td>{{rewardAmount}}</td>
        <td>{{rewarded}}</td>
    </tr>
 {{/rewardlist}}
</table>
{{/reward}}
-->
