#main-container .title {
    font-size: 14px;
    color: #7e7e7e;
    width: 1100px;
    margin: 0px auto;
    line-height: 45px;
}

#main-container .title a {
    font-size: 14px;
    color: #009ada;
}

#main-container .s-content {
    width: 1200px;
    margin: auto;
    border: 1px solid #eee;
    overflow: hidden;
}

#main-container .s-content table {
    width: 940px;
    border-top: 2px solid #5b9dff;
}

#main-container .s-content .investBoxTitle {
    text-align: center;
    color: #007ec5;
    font-size: 24px;
    width: 180px;
    margin: auto;
    border-bottom: 1px solid #d9d9d9;
    line-height: 70px;
}

#main-container .s-content .investBoxNew {
    text-align: center;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
    padding-bottom: 42px;
}

#main-container .s-content .investBox {
    background: #fff;
    height: 214px;
}

#main-container .s-content .investBoxNew a {
    color: #007ec5;
}

#main-container .s-content table th {
    background-color: #f8f8f8;
    color: #777777;
    font-size: 14px;
    text-align: left;
    height: 40px;
}


/*banner*/

.no-warry-ul {
    margin: 0 50px;
}

.no-warry {
    width: 180px;
    height: 166px;
    float: left;
    cursor: pointer;
    background: #fff;
    margin-top: 30px;
    margin-left: 120px;
}

.active {
    border: 2px solid #009ada;
    cursor: pointer;
}

.leave {
    border: 2px solid #eeeeee;
}

.no-warry-left {
    height: 90px;
    margin-top: 35px;
    text-align: center;
}

.no-warry-left img {
    width: 48px;
}

.s-content .no-warry-right {
    float: right;
    width: 212px;
    margin-top: 42px;
}

.s-content .no-warry-right p {
    line-height: 24px;
    font-size: 16px;
    color: #4a4a4a;
}

.s-content .no-warry-left p {
    font-size: 16px;
    color: #ffc808;
}

.s-contentL {
    width: 940px;
    float: left;
}

.s-contentR {
    width: 240px;
    float: right;
}

.s-contentR01,
.s-contentR02,
.s-contentR03 {
    width: 240px;
    margin-bottom: 15px;
}

.s-contentR01 img,
.s-contentR02 img {
    width: 100%;
}

.s-contentR03 {
    padding: 10px;
    border-top: 2px solid #eb842c;
    background: #fff url("../img/arrow-right.png") 223px 110px no-repeat;
}

.s-contentR03 a:hover {
    text-decoration: none;
}

.s-contentR03 h2 {
    color: #5e6080;
    font-size: 16px;
    font-weight: bolder;
    line-height: 50px;
    border-bottom: 1px dashed #d8d8e0;
}

.s-contentR03 h3 {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
}

.s-contentR03 h4 {
    color: #ff5451;
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
}

.s-contentR03 h4 em {
    color: #929292;
    font-size: 14px;
    padding-left: 10px;
}

.s-contentR03 p {
    color: #929292;
    font-size: 14px;
    line-height: 30px;
    padding-top: 10px;
}

.s-contentR03 p em {
    color: #ff5451;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
}

.invest-list-top {
    width: 100%;
    line-height: 50px;
    background: #fafafa;
    border-top: 4px solid #d9d9d9;
    overflow: hidden;
}

.invest-list-top span {
    float: left;
    margin-left: 20px;
    color: #8e8e8e;
}

.invest-list-top ul {
    float: left;
}

.invest-list-top ul li {
    width: auto;
    float: left;
    padding-right: 9px;
    margin: 0 15px;
    background: url("../img/listB.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.invest-list-top ul .tacitly {
    background-image: none;
}