<dsBody layout={{dsLayoutPath}}>
    <link rel="stylesheet" href="/ccc/honour/css/style.css">
    <!-- 固定收益 -->
    <div class="pro_box">
      <div class="pro_header">
        <div class="pro_title">
          <img src="/ccc/honour/img/fixed_icon.png" alt="太合汇·汇财富" />
          <h2>固定收益</h2>
          <span>稳健投资  乐享收益</span>
        </div>
        <a href="/honour/list/ZXLC">查看全部产品  ></a>
      </div>
      <div class="pro_content">
        <div class="fixedPro">

        </div>
          <a class="button" href="/honour/list/ZXLC">查看全部产品  ></a>
      </div>
    </div>
    <!-- 浮动收益 -->
    <div class="pro_box">
      <!--<div class="pro_header">-->
        <!--<div class="pro_title">-->
          <!--<img src="/ccc/invest/img/float_icon.png" alt="" />-->
          <!--<h2>浮动收益</h2>-->
          <!--<span>专业团队  跑赢大盘</span>-->
        <!--</div>-->
        <!--<a href="/invest/list/FDSY">查看全部产品  ></a>-->
      <!--</div>-->
      <!--<div class="pro_content">-->
        <!--<div class="floatPro">-->

        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="bottom_ad">
        {{#bottomAd}}
        <img src="{{content}}" alt="太合汇·汇财富">
        {{/bottomAd}}

    </div>

    <!--<script>-->
        <!--{{{state}}}-->
    <!--</script>-->
    <script src="/ccc/honour/js/main/investList.js"></script>

</dsBody>
