{{#if isBankCard===0}}
<div class="row">
    <div class="space space-40"></div>
    <div class="col-md-12 align-center">
        <p class="text-warning" style="color:#ef9c2c">您还没有绑定银行卡，绑卡后才能进行充值</p>
        <div class="space space-40"></div>
        <p>
            <a href="/newAccount/settings/bankCards" style="width: 230px;background-color:#ef9c2c"
               class="btn btn-orange">立即绑卡</a>
        </p>
        <div class="space space-40"></div>
    </div>
</div>
{{else}}
<div class="ccc-banks-wrap">
    <!--<div class="bankcard-nav"><span>理财账户</span><span class="shuline">｜</span><span>充值</span></div>-->
    {{#if step1}}
    <div class="recharge-wrap">
        <div class="bankcards-wrap">
            {{#each bankcards}}
            <div class="bankcard-box {{account.bank}}" style="position:relative;">
                <span>******** {{Faccount}}</span>
            </div>
            {{/each}}

            {{loadMessage}}
        </div>
        <form role="form" name="rechargeForm" method="POST" target="_blank"
              on-submit="recharge_submit" class="form">

            <div class="row">
                <div class="rows">
                    <div class="card-brame">
                        <div class="img-box">
                            <img class="" src="/ccc/newAccount/img/recharge_num.png">
                        </div>
                        <input type="text" name="amount" id="rechargeValue" on-blur="changeValue" placeholder="请输入充值金额"
                               value="{{amount}}" class="recharge-input" autocomplete="off">
                        <input style="display:none;">

                        <input type="checkbox" class="recharge-cbx"><span>大额充值</span>
                    </div>
                    <p class="text-danger" style="color:red;">
                        {{#msg.AMOUNT_NULL}}请输入充值金额{{/msg.AMOUNT_NULL}}
                        {{#msg.AMOUNT_INVALID}}输入的金额有误{{/msg.AMOUNT_INVALID}}
                        {{#msg.AMOUNT_NOTENOUGH}}单笔充值要大于{{minQuota}}元{{/msg.AMOUNT_NOTENOUGH}}
                    </p>
                    <p class="warm-tip">
                        单笔限额 {{#if singleQuota==-1}}无限额{{else}}{{singleQuota}}元{{/if}}，
                        单日限额 {{#if dailyQuota==-1}}无限额{{else}}{{dailyQuota}}元{{/if}}
                    </p>
                </div>

                <div class="rows">

                    <div class="card-brame">
                        <div class="img-box">
                            <img class="recharge_pwd" src="/ccc/newAccount/img/recharge_pwd.png">
                        </div>
                        <input type="password" name="paymentPassword" id="rechargePassword" on-blur="changeValue"
                               placeholder="请输入交易密码"
                               value="{{password}}" class="recharge-input" autocomplete="off">
                        <a href="/newAccount/settings/resetPassword" class="forgot-pwd">忘记密码？</a>
                    </div>

                    <p class="text-danger" style="color:red;">
                        {{#msg.CODE_NULL}}请输入支付密码{{/msg.CODE_NULL}}
                        {{#msg.CODE_INVALID}}输入的密码有误{{/msg.CODE_INVALID}}
                    </p>
                </div>
                <!--
                    <div class="rows bring-in">
                        <input type="text" name="code" id="rechargeCode" on-blur="changeValue" placeholder="请输入手机动态码"
                          value="{{code}}" class="recharge-input" autocomplete="off">
                        <button id="get-message">发送验证码</button>
                        <p class="text-danger" style="color:red;">
                            {{#msg.AMOUNT_NULL}}请输入手机动态码{{/msg.AMOUNT_NULL}}
                            {{#msg.AMOUNT_INVALID}}输入的动态码有误{{/msg.AMOUNT_INVALID}}
                        </p>
                    </div>
                -->
            </div>

            <div class="row">
                <!--                <input type="hidden" name="cardNo" value="{{bankCode}}{{bankCodeEnd}}">-->
                <button type="submit" class="submit_btn">确认充值</button>
                <p class="warm-tip">预计1分钟到账，以实际到账时间为准</p>
            </div>
        </form>
    </div>
    {{/if}}
    {{#if step2}}
    <div class="recharge-success">
        <div class="content">
            <div class="success-img">
                <img src="/ccc/newAccount/img/band-success.png"/>
            </div>
            <div class="success-content">
                <p>充值成功</p>
                <!--<p class="bolder">充值<span>{{amount}}元</span></p>-->
                <div class="button">
                    <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
                    <a href="/invest">
                        <button class="btn-after btn-bank">马上去投资</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if step3}}
    <div class="recharge-success">
        <div class="content">
            <div class="fail-img">
                <img src="/ccc/newAccount/img/band-fail.png"/>
            </div>
            <div class="success-content">
                <p class="fail-msg">充值失败</p>
                <div class="fail-reason">{{failError}}</div>
                <div class="button">
                    <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
                    <a href="/newAccount/recharge">
                        <button class="btn-after btn-bank">重新充值</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
{{/if}}


<!-- 大额充值 -->
{{#if recharge}}
<div id="popupBig">
    <div class="popupBigDiv">
        <h2>大额充值</h2>
        <div class="popupBigMain">
            {{#if recharging}}
            <div class="easy-pie-chart" data-percent="{{totalTime}}">
                <!--<span class="percentageNum">{{totalTime}}</span>-->
            </div>
            {{/if}}

            {{#if rechargeSuc}}
            <div class="rechargeSuc">
                <img src="/ccc/newAccount/img/band-success.png">
                <p>支付成功！</p>
            </div>
            {{/if}}

            {{#if rechargeErr}}
            <div class="rechargeErr">
                <img src="/ccc/newAccount/img/band-fail.png">
                <p>支付失败</p>
            </div>
            {{/if}}
            <div class="popupBigBtn">
                <button on-click="rechargeClose">关闭</button>
            </div>
        </div>
    </div>
</div>
{{/if}}
