{{#if isBankCard===0}}
<div class="row">
    <div class="space space-30"></div>
    <div class="col-md-12 align-center">
        <p class="text-warning" style="color:#009ada">您还没有绑定银行卡，绑卡后才能进行充值</p>
        <div class="space space-40"></div>
        <p>
            <a href="/newAccount/settings/bankCards" style="width: 230px;background-color:#009ada"
              class="btn btn-orange">立即绑卡</a>
        </p>
        <div class="space space-40"></div>
    </div>
</div>
{{else}}
<div class="ccc-banks-wrap">
    <div class="bankcards-wrap">
		{{#each bankcards}}
		<div class="bankcard-box {{account.bank}}" style="position:relative;">
            {{#if hasExpress}}
                {{#if !expressAccount}}
                    <div class="wrapper"></div>
                {{/if}}
            {{/if}}
			<div class="bank-img"
			style="visibility:hidden;background-position: 10px -{{account.imgPos+3}}px"></div>
			<div class="bankcard-no center">
				<span>{{Faccount}}</span>
			</div>
		</div>
		{{/each}}
        
		{{loadMessage}}
    </div>
    <div class="recharge-form-wrap">
        <form role="form" name="rechargeForm" action="{{action}}" method="POST" target="_blank"
          on-submit="recharge_submit">

            <div class="row">
                <!--                <div class="methodwr">填写充值金额</div>-->
                <div class="">
                    <div class="rows">
                        <span class="tipss">账户余额</span>
                        <span class="ava">{{intNum}}.<span style="font-size:14px;">{{pointNum}}</span></span>
                        <span class="tipss" style="color:#f58220">元</span>
                    </div>
                    <div class="space-20"></div>
                    <div class="rows">
                        <input type="text" name="amount" id="rechargeValue" on-blur="changeValue" placeholder="请输入充值金额"
                          value="{{amount}}" class="recharge-input" autocomplete="off">
<!--                        <span class="tipss" style="position:relative;left:5px;top:15px;">元</span>-->
                        <p class="help-block text-danger" style="color:red;text-indent:95px;display:inline;">
                            {{#msg.AMOUNT_NULL}}请输入充值金额{{/msg.AMOUNT_NULL}}
                            {{#msg.AMOUNT_INVALID}}输入的金额有误{{/msg.AMOUNT_INVALID}}
                            {{#msg.AMOUNT_NOTENOUGH}}单笔充值10元内{{/msg.AMOUNT_NOTENOUGH}}
                        </p>
                    </div>
                    <div class="rows">
                        <input type="text" name="password" id="rechargePassword" on-blur="changeValue" placeholder="请输入交易密码"
                          value="{{password}}" class="recharge-input" autocomplete="off">
                        <p class="help-block text-danger" style="color:red;text-indent:95px;display:inline;">
                            {{#msg.AMOUNT_NULL}}请输入交易密码{{/msg.AMOUNT_NULL}}
                        </p>
                    </div>
                    <div class="rows">
                        <input type="text" name="code" id="rechargeCode" on-blur="changeValue" placeholder="请输入手机动态码"
                          value="{{code}}" class="recharge-input" autocomplete="off">
                        <p class="help-block text-danger" style="color:red;text-indent:95px;display:inline;">
                            {{#msg.AMOUNT_NULL}}请输入手机动态码{{/msg.AMOUNT_NULL}}
                        </p>
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="row">
<!--
                <div class="bankwrap">
                    {{#banks:index}}
                        {{#if index< showNum}} 
                        <span class="bankItem {{code}}" data-cc="{{code}}" data-code="{{bankCode}}"on-click="selectBank">
                        <span class="check"></span>
                        </span>
                        {{/if}} 
                        {{#if index == showNum}}
                        <span class="bankItem more" on-click="showAll"></span> 
                        {{/if}}
                        {{/banks}}
 
                </div>
-->
                <input type="hidden" name="isEnterpriseUser" value="{{isEnterpriseUser}}">
                <!--                <input type="hidden" name="retUrl" value="http://xyjr.uats.cc/api/v2/yeepay/BankDepositReturn">-->
                <input type="hidden" name="bankCode" value="{{bankCode}}{{bankCodeEnd}}">

                <button type="submit" class="submit_btn">确认充值</button>
                <p>预计1分钟到账，以实际到账时间为准</p>
            </div>
        </form>
        </div>
    </div>

    {{/if}}
    
