.safety-banner-box{
    height: 310px;
    background: url(/ccc/safety/img/banner.png) 50% no-repeat;
    background-size: cover;
}
.safety-box{
    height: 179px;
}
.safety-box1{
    background: url(/ccc/safety/img/tips-bg-1.png) no-repeat center;
}
.safety-box2{
    background: url(/ccc/safety/img/tips-bg-2.png) no-repeat center;
}
.safety-box3{
    background: url(/ccc/safety/img/tips-bg-3.png) no-repeat center;
}
.safety-box4{
    background: url(/ccc/safety/img/tips-bg-4.png) no-repeat center;
 }
.step{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    position: relative;

}
/*标题*/
.step .step-title{
    font-size: 30px;
    color: #fff;
    position: absolute;
}
.step-first .step-title{
     top:110px;
     right: 340px;
 }
.step-second .step-title{
    top:110px;
    left: 330px;
}
.step-third .step-title{
    top:110px;
    right: 340px;
}
.step-four .step-title{
    top:110px;
    left: 330px;
}
/*内容*/
.step .step-content{
    font-size: 14px;
    color: #666666;
    position: absolute;
    line-height: 26px;
}
.step-first .step-content{
    top:22px;
    left: 110px;
    text-align: right;
}
.step-second .step-content{
    top:26px;
    right: 180px;
    text-align: left;
}
.step-third .step-content{
    top: 32px;
    left: 180px;
    text-align: right;
}
.step-four .step-content{
    top: 36px;
    right: 310px;
    text-align: left;
}
/*图标*/
.step .step-icon{
    position: absolute;
}
.step-first .step-icon{
    background: url(/ccc/safety/img/tips1.png) no-repeat center;;
    top: 22px;
    right: 380px;
}
.step-second .step-icon{
    background: url(/ccc/safety/img/tips2.png) no-repeat center;
    top:22px;
    left: 350px;
}
.step-third .step-icon{
    background: url(/ccc/safety/img/tips3.png) no-repeat center;
    top:22px;
    right: 390px;
}
.step-four .step-icon{
    background: url(/ccc/safety/img/tips4.png) no-repeat center;
    top:22px;
    left: 340px;
}
/*机制*/
.safety-mechanism-box{
    box-shadow:2px 5px 10px #d8d8d7 inset;
}
.safety-mechanism-box .mechanism-header{
    font-size: 30px;
    color: #666;
    text-space: 50;
    text-align: center;
    height: 86px;
    line-height: 86px;
    -moz-box-shadow:2px -5px 10px #d8d8d7 inset;
    -webkit-box-shadow:2px -5px 10px #d8d8d7 inset;
    box-shadow:2px -5px 10px #d8d8d7 inset;
}
.safety-mechanism{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 28px;
}
.mechanism-wrap-left{
    width: 515px;
    float: left;
    margin-left: 70px;
}
.mechanism-wrap-right {
    width: 550px;
    float: left;
    margin-left: 64px;
}
.mechanism-detail{

}
.mechanism-detail li{
    overflow: hidden;
}
.mechanism-detail li img{
    margin-top: 42px;
}
.mechanism-wrap-left .detail{
    width: 420px;
    padding: 28px 0;
    float: right;
    border-bottom: 2px solid #dcdcdc;
}
.mechanism-wrap-right .detail{
    width: 460px;
    padding: 28px 0;
    float: right;
    border-bottom: 2px solid #dcdcdc;
}
.detail h2{
    font-size: 24px;
    color: #666;
    padding-left: 10px;
    border-left: 3px solid #666;
    margin-bottom: 10px;
}
.detail p{
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: 100;
    line-height: 24px;
}

/**/
.banner-account－box{
    position: absolute;
    top:50%;
    margin-top: -160px;
    left:50%;
    margin-left:251px;
}
.banner-account {
    width: 300px;
    height: 320px;
    padding: 10px 16px;
    background: #eceef1;
}
.free-register {
    width: 250px;
    height: 42px;
    margin: 0 auto;
    padding-top: 20px;
}
.bannerLogin{
    font-size: 14px;
    text-align: right;
    margin-top: 28px;
    padding-right: 22px;

}

.bannerLogin .underline{
    text-decoration:underline;
    color: #1d6ed7;
}

.banner-account .btn-index{
    width: 250px;
    height: 42px;
    font-size: 18px;
    color: #ffffff;
    background: #1d6ed7;
    text-align: center;
    line-height: 42px;
    border-radius: 4px;
}