
<div id="password-change">

    <nav class="container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="more"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">修改登录密码</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            MOBILE_INVALID: '手机号不正确',
            MOBILE_NOT_EXISTS: '该手机号尚未注册',
            MOBILE_SMS_CAPTCHA_ALREADY_SEND: '验证码已发送',
            MOBILE_CAPTCHA_INVALID: '验证码不正确',
            MOBILE_NOT_MATCHED: '该手机号尚未注册',

            SUCCEED: '新密码设置成功，请妥善保存密码',
            UNKNOWN: '未知错误',
        }">
    </div>


    <div class="page-content form-wrapper">

        <div class="logo"><img width="104" ng-src="assets/image/logo.png"></div>

        <form class="form form-flatten form-horizontal"
              name="form"
              ng-submit="self.send_password_reset(store)"
              novalidate
        >
            <p class="container hint">请输入原密码后，再设置新密码</p>

            <div class="inputs container">
                <div class="form-group merge hidden"
                     ng-class="{
                        'has-error': form.mobile.$invalid && form.mobile.$dirty,
                     }"
                     x-gyro-comment
                >
                    <label for="mobile">手机号</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg cell" type="tel"
                               id="mobile"
                               name="mobile"
                               ng-model="store.mobile"
                               ng-pattern="/^1\d{10}$/"
                               maxlength="11"
                               placeholder="填写手机号"
                               required
                        >

                        <div class="help-block"
                             ng-show="form.mobile.$invalid && form.mobile.$dirty"
                        >
                            <span ng-show="form.mobile.$error.required">必须填写</span>
                            <span ng-show="form.mobile.$error.pattern">请输入正确的手机号码</span>
                        </div>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.password_old.$invalid && form.password_old.$dirty}"
                >
                    <label for="password-old">原密码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg" type="password"
                               id="password-old"
                               name="password_old"
                               ng-model="store.password_old"
                               minlength="8"
                               placeholder="请输入原始登录密码"
                               required
                        >
                        <div class="help-block"
                              ng-show="form.password_old.$invalid && form.password_old.$dirty"
                        >
                            <span ng-show="form.password_old.$error.required">必须填写</span>
                            <span ng-show="form.password_old.$error.minlength">至少8位数字字母组合</span>
                        </div>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.password.$invalid && form.password.$dirty}"
                >
                    <label for="password">新密码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg" type="password"
                               id="password"
                               name="password"
                               ng-change="password_start_typing = store.password.length"
                               ng-model="store.password"
                               minlength="8"
                               placeholder="至少8位数字字母组合"
                               required
                        >
                        <div class="help-block"
                              ng-show="form.password.$invalid && form.password.$dirty"
                        >
                            <span ng-show="form.password.$error.required">必须填写</span>
                            <span ng-show="form.password.$error.minlength">至少8位数字字母组合</span>
                        </div>
                    </div>
                </div>

                <div class="form-group merge"
                     ng-class="{'has-error': form.password_confirm.$invalid && form.password_confirm.$dirty}"
                     x-gyro-comment
                >
                    <label for="password_confirm">确认密码</label>
                    <div class="form-control-wrap">
                        <input class="form-control input-target input-lg" type="password"
                               id="password_confirm"
                               name="password_confirm"
                               ng-model="password_confirm"
                               ui-validate=" '$value == store.password' "
                               ui-validate-watch=" 'store.password' "
                               placeholder="请再次输入新密码"
                               maxlength="16"
                               required
                        >
                        <div class="help-block"
                             ng-show="form.password_confirm.$error.validator && form.password_confirm.$dirty"
                        >
                            <span ng-show="form.password_confirm.$error.validator">必须相同</span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="container text-right links">
                <a href="password/forgot">忘记原密码？</a>
            </p>

            <p class="container">
                <button type="submit" class="btn btn-theme btn-block btn-lg"
                        ng-disabled="form.$invalid || self.new_password_sending"
                >确认修改</button>
            </p>
        </form>
    </div>
</div>
