<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/loan/css/detail.css">

<div class="">
    <div class="current-container">
<!--        <p class="detailTitle"><a href="/">首页</a> > <a href="/invest">理财产品列表 </a>> {{loans.title}}产品详情</p>-->
		<div class="box-large">
        <div class="invest-data-wrapper">
            <div class="investContainer">
                <div class="investTitle">
<!--
                     {{#if loans.status == "OPENED" }}
					<div class="time">剩余时间：<span class="time-left">{{loans.timeLeft.dd}}日{{loans.timeLeft.hh}}小时{{loans.timeLeft.mm}}分{{loans.timeLeft.ss}}</span>
                    </div>
                    {{/if}}
                      {{#if loans.status == "SCHEDULED" || loans.status == "SETTLED" }}
                    <div class="time openTime">
                        开标时间:{{loans.timeOpen}}
                    </div>
                    {{/if}}
-->
                    <div class="title">
                        {{loans.title}}
                    </div>

                </div>
                <div class="content">
                    <div class="inner">
                        <div class="item itemSecond">
                            <div class="name">预期年化率</div>
                            <div class="value">
                                {{loans.basicRate}}
                                <span>%</span>
                            </div>

                        </div>
                        <div class="item itemThird">
                            <div class="content">
                                <div class="name">项目周期</div>
                                <div class="value">{{loans.fduration}}
                                    <span style="color:#ccc">{{loans.fdurunit}}</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="item itemFirst">
                             <div class="content">
                                 <div class="name">收益方式</div>
                                <div class="value"><span style="font-size:18px;">{{loans.method}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="innerBottom">
                        <div class="invest_num">产品规模：<span style="color: #ef9c2c;">{{loans.amount}}{{loans.aUnit}}</span></div>
                        <div class="start_time">起息日期：
                            {{#if loans.valueDate !== 'Invalid date'}}
                            <span style="color:#4a4a4a;">{{loans.valueDate}}</span>
                            {{else}}
                                {{#if loans.timeFinished !== 'Invalid date'}}
                                <span style="color:#4a4a4a;">{{loans.start1}}</span>
                                {{else}}
                                <span style="color:#4a4a4a;">{{loans.start2}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="end_time">到息日期：
                            {{#if loans.dueDate !== 'Invalid date'}}
                            <span style="color:#4a4a4a;">{{loans.dueDate}}</span>
                            {{else}}
                                {{#if loans.timeFinished !== 'Invalid date'}}
                                <span style="color:#4a4a4a;">{{loans.end1}}</span>
                                {{else}}
                                <span style="color:#4a4a4a;">{{loans.end2}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="progress-wp">
                        <div class="progress-num">当前进度：
                        </div>
                        <div class="progress-line">
                            
                           <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-danger" style="width:{{ loans.investPercent }}%;"></div>
                            </div>
                              <span>{{ loans.investPercent }}%</span>
                        </div>
                        <div class="leftAmount">剩余可投：<span style="color: #ef9c2c;">{{loans.balance}}元</span></div>
                    </div>
<!--
                    <div class="protocol">
                        <a target="_blank" href="/loan/loanRequest/{{loans.requestId}}/contract/template">协议范本</a>
                    </div>
-->
                </div>
            </div>
        </div>

        <div class="do-invest-wrapper">

        </div>
		</div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" data-step='0'>
                 <a href="javascript:;" class="invest_detail">项目概览</a>
            </li>
            <li role="presentation" class="" data-step='1'><a href="javascript:;" class="invest_record">参投记录</a>
            </li>
             <li role="presentation" class="" data-step='2'><a href="javascript:;" class="invest_question">常见问题</a>
            </li>
        </ul>
        <div class="clearfix"></div>

        <div class="tab-panels">
             <div class="tab-panel  active">
                <div class="invest-info-box">
                    <table>
                        <tr>
                            <th class="title">产品名称</th>
                            <th class="content gray" style="font-weight:bold;">{{loans.title}}</th>
                        </tr>
                        <tr>
                            <th class="title">募集截止日</th>
                            {{#if loans.timeFinished !== 'Invalid date'}}
                            <th class="content gray">{{loans.timeFinished}}</th>
                            {{else}}
                            <th class="content gray">{{loans.timeEnd}}</th>
                            {{/if}}
                        </tr>
                        <tr>
                            <th class="title">起投金额</th>
                            <th class="content gray">{{ loans.loanRequest.investRule.minAmount }}元</th>
                        </tr>
                        <tr>
                            <th class="title">资产说明</th>
                            <th class="content">{{{loans.loanRequest.guaranteeInfo}}}</th>
                        </tr>
                        <tr>
                            <th class="title">安全保障</th>
                            <th class="content">{{{loans.loanRequest.riskInfo}}}</th>
                        </tr>
                        <tr>
                            <th class="title">风险提示</th>
                            <th class="content"> {{{loans.loanRequest.mortgageInfo}}}</th>
                        </tr>
                        <tr>
                            <th class="title">预期收益</th>
                            <th class="content">
                                <div class="repay-plan-title">
                                    <p class="left">以募集截止日当天满标为例</p>
                                    <p class="right">单位：元</p>
                                </div>
                               
                                <table class="repay-plan repay-record">
                               
                                    <thead>
                                        <th>日期</th>
                                        <th>回款利息</th>
                                        <th>回款本金</th>
                                        <th style="border-top-right-radius: 3px;">剩余本金</th>
                                    </thead>

                                    {{#each replay:i}}
                                    <tr class="{{#if i%2==0}}white{{else}}gray{{/if}}">
                                        <th>{{dueDate}}</th>
                                        <th class="col-current-period">{{amountInterest}}</th>
                                        <th>{{amountPrincipal}}</th>
                                        <th>{{amountOutstanding}}</th>
                                    </tr>
                                    {{/each}}
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="tab-panel">
    
                {{#if user}}
                
                    <div class="invest-record"></div>
                    <div style="height:50px;"></div>
                    <div class="" id="record-pager" style="text-align:center"></div>
                {{else}}
                <div class="notLogin">
<!--                    <p>用户详情</p>-->
                    <p>请 <a href="/login" style="color:#009ada;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                </div>
                {{/if}}
            </div>

            <div class="tab-panel">
                {{{loans.loanRequest.description}}}
            </div>

        </div>

        <div class="clearfix"></div>
    </div>


<!--    <div class="insurance-wrapper"></div>-->
</div>

<div class="h30"></div>

<div id="big-pic-container">

</div>


<!--<div style="width:600px;word-break:break-all;"></div>-->


<script>
    {{{state}}}
</script>
<script>
    CC.loan = {
        rule: {
            min: {{loans.loanRequest.investRule.minAmount}},
            max: {{loans.loanRequest.investRule.maxAmount}},
            step: {{loans.loanRequest.investRule.stepAmount}},
            balance: {{loans.balance}},
            dw: '{{loans.amountUnit}}',
            leftAmount: {{loans.leftAmount}},
            amountUnit:'{{loans.amountUnit}}'
        },
        title: '{{loans.title}}',
        timeSettled:'{{loans.timeSettled}}',
        investPercent: {{loans.investPercent}},
        originalAmount: {{loans.originalAmount}},
        amount: {{loans.amount}},
        cAmount: '{{loans.amount}}{{loans.aUnit}}',
        investAmount: {{loans.investAmount}},
        timeLeft: '{{loans.timeLeft}}',
        status: '{{loans.status}}',
        id: '{{loans.id}}',
        requestId: '{{loans.loanRequest.id}}',
        timeElapsed: '{{loans.timeElapsed}}',
        duration: '{{loans.months}}',
        bidNumber: {{loans.bidNumber}},
        timeOpen: {{loans.timeOpen}},
        totalInterest: {{totalInterest || 0}},
        serverDate: {{loans.serverDate}},
        userId: '{{loans.userId}}',
        LuserId:'{{loans.loanRequest.userId}}',
        productKey:'{{loans.loanRequest.productKey}}',
        rate: {{loans.rate}},
        durationdays: {{loans.duration.totalDays}},
        enterprise:{{loans.loanRequest.user.enterprise}}
    };
    if('{{loans.timeFinished}}'){
        CC.loan.timeFinished='{{loans.timeFinished}}';
    }
</script>
<script src="/ccc/loan/js/main/investDetail.js"></script>
<script src="/ccc/loan/js/main/img.js"></script>
</dsBody>
