<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/loan/css/detail.css">

<div class="">
    <div class="current-container">
		<div class="box-large">
        <div class="invest-data-wrapper">
            <p class="detailTitle"><a href="/">我要理财</a> > <span>产品详情</span></p>
            <img src="/ccc/loan/img/line.png">
            <div class="investContainer">
                <div class="investTitle">
                    <div class="title">
                        {{loans.title}}
                    </div>
                    <div class="rate">
                        预期收益率
                        <span class="color">{{loans.rate}}<span>%</span></span>
                    </div>
                </div>
                <div class="content">
                    <div class="inner">
                        <div class="item">
                            <div class="value">
                                <span>{{loans.fduration}}</span>
                                {{loans.fdurunit}}
                                <span class="assign_time">7天可转</span>
                            </div>
                            <div class="name">投资期限</div>
                        </div>
                        <div class="item">

                            <div class="value">
                                <span>{{loans.amount}}</span>
                                {{loans.aUnit}}
                            </div>
                            <div class="name">投资规模</div>

                        </div>

                        <div class="item">
                            <div class="value">
                                <span>{{loans.minAmount}}</span>
                               {{loans.minAmountUnit}}
                            </div>
                            <div class="name">起投金额</div>
                        </div>
                        <div class="assign_tip">
                            产品计息后持有7天以上可进行转让（具体转让规则可查看
                            <a href="/help/transfer" target="_blank">帮助中心</a>）
                        </div>
                    </div>
                    <div class="innerBottom">
                        <div class="start_time">
                            起息时间：{{#if loans.valueDate !== 'Invalid date'}}
                            {{loans.valueDate}}
                            {{else}}
                            {{#if loans.timeFinished !== 'Invalid date'}}
                            {{loans.start1}}
                            {{else}}
                            {{loans.start2}}
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="end_time">
                            剩余可投资：<span>{{loans.balance}}</span>元
                        </div>
                    </div>

                </div>
                <!--<div class="progress-wp">-->
                    <!--<div class="progress-num">当前进度：-->
                    <!--</div>-->
                    <!--<div class="progress-line">-->

                        <!--<div class="progress progress-striped">-->
                            <!--<div class="progress-bar progress-bar-danger" style="width:{{ loans.investPercent }}%;"></div>-->
                        <!--</div>-->
                        <!--<span>{{ loans.investPercent }}%</span>-->
                    <!--</div>-->
                <!--</div>-->
                  <div class="process">
                    <div class="rate-chart">
                        <div class="easy-pie-chart pie" data-percent="{{ loans.investPercent }}" data-status='{{loans.status}}'>
                            <span class="percentageNum">{{ loans.investPercent}} </span>
                        </div>
                    </div>
                    <p>进度</p>
                </div>
            </div>
        </div>

        <div class="do-invest-wrapper">

        </div>
		</div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="invest-status">
    <span>资金状态</span>
    <img src="/ccc/loan/img/fund_status.png">
    <div class="open_time">{{loans.timeOpen}}</div>
    <div class="start_date">
        <!--{{loans.valueDate}}-->
        {{#if loans.valueDate !== 'Invalid date'}}
        {{loans.valueDate}}
        {{else}}
        {{#if loans.timeFinished !== 'Invalid date'}}
        {{loans.start1}}
        {{else}}
        {{loans.start2}}
        {{/if}}
        {{/if}}
    </div>
    <div class="end_date">
        <!--{{loans.dueDate}}-->
        {{#if loans.dueDate !== 'Invalid date'}}
            {{loans.dueDate}}
        {{else}}
            {{#if loans.timeFinished !== 'Invalid date'}}
                {{loans.end1}}
            {{else}}
                {{loans.end2}}
            {{/if}}
        {{/if}}
    </div>
    <div class="expected_date">
        <!--{{loans.dueDate}}-->
        {{#if loans.dueDate !== 'Invalid date'}}
            {{loans.dueDates}}
        {{else}}
            {{#if loans.timeFinished !== 'Invalid date'}}
            {{loans.end1}}
            {{else}}
            {{loans.end2}}
            {{/if}}
        {{/if}}
    </div>
</div>

<div class="invest-detail-wrapper">
    <div class="current-container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" data-step='0'>
                <a href="javascript:;">产品亮点</a>
            </li>
            <li role="presentation" class="" data-step='1'>
                 <a href="javascript:;">产品详情</a>
            </li>
            <li role="presentation" class="" data-step='2'><a href="javascript:;">常见问题</a>
            </li>
            <li role="presentation" class="" data-step='3'><a href="javascript:;">投资记录</a>
            </li>

        </ul>
        <div class="clearfix"></div>

        <div class="tab-panels">
            <div class="tab-panel active">
                <div class="lightspot-box">
                    {{{loans.loanRequest.productLightspot}}}
                    <!--<div class="single">-->
                    <!--<p class="title">雄厚的集团背景</p>-->
                    <!--<p class="content">诺亚（中国）控股有限公司（NYSE：NOAH）创始于2003年，2010年11月10日成功登陆美国纽约证券交易所，是中国内地首家上市的独立财富管理机构。诺亚实现业务多元化布局，金融服务集团架构基本成型，总体上具备为中国高净值人士实现全球化、全面资产配置服务的能力。财富派为诺亚下设的子公司，作为集团的重要战略布局，财富派是借助最新的移动互联技术专为社会精英、企业白领等高潜力人群打造的互联网私人银行。目前财富派已经形成了完善的互联网私人银行客户服务体系，可以为用户一站式提供跨品类、跨周期、跨地域的高品质财富管理服务。</p>-->
                    <!--</div>-->

                </div>
                <div class="insurance-wrapper"></div>
            </div>
            <div class="tab-panel">
                <div class="invest-info-box">
                    <table>
                        <tr>
                            <th class="title">产品名称</th>
                            <th class="content">{{loans.title}}</th>
                        </tr>
                        <tr>
                            <th class="title">产品总额</th>
                            <th class="content">{{loans.amount}}{{loans.aUnit}}</th>
                        </tr>
                        <tr>
                            <th class="title">可否转让</th>
                            <th class="content">7天之后可转让</th>
                        </tr>
                        <tr>
                            <th class="title">投资期限</th>
                            <th class="content">{{loans.fduration}}{{loans.fdurunit}}</th>
                        </tr>
                        <tr>
                            <th class="title">预期收益率</th>
                            <th class="content">{{loans.rate}}%</th>
                        </tr>
                        <tr>
                            <th class="title">起投金额</th>
                            <th class="content"><span id="minAmount">{{ loans.loanRequest.investRule.minAmount }}</span>元</th>
                        </tr>
                        <tr>
                            <th class="title">递增金额</th>
                            <th class="content" > <span id="stepAmount">{{ loans.loanRequest.investRule.stepAmount }}</span>元</th>
                        </tr>
                        <tr>
                            <th class="title">产品风险等级</th>
                            <th class="content">{{{loans.loanRequest.riskRank}}}</th>
                        </tr>
                        <tr>
                            <th class="title">资金用途</th>
                            <th class="content">{{{loans.loanRequest.fundUsage}}}</th>
                        </tr>
                        <tr>
                            <th class="title">风控措施</th>
                            <th class="content">{{{loans.loanRequest.riskControlMethod}}}</th>
                        </tr>
                        <tr>
                            <th class="title">风险提示</th>
                            <th class="content"> {{{loans.loanRequest.riskPrompt}}}</th>
                        </tr>
                        <!--<tr>-->
                        <!--<th class="title">募集截止日</th>-->
                        <!--{{#if loans.timeFinished !== 'Invalid date'}}-->
                        <!--<th class="content">{{loans.timeFinished}}</th>-->
                        <!--{{else}}-->
                        <!--<th class="content">{{loans.timeEnd}}</th>-->
                        <!--{{/if}}-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th class="title">预期收益</th>-->
                            <!--<th class="content">-->
                                <!--<div class="repay-plan-title">-->
                                    <!--<p class="left">以募集截止日当天满标为例</p>-->
                                    <!--<p class="right">单位：元</p>-->
                                <!--</div>-->
                               <!-- -->
                                <!--<table class="repay-plan repay-record">-->
                               <!-- -->
                                    <!--<thead>-->
                                        <!--<th>日期</th>-->
                                        <!--<th>回款利息</th>-->
                                        <!--<th>回款本金</th>-->
                                        <!--<th style="border-top-right-radius: 3px;">剩余本金</th>-->
                                    <!--</thead>-->

                                    <!--{{#each replay:i}}-->
                                    <!--<tr class="{{#if i%2==0}}white{{else}}gray{{/if}}">-->
                                        <!--<th>{{dueDate}}</th>-->
                                        <!--<th class="col-current-period">{{amountInterest}}</th>-->
                                        <!--<th>{{amountPrincipal}}</th>-->
                                        <!--<th>{{amountOutstanding}}</th>-->
                                    <!--</tr>-->
                                    <!--{{/each}}-->
                                <!--</table>-->
                            <!--</th>-->
                        <!--</tr>-->
                    </table>
                </div>
            </div>


            <div class="tab-panel">
                <div class="question-box">
                    {{{loans.loanRequest.commonQuestion}}}
                    <!--<div class="single">-->
                        <!--<p class="question">Q: 该产品是否可以随时转让？转让费用是多少？</p>-->
                        <!--<p class="answer">A:  该产品可以在购买一个月后转让，转让费用为转让总额的5%。</p>-->
                    <!--</div>-->
                </div>
            </div>
            
            <div class="tab-panel">
    
                {{#if user}}
                
                    <div class="invest-record"></div>
                    <div style="height:50px;"></div>
                    <div class="" id="record-pager" style="text-align:center"></div>

                {{else}}
                <div class="notLogin">
                    <p>请 <a href="/login" style="color:#009ada;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                </div>
                {{/if}}
            </div>



        </div>

        <div class="clearfix"></div>
    </div>


<!--    <div class="insurance-wrapper"></div>-->
</div>

<!--<div class="mask-layer"></div>-->
<div id="mask-layer-wraper"></div>
<div id="big-pic-container">
</div>


<!--<div style="width:600px;word-break:break-all;"></div>-->


<script>
    {{{state}}}
</script>
<script>
    CC.loan = {
        rule: {
            min: {{loans.loanRequest.investRule.minAmount}},
            max: {{loans.loanRequest.investRule.maxAmount}},
            step: {{loans.loanRequest.investRule.stepAmount}},
            balance: {{loans.balance}},
            dw: '{{loans.amountUnit}}',
            leftAmount: {{loans.leftAmount}},
            amountUnit:'{{loans.amountUnit}}'
        },
        title: '{{loans.title}}',
        timeSettled:'{{loans.timeSettled}}',
        investPercent: {{loans.investPercent}},
        originalAmount: {{loans.originalAmount}},
        amount: {{loans.amount}},
        cAmount: '{{loans.amount}}{{loans.aUnit}}',
        investAmount: {{loans.investAmount}},
        timeLeft: '{{loans.timeLeft}}',
        status: '{{loans.status}}',
        id: '{{loans.id}}',
        requestId: '{{loans.loanRequest.id}}',
        timeElapsed: '{{loans.timeElapsed}}',
        duration: '{{loans.months}}',
        bidNumber: {{loans.bidNumber}},
        timeOpen: {{loans.timeOpen}},
//        valueDate: {{loans.valueDate}},
        totalInterest: {{totalInterest || 0}},
        serverDate: {{loans.serverDate}},
        userId: '{{loans.userId}}',
        LuserId:'{{loans.loanRequest.userId}}',
        productKey:'{{loans.loanRequest.productKey}}',
        rate: {{loans.rate}},
        durationdays: {{loans.duration.totalDays}},
        enterprise:{{loans.loanRequest.user.enterprise}}
    };
    if('{{loans.timeFinished}}'){
        CC.loan.timeFinished='{{loans.timeFinished}}';
    }
</script>
<script src="/ccc/loan/js/main/investDetail.js"></script>
<script src="/ccc/loan/js/main/img.js"></script>
</dsBody>
