<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/global/css/access/login.less">
<link rel="stylesheet" href="/ccc/global/css/access/register.less">
<link rel="stylesheet" href="/ccc/global/css/modules/cccCalculator.css">

<link rel="stylesheet" href="/ccc/creditDetail/css/detail.css">



<div class="creditDetail-container">
    loading...
</div>

<div class="h30"></div>

<div id="big-pic-container">

</div>


<!--<div style="width:600px;word-break:break-all;"></div>-->


<script>
    {{{state}}}
</script>
<script src="/ccc/creditDetail/js/main/investDetail.js"></script>
<script src="/ccc/creditDetail/js/main/img.js"></script>
</dsBody>
