<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/global/css/access/login.less">
<link rel="stylesheet" href="/ccc/global/css/access/register.less">
<link rel="stylesheet" href="/ccc/global/css/modules/cccCalculator.css">

<link rel="stylesheet" href="/ccc/creditDetail/css/detail.css">



<div class="">
    <div class="current-container">

		<div class="box-large">
            <div class="invest-data-wrapper">
            <div class="investContainer">
                <div class="detailTitle">
                    <!--<a href="/">首页</a> > -->
                    <a href="/creditList">债转列表 </a>> <sapn style="color: #e4262b">产品详情</sapn>
                    <div class="time">发布时间：<span class="time-left">2015-10-10</span>
                </div>

                <div class="investTitle">
                     <div class="time">
                         </div>
                         <!--{{#if creditassign.creditassign.timeOpen}}-->
                        <!--开标时间:{{creditassign.creditassign.timeOpen}}-->
                         <!--{{else}}-->
                         <!--转让已满,已结束-->
                         <!--{{/if}}-->
                    </div>
<!--
                     {{#if loans.status == "OPENED" }}
					<div class="time">剩余时间：<span class="time-left">{{loans.timeLeft.dd}}日{{loans.timeLeft.hh}}小时{{loans.timeLeft.mm}}分{{loans.timeLeft.ss}}</span>
                    </div>
                   {{/if}}
                      {{#if loans.status == "SCHEDULED" || loans.status == "SETTLED" }}

                    {{/if}}
-->
                </div>
                <div class="h5"></div>
                <div class="content">
                    <div class="innerBottom">
                        <div>月月赚-20150808<span class="icon1"></span></div>

                        <!--
                                                 <div class="itemt pic">
                                                        <span class="processFont">项目余额</span>
                                                        <div class="process">
                                <div class="rate-chart">
                                    <div class="easy-pie-chart pie " data-percent="{{ loans.investPercent }}" >
                                        <span class="percentageNum"></span>
                                    </div>
                                </div>
                            </div>
                                                    </div>
                        -->
                        <!--<ul class="loanMethod interestMethod">-->
                            <!--&lt;!&ndash;							<li>已投人数：<span style="font-size:24px;color:#009ada;">{{loans.bidNumber}}</span>人</li>&ndash;&gt;-->
                            <!--<li>待收本金：{{creditassign.creditassign.creditAmount||0}}</li>-->
                            <!--<li>保障方式：本息保障</li>-->
                            <!--<li>起投金额：{{ loan.loanRequest.investRule.minAmount}}元</li>-->
                        <!--</ul>-->
                        <!--<ul class="loanMethod">-->
                            <!--&lt;!&ndash;							<li>已投人数：<span style="font-size:24px;color:#009ada;">{{loans.bidNumber}}</span>人</li>&ndash;&gt;-->
                            <!--<li>还款方式：{{loan.method}}</li>-->
                            <!--<li>投资限额：{{loan.loanRequest.investRule.maxAmount}}元</li>-->
                            <!--<li>起息日期：满标日后的第1个工作日</li>-->
                        <!--</ul>-->
                    </div>
                    <div class="inner">
                        <div class="item itemSecond itemRed">
                            <div class="value">
                                5.4 <span>%</span>
                            </div>
                            <div class="name" >预期收益率</div>
                        </div>
                        <div class="item itemThird" style="border-right:none">
                            <div class="value">144 <span>天</span></div>
                               <div class="name">预期到期日 <span style="color: #666">2016-02-27</span></div>
                        </div>
                        <!--<div class="item itemFirst">-->
                             <!--<div class="value">{{creditassign.creditassign.timeOut||0}}<span>小时</span>-->
                             <!--</div>-->
                             <!--<div class="name">剩余期限</div>-->
                        <!--</div>-->
                        <div class="item itemFirst">
                            <div class="value">
                                2015-08-09
                            </div>
                            <div class="name">起息日</div>
                        </div>

                    </div>

                                          <div class="progress-wp">
                                <div class="progress-num">
                                </div>
<!--
                                <div class="progress-line">
                                   <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" style="width:{{ loans.investPercent }}%;"></div>
                                    </div>
                                      <span>{{ loans.investPercent }}%</span>
                                </div>
-->
                            </div>
                    												<div class="protocol">
								<a target="_blank" href="/loan/loanRequest/{{loan.loanRequest.id}}/contract/template">协议范本</a>
							</div>
                </div>
                <div class="h20"></div>
            </div>
        </div>

            <div class="do-invest-wrapper">
                <div>转让价格(元): <span>54350.00</span></div>
                <div>预期收益(元): <span>2667.00</span></div>
                <button class="btn">确认购买</button>
            </div>
		</div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <ul class="nav nav-tabs">
             <li role="presentation" class="active" data-step='0'><a href="javascript:;">项目详情</a>
            </li>
            <li role="presentation"  data-step='1'><a href="javascript:;">风控信息</a>
            </li>
            <li role="presentation" data-step='2'><a href="javascript:;">认证审核</a>
            </li>
            <!--<li role="presentation" class="" data-step='3'><a href="javascript:;">投资记录</a>-->
            <!--</li>-->
             <!-- <li role="presentation" class="" data-step='4'><a href="javascript:;">还款计划</a>
            </li> -->
        </ul>
        <div class="clearfix"></div>

        <div class="tab-panels">
             <div class="tab-panel  active">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        {{{loan.loanRequest.description}}}
                    </div>

                </div>
            </div>
            <div class="tab-panel">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                       {{{loan.loanRequest.guaranteeInfo}}}
                    </div>
                </div>
            </div>
            <div class="tab-panel">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                      {{{loan.loanRequest.riskInfo}}}
                    </div>
                </div>
            </div>

            <div class="tab-panel">
                {{#if user}}
                <div class="invest-record"></div>
                <div style="height:50px;"></div>
                <div class="" id="record-pager" style="text-align:center"></div>
                {{else}}
                <div class="notLogin">
<!--                    <p>用户详情</p>-->
                    <p>请 <a href="/login" style="color:#009ada;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                </div>
                {{/if}}
            </div>

            <div class="tab-panel">
                {{#if user}}
                <table class="table repay-plan repay-record">

                    <thead>
                        <th style="border-top-left-radius: 3px;">期次</th>
                        <th>预期还款时间</th>
                        <th>应收本息(元)</th>
                        <th>应收本金(元)</th>
                        <th>应收利息(元)</th>
                        <th style="border-top-right-radius: 3px;">剩余本金(元)</th>
                    </thead>
                    {{#replay}}
                    <tr>
                        <th>{{@index + 1}}</th>
                        <th>{{dueDate}}</th>
                        <th class="col-current-period">{{amount}}</th>
                        <th>{{amountPrincipal}}</th>
                        <th>{{amountInterest}}</th>
                        <th>{{amountOutstanding}}</th>
                    </tr>
                    {{/replay}}
                </table>
                {{else}}
                <div class="notLogin">
                    <p>用户详情</p>
                    <p>请 <a href="/login" style="color:#009ada;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="insurance-wrapper">
    </div>
</div>

<div class="h30"></div>

<div id="big-pic-container">

</div>


<!--<div style="width:600px;word-break:break-all;"></div>-->


<script>
    {{{state}}}
</script>
<script src="/ccc/creditDetail/js/main/investDetail.js"></script>
<script src="/ccc/creditDetail/js/main/img.js"></script>
</dsBody>
