
<div ng-show="state">
<div style="margin-bottom: 68px;"></div>
<nav id="page-tab-nav">
    <div class="container">
    <ul class="row list-unstyled u-off-margin-bottom">
        <li class="col-xs-3" ng-class="{ active: state === 'landing' }">
            <a href="./">
                <param class="icon icon-home">
            </a>
        </li>

        <li class="col-xs-3" ng-class="{ active: state === 'list' }">
            <a href="list">
                <param class="icon icon-path">
            </a>
        </li>

        <li class="col-xs-3" ng-class="{ active: state === 'dashboard' }">
            <a href="dashboard">
                <param class="icon icon-user">
            </a>
        </li>

        <li class="col-xs-3" ng-class="{ active: state === 'more' }">
            <a href="more">
                <param class="icon icon-option-horizontal">
            </a>
        </li>
    </ul>
    </div>
</nav>
</div>
