
<div>
<footer id="page-footer" class="container text-center">
    <div class="copyright">
        版权所有 &copy; 2016 新毅金服
    </div>

    <div>
        <span class="icp">京ICP备15059004号</span>
        <span class="contact">
            客服 <a class="hotline" href="tel:4008189696">400-818-9696</a>
        </span>
    </div>
</footer>

<div style="margin-bottom: 68px;" x-gyro-comment></div>
<nav id="page-tab-nav" x-gyro-comment>
    <div class="container">
    <ul class="row list-unstyled u-off-margin-bottom">
        <li class="col-xs-4" ng-class="{ active: state === 'landing' }">
            <a href="./">
                <param class="icon icon-logo">
                首页
            </a>
        </li>

        <li class="col-xs-4" ng-class="{ active: state === 'list' }">
            <a href="list">
                <param class="icon icon-money">
                投资
            </a>
        </li>

        <li class="col-xs-4" ng-class="{ active: state === 'dashboard' }">
            <a href="dashboard">
                <param class="icon icon-user">
                我的
            </a>
        </li>
    </ul>
    </div>
</nav>
</div>
