
<div class="home-count">
    <div class="home-num">
        <div class="home-total common">
            <div class="home-tab-info">我的资产(元)</div>
            <div class="home-tab-amount">{{totalAmount}}<span>.{{moreAmount}}</span></div>

        </div>
        <div class="home-expect common">
            <div class="home-tab-info">在投资金(元)</div>
            <div class="home-tab-amount">{{investAmount}}<span>.{{mAmount}}</span></div>
        </div>
        <div class="home-expect common">
            <div class="home-tab-info">当前收益(元)</div>
            <div class="home-tab-amount">{{outstandingInterest}}<span>.{{moreiAmount}}</span></div>
        </div>

        <div class="home-interest common">
            <div class="home-tab-info">累计收益(元)</div>
            <div class="home-tab-amount">{{investInterestAmount}}<span>.{{moAmount}}</span></div>

        </div>
    </div>
    <div class="home-risk">
        我的风险承受能力: <span>{{riskBear}}</span>
    </div>
</div>

<div class="asset_mod">
    <div class="asset_title">资产配置</div>
    <img src="/ccc/newAccount/img/title_line.png">
    <div class="asset_cont">
        <div class="asset_left_cont">
            <a class="asset_box" href="#">
                <div class="box box_1">
                    <div class="label">固定收益</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<span>00</span></p>
                            <span>持有本息(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计当前收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
            <a class="asset_box" href="#">
                <div class="box box_2">
                    <div class="label">浮动收益</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<em>00</em></p>
                            <span>持有本息(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计当前收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
            <a class="asset_box" href="#">
                <div class="box box_3">
                    <div class="label">精选基金</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<em>00</em></p>
                            <span>持有本息(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计当前收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
            <a class="asset_box" href="#">
                <div class="box box_4">
                    <div class="label">高端理财</div>
                    <div class="total">
                        <div class="t_box">
                            <p>0.<em>00</em></p>
                            <span>持有本息(元)</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p><span class="d_lab">预计当前收益(元)</span><span class="d_num">0.<em>00</em></span></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="svg_cont" id="svg_cont">

        </div>
    </div>
</div>

<!--广告位-->
<div class="advertisement">
    <img src="{{advertisement}}" alt="">
</div>


<!--
<div class="home-invest-wrapper">
	{{#if isEnterprise}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">尚未到期还款</div>
	</div>
	<div class="home-invest-container ccc-myloan-wrap"></div>
	{{else}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">本月项目回款</div>
	</div>
	<div class="home-invest-container ccc-myinvest-wrap"></div>
	{{/if}}
</div>
-->


<!--<div class="ccc-tab invest_status" data-header-selector=".header-text">-->
    <!--<div class="title">资产配置</div>-->
    <!--<ul class="tabs">-->

        <!--<li class="active" data-type="ALL">-->
            <!--<a href="#">全部</a>-->
        <!--</li>-->

        <!--<li class="active" data-type="INHAND">-->
            <!--<a href="#">投资中</a>-->
        <!--</li>-->
        <!--<li data-type="HOLDING">-->
            <!--<a href="#">回款中</a>-->
        <!--</li>-->
        <!--<li data-type="CLEARED">-->
            <!--<a href="#">已结束</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div class="ccc-tab-panels index-invest">-->

    <!--<div class="tab-panel panel-ALL active">-->
        <!--<p class="loading">加载中...</p>-->
    <!--</div>-->

    <!--<div class="tab-panel panel-INHAND active">-->
        <!--<p class="loading">加载中...</p>-->
    <!--</div>-->
    <!--<div class="tab-panel panel-HOLDING "></div>-->

    <!--<div class="tab-panel panel-CLEARED"></div>-->
<!--</div>-->