<div class="home-topnav">
    {{#if user.name}}
	<div class="home-title">{{user.name}} <span>你好！</span></div>
    {{else}}
	<div class="home-title">{{user.mobile}} <span>你好！</span></div>
    {{/if}}
	<div class="home-top-container">
        <div class="home-avaliable">
            <div class="home-tab-info">
                <span class="info-title">可用余额<span>（元）</span></span>
                <span class="home-tab-amount">{{avaAmount}}.{{morAmount}}</span>
            </div>		
		</div>
        <div class="home-bottomBar">
			<a href="/newAccount/withdraw"><div class="home-withdraw-btn">提现</div></a>
			<a href="/newAccount/recharge"><div class="home-recharge-btn">充值</div></a>
		</div>
	</div>
</div>
    
<div class="clearfix"></div>
    
<div class="home-count">
    <div class="home-total common">
        <div class="home-tab-info">账户总资产<span>（元）</span>
<!--            <span class="wh tips-top" data-original-title="总资产=可用余额+待收本息+冻结资金 {{cTotalAmount}} = {{cAmount}} + {{dueInAmount}} + {{frozenAmount}}"></span>-->
        </div>
        <div class="home-tab-amount">{{totalAmount}}.{{moreAmount}}</div>
  
    </div>   
    <div class="home-interest common">
        <div class="home-tab-info">累计收益<span>（元）</span></div>
        <div class="home-tab-amount"><span>{{investInterestAmount}}.{{moreiAmount}}</span></div>
        
    </div>

    <div class="home-expect common">
        <div class="home-tab-info">预计收益<span>（元）</span></div>
        <div class="home-tab-amount"><span>{{outstandingInterest}}.{{moreiAmount}}</span></div>      
    </div>
</div> 

<!--
<div class="home-invest-wrapper">
	{{#if isEnterprise}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">尚未到期还款</div>
	</div>
	<div class="home-invest-container ccc-myloan-wrap"></div>
	{{else}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">本月项目回款</div>
	</div>
	<div class="home-invest-container ccc-myinvest-wrap"></div>
	{{/if}}
</div>
-->


<div class="ccc-tab invest_status" data-header-selector=".header-text">
    <div class="title">我的投资</div>
    <ul class="tabs">
<!--
        <li class="active" data-type="ALL">
            <a href="#">全部</a>
        </li>
-->
        <li class="active" data-type="INHAND">
            <a href="#">投资中</a>
        </li>
        <li data-type="HOLDING">
            <a href="#">回款中</a>
        </li>
        <li data-type="CLEARED">
            <a href="#">已结束</a>
        </li>
    </ul>
</div>

<div class="ccc-tab-panels index-invest">
<!--
    <div class="tab-panel panel-ALL active">
        <p class="loading">加载中...</p>
    </div>
-->
    <div class="tab-panel panel-INHAND active">
        <p class="loading">加载中...</p>
    </div>
    <div class="tab-panel panel-HOLDING "></div>

    <div class="tab-panel panel-CLEARED"></div>
</div>