<!--<div class="nav-title">我的账户</div>-->
<ul class="nav-wrapper">

    <li class="nav-li">
        {{#if index}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if index}}nav-text-active{{/if}}"><a href="/newAccount/home/index">账户总览</a></span>
        <!--<span class='nav-toggle-btn {{showAccountToggleMenu?"nav-toggle-btn-up":"nav-toggle-btn-down"}}' data-toggle="showAccountToggleMenu" on-click="toggleMenu"></span>-->
        <div class="clearfix"></div>
        {{#if showHomeToggleMenu}}
        <ul class="nav-toggle-menu">
            <li class="{{#if fixed}}active{{/if}}"><a href="/newAccount/home/fixed">固定收益</a></li>
            <li class="{{#if float}}active{{/if}}">
                <!--<a href="/newAccount/settings/float">浮动收益</a>-->
                <a href="#">浮动收益</a>
            </li>
            <li class="{{#if private}}active{{/if}}"><a href="/newAccount/home/private">私人订制</a></li>
            <!--<li class="{{#if GDLC}}active{{/if}}"><a href="#">高端理财</a></li>-->
        </ul>
        {{/if}}
    </li>

    <li class="nav-li">
        {{#if userInfo || bindingEmail ||settings ||fund}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if  userInfo || bindingEmail ||settings||fund}}nav-text-active{{/if}}"><a
                href="/newAccount/userInfo">个人中心</a></span>
    </li>

    <li class="nav-li coupon-nav">
        {{#if coupon}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if coupon}}nav-text-active{{/if}}"><a href="/newAccount/coupon">我的红包</a></span>
    </li>

    <li class="nav-li">
        {{#if invite}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if invite}}nav-text-active{{/if}}"><a href="/newAccount/invite">邀请好友</a></span>
    </li>

    <li class="nav-li">
        {{#if risk}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if risk}}nav-text-active{{/if}}"><a href="/newAccount/risk">风险测评</a></span>
    </li>

    {{#if isMMC}}
    <li class="nav-li">
        {{#if financial}}
        <span class="icon-active"></span>
        {{else}}
        <span class="icon-common"></span>
        {{/if}}
        <span class="nav-text {{#if financial}}nav-text-active{{/if}}"><a href="javascript:;" on-click="financialShow">理财师</a></span>
    </li>
    {{/if}}
</ul>
<div class="clearfix"></div>

{{#if financialShow}}
<div class="financialSMS">
    <div class="financialSMSBody">
        <h6>请用手机验证码登录</h6>
        <div class="financialSMSMain">
            <label>已绑定：{{mobileNew}}</label>
            <input type="button" id="getSMS" on-click="getSMS" value="获取验证码">
        </div>
        <input type="text" class="financialSMSIpt" placeholder="验证码">
        <button type="button" on-click="financialSMSS">确定</button>
        <button type="button" on-click="financialSMSN" class="btn">取消</button>
    </div>
</div>
{{/if}}
