<div class = "account-userInfo-wrapper">
    <div class="user_title">个人资料</div>
    <div class="myinfo">
        <h3>帐户信息</h3>
        <div class="myinfo_valgroup">
            <div class="valgroup">
                {{#if idNumber}}
                <div class="check_state"></div>
                <div class="value_name">实名认证</div>
                <div class="val_detail">{{name}}</div>
                {{else}}
                <div class="check_state_error"></div>
                <div class="value_name">实名认证</div>
                <div class="val_detail">未认证!</div>
                <a class="go_approve" href="/newAccount/settings/authentication">立即认证</a>
                {{/if}}
            </div>
            <div class="valgroup">
                {{#if idNumber}}
                <div class="check_state"></div>
                <div class="value_name">身份认证</div>
                <div class="val_detail">{{idNumber}}</div>
                {{else}}
                <div class="check_state_error"></div>
                <div class="value_name">身份认证</div>
                <div class="val_detail">未认证!</div>
                <a class="go_approve" href="/newAccount/settings/authentication">立即认证</a>
                {{/if}}

            </div>
            <div class="valgroup">
                <div class="check_state"></div>
                <div class="value_name">手机号码</div>
                <div class="val_detail">{{mobile}}</div>
                <a class="change" href="/newAccount/settings/fixMobile">修改</a>
            </div>
            <div class="valgroup">
                <div class="check_state"></div>
                <div class="value_name">登录密码</div>
                <div class="val_detail">********</div>
                <a class="change" href="/newAccount/settings/setpassword">修改</a>
            </div>
            <div class="valgroup">
                {{#if paymentPasswordHasSet}}
                <div class="check_state"></div>
                <div class="value_name">支付密码</div>
                <div class="val_detail">********</div>
                <a href="/newAccount/settings/resetPassword">重置</a>
                {{else}}
                <div class="check_state_error"></div>
                <div class="value_name">支付密码</div>
                <div class="val_detail">未设置!</div>
                <a href="/newAccount/settings/bankCards">设置</a>
                {{/if}}
            </div>
            <div class="valgroup">
                {{#if email}}
                <div class="check_state"></div>
                <div class="value_name">绑定邮箱</div>
                <div class="val_detail">{{email}}</div>
                <a href="/newAccount/bindingEmail" class="goRz">修改</a>
                {{else}}
                <div class="check_state_error"></div>
                <div class="value_name">绑定邮箱</div>
                <div class="val_detail">未绑定!</div>
                <a href="/newAccount/bindingEmail" class="goRz go_approve">立即绑定</a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="myfortune">
        <h3>我的银行卡</h3>
        <div class="card_box">
            <ul>
                {{#if !bankCards.length}}
                <li>
                    <div class="card_add">
                        <a href="/newAccount/settings/bankCards">
                            <div class="add_bank_icon"></div>
                            <h5>添加银行卡</h5>
                            <!--<p>最多添加5张银行卡</p>-->
                        </a>
                    </div>
                </li>
                {{else}}
                {{#each bankCards}}
                <li>
                    <div class="card_add">
                        <!--<p class="{{account.bank}}" style="background-size: 180px;background-repeat: no-repeat;"></p>-->
                        <div class="bankcard-box {{account.bank}}" style="position:relative;">
                            <!--<span>尾号{{Faccount}}</span>-->
                        </div>
                        <p class="card_num">{{account.account.substr(0,4)}}************{{account.account.substr(-4,4)}}</p>
                        <p class="card_status">已绑定</p>
                        <!--<td>-->
                            <!--<button on-click="deleted-card" lala="{{account.account}}">解绑</button>-->
                        <!--</td>-->
                    </div>
                    <!--<a class="trade_bank_icon" on-click="delete-card">删除银行卡</a>-->

                </li>


                {{/each}}
                {{/if}}
                <!--<li>-->
                    <!--<ul class="card_trade">-->
                        <!--<li>温馨提示：</li>-->
                        <!--<li>1、更换新银行卡后，原银行卡将会自动解除绑定。</li>-->
                        <!--<li>2、为了保障资金安全，投资的本金及收益提现时需返回原银行卡。</li>-->
                        <!--<li>3、请谨慎换卡，提交换卡信息后，客服人员可能会与您联系，确定换卡的自愿性。</li>-->
                        <!--<li>4、若银行卡遗失或注销，则需提交材料审核。具体流程参见：<a href="/help/account">帮助中心-银行卡更换。</a></li>-->

                    <!--</ul>-->
                <!--</li>-->
            </ul>

        </div>
    </div>
</div>

