<div class="ccc-banks-wrap">
     <div class="bankcard-nav"><span>理财账户</span><span class="shuline">｜</span><span>取现</span></div>
    {{#if paymentPasswordHasSet}}
    <div class="recharge-wrap">
        <div class="bankcards-wrap">
            {{#each bankcards}}
            <div class="bankcard-box {{account.bank}}" style="position:relative;">
                {{#if hasExpress}}
                    {{#if !expressAccount}}
                        <div class="wrapper"></div>
                    {{/if}}
                {{/if}}
    <!--
                <div class="bank-img"
                style="visibility:hidden;background-position: 10px -{{account.imgPos+3}}px"></div>
    -->
                <span>尾号{{Faccount}}</span>
            </div>
            {{/each}}

            {{loadMessage}}
        </div> 
            <form role="form" name="withdrawForm" action="/yeepay/withdraw" method="POST" target="_blank" on-submit="withdrawForm">
                <div class="row">
                    <div class="rows">
                        <div class="tipss">账户可用余额：
                             <span class="ava">{{intNum}}.<span style="">{{pointNum}}</span>元</span>
                        </div>
                       
                    </div>
           
                    <div class="rows">
                        <input type="text" name="amount" id="withdraw" on-keyup="changeValue" class="recharge-input" value="{{amount}}" autocomplete="off" placeholder="输入取现余额">
                        <p class="text-danger" style="color:red;">
                            {{submitMessage}}
                        </p>
                        <p class="warm-tip">工作日取现无上限，非工作日取现单笔不超过5万元<span>手续费2元</span></p>

                    </div>
                
                    <div class="rows">
                        <input type="password" name="paymentPassword" class="inputsMs" placeholder="输入交易密码" on-blur="checkPassword" autocomplete="off"  value="{{paymentPassword}}" class="recharge-input">
                        <a href="/newAccount/settings/resetPassword" class="forgot-pwd">忘记密码？</a>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="submit_btn post-btn {{#if disabled}}disabled{{/if}}"  on-click="withDrawSubmit">{{submitText}}</button>
                    <p class="warm-tip">预计一到两个工作日内到账，以实际到账时间为准</p>
                </div>
          
            </form>
    </div>
    {{else}}
    <div class="has-line" style="padding:30px 20px;">
        提现需要先开通交易密码，否则无法进行提现 <a href="/newAccount/settings/password"><span class="btn" style="background-color:#009ada;margin-left:10px;color:#fff">现在去开通</span></a>
    </div>
    {{/if}}
</div>
