{{#if loan.status == "FINISHED"||loan.status == "SETTLED"||loan.status == "CLEARED"}}
{{#if hasID}}
<img src="/ccc/loan/img/unlogin.png" class="unlogin_img" style="display: block;">
<!--<div class="firstLine">-->
    <!--<div class="tip">投资金额</div>-->
<!--</div>-->
<!--<p class="finished-money">可投金额&nbsp;&nbsp;&nbsp;<span style="color:#f0bf2e;font-size:14px;">0.00</span>-->
    <!--<span style="font-size:14px;">元</span>-->
<!--</p>-->
<!--<p class="finished-money">剩余时间&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">已完成</span></p>-->
<!--<p class="finished-money">账户可用余额&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">-->
        <!--{{#if user.availableAmount}}{{user.availableAmount}}{{else}}0{{/if}}元</span></p>-->
<!--<div class="col-sm-8"-->
     <!--style="width:300px;padding:0;margin-left:24px;line-height:38px;text-align:right;border:1px solid #ccc;border-radius:3px;background-color:#eee;color: #abb2ba;">-->
    <!--<input type="text" class="form-control col-sm-8 form_input loanmoney" {{#if loan.status=="FINISHED"-->
           <!--||loan.status=="SETTLED" || loan.status=="CLEARED" }} disabled{{/if}} placeholder="请输入投资金额"-->
    <!--style="width:274px;border: 0;border-radius: 0;box-shadow:none;text-align:left;height:38px;"-->
    <!--/><span>元&nbsp;&nbsp;</span>-->
<!--</div>-->
<!--<p class="finished-money">预期收益&nbsp;&nbsp;&nbsp;<span style="color:#ff7200;">0.00</span><span-->
        <!--style="font-size:14px;">元</span></p>-->
{{else}}
<div class="login-see">我要投资</div>
<p class="shiming">请先登录</p>
{{/if}}
{{#if loan.status == "FINISHED"}}
<button class="finished-btn">已满标</button>
{{/if}}
{{#if loan.status == "SETTLED"}}
<button class="finished-btn">已抢完</button>
{{/if}}
{{#if loan.status == "CLEARED"}}
<button class="finished-btn">还款结束</button>
{{/if}}
{{/if}}


{{#if loan.status == "ARCHIVED" }}
<div class="firstLine">
    <div class="tip">{{loan.rule.min}}元起投</div>
    <div class="highAmount">最高投资限额：{{loan.rule.max}}元</div>

</div>
<img src="/ccc/loan/img/over.png" class="cleared">
{{/if}}


{{#if loan.status == "SCHEDULED"}}
<div class="status">
    <div class="login-see">我要投资</div>
    <div class="info">
        <div class="leftMoney">
            <h1 class="red"> 账户可用余额：¥<span class="left-money">
				{{#if user.availableAmount}}
				{{#if user.availableAmount.length>8}}
					{{user.availableAmount.substr(0,5)}}...
                {{else}}
                    {{user.availableAmount}}
				{{/if}}
				{{else}}0{{/if}}
                </span>
            </h1>
            <a href="/newAccount/recharge" class="recharge">充值</a>
        </div>
        <div class="userBlock" id="userBlock">

            <div class="input">
                <div class="calculatorBox calculatorBox1">
                    <div class="calculator">
                        <input type="hidden" name="loanId" value="{{loan.id}}">
                        <input placeholder="请输入投资金额" type="text" value="{{ inputNum }}">
                    </div>
                </div>
                {{#if user}}

                <input type="submit" class="finished-btn" value="即将开始"/> {{else}}
                <a href="/login">
                    <input type="submit" class="btn btn-warning invest-button" value="立即登录"/>
                </a>
                {{/if}}
            </div>
            <div class="investbtn" data-id="{{ loan.id }}" data-status="{{ loan.status }}"
                 data-open="{{ loan.timeOpen }}"
                 data-serv="{{serverDate}}"
                 style="color: black;width: 155px;text-align: center;background:#fff;margin-left:-25px"></div>
        </div>
    </div>
</div>
{{/if}}


{{#if loan.status == "OPENED"}}
<div class="status">
    {{#if isnew}}
    <div class="info-new">
        <img src="/ccc/loan/img/new_icon_warn.png">

        <div class="warn-word">
            <p>此项目为新客专享，无法投资。</p>
            <a href="/newAccount/invite">邀请好友投资>></a>
        </div>
    </div>
    {{else}}
    <div class="info">

        <div class="userBlock" id="userBlock">
            {{#if user}} {{! 已登录}}
            {{#if !user.bankCards.length}} {{! 但是没绑定银行卡 }}
            <p class="shiming">您还未绑定银行卡，绑定后可投资</p>
            <a class="loginBtn" href="/newAccount/settings/bankCards">去绑定</a>
            {{else}}

            {{#if !user.paymentPasswordHasSet}} {{! 绑卡，但是没设置交易密码}}
            <p class="shiming">您还未设置交易密码，设置后可投资</p>
            <a class="loginBtn" href="/newAccount/settings/password">去设置交易密码</a>

            {{else}}
            <div class="leftMoney-open">
                可用余额：<span style="{{#if user.availableAmount>10000000}}font-size:16px;{{/if}}">{{user.availableAmount}}</span>元
                <!--<a href="/newAccount/recharge" class="recharge">-->
                    <!--<button>充值</button>-->
                <!--</a>-->
            </div>
            <form name="investForm"  class="invest-form">
                <div class="calculatorBox">
                    <div class="calculator">
                        <input type="hidden" name="loanId" value="{{loan.id}}">
                        <input placeholder="请输入投资金额" name="amount" type="text" value="{{ inputNum }}"
                               autocomplete="off" on-keyup="tenNum"/>
                        <span class="plus" on-click="addNum"></span>
                    </div>
                    <div class="clearfix"></div>
                    <p class="totalInterest">预计收益
                            <span>
                        <!-- {{(loan.totalInterest * (inum||0) / loan.originalAmount).toFixed(2)}} -->
                            {{(loan.durationdays/360 * (isNaN(inputNum)?0 : inputNum) *loan.rate/100).toFixed(2)}}
                            </span>元
                    </p>

                    <div class="selectOption">
                        <select name="placementId" id="couponSelection">
                            {{#if selectOption}}
                            <option selected value="">请选择红包</option>

                            {{#each selectOption}}
                            {{#if !hide}}
                            <option value="{{ id }}">{{ displayValue }}{{ typeKey }} - 最低投资额：{{ minimumInvest}}
                            </option>
                            {{/if}}
                            {{/each}}

                            <option value="">不使用红包</option>
                            {{else}}
                            <option value="">暂无可用券</option>
                            {{/if}}
                        </select>
                        <!--<span class="down"></span>-->
                    </div>
                    <!--<div class="password-box">-->
                        <!--<div class="password">-->
                            <!--<input class="trade-password" type="password" placeholder="请输入交易密码"-->
                                   <!--name="paymentPassword"-->
                                   <!--value="{{paymentPassword}}" autocomplete="off"/>-->
                        <!--</div>-->
                        <!--<p><a href="/newAccount/settings/password" style="font-size:12px">忘记交易密码？</a></p>-->
                    <!--</div>-->
                    <!--<p class="agree-box">-->
                        <!--<input type="checkbox" class="agree" checked id="agree"/>-->
                            <!--<span>我同意-->
                                <!--<a href="/agreement/mobile/protocolltb" target="_blank">《新抵宝用户投资服务协议》</a>-->
                            <!--</span>-->
                    <!--</p>-->
                    <!--<p class="agree-error"></p>-->
                    <!--<input type="submit" class="loginBtn invest-button" value="确认购买"/>-->
                    <a href="" class="loginBtn invest-button" on-click="invest-submit">确认购买</a>

                </div>

                {{#if errors.visible}}
                <div class="tooltip">
                    <div class="tooltip-inner">
                        <span class="text">{{ errors.msg }}</span>
                    </div>
                </div>
                {{/if}}
            </form>

            {{/if}}
            {{/if}}

            {{else}}

            <p class="shiming">请先登录</p>

            <a href="/login?url={{backUrl}}" class="loginBtn">
                登录投资
            </a>
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>
{{/if}}
<script>
    //去除chrome浏览器里的自动填充
    if(navigator.userAgent.toLowerCase().indexOf("chrome") != -1 || navigator.userAgent.toLowerCase().indexOf("Safari") == -1){
        var selectors = document.getElementsByTagName("input");
        for(var i=0;i<selectors.length;i++){
            if((selectors[i].type !== "submit") && (selectors[i].type !== "password")){
                var input = selectors[i];
                var inputName = selectors[i].name;
                var inputid = selectors[i].id;
                selectors[i].removeAttribute("name");
                selectors[i].removeAttribute("id");
                setTimeout(function(){
                    input.setAttribute("name",inputName);
                    input.setAttribute("id",inputid);
                },1)
            }
        }
    }

</script>
