{{#if step1}}
<div class="title">
    <span>产品名称</span>{{loan.title}}
</div>
<div class="num">
    <div class="num1">
        支付金额(元)<span class="invest-num">{{parseInt(investNum).toFixed(2)}}</span>
    </div>
    <div class="num2">
        可用余额(元)<span class="">{{user.availableAmount}}</span>
        <input type="checkbox" id="useBankCard" checked={{useBankCard}}>使用
    </div>
</div>
<div class="bank">
    <p>我的绑定银行卡</p>
    {{#each bankcards}}
    <div class="bank-box {{account.bank}}">
        <span>******** {{Faccount}}</span>
        <span class="limit">
            此卡单笔限额{{#if singleQuota == -1}} 无限额{{else}}{{singleQuota}}元{{/if}}
            /
            单日限额{{#if dailyQuota == -1}} 无限额{{else}}{{dailyQuota}}元{{/if}}
        </span>
    </div>
    {{/each}}

</div>
<div class="invest-input">
    <div class="card-brame">
        <div class="img-box">
            <img class="" src="/ccc/register/img/psw_icon.png">
        </div>
        <input type="password" placeholder="输入支付密码" name="paymentPassword" value="{{paymentPassword}}" autocomplete="off"/>
        <a href="/newAccount/settings/resetPassword" class="forgot-pwd">忘记密码？</a>
    </div>
    {{#if errors.visible}}
    <div class="tooltip">
        <div class="tooltip-inner">
            <span class="text">{{ errors.msg }}</span>
        </div>
    </div>
    {{/if}}
</div>
<!--<div class="agree-box">-->
    <!--<input type="checkbox" checked id="agree">我阅读并同意<a href="/agreement/risk" target="_blank">《风险提示书》</a>，充分了解相应权利和义务，并愿意承担相关风险。-->
    <!--<p class="agree-error"></p>-->
<!--</div>-->
<!--<div class="agree-box">-->
    <!--支付即视为同意<a href="/agreement/risk" target="_blank">《风险提示书》、</a>-->
    <!--<a href="/api/v2/loan/loanRequest/{{loan.loanRequest.id}}/bind/template" target="_blank">《产品购买协议》</a>-->
<!--</div>-->
<button on-click="invest-submit" id="subBtn" >确认支付</button>
{{/if}}
{{#if step2}}
<div class="recharge-success">
    <div class="content">
        <div class="success-img">
            <img src="/ccc/newAccount/img/band-success.png"/>
        </div>
        <div class="success-content">
            <p>支付成功！</p>
        </div>
    </div>
</div>
{{/if}}
{{#if step3}}
<div class="recharge-success">
    <div class="content">
        <div class="success-img">
            <img src="/ccc/newAccount/img/band-fail.png"/>
        </div>
        <div class="success-content">
            <p>支付失败</p>
            <p class="fail_reason">{{failerror}}</p>
            <!--{{#if failreason}}-->
            <!--<p class="fail_reason">当前银行卡单笔充值限额{{singleQuota}}元</p>-->
            <!--{{/if}}-->
            <div class="button">
            <!--<button class="close-img btn-after" on-click="close">以后再说</button>-->
            <a href="/loan/{{loan.id}}"><button class="btn-after btn-bank">重新购买</button></a>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if preBindCardShow}}
<div class="financialSMS">
    <div class="financialSMSBody">
        <h6>请用手机验证码登录</h6>
        <div class="financialSMSMain">
            <label>已绑定：{{BindCardMobile}}</label>
            <!--<input type="button" id="getSMS" on-click="getSMS" value="获取验证码">-->
        </div>
        <input type="text" class="financialSMSIpt" placeholder="验证码" value="{{preBindCardSms}}">
        <button type="button" on-click="preBindCardSMSS">确定</button>
        <button type="button" on-click="preBindCardSMSN" class="btn">取消</button>
    </div>
</div>
{{/if}}