<div class="title">
    <span>产品名称</span>{{}}
</div>
<div class="num">
    <div class="num1">
        投资金额(元):<span class=""></span>
    </div>
    <div class="num2">
        可用余额(元):<span class=""></span>
        <input type="checkbox">使用
    </div>
</div>
<div class="bank">
    我的绑定银行卡

</div>
<div class="invest-input">
    <div class="card-brame">
        <div class="img-box">
            <img class="" src="/ccc/register/img/psw_icon.png">
        </div>
        <input type="text" placeholder="输入支付密码">
        <a href="/newAccount/settings/resetPassword" class="forgot-pwd">忘记密码？</a>
    </div>
</div>
<div class="agree-box">
    <input type="checkbox">我阅读并同意<a href="#">《风险提示书》</a>，充分了解相应权利和义务，并愿意承担相关风险。
</div>
<button>确认支付</button>