{{#if loading}}
      <div>加载中..</div>
{{else}}
   <table class="table repay-record">
        <thead>
            <tr>
                <th>手机号</th>
                <th>投资时间</th>
                <th>投资金额</th>
            </tr>
        </thead>
        {{#list}}
        <tr>
            <th style="text-align: center;font-size: 14px;line-height: 60px;color: #666;border-bottom: 1px solid #ddd;">{{userLoginName}}</th>
            <th style="text-align: center;font-size: 14px;line-height: 60px;color: #666;border-bottom: 1px solid #ddd;">{{submitTime}}</th>
            <th style="text-align: center;font-size: 14px;line-height: 60px;color: #666;border-bottom: 1px solid #ddd;">{{amount}}元</th>
        </tr>
        {{/list}}
    </table>
{{/if}}