<!--&lt;!&ndash;{{JSON.stringify(imgs)}}===&ndash;&gt;-->
<!--&lt;!&ndash;detail页面的 相关资料部分&ndash;&gt;-->
{{#if imgLen}}
<div class="big-box">
    <div id="left-arrow"><img src="/ccc/loan/img/left-arrow.png"></div>
    <div class="pic-box" style="position:relative;left:0">
        {{#each imgs:i}}
        <div class="show-pic-box" style="position:absolute;left:{{i*200}}px;">
            <div class="show-pic">
                <img src="{{uri}}" on-click="begin-big-pic">
            </div>
            <p>{{ proof.content }}</p>
        </div>
        {{/each}}
    </div>
    <div id="right-arrow"><img src="/ccc/loan/img/right-arrow.png"></div>
</div>
{{else}}
<div>
    暂无相关资料
</div>
{{/if}}
